{namespace neos=Neos\Neos\ViewHelpers}
<div class="widget {f:if(condition: submoduleConfiguration.actions, then: 'has-footer')}">
	<div class="widget-header">
		<f:if condition="{submoduleConfiguration.icon}">
			<i class="{submoduleConfiguration.icon} neos-pull-left"></i>
		</f:if>
		<h3>
			<neos:link.module path="{moduleConfiguration.path}/{submoduleIdentifier}">
				<neos:backend.translate source="Modules" id="{submoduleConfiguration.label}" />
			</neos:link.module>
		</h3>
	</div>
	<f:if condition="{submoduleConfiguration.description}">
		<div class="widget-body">
			<p><neos:backend.translate source="Modules" id="{submoduleConfiguration.description}" /></p>
		</div>
	</f:if>
	<f:if condition="{submoduleConfiguration.actions}">
		<div class="widget-footer">
			<f:for each="{submoduleConfiguration.actions}" as="actionConfiguration" key="submoduleAction">
				<neos:link.module title="{neos:backend.translate(id: actionConfiguration.title, source: 'Modules')}" class="neos-button neos-button-primary" path="{f:if(condition: actionConfiguration.path, then: actionConfiguration.path, else: '{moduleConfiguration.path}/{submoduleIdentifier}/{submoduleAction -> f:format.case(mode: \'lower\')}')}">
					<neos:backend.translate source="Modules" id="{actionConfiguration.label}" />
				</neos:link.module>
			</f:for>
		</div>
	</f:if>
</div>
