<!DOCTYPE html>
{namespace typo3=TYPO3\TYPO3\ViewHelpers}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<f:base />
		<title>TYPO3 Phoenix Error</title>
		<link rel="stylesheet" href="{f:uri.resource(path: '2/css/bootstrap.min.css', package: 'Twitter.Bootstrap')}" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'StyleSheet/Setup.css', package: 'TYPO3.Setup')}" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'StyleSheet/Login.css', package: 'TYPO3.TYPO3')}" />
		<script src="{f:uri.resource(path: 'JavaScript/jquery-1.7.1.min.js', package: 'TYPO3.Setup')}"></script>
	</head>
	<body>
		<div class="container">
			<div class="modal typo3-phoenix-login-box">
				<div class="modal-header">
					<div class="row-fluid">
						<div class="span4">
							<img src="{f:uri.resource(path: 'Images/Login/ApplicationLogo.png', package: 'TYPO3.TYPO3')}" width="115" height="50" alt="TYPO3 Phoenix" />
						</div>
						<div class="span7 pull-right">
							<h3>{errorTitle}</h3>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="alert alert-error">
						{errorDescription -> f:format.raw()}
					</div>
				</div>
			</div>

		</div>
		<script src="{f:uri.resource(path: '2/js/bootstrap.min.js', package: 'Twitter.Bootstrap')}"></script>
	</body>
</html>