#############################################################################################################################################################################
# For more information about node migrations in Neos, checkout the documentation: https://neos.readthedocs.io/en/stable/References/NodeMigrations.html?highlight=migrations #
#############################################################################################################################################################################
up:
  comments: 'Migration description'
  migration:
    -
      filters:
        -

down:
  comments: 'No down migration available'
