{{view view.PublishButton autoPublishBinding="view.autoPublish"}}
<button {{bindAttr class=":neos-button :neos-dropdown-toggle view._hasWorkspaceWideChanges:neos-publish-menu-active"}} title="{{translate id='togglePublishMenu' fallback='Toggle publish menu'}}" data-neos-toggle="dropdown" data-neos-tooltip data-placement="left"></button>
<ul class="neos-dropdown-menu">
	{{view view.TargetWorkspaceSelector isVisibleBinding="view._isTargetWorkspaceSelectorVisible"}}
	<li>
		{{view view.PublishAllButton}}
	</li>
	<li>
		{{view view.DiscardButton}}
	</li>
	<li>
		{{view view.DiscardAllButton}}
	</li>
	{{#if view._hasWorkspaceWideChanges}}
		<li>
			<a {{bind-attr href="view._currentWorkspaceManagementModuleUri"}}>
				<i class="icon-review"></i>{{translate id="reviewChanges" fallback="Review changes"}}
			</a>
		</li>
	{{/if}}
	<li>
		<label class="neos-checkbox">
			{{view Ember.Checkbox checkedBinding="view.autoPublish"}}<span></span>{{translate id="autoPublish" fallback="Auto-Publish"}}
		</label>
	</li>
	<li>
		<a href="{{unbound view._workspacesManagementModuleUri}}">
			<i class="icon-th-large"></i>{{translate id="workspaces" fallback="Workspaces"}}
		</a>
	</li>
</ul>
