<div class="{settings.bodyClasses} media-module">
	<div class="neos-row-fluid">
		<div class="neos-span12 neos-media-options">
			<f:render section="Options" optional="TRUE" />
		</div>
	</div>
	<div class="neos-row-fluid">
		<div class="neos-span2 neos-sort-tags">
			<f:render section="Sidebar" optional="TRUE" />
		</div>
		<div class="neos-span10">
			<div class="neos-notification-container">
				<f:render partial="FlashMessages" />
			</div>

			<f:render section="Content" />
		</div>
	</div>
</div>