{namespace ext=F3\ExtJS\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>TYPO3CR Admin</title>

		<f:base />
		<ext:include theme="xtheme-gray-extend"/>
		<ext:ux name="StatusBar"/>
		<script type="text/javascript">
		var toolbar = new Ext.Toolbar({
			items:[{
				text:'TYPO3CR',
				menu: new Ext.menu.Menu({
					items: [
						new Ext.menu.TextItem({text: 'About'}),
						new Ext.menu.TextItem({text: 'Help'})
					]
				})
			}]
		});

		var statusbar = new Ext.ux.StatusBar({
			defaultText: 'Welcome!',
			items: ['User: anonymous', '-', 'Workspace: default', '-', 'TYPO3CR 0.0.1']
		});

		var nodetree = new Ext.tree.TreePanel({
			useArrows:true,
			autoScroll:true,
			animate:false,
			buttons: [{
				text: 'Reload tree',
				handler: function() {
					nodetree.getRootNode().reload()
				}
			}],
			contextMenu: new Ext.menu.Menu({
				items: [{
					id: 'delete-node',
					text: 'Delete'
				},{
					id: 'export-node-document',
					text: 'Export Document View'
				},{
					id: 'export-node-system',
					text: 'Export System View'
				}],
				listeners: {
					itemclick: function(item) {
						var node = item.parentMenu.contextNode;
						switch (item.id) {
							case 'delete-node':
								deleteNode(node);
								break;
							case 'export-node-document':
								exportNode(node, 'document');
								break;
							case 'export-node-system':
								exportNode(node, 'system');
								break;
						}
					}
				}
			}),
			containerScroll: true,
			rootVisible: false,
			loader: new Ext.tree.TreeLoader({
				dataUrl: 'typo3cr/service/v1/nodes.json',
				preloadChildren: true,
				requestMethod: 'GET'
			}),
			listeners: {
				click : {
					fn: showNodeDetails,
					scope: this,
					delay: 100
				},
				contextmenu: function(node, e) {
					node.select();
					var c = node.getOwnerTree().contextMenu;
					c.contextNode = node;
					c.showAt(e.getXY());
				},
				beforeload: function() {
					statusbar.setStatus({
						text: 'Loading tree...'
					});
					statusbar.showBusy();
				},
				load: function() {
					statusbar.clearStatus();
				}
			},
			root: {
				nodeType: 'async',
				id: 'ROOT'
			}
		});

		function deleteNode(node) {
			statusbar.setStatus({
				text: 'Deleting node...'
			});
			statusbar.showBusy();
			// Basic request
			Ext.Ajax.request({
				url: 'typo3cr/service/v1/nodes/' + node.id + '.json',
				method: 'DELETE',
				success: function() {
					node.remove();
					statusbar.clearStatus();
				},
				failure: function() {
					Ext.Msg.alert('Error', 'Node could not be deleted.');
					statusbar.clearStatus();
				},
				params: { id: node.id }
			});
		}

		function exportNode(node, type) {
			window.open('typo3cr/export/' + type + 'View/?noRecurse=0&skipBinary=0&rootNodeIdentifier=' + node.id)
		}

		function showNodeDetails(node) {
			statusbar.setStatus({
				text: 'Loading node detail...'
			});
			statusbar.showBusy();
			propertygrid.store.proxy.conn.url = 'typo3cr/service/v1/nodes/' + node.id + '.json';
			propertygrid.setTitle('Properties for "' + node.getPath('text') + '"');
			propertygrid.getStore().reload();
			propertygrid.getStore().addListener('load', function() {statusbar.clearStatus()});
		}

		var propertygrid = new Ext.grid.GridPanel({
			store: new Ext.data.Store({
				proxy: new Ext.data.HttpProxy({
					url: 'typo3cr/service/v1/nodes.json',
					method: 'GET'
				}),
				reader: new Ext.data.JsonReader({
					fields: ['name', 'type', 'value'],
					root: 'properties'
				})
			}),
			columns: [
				{header: "Name", width: 50, sortable: true, dataIndex: 'name'},
				{header: "Type", width: 20, sortable: true, dataIndex: 'type'},
				{header: "Value", sortable: true, dataIndex: 'value'},
			],
			viewConfig: {
				forceFit: true
			},
			loadMask:true,
			title:'Properties'
		});

		var accordion = new Ext.Panel({
			layout:'accordion',
			layoutConfig: {
				animate: true
			},
			items: [{
				title: 'Nodes',
				layout:'fit',
				items: nodetree
			},{
				title: 'Nodetypes',
				html: '<p>Nodetype tree goes here!</p>'
			}]
		});

		var center = [
			{
				region:'west',
				layout:'fit',
				width: 250,
				minSize: 175,
				maxSize: 400,
				collapsible: true,
				split:true,
				items: accordion
			},{
				region:'center',
				layout:'fit',
				items:propertygrid
			}
		];

		Ext.onReady(function(){
			var viewport = new Ext.Viewport({
				layout:'border',
				items:[
					{
						height: 30,
						region: 'north',
						items: toolbar
					},{
						region: 'center',
						layout:'border',
						items: center
					},{
						height: 30,
						region: 'south',
						items: statusbar
					}
				]
			});

//			Ext.Ajax.on('beforerequest', this.showSpinner, this);
			nodetree.getRootNode().expand();
			propertygrid.getStore().load();
		});

		</script>

</head>

<body>
</body>

</html>