//Variables//
$menu-height: 26px;
$launcher-height: 30px;
$toolbar-height: 36px;
$property-panel-width: 200px;
$footer-height: 26px;
$topbar-offset: 4px;

$max-image-width: 160px;
$max-image-height: 160px;

$green: #69A550;

// Mixins //
// Use Compass for CSS3 Mixins!