//Variables//
$menu-height: 26px;
$launcher-height: 30px;
$launcher-height-open: 230px;
$toolbar-height: 36px;
$property-panel-width: 200px;
$tree-panel-width: 350px;
$footer-height: 26px;
$topbar-offset: 4px;

$max-image-width: 160px;
$max-image-height: 160px;

$green: #69A550;
$light-green: #54974A;

// light-orange is the "TYPO3 orange":
$orange: #F18F0B;
$light-orange: #FF8700;

$red: #DB4F4A;
$blue: #049cdb;

$lightest: #FFFFFF;

$light-grey: #E8E8E8;
$light-grey2: #CCCCCC;
$light-grey3: #888888;
$light-grey4: #666666;
$dark-grey2: #444444;
$dark-grey3: #373737;
$dark-grey: #2D2D2D;

$darkest: #000000;

$baseFontSize: 100%;
$grayDark: $dark-grey2;

$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mixins //
// Use Compass for CSS3 Mixins!