//Variables//
$menu-height: 26px;
$launcher-height: 30px;
$launcher-height-open: 230px;
$toolbar-height: 36px;
$property-panel-width: 200px;
$footer-height: 26px;
$topbar-offset: 4px;

$max-image-width: 160px;
$max-image-height: 160px;

$green: #69A550;
$light-green: #54974a;
$orange: #F18F0B;
$light-orange: #ff8700;

$lightest: #FFFFFF;

$light-grey: #e8e8e8;
$light-grey2: #cccccc;
$light-grey3: #888888;
$light-grey4: #666666;
$dark-grey2: #444444;
$dark-grey3: #373737;
$dark-grey: #2d2d2d;

$darkest: #000000;

// Mixins //
// Use Compass for CSS3 Mixins!
