.t3-ui {
	// Image thumbnail stuff in inspector
	&#t3-inspector .t3-inspector-form {
		.chzn-container {
			li.highlighted {
				@include gradient-vertical($light-orange, darken($light-orange, 5%));
			}
		}
		.t3-inspector-image-thumbnail-container {
			position: relative;
			overflow: hidden;
			border: 1px dashed $dark-grey2;
			margin-bottom: 10px;

			.t3-inspector-image-loadingindicator {
				z-index: 1;
				position: absolute;
				left: 67px;
				top: 67px;
			}

			.t3-inspector-image-thumbnail-inner {
				overflow: hidden;
				padding: 0;
				margin: auto;
				img {
						// We need to reset max-width and height, as this is set in t3-ui globally.
					max-width: none;
					max-height: none;
				}
			}

			.t3-imagebadge {
				position: absolute;
				top: 80px;
				width: 100%;
				height: 20px;
				color: white;
				background: rgba(0,0,0, 0.7);
				text-align: center;
				display:none;

				&.t3-imagebadge-visible {
					display:block;
				}
			}

			.t3-inspector-image-uploadthumbnail {
				display: block;
				position:absolute;
				left: 0;
				top: 0;
			}

			.t3-inspector-image-uploadthumbnail-landscape {
				width: $max-image-width;
			}

			.t3-inspector-image-uploadthumbnail-portrait {
				height: $max-image-height;
			}
		}

		.t3-inspector-image-upload-button,
		.t3-inspector-image-crop-button {
			float: right;
		}

		.t3-inspector-image-upload,
		.t3-inspector-image-width {
			padding-bottom: 10px;
		}
	}
	.t3-inspector-image-crop {
		background: $dark-grey;
		@include border-radius(0 0 3px 3px);
		padding-left: 10px;
		padding-top: 10px;
	}
}

.t3-inspector {
	.t3-image-preview-thumbnail {
		max-width: $max-image-width;
		max-height: $max-image-height;
	}
}

// Image position - start
.t3-image {
	&.t3-image-position-left {
		float: left;
	}
	&.t3-image-position-right {
		float: right;
	}
}

// Image position - end

// HTML editor - start

.t3-htmleditor-window {
	width: 800px;
	height: 400px;
	font-size: 13px;

	.CodeMirror-scroll {
		height: 400px;
	}
	.CodeMirror pre {
		overflow-y: hidden;
	}
}

// HTML editor - end

// Add new content popover //
.t3-ui {
	.t3-content-new-selecttype-button {
		margin: 5px 0px;

		&:nth-of-type(1) {
			margin-top: 0;
		}

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}

		a {
			display: block;
			line-height: 16px;
			vertical-align: bottom;
			&:hover,
			&:focus,
			&:active {
				color: $lightest;
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
}