// Management View

.t3-module {
	margin: 120px 0px 0px 0px;
	font-family: $default-font;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
	}
	a {
		color: $lightest;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: $light-grey;
			text-decoration: underline;
		}
	}
	.t3-content {
		font-size: 12px;
	}
	#t3-ui-top {
		@include single-box-shadow(transparent, 0, 0, 0);
	}
	#t3-toolbar {
		left: 0px;
		right: 0px;
		padding: 0px 8px;
		a {
			line-height: 36px;
			vertical-align: middle;
		}
	}

	.alert-message.Error {
		background:#C43C35;
		color: $lightest;
	}
}

a.btn {
	color: darken($dark-grey, 10%);
	text-decoration: none;
	&:hover {
		color: darken($dark-grey, 10%);
		text-decoration: none;
	}
}