.t3-ui.t3-module {
	background: $light-grey3;
	background: url(../Images/module-bg.jpg) left top repeat;
	color: #fff;

	p {
		line-height: 1.6em;
	}

	label {
		font-size: 14px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}

	.alert {
		font-size: 13px;
		line-height: 18px;
	}

	&.t3-module-management-workspaces {
		td {
			&.node-type {
				white-space: nowrap;
				img {
					vertical-align: text-bottom;
				}
			}
			label {
				padding: 5px 0;
				margin-bottom: 0;
				font-size: inherit;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}

		th,
		td.actions {
			white-space: nowrap;
		}

		i.legend {
			vertical-align: text-top;
		}

		.fold-toggle {
			cursor: pointer;
			margin-top: -1px;
			margin-right: 11px;
		}

		td.check,
		th.check {
			width: 12px;
			input {
				margin: 0;
						}
		}

		td.legend,
		th.legend {
			width: 14px;
			padding: 8px 10px;
		}

		td.actions {
			width: 76px;
		}

		tfoot .legend {
			margin-left: 15px;
		}
	}

        &.t3-module-administration-users {
                i.icon-user {
                        margin-right: 11px;
                }
        }

	&.t3-module-administration-packages {
		.t3-button.btn-freeze {
			@include buttonBackground(lighten($blue, 5%), $blue);
			border: 1px solid darken($blue, 5%);
			border-bottom-color: darken($blue, 10%);
			$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
			@include box-shadow($shadow);

			&:hover,
			&:focus,
			&:active {
				@include buttonBackground($blue, darken($blue, 2%));
				border: 1px solid darken($blue, 10%);
				border-bottom-color: darken($blue, 20%);
			}

			&.disabled,
			&.disabled:hover,
			&.disabled:active,
			&.disabled:focus {
				@include buttonBackground(lighten($blue, 5%), $blue);
			}
		}
		table {
			td.check,
			th.check {
				width: 12px;
				input {
					margin: 0;
				}
			}

			label {
				padding: 5px 0;
				margin-bottom: 0;
				font-size: inherit;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.fold-toggle {
				cursor: pointer;
				margin-top: -1px;
				margin-right: 11px;
			}

			td > .t3-button,
			td > div.pull-right > .t3-button {
				// Freeze Button
				&.btn-freeze {
					@include buttonBackground(lighten($light-grey4, 5%), $light-grey4);
					border: 1px solid darken($light-grey4, 5%);
					border-bottom-color: darken($light-grey4, 10%);
					$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
					@include box-shadow($shadow);

					&:hover,
					&:focus,
					&:active {
						@include buttonBackground($blue, darken($blue,2%));
						border: 1px solid darken($blue, 10%);
						border-bottom-color: darken($blue, 20%);
					}

					&.active {
						@include buttonBackground($blue, darken($blue, 2%));
						border: 1px solid darken($blue, 10%);
						border-bottom-color: darken($blue, 20%);
					}
				}
			}
		}
	}

	// Navigation elements
	.nav-pills > li > a {
		padding: 0 20px 0 20px;
		margin: 0px;
		color: darken($light-grey2, 20%);
		background: transparent;

		&:hover,
		&:active,
		&:focus {
			color: $lightest;
			background: transparent;
		}
	}
	.nav-pills > li:first-child a {
		padding-left: 15px;
	}
	.nav-pills {
		li {
			&.active a {
				background: transparent;
				color: $lightest;
			}
		}
	}
	.t3-content {
		&.well {
			background-color: #777;
			border-color: #666;
			@include box-shadow(0 0 5px rgba($darkest, 0.2) inset);
			@include border-radius(0);
			padding: 0px;

			h1 {
				padding: 10px 50px 0px 50px;
			}

			p {
				color: $light-grey;
			}
			.alert p {
				color: inherit;
			}

			.breadcrumb {
				@include border-top-radius(4px);
				@include border-bottom-radius(0px);
				background-color: #666;
				border-bottom: 1px solid $light-grey3;
				@include box-shadow(0px 1px 5px rgba($darkest, 0.2), 0px 1px 0px #666);

				li {
					@include text-shadow(0 0 0 transparent);
					color: darken($lightest, 10%);

					&.active {
					}
				}

				a {
					color: darken($light-grey2, 10%);

					&:hover,
					&:active,
					&:focus {
						color: darken($lightest, 10%);
						text-decoration: none;
					}
				}
			}

			.t3-module-container {
				padding: 0px 50px 0px 50px;

				&.indented {
					margin-left: 0px;
				}
			}
		}
		.widget {
			@include border-radius(0);
		}
	}

	// Styles with Fluid Grids
	.t3-content.fluid-container {
		h1 {
			margin-left: 20px;
		}
	}

	// Tables within Modules
	table {
		td > .t3-button,
		td > div.pull-right > .t3-button {

			// Button
			&.btn {
				@include buttonBackground(lighten($light-grey4, 5%), $light-grey4);
				border: 1px solid darken($light-grey4, 5%);
				border-bottom-color: darken($light-grey4, 10%);
				$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
				@include box-shadow($shadow);

				&:hover,
				&:focus,
				&:active {
					@include buttonBackground($light-grey3, darken($light-grey3, 2%));
					border: 1px solid darken($light-grey3, 10%);
					border-bottom-color: darken($light-grey3, 20%);
				}

				&.disabled,
				&.disabled:hover,
				&.disabled:active,
				&.disabled:focus {
					@include buttonBackground(lighten($light-grey3, 5%), $light-grey3);
				}
			}

			// Warning Button
			&.btn-warning {
				@include buttonBackground(lighten($light-grey4, 5%), $light-grey4);
				border: 1px solid darken($light-grey4, 5%);
				border-bottom-color: darken($light-grey4, 10%);
				$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
				@include box-shadow($shadow);

				&:hover,
				&:focus,
				&:active {
					@include buttonBackground($orange, darken($orange, 2%));
					border: 1px solid darken($orange, 10%);
					border-bottom-color: darken($orange, 20%);
				}

				&.disabled,
				&.disabled:hover,
				&.disabled:active,
				&.disabled:focus {
					@include buttonBackground(lighten($light-grey3, 5%), $light-grey3);
				}
			}

			// Success Button
			&.btn-success {
				@include buttonBackground(lighten($light-grey4, 5%), $light-grey4);
				border: 1px solid darken($light-grey4, 5%);
				border-bottom-color: darken($light-grey4, 10%);
				$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
				@include box-shadow($shadow);

				&:hover,
				&:focus,
				&:active {
					@include buttonBackground($green, darken($green, 2%));
					border: 1px solid darken($green, 10%);
					border-bottom-color: darken($green, 20%);
				}

				&.disabled,
				&.disabled:hover,
				&.disabled:active,
				&.disabled:focus {
					@include buttonBackground(lighten($light-grey3, 5%), $light-grey3);
				}
			}

			// Danger Button
			&.btn-danger {
				@include buttonBackground(lighten($light-grey4, 5%), $light-grey4);
				border: 1px solid darken($light-grey4, 5%);
				border-bottom-color: darken($light-grey4, 10%);
				$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
				@include box-shadow($shadow);

				&:hover,
				&:focus,
				&:active {
					@include buttonBackground($red, darken($red, 2%));
					border: 1px solid darken($red, 10%);
					border-bottom-color: darken($red, 20%);
				}

				&.disabled,
				&.disabled:hover,
				&.disabled:active,
				&.disabled:focus {
					@include buttonBackground(lighten($light-grey3, 5%), $light-grey3);
				}
			}
		}
	}
}
