body.t3-launcher-open {
	margin-top: $launcher-height-open + $menu-height + $topbar-offset + $toolbar-height;

	#t3-ui-top {
		height: $launcher-height-open + $menu-height + $topbar-offset;
	}
	#t3-toolbar {
		margin-top: $launcher-height-open + $menu-height + $topbar-offset;
	}
	#t3-inspector,
	#t3-tree-panel {
		margin-top: $launcher-height-open - $launcher-height;
	}
	#t3-launcher {
		height: $launcher-height-open;
	}
	.t3-launcher div.t3-launcher-container.not-empty .t3-launcher-loading {
		background: url('../Images/ajax-preloader.gif') no-repeat;
	}
}
// TODO Move to common CSS
.three-columns {
	width: 100%;
	float: left;
	clear: both;
	height: 100%;
}
.tc-1-1-1 .c-1,
.tc-1-1-1 .c-2,
.tc-1-1-1 .c-3 {
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	height: 100%;
	overflow: hidden;
	background-color: #e8e8e8;
	padding: 10px 15px;
	float: left;
	width: 33%;
	float: left;
	width: 33%;
	@include box-sizing(border-box);
}
.tc-1-1-1 .c-1 {
	padding: 0;
}
.tc-1-1-1 .t3-launcher-alternating-row {
	padding: 10px 15px 0px 15px;
	&.t3-odd {
		background-color: #f2f2f2;
	}
}
ul.t3-launcher-horizontal {
	margin: 0 -10px;
	li {
		width: 80px;
		height:	53px;
		padding: 5px 0 5px 0;
		float: left;
		text-align: center;
		cursor: pointer;
		.text {
			padding: 0 5px;
			line-height: 1em;
		}
	}
}
.tc-1-1-1 .c-2 {
	width: 34%;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	background-color: #e0e0e0;
}
.tc-1-1-1 h2 {
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	text-shadow: none;
	color: $darkest;
}
.c-1 .scroll-content {
	height: 100%;
	width: 100%;
}
.t3-ui div.t3-launcher-split {
	border-top: 1px solid #CFCFCF;
	clear: both;
}
.tc-1-1-1 ul.vertical {
	overflow: hidden;
	width: 100%;
	margin: 0;
}
.tc-1-1-1 ul.vertical li {
	height: 20px;
	width: 50%;
	min-width: 200px;
	cursor: pointer;
	float: left;
	line-height: 20px;
	vertical-align: middle;
}
.tc-1-1-1 ul.vertical.t3-launcher-panel-lastactions {
	height: 80px;
}
.tc-1-1-1 ul.vertical.t3-launcher-panel-mostused {
	height: 80px;
}
.tc-1-1-1 ul.vertical.t3-launcher-panel-searchitems {
	height: 180px;
}
.tc-1-1-1 ul.vertical li div {
	float: left;
}
.tc-1-1-1 ul.vertical li div.image {
	width: 26px;
}
.tc-1-1-1 ul.vertical li div.text {
	line-height: 20px;
	vertical-align: middle;
}
.t3-launcher-panel-search {
    height: 158px;
	overflow: auto;
	li {
		.t3-launcher-search-group-label {
			width: 105px;
			float: left;
			color: #888;
			text-align: right;
			span {
				padding-right: 5px;
			}
		}
		.t3-launcher-search-group-results {
			margin-left: 105px;
			li {
			    height: 20px;
				a {
					display: block;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					color: #000;
					text-decoration: none;
					line-height: 16px;
					img {
						padding-right: 10px;
					}
				}
			}
		}
	}
}