// All CSS changes should be done IN THIS FILE, and then our CSS team (aka Berit)
// will take the changes from this file, review them and merge them with the other files.


// Page Tree Styling
.popover .x-tree .t3-gotoPage {
	display: none;
	position: absolute;
	right: 5px;
	width: 16px;
	height: 16px;
	background: url(../Images/Icons/Black/rnd_br_next_icon-16.png) no-repeat;
}
.popover .x-tree .x-tree-node-over .t3-gotoPage {
	display: inline;
}

// Create content element button
button.t3-create-new-content {
}

.t3-inspector-clickprotection {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

// Notifications

.notice-wrap {
	top: 90px !important;
	right: 210px !important;
}

.notice-item {
	background-position: 3px 5px !important;
	background-repeat: no-repeat !important;

	p {
		padding-left: 17px;
	}

	&.typo3-notification-ok {
		background-image: url('../Icons/FugueIcons/tick.png');
	}
	&.typo3-notification-info {
		background-image: url('../Icons/FugueIcons/information.png');
	}
	&.typo3-notification-notice {
	}
	&.typo3-notification-warning {
		background-image: url('../Icons/FugueIcons/exclamation.png');
	}
	&.typo3-notification-error {
		background-image: url('../Icons/FugueIcons/exclamation-red.png');
	}
}

.t3-handle-loading span {
	background-image: url('../Images/ajax-preloader.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.popover {
	display: none;

	&.active {
		display: block;
	}
}

// Launcher

.scrollbar {
	position: absolute;
	content: '';
	display: block;
	border-radius: 100px;
	opacity: 0;
	z-index: 100;
}

.vertical {
	width: 7px;
	right: 2px;
	top: 2px;
}

.horizontal {
	height: 7px;
	bottom: 2px;
	left: 2px;
}

.scrollbar_bg {
	position: absolute;
	content: '';
	display: block;
	border-radius: 100px;
	opacity: 0;
	z-index: 99;
}

.scrollbar_bg.horizontal {
	width: 100%;
}

.scrollbar_bg.vertical {
	height: 100%;
}

.scrollbar.light {
	background: rgba(255,255,255,0.5);
}

.scrollbar_bg.light {
	background: rgba(255,255,255,0.10);
}


.scrollbar.dark {
	background: red;
}

.scrollbar_bg.dark {
	background: blue;
}

.nWrap {
	overflow: auto;
	display: inline-block;
}


// Selection background in Aloha blocks
.aloha-block.aloha-block-TYPO3Block ::selection { background: #2F7ECC; color: #ffffff; }
.aloha-block.aloha-block-TYPO3Block ::-moz-selection { background: #2F7ECC; color: #ffffff; }


// Launcher


// Block

// Add margins when not in preview mode to fit handles
.aloha-block-TYPO3Block {
	margin-top: 20px;
	margin-bottom: 20px;
	@include transition-property(margin-top margin-bottom);
	@include transition-duration(0.3s);
}
.t3-ui-previewmode-activating {
	.aloha-block-TYPO3Block {
		margin: 0;
	}
}

// Load indicator

.t3-pageloader-wrapper {
	position: fixed;
	background-color: #fff;
	opacity: 0.8;
	z-index: 9999;
	.t3-pageloader {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -60px 0 0 -60px;
	}
}

// Load indicator
