// All CSS changes should be done IN THIS FILE, and then our CSS team (aka Berit)
// will take the changes from this file, review them and merge them with the other file.


// Highlight changed elements in the Property Panel
.t3-propertypanel-form {
	input[type=text] {
		&.modified {
		   border: 1px solid #54974a;
		}
	}
}

// Page Tree Styling
.popover .x-tree .t3-gotoPage {
	display:none;
	position:absolute;
	right:5px;
	width:16px;
	height:16px;
	background: url(../Images/ContentModule/arrow-bubble.png) no-repeat;
}
.popover .x-tree .x-tree-node-over .t3-gotoPage {
	display:inline;
}
.popover {
	position: fixed !important;
}


.t3-dd-drag-ghost-pagetree {
	background:white;
}