
// TODO Move to common CSS
.three-columns {
	width: 100%;
	float: left;
	clear: both;
	height: 100%;
}
.tc-1-1-1 .c-1,
.tc-1-1-1 .c-2,
.tc-1-1-1 .c-3 {
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	height: 100%;
	overflow: hidden;
	background-color: #e8e8e8;
	padding: 10px 15px;
	float: left;
	width: 33%;
	float: left;
	width: 33%;
	@include box-sizing(border-box);
}
.tc-1-1-1 .c-2 {
	width: 34%;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	background-color: #e0e0e0;
}
.tc-1-1-1 h2 {
	font-weight: bold;
	line-height: 30px;
}
.c-1 .scroll-content {
	height: 100%;
	width: 100%;
}
.t3-ui div.t3-launcher-split {
	border-top: 1px solid #CFCFCF;
	margin: 5px 0 5px 0;
	clear: both;
}
.tc-1-1-1 ul.horizontal li {
	width: 80px;
	height:	65px;
	padding: 10px 0 10px 0;
	float: left;
	text-align: center;
	cursor: pointer;
	.text {
		padding: 0 5px;
	}
}
.tc-1-1-1 ul.vertical {
	overflow: hidden;
	width: 100%;
}
.tc-1-1-1 ul.vertical li {
	height: 30px;
	width: 50%;
	min-width: 200px;
	cursor: pointer;
	float: left;
	line-height: 30px;
	vertical-align: middle;
}
.tc-1-1-1 ul.vertical.t3-launcher-panel-lastactions {
	height: 60px;
}
.tc-1-1-1 ul.vertical.t3-launcher-panel-mostused {
	height: 60px;
}
.tc-1-1-1 ul.vertical.t3-launcher-panel-searchitems {
	height: 180px;
}
.tc-1-1-1 ul.vertical li div {
	float: left;
}
.tc-1-1-1 ul.vertical li div.image {
	width: 50px;
}
.tc-1-1-1 ul.vertical li div.text {
	line-height: 30px;
	vertical-align: middle;
}