/* This style sheet is loaded in the frontend, if aloha is activated. */
.typo3-typo3-notEditable-visible {
	background-image: url(../Images/UserInterface/Icons/AlohaNotEditable-Dark-24bit.png) !important;
	/* TODO: Calculate the background-position, if the position of the overlay is even or odd (horizontally and vertically) */
	/*background-image: url(../Images/UserInterface/Icons/AlohaNotEditable-Light-24bit.png) !important;*/
	cursor: not-allowed;
}
.typo3-typo3-notEditable-visible:hover {
	background-color: rgba(255, 135, 0, 0.5);
}

/*********************************
 * SECTION Aloha                 *
 *********************************/
.aloha-placeholder {
	background-color: #cccccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.aloha-editable {
	outline:0px solid transparent;
}

.aloha-editable:focus {
	outline:0px solid transparent;
}

/*********************************
 * SECTION Selection Mode        *
 *********************************/
.typo3-typo3-selection-enabled .typo3-typo3-contentelement:hover {
	-webkit-box-shadow: 1px 1px 6px rgba(255, 135, 0, 0.6);
	-moz-box-shadow: 4px 2px 0 #FFFFFF, -4px -2px 0 #FFFFFF, 4px -2px 0 #FFFFFF, -4px 2px 0 #FFFFFF, 0 -2px 0 #FFFFFF, 4px 0 0 #FFFFFF, 0 2px 0 #FFFFFF, -4px 0 0 #FFFFFF, 0 0 15px #000000;
	box-shadow: 0px 0px 6px rgba(255, 135, 0, 0.6);
	cursor:move;
}
.dropzoneOver {
	color:red;
}
.ddProxy {
	background-color: #FFFF00;
}
.typo3-typo3-dropzone {
	-webkit-transition-property: height, margin-bottom;
	-webkit-transition-duration:0.3s;

	-moz-transition-property: height, margin-bottom;
	-moz-transition-duration:0.3s;

	transition-property: height, margin-bottom;
	transition-duration:0.3s;

	height:5px;
	display:none;
	overflow:hidden;
	margin-bottom:-5px;
	background-color: black;

}

.typo3-typo3-dropzone-visible {
	display:block;
}

.typo3-typo3-dropzone-visible.dropzoneOver {
	height:50px;
	margin-bottom:0;
}

.typo3-typo3-selection-enabled .typo3-typo3-contentelement {
	position:relative;
	min-height:50px;
}

.typo3-typo3-selection-floatingmenu {
	position:absolute;
	width:100%;
	height:47px;
	top:0;
	left:0;
	background: -moz-linear-gradient(center top , #555555, #343434) repeat scroll left top transparent;
	background: -webkit-gradient(linear, center top, left top, from(#555555), to(#343434)) repeat scroll;
	cursor:pointer;
	overflow:hidden;
}

.typo3-typo3-selection-floatingmenu .TYPO3-TYPO3-UserInterface-BreadcrumbMenu {
	width:1000px;
}

/*********************************
 * SECTION Aloha                 *
 *********************************/

/** Hide dropdown icon next to paragraph styles **/
button.aloha-multisplit-toggle-open,
button.aloha-multisplit-toggle-close {
	display: none;
}

/** Implement Aloha Visual Design **/
.aloha-floatingmenu .x-btn button {
	color: #ffffff;
}
.aloha-floatingmenu .x-tab-panel-body,
ul.aloha-multisplit-expanded {
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(40, 40, 40, 0.95)), to(rgba(21, 21, 21, 0.95)));
	background: -moz-linear-gradient(top, rgba(40, 40, 40, 0.95), rgba(21, 21, 21, 0.95));
	border: 0;
}
ul.aloha-multisplit {
	width: 226px;
	padding-left: 1px;
}
ul.aloha-multisplit-expanded {
	padding-left: 2px;
	padding-top: 1px;
}
ul.aloha-multisplit-expanded {
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
.aloha-floatingmenu-pin {
	background: url(../Images/UserInterface/AlohaPin.png) left top no-repeat;
}
.aloha-floatingmenu-pinned {
	background-position: -24px 0;
}
.aloha-floatingmenu button.aloha-button {
	background-image: url(../Images/UserInterface/AlohaBase.png) !important;
}
.aloha-floatingmenu table.x-btn-over button.aloha-button {
	background-image: url(../Images/UserInterface/AlohaBaseHover.png) !important;
}
.aloha-floatingmenu .x-btn-pressed button.aloha-button,
div.aloha-floatingmenu .x-btn-click button.aloha-button,
div.aloha-floatingmenu .x-btn-pressed.x-btn-over button.aloha-button {
	background-image: url(../Images/UserInterface/AlohaBaseActive.png) !important;
}
div.aloha-floatingmenu .x-btn-pressed.x-btn-click button.aloha-button {
	background-image: url(../Images/UserInterface/AlohaBaseHover.png) !important;
}
ul.aloha-multisplit li {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	margin: 1px;
	padding: 0;
	border: 0;
}
.aloha-floatingmenu .x-btn-group-bwrap .x-btn-group-ml .x-btn-group-mr {
	padding-right: 0;
}
.x-toolbar-left .x-toolbar-left-row .x-toolbar-cell .x-btn-group {
	padding: 1px 0 1px 1px;
}
ul.aloha-multisplit li.aloha-multisplit-activeitem {
	background: -moz-linear-gradient(left, #000000 0%, #000000 5%, #FF8700 50%, #000000 95%, #000000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(5%,#000000), color-stop(50%,#FF8700), color-stop(95%,#000000), color-stop(100%,#000000));
}
ul.aloha-multisplit button.aloha-button {
	background-image: url(../Images/UserInterface/AlohaBaseMulti.png) !important;
	margin: 0;
	border: 1px solid #151515;
	height: 45px !important;
	width: 54px !important;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
}
ul.aloha-multisplit button.aloha-button:hover,
ul.aloha-multisplit button.aloha-multisplit-wide:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;
}
ul.aloha-multisplit .aloha-multisplit-activeitem button.aloha-button {
	margin-top: 1px;
	background-color: #3f3f3f !important;
	border-top: 0px;
	height: 44px !important;
	box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
}
ul.aloha-multisplit button.aloha-multisplit-wide {
	border-color: rgba(0, 0, 0, 0.5);
	width: 222px !important;
	height: 18px !important;
	border-width: 1px 0 0 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	color: rgba(255, 255, 255, 0.6);
}
ul.aloha-multisplit button.aloha-multisplit-wide:hover {
	border-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.8);
}
ul.aloha-multisplit button.aloha-button-removeFormat {
	background-image: url(../Images/UserInterface/AlohaRemoveStyle.png) !important;
}
button.aloha-multisplit-toggle-open,
button.aloha-multisplit-toggle-close {
	background: rgba(33, 33, 33, 0.95) url("../Images/UserInterface/AlohaBase.png") repeat scroll -353px -1px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	height: 16px;
	width: 16px;
	margin: 29px 0 0 0;
}
button.aloha-multisplit-toggle-close {
	background-position: -374px -1px;
}
button.aloha-button-big {
	background-image: url(../Images/UserInterface/AlohaFolderTree.png) !important;
}
.aloha-floatingmenu .x-btn-icon .x-btn-large .aloha-button-tree {
	height: 16px;
	width: 16px;
}
aloha-multisplit button.aloha-multisplit-wide {
	border-color: rgba(0, 0, 0, 0.5);
}
ul.aloha-multisplit li,
.aloha-floatingmenu .x-tab-panel-header ul li {
	list-style-type: none;
}
.aloha-floatingmenu .x-tab-panel-bwrap {
	box-shadow: 0px 0px 6px #000000;
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	border-bottom: 1px solid #000000;
}
.aloha-floatingmenu ul.x-tab-strip-top {
	border: 0;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 -2px 0 #242424 inset, 0 -2px 6px #000000 inset;
	-moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 -2px 0 #242424 inset, 0 -2px 6px #000000 inset;
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset, 0 -2px 0 #242424 inset, 0 -2px 6px #000000 inset;
	padding: 3px 0 0 1px;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.aloha-floatingmenu .x-tab-panel-body .x-toolbar,
.aloha-floatingmenu .x-tab-strip-top .x-tab-right,
.aloha-floatingmenu .x-tab-strip-top .x-tab-left,
.aloha-floatingmenu .x-tab-strip-top .x-tab-strip-inner {
	background: transparent;
}
.aloha-floatingmenu .x-tab-strip-top .x-tab-right {
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(45, 45, 45, 0.9)), to(rgba(17, 17, 17, 0.9)));
	background: -moz-linear-gradient(top, rgba(45, 45, 45, 0.9), rgba(17, 17, 17, 0.9));
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.aloha-floatingmenu .x-tab-strip-top .x-tab-right:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(45, 45, 45, 1.0)), to(rgba(17, 17, 17, 1.0)));
	background: -moz-linear-gradient(top, rgba(45, 45, 45, 1.0), rgba(17, 17, 17, 1.0));
}
.aloha-floatingmenu .x-tab-strip-top .x-tab-right:hover span.x-tab-strip-text {
	color: rgba(255, 255, 255, 0.8);
}
.aloha-floatingmenu .x-tab-strip-top li.x-tab-strip-active {
	background: -moz-linear-gradient(left center , rgba(255, 255, 255, 0) 0%, #FF8700 50%, rgba(255, 255, 255, 0)) repeat scroll 0 0 #4c4c4c;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0.0)), color-stop(50%,#FF8700), color-stop(100%,rgba(255, 255, 255, 0.0)));
	padding-top: 1px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-moz-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.5);
}
.aloha-floatingmenu .x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#4c4c4c), to(#33302a));
	background: -moz-linear-gradient(top, #4c4c4c, #33302a);
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.aloha-floatingmenu .x-tab-strip-top .x-tab-strip-active .x-tab-strip-top .x-tab-right,
.aloha-floatingmenu .x-tab-strip-top .x-tab-strip-active .x-tab-strip-top .x-tab-left,
.aloha-floatingmenu .x-tab-strip-top .x-tab-strip-active .x-tab-strip-top .x-tab-strip-inner {
	background: transparent;
}
.aloha-floatingmenu span.x-tab-strip-text {
	color: rgba(255, 255, 255, 0.6);
	text-shadow: -1px -1px 0 #000000;
}
.aloha-floatingmenu .x-tab-strip-active span.x-tab-strip-text {
	color: #ffffff;
	text-shadow: 1px 0 6px #FF8700, -1px -1px 0 #000000;
	font-weight: normal;
}
.aloha-floatingmenu .x-tab-panel-header {
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(45, 45, 45, 0.5)), to(rgba(17, 17, 17, 0.5)));
	background: -moz-linear-gradient(top, rgba(45, 45, 45, 0.5), rgba(17, 17, 17, 0.5));
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border: 0;
}
.aloha-floatingmenu table.x-btn-over {
	background: url(../Images/UserInterface/AlohaHoverButton.png) 50% bottom no-repeat;
}
.aloha-floatingmenu table.x-btn-pressed,
.aloha-floatingmenu table.x-btn-click {
	background: url(../Images/UserInterface/AlohaActiveButton.png) 50% bottom no-repeat;
}
div.aloha-floatingmenu .x-btn-pressed.x-btn-click {
	background: url(../Images/UserInterface/AlohaHoverButton.png) 50% bottom no-repeat;
}
.aloha-floatingmenu table.x-btn-pressed .x-btn-tc {
}
.aloha-floatingmenu .x-table-layout td.x-table-layout-cell {
	padding-right: 6px;
}
.aloha-floatingmenu .x-btn-tr i,
.aloha-floatingmenu .x-btn-tl i,
.aloha-floatingmenu .x-btn-br i,
.aloha-floatingmenu .x-btn-bl i {
	height: 2px;
	width: 4px;
}
.aloha-floatingmenu tr, .aloha-floatingmenu td {
	height: 5px;
}
.aloha-floatingmenu .x-toolbar .x-btn-over .x-btn-ml,
.aloha-floatingmenu .x-toolbar .x-btn-over .x-btn-mc,
.aloha-floatingmenu .x-toolbar .x-btn-over .x-btn-mr,
.aloha-floatingmenu .x-toolbar .x-btn-tl,
.aloha-floatingmenu .x-toolbar .x-btn-tr,
.aloha-floatingmenu .x-toolbar .x-btn-tc,
.aloha-floatingmenu .x-toolbar .x-btn-ml,
.aloha-floatingmenu .x-toolbar .x-btn-mr,
.aloha-floatingmenu .x-toolbar .x-btn-mc,
.aloha-floatingmenu .x-toolbar .x-btn-bl,
.aloha-floatingmenu .x-toolbar .x-btn-br,
.aloha-floatingmenu .x-toolbar .x-btn-bc,
.aloha-floatingmenu .x-btn-group-tl,
.aloha-floatingmenu .x-btn-group-tr,
.aloha-floatingmenu .x-btn-group-tc,
.aloha-floatingmenu .x-btn-group-ml,
.aloha-floatingmenu .x-btn-group-mr,
.aloha-floatingmenu .x-btn-group-mc,
.aloha-floatingmenu .x-btn-group-bl,
.aloha-floatingmenu .x-btn-group-br,
.aloha-floatingmenu .x-btn-group-bc {
	background: transparent;
}
.aloha-floatingmenu .x-btn-group {
	-moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.1);
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.1);
}
.aloha-floatingmenu .x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
	border: 0;
}
.x-toolbar-left .x-toolbar-left-row td.x-toolbar-cell:last-child .x-btn-group {
	box-shadow: 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow: 0 0 0 transparent;
}
/** Tooltips **/
.x-tip .x-tip-tc,
.x-tip .x-tip-tl,
.x-tip .x-tip-tr,
.x-tip .x-tip-bc,
.x-tip .x-tip-bl,
.x-tip .x-tip-br,
.x-tip .x-tip-ml,
.x-tip .x-tip-mr {
	background-image: none;
}
.x-tip .x-tip-ml {
    border: 1px solid rgba(0, 0, 0, 0.35);
    background: #fcf4d1 url(../Images/UserInterface/TooltipBg.gif) left 50% repeat-x;
    background-size: cover cover;
    -moz-background-size: cover cover;
    -webkit-background-size: cover cover;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.65) inset, 0 0 7px rgba(0, 0, 0, 0.65), 0 0 3px #ffffff inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 7px rgba(0, 0, 0, 0.65), 0 0 3px #ffffff inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 7px rgba(0, 0, 0, 0.65), 0 0 3px #ffffff inset;
}
.x-tip .x-tip-body {
	color: #000000;
}
/** Tables **/
.aloha-Table_Createdialog {
	border-color: rgba(0, 0, 0, 0.6);
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}
.aloha-Table_Createdialog table {
	background: #464646;
	border-spacing: 1px;
	border-collapse: separate;
}
.aloha-Table_Createdialog table td {
	border-color: rgba(51, 51, 51, 1.0) rgba(51, 51, 51, 1.0) rgba(131, 131, 131, 1.0);
	border-width: 1px;
	border-style: solid;
	background: #dbdbdb;
}
.aloha-Table_Createdialog table td.hover {
	background-color: #FFFAF5;
}
/* Quick fix to remove list bullets */
ul.aloha-multisplit li {
	list-style-type: none;
}
