.TYPO3-TYPO3-UserInterface-BreadcrumbMenu .x-panel-body {
	border: 1px solid #4B4B4B;
	border-bottom: 0;
	background-color: #4c4c4c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#4c4c4c), to(#767676));
	background: -moz-linear-gradient(top, #4b4b4b, #767676);
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu {
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu span {
	display: inline-block;
	white-space: nowrap;
}

/**
 * Add the transition settings
 */
.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem,
.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-Text,
.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Separator {
	-moz-transition-property: width, opacity;
	-moz-transition-duration: 0.1s, 0.2s;
	-moz-transition-delay: 0.0s, 0.0s;
	-moz-transition-timing-function: ease-in-out;

	-webkit-transition-property: width, opacity;
	-webkit-transition-duration: 0.1s, 0.2s;
	-webkit-transition-delay: 0.0s, 0.0s;
	-webkit-transition-timing-function: ease-in-out;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Debug .TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem,
.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Debug .TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-Text,
.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Debug .TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Separator {
	-moz-transition-duration: .5s, .5s;
	-moz-transition-delay: 0s, .1s;

	-webkit-transition-duration: .5s, .5s;
	-webkit-transition-delay: 0s, .1s;
}


.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-Text {
	-moz-transition-property: all;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-onRender {
	width: 0px;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem {
	width: 47px;
	height: 47px;
	background-repeat: no-repeat;
	background-position: left 10px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0.7;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-hidden {
	width: 0px;
	opacity: 0;
}

/* Hack for webkit based browsers, to force the current rendering if
   breadcrumb menu items are expanded. */
.ext-webkit .TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-hidden {
	width: 1px;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-active {
	opacity: 1;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-Text {
	color: #ffffff;
	font: 13px helvetica, arial, sans-serif;
	font-weight:bold;
	line-height: 47px;
	cursor: pointer;
	height: 47px;
	display: inline-block;
	overflow: hidden;
	opacity: 0;
	width: 0px;
	padding: 0px;
	padding-right: 10px;
	margin-right: 10px;
	vertical-align:top;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-Text-active {
	opacity: 1;
}


/*.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-active > .TYPO3-TYPO3-UserInterface-BreadcrumbMenu-MenuItem-Text {
	opacity: 1;
	width: auto;
	padding-right: 10px;
}*/

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Separator {
	background-image: url('../Images/UserInterface/Icons/BreadcrumbMenuFold.png') !important;
	background-repeat: no-repeat;
	background-position: left 10px;
	background-size: 25px 25px;
	overflow: hidden;
	padding: 0px;
	width: 1px;
	height: 47px;
	opacity: 0;
}

.TYPO3-TYPO3-UserInterface-BreadcrumbMenu-Separator-active {
	background-size: 25px 25px;
	width: 35px;
	opacity: 1;
}