/**
 * Icons
 */

.TYPO3-TYPO3-Content-icon-edit {
	background-image: url('../Images/UserInterface/Icons/ContentEdit.gif') !important;
}
.TYPO3-TYPO3-Content-icon-pageProperties {
	background-image: url('../Images/UserInterface/Icons/ContentEditPageProperties.png') !important;
}
.TYPO3-TYPO3-Content-icon-movePage {
	background-image: url('../Images/UserInterface/Icons/ContentMovePage.gif') !important;
}
.TYPO3-TYPO3-Content-icon-createPage {
	background-image: url('../Images/UserInterface/Icons/ContentCreatePage.gif') !important;
}
.TYPO3-TYPO3-Content-icon-deletePage {
	background-image: url('../Images/UserInterface/Icons/ContentDeletePage.gif') !important;
}
.TYPO3-TYPO3-Content-icon-movePage {
	background-image: url('../Images/UserInterface/Icons/ContentMovePage.gif') !important;
}

.TYPO3-TYPO3-Content-icon-upArrow {
	background-image: url('../Images/UserInterface/Icons/ContentUpArrow.png') !important;
}
.TYPO3-TYPO3-Content-icon-downArrow {
	background-image: url('../Images/UserInterface/Icons/ContentDownArrow.png') !important;
}

.TYPO3-TYPO3-Management-ManagementGrid-Icon {
	display: block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}
.TYPO3-TYPO3-Icon-ContentType-TYPO3_Text {
	background-image: url('../Images/UserInterface/Icons/ContentType-TYPO3_Text.png') !important;
}
.TYPO3-TYPO3-Icon-ContentType-TYPO3_Html {
	background-image: url('../Images/UserInterface/Icons/ContentType-TYPO3_Html.png') !important;
}
.TYPO3-TYPO3-Icon-ContentType-TYPO3_Section {
	background-image: url('../Images/UserInterface/Icons/ContentType-TYPO3_Section.png') !important;
}
.TYPO3-TYPO3-Icon-ContentType-TYPO3_Plugin {
	background-image: url('../Images/UserInterface/Icons/ContentType-TYPO3_Plugin.png') !important;
}

.TYPO3-TYPO3-Icon-ContentType-Twitter_LatestTweets {
	background-image: url('../Images/UserInterface/Icons/ContentType-Twitter_LatestTweets.png') !important;
}