html {
  height: 100%;
  overflow: auto;
  background: none;
  font-size: 13px;
}

body, table, form {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
}

body {
  background: black url(../Images/Login/WallpaperRepeater.jpg) 25% top repeat-x;
  height: 100%;
}

#f3-typo3-login-site {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../Images/Login/FooterBg.png) 50% bottom repeat-x;
  position: relative;
}

#f3-typo3-login-wallpaper {
  width: 100%;
  height: 100%;
  background: url(../Images/Login/Wallpaper.png) 50% bottom no-repeat;
  position: absolute;
  bottom: 256px;
}

.f3-typo3-version-information {
  font-size: 77%;
  color: #535353;
  background: url(../Images/TYPO3ApplicationLogo-50px.png) left top no-repeat;
  padding: 44px 0 0 10px;
  font-weight: normal;
  min-width: 125px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#f3-typo3-login-box {
  width: 391px;
  max-width: 428px;
  height: 320px;
  position: absolute;
  bottom: -125px;
  left: 50%;
  margin-left: -214px;
  padding: 20px 0 0 37px;
  background: url(../Images/Login/LoginBoxBg.png) left top no-repeat;
}
#f3-typo3-login-box form {
  margin: 1px;
  padding: 17px 55px 17px 17px;
  float: left;
}
#f3-typo3-login-box form .errorMessages {
  background: url(../Images/Login/ButtonBgLeft.png) left 50% no-repeat, url(../Images/Login/IconError.png) 9px 50% no-repeat #5d0f0e;
  position: absolute;
  right: 55px;
  top: 43px;
  padding: 5px 5px 5px 37px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #000000;
}
#f3-typo3-login-box form a.f3-typo3-link-help {
  color: #9e9e9e;
  text-shadow: black 0 -1px 0;
  font-size: 88%;
  float: right;
  margin: -7px 0 10px 0;
}
#f3-typo3-login-box form .f3-typo3-login-fields {
  clear: both;
  margin: 0 0 10px 0;
  position: relative;
}
#f3-typo3-login-box form .f3-typo3-login-fields label {
  width: 75px;
  display: block;
  float: left;
  font-size: 93%;
  font-weight: normal;
  font-family: Arial, sans-serif;
  text-shadow: black 0 -1px 0;
}
#f3-typo3-login-box form .f3-typo3-login-fields input {
  width: 235px;
  height: 20px;
  padding: 0 2px 0 2px;
  color: #000000;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 0 0 1px #9e9e9e, 0 0 0 2px #131313, 0 1px 0 2px rgba(88, 88, 88, 0.6);
  -webkit-box-shadow: 0 0 0 1px #9e9e9e, 0 0 0 2px #131313, 0 1px 0 2px rgba(88, 88, 88, 0.6);
  border: 1px solid #b6b6b6;
  background: #c5c5c5;
  font-size: 93%;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
#f3-typo3-login-box form .f3-typo3-login-fields input:active, #f3-typo3-login-box form .f3-typo3-login-fields input:focus {
  -moz-box-shadow: 0 0 1px 1px #c7885b, 0 0 0 2px #131313, 0px 1px 0 2px rgba(88, 88, 88, 0.6);
  outline: none 0px;
  -webkit-box-shadow: 0 0 1px 1px #c7885b, 0 0 0 2px #131313, 0px 1px 0 2px rgba(88, 88, 88, 0.6);
  border: 1px solid #ffd4b6;
  background: #ffffff;
}
#f3-typo3-login-box form .f3-typo3-login-actions {
  clear: both;
  padding: 45px 0 0 0;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-login-button,
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button {
  background: url(../Images/Login/ButtonBgLeft.png) left 50% no-repeat, url(../Images/Login/IconShutdown.png) left 50% no-repeat #ff8700;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 30px;
  display: block;
  padding-left: 48px;
  margin-left: 10px;
  border: 1px solid #000000;
  display: block;
  -moz-box-shadow: 0 1px 0 0 rgba(88, 88, 88, 0.6);
  float: right;
  text-decoration: none;
  outline: 0;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-login-button:hover,
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:hover {
  background: url(../Images/Login/ButtonBgLeft.png) left 50% no-repeat, url(../Images/Login/IconShutdown.png) left 50% no-repeat #ff9600;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-login-button:hover span,
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:hover span {
  background-color: #ff9600;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-login-button:focus,
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:focus {
  background: url(../Images/Login/ButtonBgLeftFocus.png) -1px 50% no-repeat, url(../Images/Login/IconShutdown.png) left top no-repeat #ff8700;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-login-button:focus span,
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:focus span {
  background: #ff8700 url(../Images/Login/ButtonBgRightFocus.png) right 50% no-repeat;
  line-height: 32px;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-login-button span,
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button span {
  color: #ffffff;
  background: #ff8700 url(../Images/Login/ButtonBgRight.png) right 50% no-repeat;
  border: 0;
  padding-right: 14px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 5px;
  height: 30px;
  line-height: 30px;
  font-size: 93%;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-shadow: #333333 0 -1px 0;
  display: block;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button {
  background: url(../Images/Login/ButtonBgLeft.png) left 50% no-repeat, url(../Images/Login/IconOpenId.png) left 50% no-repeat #4f4f4f;
  opacity: 0.4;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:hover, #f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:focus {
  background: url(../Images/Login/ButtonBgLeft.png) left 50% no-repeat, url(../Images/Login/IconOpenId.png) left 50% no-repeat #4f4f4f;
  cursor: default;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:hover span, #f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button:focus span {
  background: #4f4f4f url(../Images/Login/ButtonBgRight.png) right 50% no-repeat;
  opacity: 0.4;
  line-height: 30px;
  cursor: default;
}
#f3-typo3-login-box form .f3-typo3-login-actions .f3-typo3-openid-button span {
  background: #4f4f4f url(../Images/Login/ButtonBgRight.png) right 50% no-repeat;
  cursor: default;
}
#f3-typo3-login-box h2.f3-typo3-login-domain {
  text-shadow: black 0 -1px 0;
  margin: 12px 0 12px 15px;
  font-family: Share-Regular, Arial, sans-serif;
  font-size: 153.9%;
  font-weight: normal;
}
#f3-typo3-login-box h2.f3-typo3-login-domain strong {
  font-weight: bold;
}

.f3-typo3-login-lock {
  position: absolute;
  left: 38px;
  bottom: 59px;
  width: 76px;
  height: 108px;
  display: block;
  background: url(../Images/Login/Lock.png) 50% 50% no-repeat;
}

#f3-typo3-login-footer {
  width: 70%;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -35%;
  text-align: center;
}
#f3-typo3-login-footer p {
  font-size: 77%;
  color: #535353;
  line-height: 1.3em;
}
#f3-typo3-login-footer a {
  color: #535353;
}

.grid {
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(../Images/Login/PixelGrid.png) left top repeat;
}
