@import "compass";
@import "constants";
@import "../Library/fontawesome/sass/font-awesome.scss";

$font-family: Arial,sans-serif;
$font-share: Share-Regular, Arial,sans-serif;

@mixin label-font {
	font-size: 93%;
	font-weight: normal;
	font-family: $font-family;
}

@mixin input-txt-font {
	font-size: 93%;
	font-weight: bold;
	font-family: $font-family;
}

@mixin input-txt-default {
	@include box-shadow(0 0 0 1px #9e9e9e, 0 0 0 2px #131313, 0 1px 0 2px rgba(88,88,88,0.6));
	border: 1px solid #b6b6b6;
	background: #c5c5c5;
}

@mixin txt-shadow-black {
	text-shadow: #000000 0 -1px 0;
}

@mixin txt-shadow-grey {
	text-shadow: $grey 0 -1px 0;
}

@mixin rounded-corners-middle {
	@include border-radius(5px);
}

@mixin rounded-corners-small {
	@include border-radius(3px);
}

html {
	height: 100%;
	overflow: auto;
	background: none;
	font-size: 14px;
}
body, table, form {
	font-family: $font-family;
	font-size: 14px;
	color: #ffffff;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
body {
	background: black url(../Images/Login/DarkGreyNoisyBackground.png);
	height: 100%;
}

.container {
	@include background-image(radial-gradient(50% 50%, rgba(255, 255, 255, 0.10) 10px, rgba(255, 255, 255, 0) 500px));
	width: 100%;
	height: 100%;
}

.modal {
	background-color: #2B2B2B;
}

.btn-link {
	text-shadow: none;
	font-size: 11px;
	color: #888888;
}

.typo3-phoenix-login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 250px;
	margin-top: -125px;
	margin-left: -225px;
	z-index: 10;

	p {
		color: #CCCCCC;
	}

	.modal-header {
		padding-left: 30px;
		background-color: #252525;
		border-bottom: 1px solid #444444;
	}

	.modal-body {
		padding: 30px;
		background: #2c2c2c;
		@include box-shadow(0 2px 2px 1px #2c2c2c);
		overflow: hidden;

		h1 {
			margin: 0;
			font-weight: normal;
			font-size: 150%;
		}

		.typo3-message-icon {
			font-size: 70px;
			font-weight:bold;
			color: $light-orange;
			margin-top: 15px;
		}
	}
}

#typo3-phoenix-login-footer {
	width: 65%;
	position: absolute;
	bottom: 5%;
	left: 50%;
	margin-left: -35%;
	text-align: center;
	p {
		font-size: 77%;
		color: #535353;
		line-height: 1.3em;
		margin: 0;
	}
	a {
		color: #535353;
	}
}