@import "t3-reset";

//Variables//
$menu-height: 25px;
$launcher-height: 25px;
$toolbar-height: 30px;
$property-panel-width: 200px;
$footer-height: 30px;

//Mixins //
@mixin box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@mixin box-shadow($hor, $vert, $blur, $color) {
	box-shadow: $hor $vert $blur $color;
	-moz-box-shadow: $hor $vert $blur $color;
	-webkit-box-shadow: $hor $vert $blur $color;
}
@mixin rounded-corner($rounded) {
	border-radius: $rounded $rounded $rounded $rounded;
	-moz-border-radius: $rounded $rounded $rounded $rounded;
	-webkit-border-radius: $rounded $rounded $rounded $rounded;
}

/** CSS start **/
body.t3-ui-controls-active {
	margin-right: $property-panel-width;
	margin-bottom: $footer-height;
	margin-top: $menu-height + $launcher-height + $toolbar-height;
	margin-left: 0;
}

#t3-footer,
#t3-toolbar,
#t3-ui-rightarea {
	font-family: Arial, sans-serif;
}
.t3-clear {
	clear:both;
}
#t3-ui-top {
	@include box-shadow(0px, 1px, 3px, #000000);
	background: -moz-linear-gradient(center top , #444444, #2D2D2D) repeat scroll 0 0 transparent;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	height: $menu-height + $launcher-height;
	// line-height: $menu-height;
	z-index: 10015;
	.t3-button-logout {
		position: absolute;
		right: 10px;
		line-height: $menu-height;
		top: -2px;
		color: #cccccc;
		text-decoration: underline;
		font-size: 10px;
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}
.t3-launcher {
	position: relative;
	width: 100%;
	height: $launcher-height;
	div.t3-launcher-container {
		height: $launcher-height;
		border: 0;
		position: absolute;
		display: block;
		left: 0;
		right: 35px;
		input {
			border: 0;
			background: transparent;
			font-size: 16px;
			width: 100%;
			height: 100%;
			line-height: $launcher-height;
			padding: 0 6px;
			background-color: #F7EEE1;
			box-shadow: 0px 0px 3px #222 inset;
			@include box-sizing;
			&.t3-example-text {
				color: #aaa;
			}
			&:focus {
				transition-property: background;
				transition-duration: 0.5s;
				-moz-transition-property: background;
				-moz-transition-duration: 0.5s;
				-webkit-transition-property: background;
				-webkit-transition-duration: 0.5s;
				background: #fff;
			}
		}
	}
	.t3-launcher-logo {
		position: absolute;
		top: 0;
		right: 5px;
		width: 25px;
		height: 25px;
		background: url('../Images/ContentModule/typo3-logo.png') no-repeat;
	}
	.t3-launcher-panel {
		position: absolute;
		height: 200px;
		left: 10px;
		top: 25px;
		right: $property-panel-width + 30px;
		border-radius: 0 0 10px 10px;
		background: -moz-linear-gradient(center top , #fff, #FCE4C4) repeat scroll 0 0 transparent;
		padding: 15px;
		opacity: 0.9;
	}
}
ul.t3-topbar {
	line-height: $menu-height;
	float: left;
	margin: 0;
	padding: 0;
}
.t3-topbar li {
	float:left;
	list-style-type:none;
	height:100%;
	padding-left:20px;
	padding-right:20px;
	color: #ffffff;
	text-shadow: 0 -1px 0 #000000;
}

.t3-topbar li.t3-active {
	background: -moz-linear-gradient(center top , #aaaaaa, #555555) repeat scroll 0 0 transparent;
	text-shadow: 1px 1px 0 #444444;
	box-shadow: 1px -4px 3px #222222, -1px -4px 3px #222222;
	-moz-box-shadow: 1px -4px 3px #222222, -1px -4px 3px #222222;
	-webkit-box-shadow: 1px -4px 3px #222222, -1px -4px 3px #222222;
}

/*** Property Panel ***/
.t3-rightarea {
	@include box-shadow(-2px, 0px, 3px, rgba(0, 0, 0, 0.5));
	@include box-sizing;
	background: -moz-linear-gradient(center top , #2D2D2D, #111111) repeat scroll 0 0 transparent;
	height: 100%;
	margin-top: $menu-height + $launcher-height;
	position: fixed;
	right: 0;
	top: 0;
	width: $property-panel-width;
	z-index: 10014;
}
.t3-propertypanel-form {
	fieldset {
		border: 0;
		margin-bottom: 10px;
		.t3-propertypanel-field {
			padding: 10px 10px 0 10px;
			div {
				padding-bottom: 10px;
			}
		}
	}
	h2 {
		width: 100%;
		@include box-sizing;
		padding: 0 10px;
		height: 30px;
		line-height: 30px;
		background: -moz-linear-gradient(center top , #555555, #373737) repeat scroll 0 0 transparent;
		color: #ffffff;
		font-weight: normal;
	}
	label {
		color: #ffffff;
		font-weight: normal;
	}
	input[type=text] {
		height: 20px;
		line-height: 20px;
		border: 1px solid #000000;
		-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px #000000 inset;
		background: #cacaca;
		@include rounded-corner(4px);
		&:focus {
			-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1), 0px 1px 3px #000000 inset, 0px 1px 3px rgba(255, 135, 0, 0.6) inset, 0px -1px 2px rgba(255, 135, 0, 0.6) inset, 1px 0px 2px rgba(255, 135, 0, 0.6) inset, -1px 0px 2px rgba(255, 135, 0, 0.6) inset;
		}
	}
}

/*** Toolbar ***/
#t3-toolbar {
	// @include box-shadow(-1px, 2px, 3px, rgba(0, 0, 0, 0.5));
	background: -moz-linear-gradient(center top , #666, #373737) repeat scroll 0 0 transparent;
	height: $toolbar-height;
	left: 0;
	position: fixed;
	right: $property-panel-width;
	top: $menu-height + $launcher-height;
	z-index: 10012;
}
.t3-toolbar-left {
	float: left;
	height: 100%;
	line-height: $toolbar-height;
}
.t3-toolbar-right {
	float: right;
	height: 100%;
	line-height: $toolbar-height;
	> li:last-child {
		margin-right: 10px;
	}
}
.t3-toolbar-left li,
.t3-toolbar-right li {
	float: left;
	padding-left: 10px;
	&:first-child {
		padding-left: 12px;
	}
}
#t3-footer .t3-toolbar-left {
	.t3-breadcrumb-page {
		background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
		padding: 0 15px 0 12px;
		float: left;
		z-index: 100030;
		position: relative;
		button {
			margin-right: 20px;
		}
		a {
			color: #ffffff;
			text-decoration: none;
		}
	}
	> li:first-child {
		padding: 0;
	}
	ul {
		float: left;
	}
	ul li {
		padding: 0 15px 0 30px;
		color: #ffffff;
		background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
		margin-left: -25px;
		float: left;
		a {
			color: #ffffff;
		}
		&:nth-child(10) {
			z-index: 10020;
		}
		&:nth-child(9) {
			z-index: 10021;
		}
		&:nth-child(8) {
			z-index: 10022;
		}
		&:nth-child(7) {
			z-index: 10023;
		}
		&:nth-child(6) {
			z-index: 10024;
		}
		&:nth-child(5) {
			z-index: 10025;
		}
		&:nth-child(4) {
			z-index: 10026;
		}
		&:nth-child(3) {
			z-index: 10027;
		}
		&:nth-child(2) {
			z-index: 10028;
		}
		&:first-child {
			z-index: 10029;
		}
		&:last-child {
			background: url(../Images/ContentModule/breadcrumb-arrow-orange.png) right 50% no-repeat;
		}
	}
}
button.t3-button {
	background: -moz-linear-gradient(center top , #999999, #555555) repeat scroll 0 0 transparent;
	border: 1px solid #272727;
	@include rounded-corner(4px);
	color: #e4e4e4;
	padding: 1px 4px;
	text-shadow: 0 -1px 0 #444444;
	transition-property: background;
	transition-duration: 0.8s;
	-moz-transition-property: background;
	-moz-transition-duration: 0.8s;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.8s;
	cursor: pointer;
	&:hover {
		background: -moz-linear-gradient(center top , #aaaaaa, #666666) repeat scroll 0 0 transparent;
	}
	&:focus,
	&:active {
		background: -moz-linear-gradient(top, #cccccc 0%, #666666 70%, #888888 100%);
		box-shadow: 0px 4px 3px #666666 inset;
	}
	&.pressed {
		background: -moz-linear-gradient(center top , #f18f0b, #7c4700) repeat scroll 0 0 transparent;
		&:hover {
			background: -moz-linear-gradient(center top , #f69a1e, #925502) repeat scroll 0 0 transparent;
		}
		&:focus,
		&:active {
			background: -moz-linear-gradient(top, #f69a1e 0%, #925502 70%, #a66003 100%);
			box-shadow: 0px 4px 3px #925502 inset;
		}
	}
	&[disabled] {
		opacity: 0.6;
		cursor: auto;
		color: #bbbbbb;
		&:hover,
		&:active,
		&:focus {
			background: -moz-linear-gradient(center top , #999999, #555555) repeat scroll 0 0 transparent;
			box-shadow: 0 0 0 transparent;
		}
	}
}
#t3-footer {
	background: -moz-linear-gradient(center top , #2D2D2D, #111111) repeat scroll 0 0 transparent;
	bottom: 0;
	left: 0;
	position: fixed;
	height: $footer-height;
	right: $property-panel-width;
	z-index: 10012;
	@include box-shadow(-1px, -1px, 3px, rgba(0, 0, 0, 0.4))
}

.t3-add-below-handle,
.t3-add-above-handle {
	position: absolute;
	right: -1px;
	top: -17px;
	width: 20px;
	height: 16px;
	overflow: hidden;
	font-size: 9px;
	display: none;
	background-image: url(../Images/ContentModule/plus.png), -moz-linear-gradient(center top , #eeeeee, #bbbbbb);
	background-position: 50% 50%, 50% 50%;
	background-repeat: no-repeat, repeat;
	background-color: transparent;
	border-width: 1px 1px 0 1px;
	border-style: solid solid none solid;
	border-color: #909090;
	border-radius: 5px 5px 0 0;
	text-indent: -9999px;
	@include box-shadow(0px, -1px, 4px, #909090);
	cursor: pointer;
	&:hover {
		@include box-shadow(0px, -1px, 4px, #aaaaaa);
	}
}
.t3-add-below-handle {
	top: auto;
	bottom: -17px;
	border-width: 0 1px 1px 1px;
	border-style: none solid solid solid;
	border-radius: 0 0 5px 5px;
	@include box-shadow(0px, 1px, 3px, #909090);
}

.aloha-block:hover > .t3-add-above-handle,
.aloha-block-active > .t3-add-above-handle,
.aloha-block:hover > .t3-add-below-handle,
.aloha-block-active > .t3-add-below-handle {
	display:block;
	z-index: 10000;
}
.t3-contentelement-selected {
	.aloha-block:hover > .t3-add-above-handle,
	.aloha-block:hover > .t3-add-below-handle {
		display: none;
	}
	.aloha-block-active > .t3-add-above-handle,
	.aloha-block-active > .t3-add-below-handle,
	.aloha-block-active:hover > .t3-add-above-handle,
	.aloha-block-active:hover > .t3-add-below-handle {
		display: block;
	}
}

.t3-status-indicator {
	position: absolute;
	left: -1px;
	bottom: -17px;
	width: 50px;
	height: 16px;
	overflow: hidden;
	font-size: 9px;
	border-width: 0 1px 1px 1px;
	border-style: none solid solid solid;
	border-radius: 0 0 5px 5px;
	display:block;
	background: white;
	z-index: 10000;
	text-align:center;
	border-color:#CCC;
	@include box-shadow(0px, 1px, 3px, #CCC);
}

.aloha-block:hover > .t3-status-indicator {
	@include box-shadow(0px, 1px, 3px, #909090);
	border-color:#999;
}

div.aloha-block > div.aloha-block-inner {
	outline: 1px solid #cccccc;
}
div.aloha-block:hover > div.aloha-block-inner {
	outline: 1px solid #909090;
}
.t3-ui-controls-active #t3-ui-top {
	@include box-shadow(0px, 0px, 0px, transparent);
}

// TODO Move to common CSS
.three-columns {
	width: 100%;
	float: left;
	clear: both;
}
.tc-1-1-1 .c-1,
.tc-1-1-1 .c-2,
.tc-1-1-1 .c-3 {
	float: left;
	width: 33%;
	@include box-sizing;
}
.tc-1-1-1 .c-3 {
	float: right;
}