@import "t3-reset";

// Bootstrap Include
// Bootstrap files to be manually adjusted before upgrading to a newer version:
// * bootstrap.scss - add t3-ui-class-prefix
// * _variables.scss - adjust the sprite-image-path
// * _variables.scss - Have a look at the overriden variables at the end of the file
@import "../Library/twitter-bootstrap/scss/bootstrap.scss";
@import "../Library/twitter-bootstrap/scss/responsive.scss";

// Fontawesome include
[class^="icon-"], [class*=" icon-"] {
	background: none;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}
@import "../Library/fontawesome/sass/font-awesome.scss";

@import "compass";

// Neos variable Include
// also overriding bootstrap variables
@import "constants";

// Neos standard HTML element styles Include
@import "stdHtmlStyles";

// **** CSS start ****/
// *******************/
body {
	&.t3-backend {
		@include transition-property(margin);
		@include transition-duration(0.2s);
	}
	&.t3-ui-controls {
		margin-right: $property-panel-width;
		margin-bottom: $footer-height;
		margin-top: $launcher-height + $menu-height + $topbar-offset + $toolbar-height;
		margin-left: 0;
	}
}
#t3-page-metainformation {
	display: none;
}
.t3-ui,
#t3-ui-top,
#t3-inspector,
#t3-toolbar,
#t3-footer {
	text-align: left;
	font-family: $default-font;

	div {
		font-family: $default-font;
		text-align: left;
		margin: 0px;
		padding: 0px;
	}

	form {
		font-family: $default-font;
		text-align: left;
		margin: 0px;
		padding: 0px;
	}

	ul {
		li {
			background: transparent;
		}
	}
}
.t3-clear {
	clear:both;
}
#t3-ui-top {
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	background: $dark-grey;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 10015;
	height: $launcher-height + $menu-height + $topbar-offset;
	margin: 0px;
	padding: 0px;

	.t3-button-logout {
		float: right;
		a.dropdown-toggle {
			display: block;
			text-decoration: none;
			color: $light-grey2;
			line-height: $menu-height;

			.caret {
				margin-top: 10px;
				border-top-color: $light-grey2;
				margin-right: 10px;
			}
		}
		ul.dropdown-menu {
			right: 10px;
			left: auto;
			top: 90%;

			.divider {
				background-color: #e5e5e5;
			}
		}
		.dropdown-menu:before {
			position: absolute;
			top: -7px;
			right: 9px;
			display: inline-block;
			border-right: 7px solid transparent;
			border-bottom: 7px solid #ccc;
			border-left: 7px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.2);
			content: '';
		}
		.dropdown-menu:after {
			position: absolute;
			top: -6px;
			right: 10px;
			display: inline-block;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #ffffff;
			border-left: 6px solid transparent;
			content: '';
		}
	}

	ul.t3-topbar {
		height: $menu-height + $topbar-offset;
		line-height: $menu-height;
		float: left;
		margin: 0;
		padding: 0;

		li {
			float: left;
			list-style-type: none;
			height: $menu-height - 1px;
			line-height: $menu-height - 2px;
			color: darken($light-grey2, 20%);
			margin-top: $topbar-offset + 1px;
			margin-left: 1px;
			border-top: 1px solid $dark-grey;
			@include box-sizing(border-box);

			a {
				display: block;
				height: 100%;
				color: darken($light-grey2, 20%) !important;
				text-decoration:none !important;
				padding-left: 20px;
				padding-right: 20px;
			}

			&:first-child {
				margin-left: 4px;
			}

			&:hover,
			&:focus,
			&:active {
				background: $dark-grey3;
				border-color: $lightest;
				cursor: pointer;
			}

			&.t3-active {
				background: $dark-grey2;
				color: $lightest;
				border-top: 1px solid $light-orange;
				&:hover,
				&:focus,
				&:active {
					cursor: default;
				}
				a {
					color: $lightest !important;
				}
			}
		}
	}
}
#t3-launcher {
	height: $launcher-height;
	overflow: hidden;
	@include transition-property(height);
	@include transition-duration(0.2s);
}
.t3-launcher {
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: $light-grey;
	@include transition-property(height);
	@include transition-duration(0.2s);

	div.t3-launcher-container {
		height: $launcher-height;
		display: block;
		@include box-sizing(border-box);
		background-color: $light-grey3;
		input {
			border: 1px solid $light-grey3;
			-webkit-box-shadow: $light-grey4 0px 1px 6px inset;
			-moz-box-shadow: darken($light-grey2, 20%) 0px 1px 6px inset;
			box-shadow: darken($light-grey2, 20%) 0px 1px 6px inset;
			background: lighten($light-grey2, 10%) url('../Images/ContentModule/typo3-logo.png') no-repeat 8px 6px;
			color: darken($light-grey2, 10%);
			font-size: 16px;
			width: 100%;
			height: 100%;
			line-height: $launcher-height;
			padding: 3px 6px 0 32px;
			@include box-sizing(border-box);
			&:hover {
				border: 1px solid lighten($dark-grey, 20%);
				background: lighten($light-grey, 10%) url('../Images/ContentModule/typo3-logo.png') no-repeat 8px 6px;
			}
			&:focus {
				border: 1px solid $light-orange;
				background: $lightest url('../Images/Icons/Black/zoom_icon-16.png') no-repeat 8px 6px;
				outline: none;
				color: $darkest;
			}
			&:hover:focus {
				background: $lightest url('../Images/Icons/Black/zoom_icon-16.png') no-repeat 8px 6px;
			}
			&::-webkit-input-placeholder,
			&::-moz-placeholder {
				font-size: 12px;
			}
		}
		&.not-empty {
			.t3-launcher-loading,
			.t3-launcher-clear {
				position: absolute;
				top: 8px;
				width: 25px;
				height: 25px;
			}
			.t3-launcher-loading {
				display: none;
				right: 25px;
				background: url('../Images/ajax-preloader-dddddd.gif') no-repeat;
			}
			.t3-launcher-clear {
				right: 0;
				cursor: pointer;
				background: url('../Images/ContentModule/delete.png') no-repeat;
			}
		}
	}
	.t3-launcher-panel {
		height: $launcher-height-open - $launcher-height;
	}
	h2 {
		font-size: 100%;
	}
}

/*** Inspector Panel ***/
#t3-inspector {
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	@include box-sizing(border-box);
	background: $dark-grey;
	height: 100%;
	margin: 0px;
	margin-top: $menu-height + $launcher-height + $topbar-offset;
	padding: 0px;
	padding-bottom: $menu-height + $launcher-height + $topbar-offset;
	position: fixed;
	right: 0;
	top: 0;
	width: $property-panel-width;
	z-index: 10014;
	overflow-x: hidden;
	overflow-y: auto;
	border-top: 1px solid $green;
	@include transition-property('width, margin-top');
	@include transition-duration(0.2s);
}
#t3-inspector .t3-inspector-form {
	fieldset {
		border: 0;
		margin-bottom: 10px;

		.t3-inspector-field {
			padding: 10px 10px 0 10px;

			div {
				padding-bottom: 10px;
			}
			input {
				padding: 1px 4px 1px 4px;
			}
		}
	}
	.t3-inspector-cancel,
	.t3-inspector-apply {
		margin-top: 7px;
	}
	.t3-inspector-cancel {
		float: left;
		border: 1px solid rgba($red, 0.8);
		&:disabled {
			border: 1px solid rgba(0, 0, 0, 0.25)
		}
	}
	.t3-inspector-apply {
		float: right;
		border: 1px solid rgba($light-green, 0.8);
		&[disabled] {
			border: 1px solid rgba(0, 0, 0, 0.25);
		}
	}
	.header,
	h2 {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 10px;
		height: $toolbar-height;
		line-height: $toolbar-height;
		background: $dark-grey2;
		color: $lightest;
		font-weight: normal;
		font-size: 100%;
	}
	.header {
		text-align: right;
		height: $toolbar-height - 1;
		line-height: $toolbar-height - 1;
	}
	label {
		color: $lightest;
		font-weight: normal;
		cursor: pointer;
	}
	input[type=text] {
		width:175px;
		display: block;
		// Highlight changed elements in the Property Panel
		&.modified {
	   		border: 1px solid $light-green;
		}
	}
	input[placeholder],
	input::-webkit-input-placeholder,
	input:-moz-placeholder {
		height: 20px;
		line-height: 20px;
	}
	select {
		width: 175px;
	}
}

/*** Toolbar ***/
#t3-toolbar {
	background: $dark-grey2;
	height: $toolbar-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0px;
	margin-top: $menu-height + $launcher-height + $topbar-offset;
	padding: 0px;
	padding-right: $property-panel-width;
	z-index: 10012;
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);

	ul {
		margin: 0px;
	}
}
.t3-toolbar-left {
	float: left;
	height: 100%;
	line-height: $toolbar-height;
	margin: 0px;
	padding: 0px;
}
.t3-toolbar-right {
	float: right;
	height: 100%;
	line-height: $toolbar-height;
	margin: 0px;
	padding: 0px;

	> li:last-child {
		margin-right: 10px;
	}
}
.t3-toolbar-left,
.t3-toolbar-right {
	li {
		float: left;
		padding-left: 10px;
		line-height: $toolbar-height;
		&:first-child {
			padding-left: 12px;
		}
	}
}

.t3-dd-drag-ghost-pagetree {
	background: $lightest;
	padding: 2px 5px 2px 25px;
	@include border-radius(4px);
	@include single-box-shadow(rgba($darkest, 0.4), 0px, 2px, 3px);
	cursor: move;
	a {
		color: $darkest;
		text-decoration: none;
	}
}
.x-dd-drop-nodrop .t3-dd-drag-ghost-pagetree {
	background: $lightest url(../Images/Icons/Black/round_delete_icon-16.png) 5px 50% no-repeat;
}
.x-tree-drop-ok-above .t3-dd-drag-ghost-pagetree,
.x-tree-drop-ok-between .t3-dd-drag-ghost-pagetree,
.x-tree-drop-ok-append .t3-dd-drag-ghost-pagetree,
.x-tree-drop-ok-below .t3-dd-drag-ghost-pagetree {
	background: $lightest url(../Images/Icons/Black/round_checkmark_icon-16.png) 5px 50% no-repeat;
}
.x-tree-drop-delete .t3-dd-drag-ghost-pagetree {
	background: $lightest url(../Images/Icons/Black/trash_icon-16.png) 5px 50% no-repeat;
}
/* Footer Toolbar */
#t3-footer  {
	background: $dark-grey;
	bottom: 0;
	left: 0;
	position: fixed;
	margin: 0px;
	padding: 0px;
	height: $footer-height;
	line-height: $footer-height;
	right: 0;
	z-index: 10012;
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	.t3-toolbar-left {
		height: $footer-height;
		line-height: $footer-height;

		.t3-inspect {
			height: 100%;
			float: left;
			background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
			z-index: 100030;
			position: relative;
		}
		button {
			float: left;
			margin: 3px 30px 0px 10px;
		}

		> li:first-child {
			padding: 0;
		}
		li {
			height: $footer-height;
			line-height: $footer-height;
		}
	}
	ul {
		margin: 0px;
	}
}

#t3-footer {
	.t3-breadcrumb {
		height: $footer-height;
		line-height: $footer-height;
		float: left;

		ul {
			float: left;
			height: 100%;
		}
		li {
			padding: 0;
			color: $lightest;
			background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
			margin-left: -25px;
			position:relative;
			height: 100%;
			float: left;
			a {
				color: $lightest !important;
				padding: 0 15px 0 30px;
				width: 100%;
				height: 100%;
				display: block;
				text-decoration: none;
				@include box-sizing(border-box);
			}
			&:nth-child(10) {
				z-index: 10020;
			}
			&:nth-child(9) {
				z-index: 10021;
			}
			&:nth-child(8) {
				z-index: 10022;
			}
			&:nth-child(7) {
				z-index: 10023;
			}
			&:nth-child(6) {
				z-index: 10024;
			}
			&:nth-child(5) {
				z-index: 10025;
			}
			&:nth-child(4) {
				z-index: 10026;
			}
			&:nth-child(3) {
				z-index: 10027;
			}
			&:nth-child(2) {
				z-index: 10028;
			}
			&:first-child {
				z-index: 10029;
			}
			&:last-child {
				background: url(../Images/ContentModule/breadcrumb-arrow-orange.png) right 50% no-repeat;
			}
		}
	}
}

.t3-handle {
	position: absolute;
	right: -1px;
	top: -21px;
	width: 22px;
	height: 20px;
	overflow: hidden;
	font-size: 9px;
	display: none;
	border-width: 1px 1px 0 1px;
	border-style: solid solid none solid;
	border-color: $dark-grey3;
	text-indent: -9999px;
	cursor: pointer;
	background: $lightest;
	span {
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: $lightest;
		overflow: hidden;
		@include opacity(1.0);
		@include transition-property(opacity);
		@include transition-duration(0.25s);
	}
}
.t3-add-above-handle,
.t3-add-below-handle {
	right: 49%;
	border-width: 0;
	border-style: none;
	top: -31px;
	padding: 6px;
	background: transparent;
	span {
		background-color: $lightest;
		background-image: url(../Images/Icons/Black/plus.png);
	}
}
.t3-add-below-handle {
	top: auto;
	bottom: -31px;
}
.t3-delete-handle {
	right: -1px;
	top: -21px;
	span {
		background-image: url(../Images/Icons/Black/trash_icon-16.png);
	}
}
.t3-copy-handle,
.t3-remove-from-copy-handle {
	right: 43px;
	span {
		background-image: url(../Images/Icons/Black/clipboard_copy_icon-16.png);
	}
}
.t3-cut-handle,
.t3-remove-from-cut-handle {
	right: 21px;
	span {
		background-image: url(../Images/Icons/Black/clipboard_cut_icon-16.png);
	}
}
.t3-paste-before-handle,
.t3-paste-after-handle {
	right: 49%;
	top: -31px;
	border-width: 0;
	border-style: none;
	padding: 6px;
	background: transparent;
	span {
		background: $lightest;
		background-image: url(../Images/Icons/Black/clipboard_past_icon-16.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}
.t3-paste-after-handle {
	top: auto;
	bottom: -31px;
}
.t3-remove-from-cut-handle span,
.t3-remove-from-copy-handle span {
	@include opacity(0.3);
}
.t3-handle span {
	&:hover,
	&:focus,
	&:active {
		@include opacity(0.7);
	}
}
.t3-handle-hidden {
	display: none !important;
}
// Aloha Blocks
.aloha-block-TYPO3Block.t3-contentelement.aloha-block:hover {
	@include box-shadow(0 0 0 1px $dark-grey3);
}
.aloha-block-active-top > .t3-handle,
.t3-aloha-block-over > .t3-handle {
	display:block;
	z-index: 10000;
	span {
		display:block;
		z-index: 10000;
	}
}
.t3-contentelement-hidden > * {
	@include opacity(0.2);
	&.t3-contentelement-handle-container {
		@include opacity(1);
	}
}
.t3-contentelement-removed {
	display: none;
}
.t3-contentelement-selected {
	.t3-aloha-block-over > .t3-handle {
		display: none;
	}
	.aloha-block-active-top > .t3-handle,
	.aloha-block-active-top:hover > .t3-handle {
		display: block;
	}
}
.aloha-block-TYPO3Block.aloha-block.aloha-block-active,
.aloha-block-TYPO3Block.aloha-block.aloha-block-active:hover {
	@include box-shadow(0 0 0 1px rgba($dark-grey3, 0.7));
	.t3-handle {
		border-color: rgba($dark-grey3, 0.7);
	}
}
button.t3-create-new-content {
	position: relative;
	z-index: 100;
}

// Hide content element status indicators by default
.t3-status-indicator {
	display: none;
}

body.t3-inspect-active {

	// Show status indicator when in inspect mode
	.t3-status-indicator {
		display: block;
		position: absolute;
		left: -1px;
		bottom: -17px;
		width: 50px;
		height: 16px;
		overflow: hidden;
		font-size: 9px;
		border-width: 0 1px 1px 1px;
		border-style: none solid solid solid;
		display:block;
		background: white;
		z-index: 10000;
		text-align:center;
		border-color: $dark-grey3;
	}

	.aloha-block:hover > .t3-status-indicator {
		@include single-box-shadow($light-grey3, 0, 1px, 3px);
		border-color: $dark-grey3;
	}

	div.aloha-block > div.aloha-block-inner {
		outline: 1px solid $dark-grey3;
	}
}

div.aloha-block:hover > div.aloha-block-inner {
	outline: 1px solid $dark-grey3;
	background: lighten($light-grey, 20%);
}
div.aloha-block-active > div.aloha-block-inner,
div.aloha-block-active:hover > div.aloha-block-inner {
	outline: 1px solid $dark-grey3;
	background: lighten($light-grey, 10%);
}

.t3-ui-controls #t3-ui-top {
	@include single-box-shadow(transparent, 0, 0, 0);
}

// Reset Z-Index so that the Floating Menu does not overlap the UI elements.
.aloha-floatingmenu {
	z-index:10000 !important;
}

// Quick fix to remove floating menu & pin - here since Aloha.css isn't included anymore
.aloha-floatingmenu:hover .aloha-floatingmenu-pin {
	display: none;
}
.aloha-floatingmenu:hover {
	background: none;
}
.aloha-floatingmenu .x-tab-strip-wrap,
.aloha-floatingmenu .x-tab-panel-header {
	cursor: default !important;
}

.ui-dialog a.t3-content-new {
	@include background-image(linear-gradient($light-grey2, lighten($dark-grey, 5%)));
	@include border-radius(3px);
    display: block;
    font-size: 22px;
    height: 35px;
    padding-top: 10px;
    text-align: center;
    width: 51px;
	&:hover {
		text-decoration:none;
	}
}

// Preview mode
body {
	#t3-footer,
	#t3-ui-top {
		@include transition-property(height);
		@include transition-duration(0.2s);
	}
	#t3-toolbar {
		@include transition-property(margin-top);
		@include transition-duration(0.2s);
		.t3-icon-preview {
			@include transition-property(margin-top);
			@include transition-duration(0.125s);
		}
	}
	.aloha-block-TYPO3Block {
		@include transition-property(margin);
		@include transition-duration(0.2s);
	}
	#t3-inspector {
		@include transition-property(width);
		@include transition-duration(0.2s);
	}
	&.t3-ui-previewmode {
		.t3-ui {
			display: none !important;
		}
		#t3-footer,
		#t3-ui-top,
		#t3-toolbar,
		#t3-inspector {
			display: block !important;
		}
		#t3-footer,
		#t3-ui-top {
			height: 0;
			overflow: hidden;
		}
		#t3-toolbar {
			margin-top: -$toolbar-height;
			box-shadow: none;
			display: block;
			.t3-icon-preview {
				margin-top: $toolbar-height + 10px;
				box-shadow: 0 0 15px rgba(0, 0, 0, .15);
			}
		}
		#t3-inspector {
			width: 0;
		}
		// Publish button
		.btn-publish {
			display: none;
		}
		.aloha-block-TYPO3Block {
			margin: 0;
		}
		// Aloha Block highlighting
		div.aloha-block:hover > .aloha-block-inner {
			cursor: default;
		}
		div.aloha-block-inner {
			outline: none !important;
			background: none !important;
		}
		.aloha-block-TYPO3Block.aloha-block:hover,
		.aloha-block-TYPO3Block.aloha-block.aloha-block-active,
		.aloha-block-TYPO3Block.aloha-block.aloha-block-active:hover {
			@include box-shadow(none);
		}
		// Handles around Aloha Blocks
		.t3-handle,
		.t3-status-indicator {
			display: none !important;
		}
		// Aloha Floating Menu
		#aloha-floatingmenu-shadow,
		.aloha-floatingmenu,
		.x-shadow,
		.t3-contentelement-overlay,
		button.t3-create-new-content,
		.t3-contentelement-hidden {
			display: none !important;
		}
		.aloha-block:hover,
		.aloha-block.aloha-block-highlighted {
			cursor: auto;
		}
		// Content elements
		.t3-contentelement-active {
			outline: none !important;
			outline-offset: 0px;

			> .t3-contentelement-handle-container {
				visibility: hidden;
			}
		}
	}
}

// Error output
#t3-neos-error-container {
	width: 600px;
	padding: 10px;
	background: #ffffff;
	border: 5px solid $light-orange;
	@include border-radius(3px);
	@include single-box-shadow($light-grey3, 0, 1px, 3px);
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -305px;
	z-index: 10016;

	h2 {
		font-size: 25px;
		color: $light-orange;
		font-weight: bold;
	}

	.t3-neos-error-info {
		font-weight: bold;
	}

	p {
		margin: 15px 0;
	}
}

@import "style-launchbar";
@import "content-properties";
@import "style-workInProgress";
@import "js-ui";
@import "management-base";
@import "modules";
