.t3-ui {
  font-family: Arial;
  font-size: 12px; }
  .t3-ui div, .t3-ui dl, .t3-ui dt, .t3-ui dd, .t3-ui ul, .t3-ui ol, .t3-ui li, .t3-ui h1, .t3-ui h2, .t3-ui h3, .t3-ui h4, .t3-ui h5, .t3-ui h6, .t3-ui pre, .t3-ui form, .t3-ui fieldset, .t3-ui input, .t3-ui p, .t3-ui blockquote, .t3-ui th, .t3-ui td {
    margin: 0;
    padding: 0; }
  .t3-ui img {
    border: 0; }
  .t3-ui address, .t3-ui caption, .t3-ui cite, .t3-ui code, .t3-ui dfn, .t3-ui em, .t3-ui strong, .t3-ui th, .t3-ui var {
    font-style: normal;
    font-weight: normal; }
  .t3-ui ol, .t3-ui ul, .t3-ui ol li, .t3-ui ul li {
    list-style: none; }
  .t3-ui caption, .t3-ui th {
    text-align: left; }
  .t3-ui h1, .t3-ui h2, .t3-ui h3, .t3-ui h4, .t3-ui h5, .t3-ui h6 {
    font-size: 100%; }
  .t3-ui q:before,
  .t3-ui q:after {
    content: ''; }

/**** CSS start ****/
/*******************/
body.t3-ui-controls-active {
  margin-right: 200px;
  margin-bottom: 26px;
  margin-top: 92px;
  margin-left: 0; }

#t3-page-metainformation {
  display: none; }

#t3-footer,
#t3-toolbar,
#t3-inspector {
  font-family: Arial, sans-serif; }

.t3-clear {
  clear: both; }

#t3-ui-top {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: #2d2d2d;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10015; }
  #t3-ui-top .t3-button-logout {
    float: right;
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
    width: 16px;
    color: #cccccc;
    text-decoration: none;
    font-size: 10px;
    z-index: -9999px;
    background: url(../Images/Icons/White/on-off_icon-16.png) left 50% no-repeat;
    opacity: 1.0;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s; }
    #t3-ui-top .t3-button-logout:hover, #t3-ui-top .t3-button-logout:active, #t3-ui-top .t3-button-logout:focus {
      opacity: 0.8; }
    #t3-ui-top .t3-button-logout span {
      float: left;
      text-indent: -9999px; }

.t3-launcher {
  position: relative;
  width: 100%;
  background-color: #e8e8e8; }
  .t3-launcher div.t3-launcher-container {
    height: 30px;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .t3-launcher div.t3-launcher-container input {
      border: 0;
      -webkit-box-shadow: #666666 0px 1px 6px inset;
      -moz-box-shadow: #b3b3b3 0px 1px 6px inset;
      box-shadow: #b3b3b3 0px 1px 6px inset;
      background: #efefef url("../Images/ContentModule/launchbar-arrow.png") no-repeat 6px 7px;
      font-size: 16px;
      width: 100%;
      height: 100%;
      line-height: 30px;
      padding: 3px 6px 0 6px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
      .t3-launcher div.t3-launcher-container input.not-empty {
        background: #efefef; }
      .t3-launcher div.t3-launcher-container input.not-empty:hover {
        background: #f2f2f2; }
      .t3-launcher div.t3-launcher-container input:hover {
        border: 1px solid #444444;
        background: #f2f2f2 url("../Images/ContentModule/launchbar-arrow.png") no-repeat 5px 6px;
        padding: 3px 5px 0 5px; }
      .t3-launcher div.t3-launcher-container input:focus {
        border: 1px solid #FF8700;
        background: #fff;
        padding: 3px 5px 0 5px;
        outline: none; }
      .t3-launcher div.t3-launcher-container input:hover:focus {
        background: #fff; }
  .t3-launcher .t3-launcher-logo {
    position: absolute;
    top: 4px;
    right: 3px;
    width: 25px;
    height: 25px;
    background: url("../Images/ContentModule/typo3-logo.png") no-repeat; }
  .t3-launcher .t3-launcher-panel {
    height: 200px; }

ul.t3-topbar {
  height: 30px;
  line-height: 26px;
  float: left;
  margin: 0;
  padding: 0; }

.t3-topbar li {
  float: left;
  list-style-type: none;
  height: 26px -1px;
  padding-left: 20px;
  padding-right: 20px;
  color: #aaaaaa;
  margin-top: 3px;
  margin-left: 1px;
  border-top: 1px solid #2d2d2d;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .t3-topbar li:first-child {
    margin-left: 4px; }
  .t3-topbar li:hover, .t3-topbar li:focus, .t3-topbar li:active {
    background: #373737;
    border-color: #ffffff;
    cursor: pointer; }

.t3-topbar li.t3-active {
  background: #444444;
  color: #ffffff;
  border-top: 1px solid #ff8700; }
  .t3-topbar li.t3-active:hover, .t3-topbar li.t3-active:focus, .t3-topbar li.t3-active:active {
    cursor: default; }

/*** Inspector Panel ***/
.t3-inspector {
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background: #2D2D2D;
  height: 100%;
  margin-top: 60px;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 10014;
  overflow: auto;
  padding-bottom: 20px;
  border-top: 1px solid #69a550; }

.t3-inspector-form fieldset {
  border: 0;
  margin-bottom: 10px; }
  .t3-inspector-form fieldset .t3-inspector-field {
    padding: 10px 10px 0 10px; }
    .t3-inspector-form fieldset .t3-inspector-field div {
      padding-bottom: 10px; }
.t3-inspector-form h2 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  background: #444444;
  color: #ffffff;
  font-weight: normal; }
.t3-inspector-form label {
  color: #ffffff;
  font-weight: normal; }
.t3-inspector-form input[type=text] {
  width: 175px;
  height: 23px;
  padding: 1px 5px 0px 5px;
  border: 1px solid #000000;
  display: block;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  background: #cacaca;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .t3-inspector-form input[type=text]:focus {
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset; }
  .t3-inspector-form input[type=text].modified {
    border: 1px solid #54974a; }
.t3-inspector-form input[placeholder],
.t3-inspector-form input::-webkit-input-placeholder,
.t3-inspector-form input:-moz-placeholder {
  height: 20px;
  line-height: 20px; }
.t3-inspector-form select {
  width: 175px; }

/*** Toolbar ***/
#t3-toolbar {
  background: #444444;
  height: 36px;
  left: 0;
  position: fixed;
  right: 200px;
  top: 60px;
  z-index: 10012;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }

.t3-toolbar-left {
  float: left;
  height: 100%;
  line-height: 36px; }

.t3-toolbar-right {
  float: right;
  height: 100%;
  line-height: 36px; }
  .t3-toolbar-right > li:last-child {
    margin-right: 10px; }

.t3-toolbar-left li,
.t3-toolbar-right li {
  float: left;
  padding-left: 10px; }
  .t3-toolbar-left li:first-child,
  .t3-toolbar-right li:first-child {
    padding-left: 12px; }

.extjs-container .t3-dd-newpage {
  padding: 2px 2px 2px 25px;
  margin: 5px;
  background: #e6e6e6 url(../Images/Icons/Black/round_plus_icon-16.png) 5px 50% no-repeat;
  border: 1px dotted #000000;
  cursor: move; }

.t3-dd-drag-ghost-pagetree {
  background: #ffffff;
  padding: 2px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  cursor: move; }

/* Footer Toolbar */
#t3-footer {
  background: #2D2D2D;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 26px;
  line-height: 26px;
  right: 200px;
  z-index: 10012;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
  #t3-footer .t3-toolbar-left {
    height: 26px;
    line-height: 26px; }
    #t3-footer .t3-toolbar-left .t3-breadcrumb {
      height: 26px;
      line-height: 26px;
      float: left; }
    #t3-footer .t3-toolbar-left .t3-inspect {
      height: 100%;
      float: left;
      background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
      z-index: 100030;
      position: relative; }
    #t3-footer .t3-toolbar-left button {
      float: left;
      margin: 3px 30px 0px 10px; }
    #t3-footer .t3-toolbar-left > li:first-child {
      padding: 0; }
    #t3-footer .t3-toolbar-left ul {
      float: left; }
    #t3-footer .t3-toolbar-left ul li {
      padding: 0;
      color: #ffffff;
      background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
      margin-left: -25px;
      position: relative;
      float: left; }
      #t3-footer .t3-toolbar-left ul li a {
        color: #ffffff;
        padding: 0 15px 0 30px;
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; }
      #t3-footer .t3-toolbar-left ul li:nth-child(10) {
        z-index: 10020; }
      #t3-footer .t3-toolbar-left ul li:nth-child(9) {
        z-index: 10021; }
      #t3-footer .t3-toolbar-left ul li:nth-child(8) {
        z-index: 10022; }
      #t3-footer .t3-toolbar-left ul li:nth-child(7) {
        z-index: 10023; }
      #t3-footer .t3-toolbar-left ul li:nth-child(6) {
        z-index: 10024; }
      #t3-footer .t3-toolbar-left ul li:nth-child(5) {
        z-index: 10025; }
      #t3-footer .t3-toolbar-left ul li:nth-child(4) {
        z-index: 10026; }
      #t3-footer .t3-toolbar-left ul li:nth-child(3) {
        z-index: 10027; }
      #t3-footer .t3-toolbar-left ul li:nth-child(2) {
        z-index: 10028; }
      #t3-footer .t3-toolbar-left ul li:first-child {
        z-index: 10029; }
      #t3-footer .t3-toolbar-left ul li:last-child {
        background: url(../Images/ContentModule/breadcrumb-arrow-orange.png) right 50% no-repeat; }

button.t3-button {
  background: #888888;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #e4e4e4;
  padding: 0 6px 0px 6px;
  height: 20px;
  line-height: 20px;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  cursor: pointer; }
  button.t3-button:hover {
    background: #777777; }
  button.t3-button:focus, button.t3-button:active {
    background: #666666; }
  button.t3-button.pressed {
    background: #ff8700; }
    button.t3-button.pressed:hover {
      background: #ea7c01; }
    button.t3-button.pressed:focus, button.t3-button.pressed:active {
      background: #d06e00; }
  button.t3-button[disabled] {
    opacity: 0.6;
    cursor: auto;
    color: #bbbbbb; }
    button.t3-button[disabled]:hover, button.t3-button[disabled]:focus, button.t3-button[disabled]:active {
      background: #888888; }

.t3-handle {
  position: absolute;
  right: -1px;
  top: -21px;
  width: 22px;
  height: 20px;
  overflow: hidden;
  font-size: 9px;
  display: none;
  border-width: 1px 1px 0 1px;
  border-style: solid solid none solid;
  border-color: #373737;
  text-indent: -9999px;
  cursor: pointer;
  background: #ffffff; }
  .t3-handle span {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -moz-transition-property: opacity;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s; }

.t3-add-above-handle,
.t3-add-below-handle {
  right: 49%;
  border-width: 0;
  border-style: none;
  top: -31px;
  padding: 6px;
  background: transparent; }
  .t3-add-above-handle span,
  .t3-add-below-handle span {
    background-color: #ffffff;
    background-image: url(../Images/Icons/Black/plus.png); }

.t3-add-below-handle {
  top: auto;
  bottom: -31px; }

.t3-delete-handle {
  right: -1px;
  top: -21px; }
  .t3-delete-handle span {
    background-image: url(../Images/Icons/Black/trash_icon-16.png); }

.t3-copy-handle,
.t3-remove-from-copy-handle {
  right: 43px; }
  .t3-copy-handle span,
  .t3-remove-from-copy-handle span {
    background-image: url(../Images/Icons/Black/clipboard_copy_icon-16.png); }

.t3-cut-handle,
.t3-remove-from-cut-handle {
  right: 21px; }
  .t3-cut-handle span,
  .t3-remove-from-cut-handle span {
    background-image: url(../Images/Icons/Black/clipboard_cut_icon-16.png); }

.t3-paste-before-handle,
.t3-paste-after-handle {
  right: 49%;
  top: -31px;
  border-width: 0;
  border-style: none;
  padding: 6px;
  background: transparent; }
  .t3-paste-before-handle span,
  .t3-paste-after-handle span {
    background: #ffffff;
    background-image: url(../Images/Icons/Black/clipboard_past_icon-16.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; }

.t3-paste-after-handle {
  top: auto;
  bottom: -31px; }

.t3-remove-from-cut-handle span,
.t3-remove-from-copy-handle span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3; }

.t3-handle span:hover, .t3-handle span:focus, .t3-handle span:active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }

.t3-handle-hidden {
  display: none !important; }

.aloha-block-active-top > .t3-handle,
.t3-aloha-block-over > .t3-handle {
  display: block;
  z-index: 10000; }
  .aloha-block-active-top > .t3-handle span,
  .t3-aloha-block-over > .t3-handle span {
    display: block;
    z-index: 10000; }

.t3-contentelement-hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

.t3-contentelement-selected .t3-aloha-block-over > .t3-handle {
  display: none; }
.t3-contentelement-selected .aloha-block-active-top > .t3-handle,
.t3-contentelement-selected .aloha-block-active-top:hover > .t3-handle {
  display: block; }

.t3-status-indicator {
  display: none; }

body.t3-inspect-active .t3-status-indicator {
  display: block;
  position: absolute;
  left: -1px;
  bottom: -17px;
  width: 50px;
  height: 16px;
  overflow: hidden;
  font-size: 9px;
  border-width: 0 1px 1px 1px;
  border-style: none solid solid solid;
  display: block;
  background: white;
  z-index: 10000;
  text-align: center;
  border-color: #373737; }
body.t3-inspect-active .aloha-block:hover > .t3-status-indicator {
  -moz-box-shadow: 0 1px 3px #909090;
  -webkit-box-shadow: 0 1px 3px #909090;
  -o-box-shadow: 0 1px 3px #909090;
  box-shadow: 0 1px 3px #909090;
  border-color: #373737; }
body.t3-inspect-active div.aloha-block > div.aloha-block-inner {
  outline: 1px solid #373737; }

div.aloha-block:hover > div.aloha-block-inner {
  outline: 1px solid #373737;
  background: #efefef; }

div.aloha-block-active > div.aloha-block-inner,
div.aloha-block-active:hover > div.aloha-block-inner {
  outline: 1px solid #373737;
  background: #e3e3e3; }

.t3-ui-controls-active #t3-ui-top {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }

.aloha-floatingmenu {
  z-index: 10000 !important; }

.aloha-floatingmenu:hover .aloha-floatingmenu-pin {
  display: none; }

.aloha-floatingmenu:hover {
  background: none; }

.aloha-floatingmenu .x-tab-strip-wrap,
.aloha-floatingmenu .x-tab-panel-header {
  cursor: default !important; }

.ui-dialog a.t3-content-new {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#cccccc, #333333);
  background-image: -moz-linear-gradient(#cccccc, #333333);
  background-image: -o-linear-gradient(#cccccc, #333333);
  background-image: -ms-linear-gradient(#cccccc, #333333);
  background-image: linear-gradient(#cccccc, #333333);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
  font-size: 22px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  width: 51px; }
  .ui-dialog a.t3-content-new:hover {
    text-decoration: none; }

.t3-ui-controls-inactive div.aloha-block:hover > .aloha-block-inner {
  cursor: default; }
.t3-ui-controls-inactive div.aloha-block-inner {
  outline: none !important;
  background: none !important; }
.t3-ui-controls-inactive .t3-handle,
.t3-ui-controls-inactive .t3-status-indicator {
  display: none !important; }
.t3-ui-controls-inactive #aloha-floatingmenu-shadow,
.t3-ui-controls-inactive .aloha-floatingmenu,
.t3-ui-controls-inactive .x-shadow {
  display: none !important; }
.t3-ui-controls-inactive button.t3-create-new-content {
  display: none; }

.typo3-previewmode-enabled {
  margin: 36px 0 0 0; }
  .typo3-previewmode-enabled #t3-footer {
    display: none; }
  .typo3-previewmode-enabled #t3-toolbar {
    top: 0px;
    right: 0px; }
  .typo3-previewmode-enabled #t3-ui-top {
    display: none; }
  .typo3-previewmode-enabled #t3-inspector {
    display: none; }

.typo3-previewmode-enabled.t3-ui-controls-active {
  margin: 36px 0 0 0; }

.ui-widget-content table.t3-content-new td {
  vertical-align: top; }
  .ui-widget-content table.t3-content-new td:first-child {
    padding-right: 10px; }
.ui-widget-content table.t3-content-new a {
  margin-left: 20px;
  display: block; }
.ui-widget-content table.t3-content-new .t3-content-new-icon {
  float: left;
  margin-left: 0; }

.three-columns {
  width: 100%;
  float: left;
  clear: both;
  height: 100%; }

.tc-1-1-1 .c-1,
.tc-1-1-1 .c-2,
.tc-1-1-1 .c-3 {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  height: 100%;
  overflow: hidden;
  background-color: #e8e8e8;
  padding: 10px 15px;
  float: left;
  width: 33%;
  float: left;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.tc-1-1-1 .c-2 {
  width: 34%;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  background-color: #e0e0e0; }

.tc-1-1-1 h2 {
  font-weight: bold;
  line-height: 30px; }

.c-1 .scroll-content {
  height: 100%;
  width: 100%; }

.t3-ui div.t3-launcher-split {
  border-top: 1px solid #CFCFCF;
  margin: 5px 0 5px 0;
  clear: both; }

.tc-1-1-1 ul.horizontal li {
  width: 80px;
  height: 65px;
  padding: 10px 0 10px 0;
  float: left;
  text-align: center;
  cursor: pointer; }
  .tc-1-1-1 ul.horizontal li .text {
    padding: 0 5px; }

.tc-1-1-1 ul.vertical {
  overflow: hidden;
  width: 100%; }

.tc-1-1-1 ul.vertical li {
  height: 30px;
  width: 50%;
  min-width: 200px;
  cursor: pointer;
  float: left;
  line-height: 30px;
  vertical-align: middle; }

.tc-1-1-1 ul.vertical.t3-launcher-panel-lastactions {
  height: 60px; }

.tc-1-1-1 ul.vertical.t3-launcher-panel-mostused {
  height: 60px; }

.tc-1-1-1 ul.vertical.t3-launcher-panel-searchitems {
  height: 180px; }

.tc-1-1-1 ul.vertical li div {
  float: left; }

.tc-1-1-1 ul.vertical li div.image {
  width: 50px; }

.tc-1-1-1 ul.vertical li div.text {
  line-height: 30px;
  vertical-align: middle; }

.t3-inspector-form .typo3-imagethumbnailcontainer {
  position: relative;
  overflow: hidden; }
  .t3-inspector-form .typo3-imagethumbnailcontainer.typo3-uploadPreview .typo3-imagethumbnail {
    display: none; }
  .t3-inspector-form .typo3-imagethumbnailcontainer .typo3-imagethumbnail {
    overflow: hidden;
    padding: 0;
    margin: auto; }
  .t3-inspector-form .typo3-imagethumbnailcontainer .typo3-imagebadge {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-align: center; }
  .t3-inspector-form .typo3-imagethumbnailcontainer .typo3-fileupload-thumbnail {
    display: none; }
  .t3-inspector-form .typo3-imagethumbnailcontainer.typo3-uploadPreview .typo3-fileupload-thumbnail {
    display: block;
    position: absolute;
    left: 0;
    top: 0; }
  .t3-inspector-form .typo3-imagethumbnailcontainer .typo3-fileupload-thumbnail-landscape {
    width: 160px; }
  .t3-inspector-form .typo3-imagethumbnailcontainer .typo3-fileupload-thumbnail-portrait {
    height: 160px; }

.t3-inspector .typo3-image-preview-thumbnail {
  max-width: 160px;
  max-height: 160px; }

.t3-inspector-form .typo3-fileupload-uploadbutton {
  display: none; }

.typo3-image.typo3-image-position-left {
  float: left; }
.typo3-image.typo3-image-position-right {
  float: right; }

.t3-htmleditor-window {
  width: 800px;
  height: 400px;
  font-size: 13px; }
  .t3-htmleditor-window .CodeMirror-scroll {
    height: 400px; }
  .t3-htmleditor-window .CodeMirror pre {
    overflow-y: hidden; }

.popover .x-tree .t3-gotoPage {
  display: none;
  position: absolute;
  right: 5px;
  width: 16px;
  height: 16px;
  background: url(../Images/Icons/Black/rnd_br_next_icon-16.png) no-repeat; }

.popover .x-tree .x-tree-node-over .t3-gotoPage {
  display: inline; }

.t3-inspector-clickprotection {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }

.notice-wrap {
  top: 90px !important;
  right: 210px !important; }

.notice-item {
  background-position: 3px 5px !important;
  background-repeat: no-repeat !important; }
  .notice-item p {
    padding-left: 17px; }
  .notice-item.typo3-notification-ok {
    background-image: url("../Icons/FugueIcons/tick.png"); }
  .notice-item.typo3-notification-info {
    background-image: url("../Icons/FugueIcons/information.png"); }
  .notice-item.typo3-notification-warning {
    background-image: url("../Icons/FugueIcons/exclamation.png"); }
  .notice-item.typo3-notification-error {
    background-image: url("../Icons/FugueIcons/exclamation-red.png"); }

.t3-handle-loading span {
  background-image: url("../Images/ajax-preloader.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.popover {
  display: none; }
  .popover.active {
    display: block; }

.scrollbar {
  position: absolute;
  content: '';
  display: block;
  border-radius: 100px;
  opacity: 0;
  z-index: 100; }

.vertical {
  width: 7px;
  right: 2px;
  top: 2px; }

.horizontal {
  height: 7px;
  bottom: 2px;
  left: 2px; }

.scrollbar_bg {
  position: absolute;
  content: '';
  display: block;
  border-radius: 100px;
  opacity: 0;
  z-index: 99; }

.scrollbar_bg.horizontal {
  width: 100%; }

.scrollbar_bg.vertical {
  height: 100%; }

.scrollbar.light {
  background: rgba(255, 255, 255, 0.5); }

.scrollbar_bg.light {
  background: rgba(255, 255, 255, 0.1); }

.scrollbar.dark {
  background: red; }

.scrollbar_bg.dark {
  background: blue; }

.nWrap {
  overflow: auto;
  display: inline-block; }

.aloha-block.aloha-block-TYPO3Block ::selection {
  background: #2F7ECC;
  color: #ffffff; }

.aloha-block.aloha-block-TYPO3Block ::-moz-selection {
  background: #2F7ECC;
  color: #ffffff; }

.aloha-block-TYPO3Block {
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-transition-property: margin-top margin-bottom;
  -webkit-transition-property: margin-top margin-bottom;
  -o-transition-property: margin-top margin-bottom;
  transition-property: margin-top margin-bottom;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.t3-ui-previewmode-activating .aloha-block-TYPO3Block {
  margin: 0; }

.t3-pageloader-wrapper {
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  z-index: 9999; }
  .t3-pageloader-wrapper .t3-pageloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px; }

.popover {
  position: absolute;
  display: none;
  opacity: 0;
  cursor: auto;
  color: black;
  background-color: white;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }

.t3-popover-fixed {
  border-style: solid;
  border-color: #373737;
  border-width: 0 3px 3px 3px; }

.popover.active {
  opacity: 1; }

.popover > .triangle {
  position: absolute;
  width: 0px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent; }

.popover > .triangle.top {
  bottom: -40px;
  border-top: 20px solid #373737; }

.popover > .triangle.bottom {
  top: -40px;
  border-bottom: 20px solid #373737; }

.popover > .triangle.left {
  right: -40px;
  border-left: 20px solid #373737; }

.popover > .triangle.right {
  left: -40px;
  border-right: 20px solid #373737; }

.popover > .header {
  margin: 0;
  padding: 3px 5px 3px 5px;
  height: auto;
  color: white;
  background-color: #373737;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.popover > .content {
  min-width: 15em;
  overflow-x: hidden;
  overflow-y: auto; }

.popover .ui-tabs {
  padding: 0; }

.popover .ui-tabs .ui-tabs-nav {
  padding: 0 0 0 3px; }

.ui-tabs .ui-tabs-nav li.ui-state-hover {
  border-top: 1px solid #ffffff; }
.ui-tabs .ui-tabs-nav li.ui-state-active {
  border-top: 1px solid #ff8700; }
