@import "t3-reset";
@import "compass";
@import "constants";

// Bootstrap Include
@import "../Library/twitter-bootstrap/scss/bootstrap.scss";

.t3-ui {
	a:link, a:visited {
		color: $lightest;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

// **** CSS start ****/
// *******************/
body.t3-ui-controls-active {
	margin-right: $property-panel-width;
	margin-bottom: $footer-height;
	margin-top: $menu-height + $launcher-height + $toolbar-height;
	margin-left: 0;
	@include transition-property(margin);
	@include transition-duration(0.3s);
}
#t3-page-metainformation {
	display: none;
}
#t3-footer,
#t3-toolbar,
#t3-inspector {
	font-family: Arial, sans-serif;
}
.t3-clear {
	clear:both;
}
#t3-ui-top {
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	background: $dark-grey;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 10015;
	.t3-button-logout {
		float: right;
		margin-right: 10px;
		line-height: $menu-height + $topbar-offset;
		height: $menu-height + $topbar-offset;
		width: 16px;
		color: $light-grey2;
		text-decoration: none;
		font-size: 10px;
		z-index: -9999px;
		background: url(../Images/Icons/White/on-off_icon-16.png) left 50% no-repeat;
		opacity: 1.0;
		@include transition-property(opacity);
		@include transition-duration(0.25s);
		&:hover,
		&:active,
		&:focus {
			opacity: 0.8;
		}
		span {
			float: left;
			text-indent: -9999px;
		}
	}
}
#t3-launcher {
	height: $launcher-height;
	overflow: hidden;
	@include transition-property(height);
	@include transition-duration(0.3s);
}
.t3-launcher {
	position: relative;
	width: 100%;
	background-color: $light-grey;
	@include transition-property(height);
	@include transition-duration(0.3s);
	div.t3-launcher-container {
		height: $launcher-height;
		display: block;
		@include box-sizing(border-box);
		input {
			border: 1px solid $light-grey3;
			-webkit-box-shadow: $light-grey4 0px 1px 6px inset;
			-moz-box-shadow: darken($light-grey2, 20%) 0px 1px 6px inset;
			box-shadow: darken($light-grey2, 20%) 0px 1px 6px inset;
			background: lighten($light-grey2, 10%) url('../Images/ContentModule/typo3-logo.png') no-repeat 8px 6px;
			color: darken($light-grey2, 10%);
			font-size: 16px;
			width: 100%;
			height: 100%;
			line-height: $launcher-height;
			padding: 3px 6px 0 32px;
			@include box-sizing(border-box);
			&:hover {
				border: 1px solid lighten($dark-grey, 20%);
				background: lighten($light-grey, 10%) url('../Images/ContentModule/typo3-logo.png') no-repeat 8px 6px;
			}
			&:focus {
				border: 1px solid $light-orange;
				background: $lightest url('../Images/Icons/Black/zoom_icon-16.png') no-repeat 8px 6px;
				outline: none;
				color: $darkest;
			}
			&:hover:focus {
				background: $lightest url('../Images/Icons/Black/zoom_icon-16.png') no-repeat 8px 6px;
			}
			&::-webkit-input-placeholder,
			&::-moz-placeholder {
				font-size: 12px;
			}
		}
		&.not-empty {
			.t3-launcher-clear {
				position: absolute;
				top: 8px;
				right: 0;
				width: 25px;
				height: 25px;
				cursor: pointer;
				background: url('../Images/ContentModule/delete.png') no-repeat;
			}
		}
	}
	.t3-launcher-panel {
		height: $launcher-height-open - $launcher-height;
	}
	h2 {
		font-size: 100%;
	}
}
ul.t3-topbar {
	height: $menu-height + $topbar-offset;
	line-height: $menu-height;
	float: left;
	margin: 0;
	padding: 0;
}
.t3-topbar li {
	float: left;
	list-style-type: none;
	height: $menu-height;
	line-height: $menu-height - 2px;
	padding-left: 20px;
	padding-right: 20px;
	color: darken($light-grey2, 20%);

	a {
		color: darken($light-grey2, 20%) !important;
		text-decoration:none !important;
	}

	margin-top: $topbar-offset + 1px;
	margin-left: 1px;
	border-top: 1px solid $dark-grey;
	@include box-sizing(border-box);
	&:first-child {
		margin-left: 4px;
	}
	&:hover,
	&:focus,
	&:active {
		background: $dark-grey3;
		border-color: $lightest;
		cursor: pointer;
	}

	&.t3-active {
		background: $dark-grey2;
		color: $lightest;
		border-top: 1px solid $light-orange;
		&:hover,
		&:focus,
		&:active {
			cursor: default;
		}
		a {
			color: $lightest !important;
		}
	}
}

/*** Inspector Panel ***/
.t3-inspector {
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	@include box-sizing(border-box);
	background: $dark-grey;
	height: 100%;
	margin-top: $menu-height + $launcher-height + $topbar-offset;
	position: fixed;
	right: 0;
	top: 0;
	width: $property-panel-width;
	z-index: 10014;
	overflow: auto;
	padding-bottom: 20px;
	border-top: 1px solid $green;
	@include transition-property(margin);
	@include transition-duration(0.3s);
}
.t3-inspector-form {
	fieldset {
		border: 0;
		margin-bottom: 10px;
		.t3-inspector-field {
			padding: 10px 10px 0 10px;
			div {
				padding-bottom: 10px;
			}
			input {
				padding: 1px 4px 1px 4px;
			}
		}
	}
	h2 {
		width: 100%;
		@include box-sizing(border-box);
		padding: 0 10px;
		height: $toolbar-height;
		line-height: $toolbar-height;
		background: $dark-grey2;
		color: $lightest;
		font-weight: normal;
		font-size: 100%;
	}
	label {
		color: $lightest;
		font-weight: normal;
	}
	input[type=text] {
		width:175px;
		display: block;
		// Highlight changed elements in the Property Panel
		&.modified {
	   		border: 1px solid $light-green;
		}
	}
	input[placeholder],
	input::-webkit-input-placeholder,
	input:-moz-placeholder {
		height: 20px;
		line-height: 20px;
	}
	select {
		width: 175px;
	}
}

/*** Toolbar ***/
#t3-toolbar {
	background: $dark-grey2;
	height: $toolbar-height;
	left: 0;
	position: fixed;
	right: $property-panel-width;
	top: $menu-height + $launcher-height + $topbar-offset;
	z-index: 10012;
	@include transition-property(top);
	@include transition-duration(0.3s);
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	ul {
		margin: 0px;
	}
}
.t3-toolbar-left {
	float: left;
	height: 100%;
	line-height: $toolbar-height;
}
.t3-toolbar-right {
	float: right;
	height: 100%;
	line-height: $toolbar-height;
	> li:last-child {
		margin-right: 10px;
	}
}
.t3-toolbar-left,
.t3-toolbar-right {
	li {
		float: left;
		padding-left: 10px;
		line-height: $toolbar-height;
		&:first-child {
			padding-left: 12px;
		}
	}
}
// Add Page Popup
.extjs-container .t3-dd-newpage {
	padding: 2px 2px 2px 25px;
	margin: 5px;
	background: lighten($light-grey, 10%) url(../Images/Icons/Black/round_plus_icon-16.png) 5px 50% no-repeat;
	border: 1px dotted $darkest;
	cursor: move;
}
.extjs-container #t3-dd-pagetree{
	height: 270px;
	padding-bottom: 7px;
	width: 250px;
	/*overflow: auto;*/
}

.extjs-container #t3-dd-pagetree span.dynatree-drop-target{
	margin: 3px 0;
	display: block;
}

.extjs-container ul.dynatree-container {
	background-color: white;
	border:none;
	height: 100%;
	margin: 0;
	padding: 3px;
	overflow: auto;
	white-space: nowrap;
}

.extjs-container .t3-dd-newpage {
	padding: 2px 2px 2px 25px;
	margin: 5px;
	background: #eee url(../Images/Icons/Black/round_plus_icon-16.png) 5px 50% no-repeat;
	border: 1px dotted #000000;
	cursor: move;
}
.extjs-container .t3-dd-deletionzone {
	padding: 2px 2px 2px 25px;
	margin: 5px;
	background: lighten($light-grey, 10%) url(../Images/Icons/Black/trash_icon-16.png) 5px 50% no-repeat;
	border: 1px dotted $darkest;
	cursor: default;
	display: none;
	&.t3-dd-deletionzone-over {
		background: darken($light-grey, 10%) url url(../Images/Icons/Black/trash_icon-16.png) 5px 50% no-repeat;
	}
	&.t3-dd-deletionzone-active {
		background: lighten($light-grey, 10%) url(../Images/ajax-preloader-dddddd.gif) 5px 50% no-repeat;
	}
}

.t3-dd-drag-ghost-pagetree {
	background: $lightest;
	padding: 2px 5px 2px 25px;
	@include border-radius(4px);
	@include single-box-shadow(rgba($darkest, 0.4), 0px, 2px, 3px);
	cursor: move;
	a {
		color: $darkest;
		text-decoration: none;
	}
}
.x-dd-drop-nodrop .t3-dd-drag-ghost-pagetree {
	background: $lightest url(../Images/Icons/Black/round_delete_icon-16.png) 5px 50% no-repeat;
}
.x-tree-drop-ok-above .t3-dd-drag-ghost-pagetree,
.x-tree-drop-ok-between .t3-dd-drag-ghost-pagetree,
.x-tree-drop-ok-append .t3-dd-drag-ghost-pagetree,
.x-tree-drop-ok-below .t3-dd-drag-ghost-pagetree {
	background: $lightest url(../Images/Icons/Black/round_checkmark_icon-16.png) 5px 50% no-repeat;
}
.x-tree-drop-delete .t3-dd-drag-ghost-pagetree {
	background: $lightest url(../Images/Icons/Black/trash_icon-16.png) 5px 50% no-repeat;
}
/* Footer Toolbar */
#t3-footer  {
	background: $dark-grey;
	bottom: 0;
	left: 0;
	position: fixed;
	height: $footer-height;
	line-height: $footer-height;
	right: $property-panel-width;
	z-index: 10012;
	@include single-box-shadow(rgba($darkest, 0.5), 0px, 0px, 5px);
	.t3-toolbar-left {
		height: $footer-height;
		line-height: $footer-height;

		.t3-inspect {
			height: 100%;
			float: left;
			background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
			z-index: 100030;
			position: relative;
		}
		button {
			float: left;
			margin: 3px 30px 0px 10px;
		}

		> li:first-child {
			padding: 0;
		}
		li {
			height: $footer-height;
			line-height: $footer-height;
		}
	}
	ul {
		margin: 0px;
	}
}

.t3-breadcrumb {
	height: $footer-height;
	line-height: $footer-height;
	float: left;

	ul {
		float: left;
		height: 100%;
	}
	li {
		padding: 0;
		color: $lightest;
		background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
		margin-left: -25px;
		position:relative;
		height: 100%;
		float: left;
		a {
			color: $lightest !important;
			padding: 0 15px 0 30px;
			width: 100%;
			height: 100%;
			display: block;
			text-decoration: none;
			@include box-sizing(border-box);
		}
		&:nth-child(10) {
			z-index: 10020;
		}
		&:nth-child(9) {
			z-index: 10021;
		}
		&:nth-child(8) {
			z-index: 10022;
		}
		&:nth-child(7) {
			z-index: 10023;
		}
		&:nth-child(6) {
			z-index: 10024;
		}
		&:nth-child(5) {
			z-index: 10025;
		}
		&:nth-child(4) {
			z-index: 10026;
		}
		&:nth-child(3) {
			z-index: 10027;
		}
		&:nth-child(2) {
			z-index: 10028;
		}
		&:first-child {
			z-index: 10029;
		}
		&:last-child {
			background: url(../Images/ContentModule/breadcrumb-arrow-orange.png) right 50% no-repeat;
		}
	}
}


button.t3-button,
.t3 a.t3-button {
	&:hover,
	&:active,
	&:focus {

	}
	&.pressed {
		@include buttonBackground(lighten($orange, 5%), $orange);
		border: 1px solid darken($orange, 5%);
		border-bottom-color: darken($orange, 10%);
		$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
		@include box-shadow($shadow);
		&:hover,
		&:focus,
		&:active {
			@include buttonBackground($orange, darken($orange,2%));
			border: 1px solid darken($orange, 10%);
			border-bottom-color: darken($orange, 20%);
		}
	}
	&[disabled] {
		opacity: 0.6;
		cursor: auto;
		color: $light-grey2;
		&:hover,
		&:focus,
		&:active {
			background: lighten($light-grey, 10%);
			color: $light-grey2;
		}
	}
}
.t3 a.t3-button {
	display: inline-block;
}
.t3-handle {
	position: absolute;
	right: -1px;
	top: -21px;
	width: 22px;
	height: 20px;
	overflow: hidden;
	font-size: 9px;
	display: none;
	border-width: 1px 1px 0 1px;
	border-style: solid solid none solid;
	border-color: $dark-grey3;
	text-indent: -9999px;
	cursor: pointer;
	background: $lightest;
	span {
		width: 100%;
		height: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: $lightest;
		overflow: hidden;
		@include opacity(1.0);
		@include transition-property(opacity);
		@include transition-duration(0.25s);
	}
}
.t3-add-above-handle,
.t3-add-below-handle {
	right: 49%;
	border-width: 0;
	border-style: none;
	top: -31px;
	padding: 6px;
	background: transparent;
	span {
		background-color: $lightest;
		background-image: url(../Images/Icons/Black/plus.png);
	}
}
.t3-add-below-handle {
	top: auto;
	bottom: -31px;
}
.t3-delete-handle {
	right: -1px;
	top: -21px;
	span {
		background-image: url(../Images/Icons/Black/trash_icon-16.png);
	}
}
.t3-copy-handle,
.t3-remove-from-copy-handle {
	right: 43px;
	span {
		background-image: url(../Images/Icons/Black/clipboard_copy_icon-16.png);
	}
}
.t3-cut-handle,
.t3-remove-from-cut-handle {
	right: 21px;
	span {
		background-image: url(../Images/Icons/Black/clipboard_cut_icon-16.png);
	}
}
.t3-paste-before-handle,
.t3-paste-after-handle {
	right: 49%;
	top: -31px;
	border-width: 0;
	border-style: none;
	padding: 6px;
	background: transparent;
	span {
		background: $lightest;
		background-image: url(../Images/Icons/Black/clipboard_past_icon-16.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}
.t3-paste-after-handle {
	top: auto;
	bottom: -31px;
}
.t3-remove-from-cut-handle span,
.t3-remove-from-copy-handle span {
	@include opacity(0.3);
}
.t3-handle span {
	&:hover,
	&:focus,
	&:active {
		@include opacity(0.7);
	}
}
.t3-handle-hidden {
	display: none !important;
}
// Aloha Blocks
.aloha-block-active-top > .t3-handle,
.t3-aloha-block-over > .t3-handle {
	display:block;
	z-index: 10000;
	span {
		display:block;
		z-index: 10000;
	}
}
.t3-contentelement-hidden {
	@include opacity(0.2);
}
.t3-contentelement-selected {
	.t3-aloha-block-over > .t3-handle {
		display: none;
	}
	.aloha-block-active-top > .t3-handle,
	.aloha-block-active-top:hover > .t3-handle {
		display: block;
	}
}

// Hide content element status indicators by default
.t3-status-indicator {
	display: none;
}

body.t3-inspect-active {

	// Show status indicator when in inspect mode
	.t3-status-indicator {
		display: block;
		position: absolute;
		left: -1px;
		bottom: -17px;
		width: 50px;
		height: 16px;
		overflow: hidden;
		font-size: 9px;
		border-width: 0 1px 1px 1px;
		border-style: none solid solid solid;
		display:block;
		background: white;
		z-index: 10000;
		text-align:center;
		border-color: $dark-grey3;
	}

	.aloha-block:hover > .t3-status-indicator {
		@include single-box-shadow($light-grey3, 0, 1px, 3px);
		border-color: $dark-grey3;
	}

	div.aloha-block > div.aloha-block-inner {
		outline: 1px solid $dark-grey3;
	}
}

div.aloha-block:hover > div.aloha-block-inner {
	outline: 1px solid $dark-grey3;
	background: lighten($light-grey, 20%);
}
div.aloha-block-active > div.aloha-block-inner,
div.aloha-block-active:hover > div.aloha-block-inner {
	outline: 1px solid $dark-grey3;
	background: lighten($light-grey, 10%);
}

.t3-ui-controls-active #t3-ui-top {
	@include single-box-shadow(transparent, 0, 0, 0);
}

// Reset Z-Index so that the Floating Menu does not overlap the UI elements.
.aloha-floatingmenu {
	z-index:10000 !important;
}

// Quick fix to remove floating menu & pin - here since Aloha.css isn't included anymore
.aloha-floatingmenu:hover .aloha-floatingmenu-pin {
	display: none;
}
.aloha-floatingmenu:hover {
	background: none;
}
.aloha-floatingmenu .x-tab-strip-wrap,
.aloha-floatingmenu .x-tab-panel-header {
	cursor: default !important;
}

.ui-dialog a.t3-content-new {
	@include background-image(linear-gradient($light-grey2, lighten($dark-grey, 5%)));
	@include border-radius(3px);
    display: block;
    font-size: 22px;
    height: 35px;
    padding-top: 10px;
    text-align: center;
    width: 51px;
	&:hover {
		text-decoration:none;
	}
}

// Revert modifications to the content area where it is possible
.t3-ui-controls-inactive {
	// Aloha Block highlighting
	div.aloha-block:hover > .aloha-block-inner {
		cursor: default;
	}
	div.aloha-block-inner {
		outline:none !important;
		background:none !important;
	}
	// Handles around Aloha Blocks
	.t3-handle,
	.t3-status-indicator {
		display: none !important;
	}
	// Aloha Floating Menu
	#aloha-floatingmenu-shadow,
	.aloha-floatingmenu,
	.x-shadow {
		display:none !important;
	}
	button.t3-create-new-content {
		display:none;
	}
}

// Re-enable previewmode on reload
.typo3-previewmode-enabled {
	margin: $toolbar-height 0 0 0;
	#t3-footer {
		display: none;
	}
	#t3-toolbar {
		top: 0px;
		right: 0px;
	}
	#t3-ui-top {
		display: none;
	}
	#t3-inspector {
		display: none;
	}
}
.typo3-previewmode-enabled.t3-ui-controls-active {
	margin: $toolbar-height 0px 0px 0px;
}

// New Content Flyout - start
.ui-widget-content table.t3-content-new {
	td {
		vertical-align: top;
		&:first-child {
			padding-right: 10px;
		}
	}
	a {
		margin-left: 20px;
		display: block;
	}
	.t3-content-new-icon {
		float: left;
		margin-left: 0px;
	}
}
// New Content Flyout - end


@import "style-launchbar";
@import "content-properties";
@import "style-workInProgress";
@import "js-ui";
@import "management-base";
