.t3-ui div, .t3-ui dl, .t3-ui dt, .t3-ui dd, .t3-ui ul, .t3-ui ol, .t3-ui li, .t3-ui h1, .t3-ui h2, .t3-ui h3, .t3-ui h4, .t3-ui h5, .t3-ui h6, .t3-ui pre, .t3-ui form, .t3-ui fieldset, .t3-ui input, .t3-ui p, .t3-ui blockquote, .t3-ui th, .t3-ui td {
  margin: 0;
  padding: 0; }
.t3-ui img {
  border: 0; }
.t3-ui address, .t3-ui caption, .t3-ui cite, .t3-ui code, .t3-ui dfn, .t3-ui em, .t3-ui strong, .t3-ui th, .t3-ui var {
  font-style: normal;
  font-weight: normal; }
.t3-ui ol, .t3-ui ul, .t3-ui ol li, .t3-ui ul li {
  list-style: none; }
.t3-ui caption, .t3-ui th {
  text-align: left; }
.t3-ui h1, .t3-ui h2, .t3-ui h3, .t3-ui h4, .t3-ui h5, .t3-ui h6 {
  font-size: 100%; }
.t3-ui q:before,
.t3-ui q:after {
  content: ''; }

/**** CSS start ****/
/*******************/
body.t3-ui-controls-active {
  margin-right: 200px;
  margin-bottom: 30px;
  margin-top: 80px;
  margin-left: 0; }

#t3-footer,
#t3-toolbar,
#t3-inspector {
  font-family: Arial, sans-serif; }

.t3-clear {
  clear: both; }

#t3-ui-top {
  -moz-box-shadow: 0px 1px 3px black;
  -webkit-box-shadow: 0px 1px 3px black;
  -o-box-shadow: 0px 1px 3px black;
  box-shadow: 0px 1px 3px black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #2d2d2d));
  background-image: -webkit-linear-gradient(#444444, #2d2d2d);
  background-image: -moz-linear-gradient(#444444, #2d2d2d);
  background-image: -o-linear-gradient(#444444, #2d2d2d);
  background-image: -ms-linear-gradient(#444444, #2d2d2d);
  background-image: linear-gradient(#444444, #2d2d2d);
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 10015; }
  #t3-ui-top .t3-button-logout {
    position: absolute;
    right: 10px;
    line-height: 25px;
    top: -2px;
    color: #cccccc;
    text-decoration: underline;
    font-size: 10px; }
    #t3-ui-top .t3-button-logout:hover, #t3-ui-top .t3-button-logout:active, #t3-ui-top .t3-button-logout:focus {
      text-decoration: none; }

.t3-launcher {
  position: relative;
  width: 100%;
  height: 25px; }
  .t3-launcher div.t3-launcher-container {
    height: 25px;
    border: 0;
    position: absolute;
    display: block;
    left: 0;
    right: 35px; }
    .t3-launcher div.t3-launcher-container input {
      border: 0;
      background: transparent;
      font-size: 16px;
      width: 100%;
      height: 100%;
      line-height: 25px;
      padding: 0 6px;
      background-color: #F7EEE1;
      -moz-box-shadow: inset 0 0 3px 0 #222222;
      -webkit-box-shadow: inset 0 0 3px 0 #222222;
      -o-box-shadow: inset 0 0 3px 0 #222222;
      box-shadow: inset 0 0 3px 0 #222222;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
      .t3-launcher div.t3-launcher-container input.t3-example-text {
        color: #aaa; }
      .t3-launcher div.t3-launcher-container input:focus {
        -moz-transition-property: background;
        -webkit-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        background: #fff; }
  .t3-launcher .t3-launcher-logo {
    position: absolute;
    top: 0;
    right: 5px;
    width: 25px;
    height: 25px;
    background: url("../Images/ContentModule/typo3-logo.png") no-repeat; }
  .t3-launcher .t3-launcher-panel {
    position: absolute;
    height: 200px;
    left: 10px;
    top: 25px;
    right: 230px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fce4c4));
    background-image: -webkit-linear-gradient(#ffffff, #fce4c4);
    background-image: -moz-linear-gradient(#ffffff, #fce4c4);
    background-image: -o-linear-gradient(#ffffff, #fce4c4);
    background-image: -ms-linear-gradient(#ffffff, #fce4c4);
    background-image: linear-gradient(#ffffff, #fce4c4);
    padding: 15px;
    opacity: 0.9; }

ul.t3-topbar {
  line-height: 25px;
  float: left;
  margin: 0;
  padding: 0; }

.t3-topbar li {
  float: left;
  list-style-type: none;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  text-shadow: black 0 -1px 0; }

.t3-topbar li.t3-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#aaaaaa, #555555);
  background-image: -moz-linear-gradient(#aaaaaa, #555555);
  background-image: -o-linear-gradient(#aaaaaa, #555555);
  background-image: -ms-linear-gradient(#aaaaaa, #555555);
  background-image: linear-gradient(#aaaaaa, #555555);
  text-shadow: #444444 1px 1px 0;
  -moz-box-shadow: #222222 1px -4px 3px, #222222 -1px -4px 3px;
  -webkit-box-shadow: #222222 1px -4px 3px, #222222 -1px -4px 3px;
  -o-box-shadow: #222222 1px -4px 3px, #222222 -1px -4px 3px;
  box-shadow: #222222 1px -4px 3px, #222222 -1px -4px 3px; }

/*** Inspector Panel ***/
.t3-inspector {
  -moz-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#2d2d2d, #111111);
  background-image: -moz-linear-gradient(#2d2d2d, #111111);
  background-image: -o-linear-gradient(#2d2d2d, #111111);
  background-image: -ms-linear-gradient(#2d2d2d, #111111);
  background-image: linear-gradient(#2d2d2d, #111111);
  height: 100%;
  margin-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  z-index: 10014; }

.t3-inspector-form fieldset {
  border: 0;
  margin-bottom: 10px; }
  .t3-inspector-form fieldset .t3-inspector-field {
    padding: 10px 10px 0 10px; }
    .t3-inspector-form fieldset .t3-inspector-field div {
      padding-bottom: 10px; }
.t3-inspector-form h2 {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #373737));
  background-image: -webkit-linear-gradient(#555555, #373737);
  background-image: -moz-linear-gradient(#555555, #373737);
  background-image: -o-linear-gradient(#555555, #373737);
  background-image: -ms-linear-gradient(#555555, #373737);
  background-image: linear-gradient(#555555, #373737);
  color: #ffffff;
  font-weight: normal; }
.t3-inspector-form label {
  color: #ffffff;
  font-weight: normal; }
.t3-inspector-form input[type=text] {
  width: 175px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #000000;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset;
  background: #cacaca;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px; }
  .t3-inspector-form input[type=text]:focus {
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset;
    -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, black 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 1px 3px 0 inset, rgba(255, 135, 0, 0.6) 0 -1px 2px 0 inset, rgba(255, 135, 0, 0.6) 1px 0 2px 0 inset, rgba(255, 135, 0, 0.6) -1px 0px 2px 0 inset; }
  .t3-inspector-form input[type=text].modified {
    border: 1px solid #54974a; }

/*** Toolbar ***/
#t3-toolbar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #373737));
  background-image: -webkit-linear-gradient(#666666, #373737);
  background-image: -moz-linear-gradient(#666666, #373737);
  background-image: -o-linear-gradient(#666666, #373737);
  background-image: -ms-linear-gradient(#666666, #373737);
  background-image: linear-gradient(#666666, #373737);
  height: 30px;
  left: 0;
  position: fixed;
  right: 200px;
  top: 50px;
  z-index: 10012; }

.t3-toolbar-left {
  float: left;
  height: 100%;
  line-height: 30px; }

.t3-toolbar-right {
  float: right;
  height: 100%;
  line-height: 30px; }
  .t3-toolbar-right > li:last-child {
    margin-right: 10px; }

.t3-toolbar-left li,
.t3-toolbar-right li {
  float: left;
  padding-left: 10px; }
  .t3-toolbar-left li:first-child,
  .t3-toolbar-right li:first-child {
    padding-left: 12px; }

#t3-footer .t3-toolbar-left .t3-breadcrumb {
  height: 30px;
  float: left; }
#t3-footer .t3-toolbar-left .t3-inspect {
  height: 100%;
  float: left;
  background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
  z-index: 100030;
  position: relative; }
#t3-footer .t3-toolbar-left button {
  float: left;
  margin: 5px 30px 0px 10px; }
#t3-footer .t3-toolbar-left > li:first-child {
  padding: 0; }
#t3-footer .t3-toolbar-left ul {
  float: left; }
#t3-footer .t3-toolbar-left ul li {
  padding: 0 15px 0 30px;
  color: #ffffff;
  background: url(../Images/ContentModule/breadcrumb-arrow-grey.png) right 50% no-repeat;
  margin-left: -25px;
  position: relative;
  float: left; }
  #t3-footer .t3-toolbar-left ul li a {
    color: #ffffff; }
  #t3-footer .t3-toolbar-left ul li:nth-child(10) {
    z-index: 10020; }
  #t3-footer .t3-toolbar-left ul li:nth-child(9) {
    z-index: 10021; }
  #t3-footer .t3-toolbar-left ul li:nth-child(8) {
    z-index: 10022; }
  #t3-footer .t3-toolbar-left ul li:nth-child(7) {
    z-index: 10023; }
  #t3-footer .t3-toolbar-left ul li:nth-child(6) {
    z-index: 10024; }
  #t3-footer .t3-toolbar-left ul li:nth-child(5) {
    z-index: 10025; }
  #t3-footer .t3-toolbar-left ul li:nth-child(4) {
    z-index: 10026; }
  #t3-footer .t3-toolbar-left ul li:nth-child(3) {
    z-index: 10027; }
  #t3-footer .t3-toolbar-left ul li:nth-child(2) {
    z-index: 10028; }
  #t3-footer .t3-toolbar-left ul li:first-child {
    z-index: 10029; }
  #t3-footer .t3-toolbar-left ul li:last-child {
    background: url(../Images/ContentModule/breadcrumb-arrow-orange.png) right 50% no-repeat; }

button.t3-button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #555555));
  background-image: -webkit-linear-gradient(#999999, #555555);
  background-image: -moz-linear-gradient(#999999, #555555);
  background-image: -o-linear-gradient(#999999, #555555);
  background-image: -ms-linear-gradient(#999999, #555555);
  background-image: linear-gradient(#999999, #555555);
  border: 1px solid #272727;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #e4e4e4;
  padding: 0 4px 1px 4px;
  height: 20px;
  text-shadow: #444444 0 -1px 0;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  cursor: pointer; }
  button.t3-button:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #666666));
    background-image: -webkit-linear-gradient(#aaaaaa, #666666);
    background-image: -moz-linear-gradient(#aaaaaa, #666666);
    background-image: -o-linear-gradient(#aaaaaa, #666666);
    background-image: -ms-linear-gradient(#aaaaaa, #666666);
    background-image: linear-gradient(#aaaaaa, #666666); }
  button.t3-button:focus, button.t3-button:active {
    background: -moz-linear-gradient(top, #cccccc 0%, #666666 70%, #888888 100%);
    -moz-box-shadow: inset 0 4px 3px 0 #666666;
    -webkit-box-shadow: inset 0 4px 3px 0 #666666;
    -o-box-shadow: inset 0 4px 3px 0 #666666;
    box-shadow: inset 0 4px 3px 0 #666666; }
  button.t3-button.pressed {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f18f0b), color-stop(100%, #7c4700));
    background-image: -webkit-linear-gradient(#f18f0b, #7c4700);
    background-image: -moz-linear-gradient(#f18f0b, #7c4700);
    background-image: -o-linear-gradient(#f18f0b, #7c4700);
    background-image: -ms-linear-gradient(#f18f0b, #7c4700);
    background-image: linear-gradient(#f18f0b, #7c4700); }
    button.t3-button.pressed:hover {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f69a1e), color-stop(100%, #925502));
      background-image: -webkit-linear-gradient(#f69a1e, #925502);
      background-image: -moz-linear-gradient(#f69a1e, #925502);
      background-image: -o-linear-gradient(#f69a1e, #925502);
      background-image: -ms-linear-gradient(#f69a1e, #925502);
      background-image: linear-gradient(#f69a1e, #925502); }
    button.t3-button.pressed:focus, button.t3-button.pressed:active {
      background: -moz-linear-gradient(top, #f69a1e 0%, #925502 70%, #a66003 100%);
      -moz-box-shadow: inset 0 4px 3px 0 #925502;
      -webkit-box-shadow: inset 0 4px 3px 0 #925502;
      -o-box-shadow: inset 0 4px 3px 0 #925502;
      box-shadow: inset 0 4px 3px 0 #925502; }
  button.t3-button[disabled] {
    opacity: 0.6;
    cursor: auto;
    color: #bbbbbb; }
    button.t3-button[disabled]:hover, button.t3-button[disabled]:active, button.t3-button[disabled]:focus {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #555555));
      background-image: -webkit-linear-gradient(#999999, #555555);
      background-image: -moz-linear-gradient(#999999, #555555);
      background-image: -o-linear-gradient(#999999, #555555);
      background-image: -ms-linear-gradient(#999999, #555555);
      background-image: linear-gradient(#999999, #555555);
      -moz-box-shadow: 0 0 0 transparent;
      -webkit-box-shadow: 0 0 0 transparent;
      -o-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent; }

#t3-footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2d2d2d), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(#2d2d2d, #111111);
  background-image: -moz-linear-gradient(#2d2d2d, #111111);
  background-image: -o-linear-gradient(#2d2d2d, #111111);
  background-image: -ms-linear-gradient(#2d2d2d, #111111);
  background-image: linear-gradient(#2d2d2d, #111111);
  bottom: 0;
  left: 0;
  position: fixed;
  height: 30px;
  right: 200px;
  z-index: 10012;
  -moz-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.4); }

.t3-delete-handle,
.t3-add-below-handle,
.t3-add-above-handle {
  position: absolute;
  right: -1px;
  top: -17px;
  width: 20px;
  height: 16px;
  overflow: hidden;
  font-size: 9px;
  display: none;
  background-image: url(../Images/ContentModule/plus.png);
  background-image: url(../Images/ContentModule/plus.png), -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: url(../Images/ContentModule/plus.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #bbbbbb));
  background-image: url(../Images/ContentModule/plus.png), -webkit-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: url(../Images/ContentModule/plus.png), -webkit-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: url(../Images/ContentModule/plus.png), linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, repeat;
  background-color: transparent;
  border-width: 1px 1px 0 1px;
  border-style: solid solid none solid;
  border-color: #909090;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  text-indent: -9999px;
  -moz-box-shadow: 0 -1px 4px #909090;
  -webkit-box-shadow: 0 -1px 4px #909090;
  -o-box-shadow: 0 -1px 4px #909090;
  box-shadow: 0 -1px 4px #909090;
  cursor: pointer; }
  .t3-delete-handle:hover,
  .t3-add-below-handle:hover,
  .t3-add-above-handle:hover {
    -moz-box-shadow: 0px -1px 4px #aaaaaa;
    -webkit-box-shadow: 0px -1px 4px #aaaaaa;
    -o-box-shadow: 0px -1px 4px #aaaaaa;
    box-shadow: 0px -1px 4px #aaaaaa; }

.t3-add-below-handle {
  top: auto;
  bottom: -17px;
  border-width: 0 1px 1px 1px;
  border-style: none solid solid solid;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 1px 3px #909090;
  -webkit-box-shadow: 0 1px 3px #909090;
  -o-box-shadow: 0 1px 3px #909090;
  box-shadow: 0 1px 3px #909090; }

.t3-delete-handle {
  right: 25px;
  background-image: url(../Images/ContentModule/delete.png);
  background-image: url(../Images/ContentModule/delete.png), -moz-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: url(../Images/ContentModule/delete.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #bbbbbb));
  background-image: url(../Images/ContentModule/delete.png), -webkit-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: url(../Images/ContentModule/delete.png), -webkit-linear-gradient(top, #eeeeee 0%, #bbbbbb 100%);
  background-image: url(../Images/ContentModule/delete.png), linear-gradient(top, #eeeeee 0%, #bbbbbb 100%); }

.aloha-block-active > .t3-delete-handle,
.aloha-block:hover > .t3-delete-handle,
.aloha-block:hover > .t3-add-above-handle,
.aloha-block-active > .t3-add-above-handle,
.aloha-block:hover > .t3-add-below-handle,
.aloha-block-active > .t3-add-below-handle {
  display: block;
  z-index: 10000; }

.t3-contentelement-hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

.t3-contentelement-selected .aloha-block:hover > .t3-delete-handle,
.t3-contentelement-selected .aloha-block:hover > .t3-add-above-handle,
.t3-contentelement-selected .aloha-block:hover > .t3-add-below-handle {
  display: none; }
.t3-contentelement-selected .aloha-block-active > .t3-delete-handle,
.t3-contentelement-selected .aloha-block-active > .t3-add-above-handle,
.t3-contentelement-selected .aloha-block-active > .t3-add-below-handle,
.t3-contentelement-selected .aloha-block-active:hover > .t3-delete-handle,
.t3-contentelement-selected .aloha-block-active:hover > .t3-add-above-handle,
.t3-contentelement-selected .aloha-block-active:hover > .t3-add-below-handle {
  display: block; }

.t3-status-indicator {
  display: none; }

body.t3-inspect-active .t3-status-indicator {
  display: block;
  position: absolute;
  left: -1px;
  bottom: -17px;
  width: 50px;
  height: 16px;
  overflow: hidden;
  font-size: 9px;
  border-width: 0 1px 1px 1px;
  border-style: none solid solid solid;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  background: white;
  z-index: 10000;
  text-align: center;
  border-color: #CCC;
  -moz-box-shadow: 0 1px 3px #cccccc;
  -webkit-box-shadow: 0 1px 3px #cccccc;
  -o-box-shadow: 0 1px 3px #cccccc;
  box-shadow: 0 1px 3px #cccccc; }
body.t3-inspect-active .aloha-block:hover > .t3-status-indicator {
  -moz-box-shadow: 0 1px 3px #909090;
  -webkit-box-shadow: 0 1px 3px #909090;
  -o-box-shadow: 0 1px 3px #909090;
  box-shadow: 0 1px 3px #909090;
  border-color: #999; }
body.t3-inspect-active div.aloha-block > div.aloha-block-inner {
  outline: 1px solid #cccccc; }

div.aloha-block:hover > div.aloha-block-inner {
  outline: 1px solid #909090; }

.t3-ui-controls-active #t3-ui-top {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  -o-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent; }

.aloha-floatingmenu {
  z-index: 10000 !important; }

.ui-dialog a.t3-content-new {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#cccccc, #333333);
  background-image: -moz-linear-gradient(#cccccc, #333333);
  background-image: -o-linear-gradient(#cccccc, #333333);
  background-image: -ms-linear-gradient(#cccccc, #333333);
  background-image: linear-gradient(#cccccc, #333333);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: block;
  font-size: 22px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  width: 51px; }
  .ui-dialog a.t3-content-new:hover {
    text-decoration: none; }

.t3-ui-controls-inactive div.aloha-block:hover > .aloha-block-inner {
  cursor: default; }
.t3-ui-controls-inactive div.aloha-block-inner {
  outline: none !important;
  background: none !important; }
.t3-ui-controls-inactive .t3-delete-handle,
.t3-ui-controls-inactive .t3-add-below-handle,
.t3-ui-controls-inactive .t3-add-above-handle,
.t3-ui-controls-inactive .t3-status-indicator {
  display: none !important; }
.t3-ui-controls-inactive #aloha-floatingmenu-shadow,
.t3-ui-controls-inactive .aloha-floatingmenu,
.t3-ui-controls-inactive .x-shadow {
  display: none !important; }
.t3-ui-controls-inactive button.t3-create-new-content {
  display: none; }

.typo3-previewmode-enabled {
  margin: 30px 0 0 0; }
  .typo3-previewmode-enabled #t3-footer {
    display: none; }
  .typo3-previewmode-enabled #t3-toolbar {
    top: 0px;
    right: 0px; }
  .typo3-previewmode-enabled #t3-ui-top {
    display: none; }
  .typo3-previewmode-enabled #t3-inspector {
    display: none; }

.typo3-previewmode-enabled.t3-ui-controls-active {
  margin: 30px 0 0 0; }

.three-columns {
  width: 100%;
  float: left;
  clear: both; }

.tc-1-1-1 .c-1,
.tc-1-1-1 .c-2,
.tc-1-1-1 .c-3 {
  float: left;
  width: 33%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.tc-1-1-1 .c-3 {
  float: right; }

.popover .x-tree .t3-gotoPage {
  display: none;
  position: absolute;
  right: 5px;
  width: 16px;
  height: 16px;
  background: url(../Images/ContentModule/arrow-bubble.png) no-repeat; }

.popover .x-tree .x-tree-node-over .t3-gotoPage {
  display: inline; }

.popover {
  position: fixed !important; }

.t3-dd-drag-ghost-pagetree {
  background: white; }

button.t3-create-new-content {
  padding: 5px; }

.t3-inspector-clickprotection {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px; }
