# Behat distribution configuration
#
# Override with behat.yml for local configuration.
#
default:
  autoload:
    '': "%paths.base%/Features/Bootstrap"
  suites:
    cr:
      paths:
        - "%paths.base%/Features/Basic"
        - "%paths.base%/Features/Bootstrap"
        - "%paths.base%/Features/Constraints"
        - "%paths.base%/Features/Crazy"
        - "%paths.base%/Features/Localization"
        - "%paths.base%/Features/Security"
        - "%paths.base%/Features/Workspace"
      contexts:
        - FeatureContext

  extensions:
    Behat\MinkExtension:
      files_path: Features/Resources
      show_cmd: 'open %s'
      goutte: ~
      selenium2: ~

      # Project base URL
      #
      # Use BEHAT_PARAMS="extensions[Behat\MinkExtension\Extension][base_url]=http://neos.local/" for configuration during
      # runtime.
      #
      # base_url: http://localhost/
