//
// Layouts
// --------------------------------------------------

// Container (centered, fixed-width layouts)
.neos-container {
  @include container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.neos-container-fluid {
  padding-right: $gridGutterWidth;
  padding-left: $gridGutterWidth;
  @include clearfix();
}
