//
// Responsive: Utility classes
// --------------------------------------------------


// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.neos-hidden {
  display: none;
  visibility: hidden;
}

// Visibility utilities

// For desktops
.neos-visible-phone     { display: none !important; }
.neos-visible-tablet    { display: none !important; }
.neos-hidden-phone      { }
.neos-hidden-tablet     { }
.neos-hidden-desktop    { display: none !important; }
.neos-visible-desktop   { display: inherit !important; }

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Hide everything else
  .neos-hidden-desktop    { display: inherit !important; }
  .neos-visible-desktop   { display: none !important ; }
  // Show
  .neos-visible-tablet    { display: inherit !important; }
  // Hide
  .neos-hidden-tablet     { display: none !important; }
}

// Phones only
@media (max-width: 767px) {
  // Hide everything else
  .neos-hidden-desktop    { display: inherit !important; }
  .neos-visible-desktop   { display: none !important; }
  // Show
  .neos-visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .neos-hidden-phone      { display: none !important; }
}

// Print utilities
.neos-visible-print    { display: none !important; }
.neos-hidden-print     { }

@media print {
  .neos-visible-print  { display: inherit !important; }
  .neos-hidden-print   { display: none !important; }
}

// Clearing floats
.neos-clearfix {
  @include clearfix();
}

// Accessible yet invisible text
.neos-hide-text {
  @include hide-text();
}

// Uses box-sizing mixin, so must be defined here
.neos-input-block-level {
  @include input-block-level();
}
