# Behat distribution configuration
#
# Override with behat.yml for local configuration.
#

default:
  autoload:
    '': "%paths.base%/Features/Bootstrap"
  suites:
    content:
        paths:
          - "%paths.base%/Features/Administration"
          - "%paths.base%/Features/Bootstrap"
          - "%paths.base%/Features/Content"
          - "%paths.base%/Features/EventLog"
          - "%paths.base%/Features/Security"
          - "%paths.base%/Features"
        contexts:
            - FeatureContext

      # Project base URL
      #
      # Use BEHAT_PARAMS="extensions[Behat\MinkExtension\Extension][base_url]=http://neos.local/" for configuration during
      # runtime.
      #
      # base_url: http://localhost/

      # Saucelabs configuration
      #
      # Use this configuration, if you want to use saucelabs for your @javascript-tests
      #
      #javascript_session: saucelabs
      #saucelabs:
        #username: <username>
        #access_key: <access_key>

# Import a bunch of browser configurations for saucelab tests
#
#imports:
  #- saucelabsBrowsers.yml
