language: php
matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: DB=mysql
    - php: 7.0
      env: DB=pgsql
      addons:
        postgresql: "9.4"
    - php: 7.0
      env: DB=pgsql
      sudo: true
      dist: trusty
      addons:
        postgresql: "9.5"
    - php: 7.0
      env: DB=mysql BEHAT=true
    - php: 7.0
      env: DB=pgsql BEHAT=true
      addons:
        postgresql: "9.4"
    - php: 7.0
      env: DB=pgsql BEHAT=true
      sudo: true
      dist: trusty
      addons:
        postgresql: "9.5"
    - php: 7.1
      env: DB=mysql
    - php: 7.1
      env: DB=mysql BEHAT=true
cache:
  directories:
    - $HOME/.composer/cache
before_install:
  - phpenv config-rm xdebug.ini
  - export NEOS_TARGET_REPOSITORY=neos/neos-development-collection
  - export NEOS_TARGET_VERSION=master
  - env
  - sudo add-apt-repository ppa:git-core/ppa -y
  - sudo apt-get update
  - sudo apt-get install git -y
  - git checkout -b travis
  - cd ..
  - git clone https://github.com/neos/neos-development-distribution.git -b ${NEOS_TARGET_VERSION}
  - cd neos-development-distribution
install:
  - composer self-update -q
  - if [ -n "$GH_TOKEN" ]; then composer config github-oauth.github.com ${GH_TOKEN}; fi;
  - composer update --no-progress --no-interaction
  - php Build/BuildEssentials/TravisCi/ComposerManifestUpdater.php .
  - composer update --no-progress --no-interaction
before_script:
  - echo 'date.timezone = "Africa/Tunis"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'opcache.fast_shutdown = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'opcache.enable_cli = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'zend.enable_gc = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'report_zend_debug = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - echo 'report_memleaks = 0' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - cp Configuration/Settings.yaml.example Configuration/Settings.yaml
  - Build/BuildEssentials/TravisCi/SetupDatabase.sh
  - cp Configuration/Settings.yaml Configuration/Testing/
  - if [ "$BEHAT" = "true" ]; then composer install -d Build/Behat; fi
script:
  - if [ "$BEHAT" != "true" ]; then bin/phpunit --colors -c Build/BuildEssentials/PhpUnit/UnitTests.xml; fi
  - if [ "$BEHAT" != "true" ]; then bin/phpunit --colors --stop-on-failure -c Build/BuildEssentials/PhpUnit/FunctionalTests.xml --testsuite "Neos tests"; fi
  - if [ "$BEHAT" = "true" ]; then bin/behat --ansi --stop-on-failure -f progress -c Packages/Neos/Neos.Neos/Tests/Behavior/behat.yml.dist --tags ~@browser; fi
  - if [ "$BEHAT" = "true" ]; then bin/behat --ansi --stop-on-failure -f progress -c Packages/Neos/Neos.ContentRepository/Tests/Behavior/behat.yml.dist; fi
notifications:
  email: false
  slack:
    rooms:
      secure: SQCIQBP9+y1naRD+L6yHKBeB8V5jULF8jnwSKv2XcolMBIPu1UGTJYQPnQ33K0EB7MucE2FegKslJDjk0tsYQ85cKLOoyCGUGWm+L/gkiMuMF5g0hgQx6M1EFfxoCitsu4VjGJ9O9NFQ8qQVhR5q8LU164M6sIjqKMd4nAY8lT9jfClVpMzz5zqvEZ4akRJjeZsJiUUXwmZCqp7ksXX5+MTu+MW9FiKLt7LyHtZU4ork1czAr2kkYd98uknwHgXX7fVQcUTOwdbNDkRgRMu4fmaS2jkOkV2Hu+lYAFF0m84aT2EhR3QSd4doVU8KEXDYFt6A8NeQi/7/i20vJuwZzFkV89HOFEHIxJWb74P3sbDbmqNDe8AIIPYA9d9u2Zp+H+Nvmj//iZHqXKcpEUtN+mZKK8338x5NwBPH+ppG424qI3Y9+9OVL0U+YEYjMrYbim0lmkqt9NM0aC2MSOwHl7OQYfNXQha5DToPpx+XdVCPlD8EDCn0gzAv1M6KCi18fUIA17HyiLjT3fYZYUME6v6jadKtlQsP6LvHPa56T4wqk48ras6TGbzAg2RRd2Sr810d9jCqAqE5O6WOM06LSnOozl9zQvXlBw1mzJAPve/XtvzTqibw7Ik00LIuiIZ05PvWtVEUWBFHzM5tpp9X+hviHMRwAGp1wC69jx99dhA=
    on_success: change
    on_failure: change
    on_start: never
    on_pull_requests: false
