<?xml version="1.0" ?>
<ruleset name="PSR12">
    <description>The PSR12 coding standard – without line length limitation</description>

    <file>./Neos.ContentGraph.DoctrineDbalAdapter/src</file>
    <file>./Neos.ContentGraph.PostgreSQLAdapter/src</file>
    <file>./Neos.ContentRepository.BehavioralTests/Classes</file>
    <file>./Neos.ContentRepository.TestSuite/Classes</file>
    <file>./Neos.ContentRepository.Core/Classes</file>
    <file>./Neos.Neos/Classes</file>

    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength.TooLong" />
    </rule>
</ruleset>
