includes:
	- phpstan-baseline.neon
	- phpstan-neos-fusion-baseline.neon

parameters:
    level: 8
    paths:
        - Neos.ContentGraph.DoctrineDbalAdapter/src
        - Neos.ContentGraph.PostgreSQLAdapter/src
        - Neos.ContentRepository.BehavioralTests/Classes
        - Neos.ContentRepository.Core/Classes
        - Neos.ContentRepository.Export/src
        - Neos.ContentRepository.LegacyNodeMigration/Classes
        - Neos.ContentRepository.NodeAccess/Classes
        - Neos.ContentRepository.StructureAdjustment/src
        - Neos.ContentRepository.TestSuite/Classes
        - Neos.ContentRepositoryRegistry/Classes
        - Neos.Neos/Classes
        - Neos.NodeTypes.Form/Classes
        # todo lint whole fusion package
        - Neos.Fusion/Classes/Core
    bootstrapFiles:
         - ../Framework/bootstrap-phpstan.php
rules:
    - Neos\ContentRepository\BehavioralTests\PhpstanRules\ApiOrInternalAnnotationRule
    - Neos\ContentRepository\BehavioralTests\PhpstanRules\InternalMethodsNotAllowedOutsideContentRepositoryRule
