.neos-insert-node-panel {
	.neos-subheader {
		padding: 0 $defaultMargin $relatedMargin;
		margin: 0;

		~ .neos-subheader {
			padding: $defaultMargin $defaultMargin $relatedMargin;
			border-top: 1px solid $grayLight;
		}
	}

	.neos-modal-body {
		border-bottom: 1px solid $grayLight;
		max-height: $unit * 12;
		overflow-y: auto;
	}

	.neos-content-new-selecttype-button {
		position: relative;
		float: left;
		margin: 0;
		width: 100 / 3 * 1%;
		vertical-align: top;

		button {
			width: 100%;
			line-height: 16px;
			height: $unit;
			text-align: left;
			background-color: transparent;
			@include box-sizing(border-box);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			i {
				width: 14px;
				padding-right: $relatedMargin;
				color: $blue;
				text-align: center;
				vertical-align: baseline;
			}
		}
		&:focus, &:hover {
			background-color: $blue;
			button {
				outline: none;
			}
			i {
				color: #fff;
			}

			.neos-help-message-button {
				display: inline-block;
			}
		}

		.neos-help-message-button {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			padding: 9px;
			cursor: pointer;
			&:focus {
				display: inline-block; // so when the hover is gone, the popover doesn't disappear
			}
		}
	}

	.neos-popover {
		width: $popoverSizeForHelpMessages;
	}
}
