<f:if condition="{assets}">
	<f:then>
		<ul{attributes -> f:format.raw()}>
			<f:for each="{assets}" as="asset">
				<li><a href="{f:uri.resource(resource: asset.resource)}">{asset.resource.filename}</a></li>
			</f:for>
		</ul>
	</f:then>
	<f:else>
		<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
			<f:if condition="{node.context.workspace.name} != 'live'">
				<ul{attributes -> f:format.raw()}>
					<li>Empty asset list</li>
				</ul>
			</f:if>
		</f:security.ifAccess>
	</f:else>
</f:if>