<div class="neos-edit">
	<div class="neos-edit-preview-panel-title">{{translate id="content-components-editPreviewPanel-modes" fallback="Editing Modes"}}</div>
	<div class="neos-scroll-container">
		<div class="neos-frame">
			<ul class="neos-edit-preview-modes">
				{{#each editingModes as |editingMode|}}
					<li>
						<button class="neos-button {{if editingMode.active 'neos-pressed'}}" {{action "activateMode" editingMode}}>
						    {{boundTranslate idBinding="editingMode.title"}}
						</button>
					</li>
				{{/each}}
			</ul>
			<span class="neos-scroll-previous"></span>
			<span class="neos-scroll-next"></span>
		</div>
	</div>
</div>

<div class="neos-preview">
	<div class="neos-edit-preview-panel-title">{{translate id="content-components-editPreviewPanel-previewCentral" fallback="Preview Central"}}</div>
	<div class="neos-scroll-container">
		<div class="neos-frame">
			<ul class="neos-edit-preview-modes">
				{{#each previewModes as |previewMode|}}
					<li>
						<button class="neos-button {{if previewMode.active 'neos-pressed'}}" {{action "activateMode" previewMode}}>
						    {{boundTranslate idBinding="previewMode.title"}}
						</button>
					</li>
				{{/each}}
			</ul>
			<span class="neos-scroll-previous"></span>
			<span class="neos-scroll-next"></span>
		</div>
	</div>
</div>