{namespace ext=F3\ExtJS\ViewHelpers}
{namespace typo3=F3\TYPO3\ViewHelpers}
	<f:base/>
	<title>{title}</title>
	<meta charset="UTF-8">
	<f:for each="{stylesheets}" as="stylesheet">{stylesheet}</f:for>
	<f:for each="{javaScripts}" as="javaScript">{javaScript}</f:for>
	<typo3:includeJavaScript include="deps/jquery.*\.js" subpackage="Backend" directory="Aloha/WebContent" />
	<script>document.cookie = "TYPO3_lastVisitedFrontendUri=" + window.location.href + ";path=/";</script>
<f:security.ifAccess resource="F3_TYPO3_BackendController">
	<ext:include theme="xtheme-gray" debug="true" />

	<typo3:includeJavaScript include="deps/jquery.*\.js" subpackage="Backend" directory="Aloha/WebContent" />
	<typo3:includeJavaScript include="utils/.*\.js" subpackage="Backend" directory="Aloha/WebContent" />

	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ext-alohaproxy.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ext-alohareader.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ext-alohatreeloader.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/core.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ui.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ui-attributefield.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/css.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/editable.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ribbon.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/event.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/floatingmenu.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/ierange-m2.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/jquery.aloha.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/log.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/markup.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/message.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/plugin.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/selection.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/sidebar.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/repositorymanager.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(path:'Backend/Aloha/WebContent/core/repository.js')}"></script>

	<typo3:includeJavaScript include="plugins/com.gentics.aloha.plugins.Format/plugin\.js" subpackage="Backend"	directory="Aloha/WebContent" />
	<typo3:includeJavaScript include="plugins/com.gentics.aloha.plugins.Table/plugin\.js" subpackage="Backend" directory="Aloha/WebContent" />
	<typo3:includeJavaScript include="plugins/com.gentics.aloha.plugins.List/plugin\.js" subpackage="Backend" directory="Aloha/WebContent" />
	<typo3:includeJavaScript include="plugins/com.gentics.aloha.plugins.HighlightEditables/plugin\.js" subpackage="Backend" directory="Aloha/WebContent" />
	<typo3:includeJavaScript include="plugins/com.gentics.aloha.plugins.Link/plugin\.js" subpackage="Backend" directory="Aloha/WebContent" />
	<typo3:includeJavaScript include="Content/AlohaConnector/plugin\.js" subpackage="Backend" />

	<script><![CDATA[
		GENTICS.Aloha.settings = {
			"i18n": {"current": "en"},
			"plugins": {
				"com.gentics.aloha.plugins.GCN": {
					enabled: false
				},
				"com.gentics.aloha.plugins.Format": {
					config : [ 'b', 'i','u','del','sub','sup', 'p', 'title', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat'],
					editables : {
						title	: [ ], // no formatting allowed
						teaser 	: [ 'b', 'i', 'u', 'del', 'sub', 'sup'  ] // just basic formattings, no headers, etc.
					}
				}
			},
			ribbon: false
		};
		Ext.onReady(function() {
			// TODO: only activate by event
			jQuery('.f3-typo3-editable').aloha();
		});
	]]></script>
</f:security.ifAccess>