{namespace ext=TYPO3\ExtJS\ViewHelpers}
{namespace typo3=TYPO3\TYPO3\ViewHelpers}
{namespace aloha=Aloha\ViewHelpers}
<f:base/>
<title>{title}</title>
<meta charset="UTF-8" />
<script>
	document.cookie = "TYPO3_lastVisitedUri=" +
		window.location.protocol + "//" +
		window.location.host +
		(window.location.pathname.charAt(window.location.pathname.length - 1) === "/" ? window.location.pathname + "{node.name}.html" : window.location.pathname) +
		";path=/";
</script>

<f:for each="{stylesheets}" as="stylesheet">{stylesheet}</f:for>
<f:for each="{javaScripts}" as="javaScript">{javaScript}</f:for>
<f:security.ifAccess resource="TYPO3_TYPO3_Backend_BackendController">
	<f:if condition="{0: 'live'} != {0: node.context.workspace.name}">
		<script language="javascript">
		<![CDATA[
				Aloha = window.Aloha || {};

				Aloha.settings = {
					plugins: {
						block: {
							sidebarAttributeEditor: false
						}
					},
					bundles: {
						phoenix: '../../../../TYPO3.TYPO3/JavaScript/alohaplugins' // relative to aloha.js base path...
					},]]>
					basePath: '{aloha:baseUri()}/src/lib/'
				};
		<![CDATA[
				var require = { ]]>
					'baseUrl': '{f:uri.resource(path:"JavaScript/")}'
				};

				var ExtDirectInitialization = function() {
					<ext:extDirect.provider />;
				};
		</script>
		<script src="{f:uri.resource(path:'JavaScript/require.js')}" data-main="{f:uri.resource(path:'JavaScript/contentmodule-main.js')}" id="aloha-script-include" data-plugins="common/format,common/block,common/paste,phoenix/phoenixintegration"></script>

		<link rel="stylesheet" href="{aloha:baseUri()}/src/css/aloha.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/style.css')}" />
	</f:if>
</f:security.ifAccess>