{namespace ext=TYPO3\ExtJS\ViewHelpers}
{namespace typo3=TYPO3\TYPO3\ViewHelpers}
{namespace aloha=Aloha\ViewHelpers}
<script>
	document.cookie = "TYPO3_lastVisitedUri=" +
		window.location.protocol + "//" +
		window.location.host +
		(window.location.pathname.charAt(window.location.pathname.length - 1) === "/" ? window.location.pathname + "{node.name}.html" : window.location.pathname) +
		";path=/";
</script>
<f:security.ifAccess resource="TYPO3_TYPO3_Backend_BackendController">
	<script src="{f:uri.action(controller: 'Backend\Content', action: 'javascriptConfiguration')}"></script>
	<f:if condition="{0: 'live'} != {0: node.context.workspace.name}">
		<script language="javascript">
				var phoenixJavascriptBasePath = '{f:uri.resource(path:"JavaScript/")}';
				var ExtDirectInitialization = function() {
					<ext:extDirect.provider />;
				};
				var Aloha, alohaBaseUrl = '{aloha:baseUri()}/src/lib/';
		</script>

		<ext:include includeStylesheets="false" />

		<script data-main="{f:uri.resource(path:'JavaScript/contentmodule-main.js')}" src="{f:uri.resource(path:'JavaScript/require.js')}"></script>

		<!-- TODO Combine all CSS files with @import in one CSS file for requirejs optimizer -->
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'StyleSheet/style.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/jquery-ui/css/custom-theme/jquery-ui-1.8.16.custom.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/jquery-notice/jquery.notice.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/jcrop/css/jquery.Jcrop.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/jquery-dynatree/css/ui.dynatree.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/chosen/chosen/chosen.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/codemirror2/lib/codemirror.css')}" />
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Library/codemirror2/theme/default.css')}" />
		<link rel="stylesheet" href="{aloha:baseUri()}/src/css/aloha.css" type="text/css" />
	</f:if>
</f:security.ifAccess>