{namespace typo3=TYPO3\TYPO3\ViewHelpers}
<typo3:aloha.notEditable>
	<f:render section="itemList" arguments="{items: items}" />
</typo3:aloha.notEditable>
<f:section name="itemList">
	<ul class="nav">
		<f:for each="{items}" as="item">
			<li class="{item.state}">
				<typo3:link.node node="{item.node}">{item.label}</typo3:link.node>
				<f:if condition="{item.subItems}">
					<f:render section="subList" arguments="{items: item.subItems}" />
				</f:if>
			</li>
		</f:for>
	</ul>
</f:section>

<f:section name="subList">
	<ul>
		<f:for each="{items}" as="item">
			<li class="{item.state}">
				<typo3:link.node node="{item.node}">{item.label}</typo3:link.node>
			</li>
		</f:for>
	</ul>
</f:section>