{namespace neos=TYPO3\Neos\ViewHelpers}
<script type="text/javascript">
			// TODO Get rid of those global variables
		{neos:backend.javascriptConfiguration()}
		var Aloha,
			alohaBaseUrl = '{f:uri.resource(path: 'Library/aloha', package: 'TYPO3.Neos')}';
</script>

<f:if condition="{neos:backend.shouldLoadMinifiedJavascript()}">
	<f:then>
		<link rel="stylesheet" type="text/css" class="neos-ui-asset" href="{f:uri.resource(path: 'Styles/Includes-built.css', package: 'TYPO3.Neos')}?bust={neos:backend.cssBuiltVersion()}" />
	</f:then>
	<f:else>
		<link rel="stylesheet" type="text/css" class="neos-ui-asset" href="{f:uri.resource(path: 'Styles/Includes.css', package: 'TYPO3.Neos')}" />
	</f:else>
</f:if>
