{namespace neos=TYPO3\Neos\ViewHelpers}

<meta name="neos-username" content="{account.accountIdentifier}" />
<meta name="neos-workspace" content="{node.context.workspace.name}" />
<meta name="neos-csrf-token" content="{f:security.csrfToken()}" />

<link rel="neos-site" href="{f:uri.action(action: 'show', controller: 'Frontend\Node', package: 'TYPO3.Neos', format: 'html', arguments: {node: node.context.currentSiteNode}, absolute: true)}" data-node-name="{node.context.currentSiteNode.name}" />
<link rel="neos-service-nodes" type="application/vnd.typo3.neos.nodes" data-current-workspace="{node.context.workspace.name}" href="{f:uri.action(action: 'index', controller: 'Service\Nodes', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-service-assets" type="application/vnd.typo3.neos.assets" href="{f:uri.action(action: 'index', controller: 'Service\Assets', package: 'TYPO3.Neos', absolute: true)}" />

<f:alias map="{configurationCacheIdentifier: '{neos:backend.configurationCacheVersion()}'}">
	<link rel="neos-vieschema" href="{f:uri.action(action: 'vieSchema', controller: 'Backend\Schema', package: 'TYPO3.Neos', absolute: true, arguments: {version: configurationCacheIdentifier})}" />
	<link rel="neos-nodetypeschema" href="{f:uri.action(action: 'nodeTypeSchema', controller: 'Backend\Schema', package: 'TYPO3.Neos', absolute: true, arguments: {version: configurationCacheIdentifier})}" />
	<link rel="neos-menudata" href="{f:uri.action(action: 'index', controller: 'Backend\Menu', package: 'TYPO3.Neos', absolute: true, arguments: {version: configurationCacheIdentifier})}" />
	<link rel="neos-editpreviewdata" href="{f:uri.action(action: 'editPreview', controller: 'Backend\Settings', package: 'TYPO3.Neos', absolute: true, arguments: {version: configurationCacheIdentifier})}" />
	<link rel="neos-service-contentdimensions" type="application/vnd.typo3.neos.contentdimensions" href="{f:uri.action(action: 'index', controller: 'Service\ContentDimensions', package: 'TYPO3.Neos', absolute: true, arguments: {version: configurationCacheIdentifier})}" />
</f:alias>
<link rel="neos-service-workspaces" type="application/vnd.typo3.neos.workspaces" href="{f:uri.action(action: 'index', controller: 'Service\Workspaces', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-xliff" href="{f:uri.action(action: 'xliffAsJson', arguments: {locale: '{neos:backend.interfaceLanguage()}', version: '{neos:backend.xliffCacheVersion()}'}, controller: 'Backend\Backend', package: 'TYPO3.Neos', absolute: true) -> f:format.raw()}" />

<!-- Temporary URL endpoints, will be removed / grouped when a REST interface is fully implemented -->
<link rel="neos-service-workspace-publishNode" href="{f:uri.action(action: 'publishNode', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-workspace-publishNodes" href="{f:uri.action(action: 'publishNodes', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-workspace-publishAll" href="{f:uri.action(action: 'publishAll', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-workspace-discardNode" href="{f:uri.action(action: 'discardNode', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-workspace-discardNodes" href="{f:uri.action(action: 'discardNodes', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-workspace-discardAll" href="{f:uri.action(action: 'discardAll', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-workspace-getWorkspaceWideUnpublishedNodes" href="{f:uri.action(action: 'getWorkspaceWideUnpublishedNodes', controller: 'Workspace', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-getChildNodesForTree" href="{f:uri.action(action: 'getChildNodesForTree', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-createNodeForTheTree" href="{f:uri.action(action: 'createNodeForTheTree', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-filterChildNodesForTree" href="{f:uri.action(action: 'filterChildNodesForTree', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-create" href="{f:uri.action(action: 'create', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-createAndRender" href="{f:uri.action(action: 'createAndRender', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-move" href="{f:uri.action(action: 'move', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-moveAndRender" href="{f:uri.action(action: 'moveAndRender', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-copy" href="{f:uri.action(action: 'copy', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-copyAndRender" href="{f:uri.action(action: 'copyAndRender', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-update" href="{f:uri.action(action: 'update', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-updateAndRender" href="{f:uri.action(action: 'updateAndRender', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-delete" href="{f:uri.action(action: 'delete', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-service-node-searchPage" href="{f:uri.action(action: 'searchPage', controller: 'Node', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-images" href="{f:uri.action(action: 'imageWithMetadata', controller: 'Backend\Content', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-asset-upload" href="{f:uri.action(action: 'uploadAsset', controller: 'Backend\Content', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-asset-metadata" href="{f:uri.action(action: 'assetsWithMetadata', controller: 'Backend\Content', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-imagevariant-create" href="{f:uri.action(action: 'createImageVariant', controller: 'Backend\Content', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-pluginviews" href="{f:uri.action(action: 'pluginViews', controller: 'Backend\Content', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-masterplugins" href="{f:uri.action(action: 'masterPlugins', controller: 'Backend\Content', package: 'TYPO3.Neos', absolute: true)}" />
<link rel="neos-user-preferences" href="{f:uri.action(action: 'index', controller: 'UserPreference', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-data-source" href="{f:uri.action(action: 'index', controller: 'DataSource', package: 'TYPO3.Neos', subpackage: 'Service', absolute: true, format: 'json')}" />
<link rel="neos-login" href="{f:uri.action(action: 'authenticate', controller: 'Login', package: 'TYPO3.Neos', format: 'json', absolute: true)}" />
<!-- /Temporary URL endpoints -->

<link rel="neos-public-resources" href="{f:uri.resource(path: '', package: 'TYPO3.Neos')}" />
<link rel="neos-module-workspacesmanagement" href="{neos:uri.module(path: 'management/workspaces')}" />
<link rel="neos-module-workspacesmanagement-show" href="{neos:uri.module(path: 'management/workspaces', action: 'show')}" />
<link rel="neos-media-browser" href="{f:uri.action(action: 'index', controller: 'Backend\MediaBrowser', package: 'TYPO3.Neos', absolute: true, arguments: {assetCollection: node.context.currentSite.assetCollection})}" />
<link rel="neos-image-browser" href="{f:uri.action(action: 'index', controller: 'Backend\ImageBrowser', package: 'TYPO3.Neos', absolute: true, arguments: {assetCollection: node.context.currentSite.assetCollection})}" />
<link rel="neos-image-browser-edit" href="{f:uri.action(action: 'edit', controller: 'Backend\ImageBrowser', package: 'TYPO3.Neos', absolute: true)}" />
