{namespace neos=TYPO3\Neos\ViewHelpers}
<div id="neos-shortcut">
	<p>
		<f:switch expression="{targetMode}">
			<f:case value="selectedTarget">
				This is a shortcut to a specific target:<br />
				<f:if condition="{target}">
					<f:then>
						<f:switch expression="{targetSchema}">
							<f:case value="node">Click <neos:link.node node="{targetConverted}">{targetConverted.label}</neos:link.node> to continue to the page.</f:case>
							<f:case value="asset">Click <a href="{f:uri.resource(resource: targetConverted.resource)}" target="_blank">{targetConverted.label}</a> to see the file.</f:case>
							<f:defaultCase>Click <a href="{target}" target="_blank">{target}</a> to open the link.</f:defaultCase>
						</f:switch>
					</f:then>
					<f:else>(no target has been selected)</f:else>
				</f:if>
			</f:case>
			<f:case value="firstChildNode">
				This is a shortcut to the first child page.<br />
				Click <neos:link.node node="{firstChildNode}">here</neos:link.node> to continue to the page.
			</f:case>
			<f:case value="parentNode">
				This is a shortcut to the parent page.<br />
				Click <neos:link.node node="{node.parent}">here</neos:link.node> to continue to the page.
			</f:case>
		</f:switch>
	</p>
</div>