{namespace t=F3\TYPO3\ViewHelpers}
<f:security.ifAccess resource="F3_TYPO3_Backend_BackendController">
	<div typeof="typo3:{node.contentType}" about="{node.path}" class="f3-typo3-contentelement f3-typo3-contentelement-aloha">
</f:security.ifAccess>

<h2><t:aloha.editable property="headline" context="inline">{properties.headline}</t:aloha.editable></h2>
<t:aloha.editable property="text" context="block">{properties.text}</t:aloha.editable>

<f:security.ifAccess resource="F3_TYPO3_Backend_BackendController">
	</div>
</f:security.ifAccess>
