.neos-select2-container-multi {
	&.neos-select2-container-active {
		.neos-select2-choices .neos-select2-search-field {
			background-color: #fff;

			&:before,
			&:after {
				color: $textOnWhite;
			}

			input:focus {
				color: $textOnWhite;
			}
		}
	}

	.neos-select2-choices {
		background: $grayMedium;

		.neos-select2-search-field {
			background-color: $grayMedium;

			input {
				max-width: $inspectorWidth - $defaultMargin * 2;
				min-width: $inspectorWidth - $defaultMargin * 2;
				padding-right: $unit;
				color: #fff;
				border-top: none;
				border-bottom: none;
				border-left: none;
				border-right: none;

				&:focus {
					max-width: $inspectorWidth - $defaultMargin * 2;
					min-width: $inspectorWidth - $defaultMargin * 2;
					color: $textOnGray;
					border-top: none;
					border-bottom: none;
					border-left: none;
					border-right: none;
					@include box-shadow(none);
				}
			}
		}
	}
}

.neos-inspector-form {
	.neos-select2-with-searchbox {
		.neos-select2-search {
			input {
				background-color: #fff;
				border: 2px solid #fff;
			}
		}
	}
}

.neos-select2-drop-mask {
	z-index: -1;
}