{namespace ts=TYPO3\TypoScript\ViewHelpers}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:bootstrap="http://typo3.org/ns/TYPO3/Twitter/Bootstrap/ViewHelpers">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="DC.title" content="" />
		<meta name="DC.creator" content="" />
		<title>Wireframe Mode</title>
		<f:base/>
		<f:section name="headerIncludes">
			<script>window.jQuery || document.write("<script src='{f:uri.resource(path: 'Library/jquery/jquery-1.9.1.js')}'>\x3C/script>")</script>
			<bootstrap:include />
			<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/WireframeMode.css', package: 'TYPO3.Neos')}" />
		</f:section>
	</head>
	<body>
		<f:section name="body">
			<div class="container-fluid" id="neos-wireframe-container">
				<div class="row-fluid">
					<div class="span2">
						<div class="well neos-reloadable-content" id="neos-wireframe-menu">
							<ts:render path="parts.menu" />
						</div>
					</div>
					<div class="span10">
						<nav class="breadcrumb neos-reloadable-content" id="neos-wireframe-breadcrumb">
							<ts:render path="parts.breadcrumb" />
						</nav>
						<section class="row-fluid">
							<div class="span4">
								<div class="input-append">
									<input type="text" class="span8" id="neos-createsection-input" placeholder="Name for a new content section">
									<button class="btn btn-warning" id="neos-createsection-button" type="button">Create section</button>
								</div>
							</div>
						</section>
						<div class="neos-reloadable-content" id="neos-wireframe-sections-container">
							<ts:render path="sections.all" />
						</div>
					</div>
				</div>
			</div>
		</f:section>
	</body>
</html>