{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
	<table class="neos-table asset-list">
		<thead>
			<tr>
				<th></th>
				<th>
					<f:if condition="{sortBy} == 'Name'">
						<f:then>
							<f:if condition="{sortDirection} == 'ASC'">
								<f:then>
									<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByName', source: 'Modules', package: 'TYPO3.Neos')} ({neos:backend.translate(id: 'media.sortdirection.desc', source: 'Modules', package: 'TYPO3.Neos') -> f:format.case(mode: 'lower')})" data="{neos-toggle: 'tooltip'}" arguments="{sortDirection: 'DESC'}" addQueryString="TRUE">
										{neos:backend.translate(id: 'media.field.name', source: 'Modules', package: 'TYPO3.Neos')}
									</f:link.action>
									<i class="icon-caret-up"></i>
								</f:then>
								<f:else>
									<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByName', source: 'Modules', package: 'TYPO3.Neos')} ({neos:backend.translate(id: 'media.sortdirection.asc', source: 'Modules', package: 'TYPO3.Neos') -> f:format.case(mode: 'lower')})" data="{neos-toggle: 'tooltip'}" arguments="{sortDirection: 'ASC'}" addQueryString="TRUE">
										{neos:backend.translate(id: 'media.field.name', source: 'Modules', package: 'TYPO3.Neos')}
									</f:link.action>
									<i class="icon-caret-down"></i>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByName', source: 'Modules', package: 'TYPO3.Neos')}" data="{neos-toggle: 'tooltip'}" arguments="{sortBy: 'Name'}" addQueryString="TRUE">
								{neos:backend.translate(id: 'media.field.name', source: 'Modules', package: 'TYPO3.Neos')}
							</f:link.action>
						</f:else>
					</f:if>
				</th>
				<th>
					<f:if condition="{sortBy} == 'Modified'">
						<f:then>
							<f:if condition="{sortDirection} == 'ASC'">
								<f:then>
									<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByLastModified', source: 'Modules', package: 'TYPO3.Neos')} ({neos:backend.translate(id: 'media.sortdirection.desc', source: 'Modules', package: 'TYPO3.Neos') -> f:format.case(mode: 'lower')})" data="{neos-toggle: 'tooltip'}" arguments="{sortDirection: 'DESC'}" addQueryString="TRUE">
										{neos:backend.translate(id: 'media.field.lastModified', source: 'Modules', package: 'TYPO3.Neos')}
									</f:link.action>
									<i class="icon-caret-up"></i>
								</f:then>
								<f:else>
									<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByLastModified', source: 'Modules', package: 'TYPO3.Neos')} ({neos:backend.translate(id: 'media.sortdirection.asc', source: 'Modules', package: 'TYPO3.Neos') -> f:format.case(mode: 'lower')})" data="{neos-toggle: 'tooltip'}" arguments="{sortDirection: 'ASC'}" addQueryString="TRUE">
										{neos:backend.translate(id: 'media.field.lastModified', source: 'Modules', package: 'TYPO3.Neos')}
									</f:link.action>
									<i class="icon-caret-down"></i>
								</f:else>
							</f:if>
						</f:then>
						<f:else>
							<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByLastModified', source: 'Modules', package: 'TYPO3.Neos')}" data="{neos-toggle: 'tooltip'}" arguments="{sortBy: 'Modified'}" addQueryString="TRUE">
								{neos:backend.translate(id: 'media.field.lastModified', source: 'Modules', package: 'TYPO3.Neos')}
							</f:link.action>
						</f:else>
					</f:if>
				</th>
				<th>{neos:backend.translate(id: 'media.field.fileSize', source: 'Modules', package: 'TYPO3.Neos')}</th>
				<th>{neos:backend.translate(id: 'media.field.type', source: 'Modules', package: 'TYPO3.Neos')}</th>
				<th>{neos:backend.translate(id: 'media.field.tags', source: 'Modules', package: 'TYPO3.Neos')}</th>
				<th class="neos-action"></th>
			</tr>
		</thead>
		<tbody>
		<f:alias map="{'dragAndDropOnTagOrCollectionLabel': '{neos:backend.translate(id: \'media.tooltip.dragAndDropOnTagOrCollection\', source: \'Modules\', package: \'TYPO3.Neos\')}', 'editAsset': '{neos:backend.translate(id: \'media.tooltip.editAsset\', source: \'Modules\', package: \'TYPO3.Neos\')}', 'replaceAssetResource': '{neos:backend.translate(id: \'media.tooltip.replaceAssetResource\', source: \'Modules\', package: \'TYPO3.Neos\')}'}">
			<f:for each="{paginatedAssets}" as="asset" iteration="iterator">
				<tr class="asset draggable-asset{f:if(condition: '{asset.tags -> f:count()} == 0', then: ' neos-media-untagged')}" data-asset-identifier="{asset -> f:format.identifier()}">
					<td>
						<div class="neos-list-thumbnail" data-neos-toggle="popover" data-placement="{f:if(condition: '{iterator.index} > 2', then: 'top', else: 'bottom')}" data-trigger="hover" data-title="{f:if(condition: asset.width, then: '{asset.width} x {asset.height}')}" data-html="true" data-content="{m:thumbnail(asset: asset, preset: 'TYPO3.Neos:Thumbnail', alt: asset.label, async: settings.asyncThumbnails) -> f:format.htmlentities()}">
							<m:thumbnail asset="{asset}" preset="TYPO3.Neos:Thumbnail" alt="{asset.label}" async="{settings.asyncThumbnails}" />
						</div>
					</td>
					<td class="asset-label" data-neos-toggle="tooltip" title="{asset.label}"><f:format.crop maxCharacters="50">{asset.label}</f:format.crop></td>
					<td><span title="{asset.lastModified -> f:format.date(format: 'd-m-Y H:i')}" data-neos-toggle="tooltip">{asset.lastModified -> m:format.relativeDate()}</span></td>
					<td>{asset.resource.fileSize -> f:format.bytes()}</td>
					<td><span class="neos-label">{asset.resource.mediatype}</span></td>
					<td class="tags">
						<f:for each="{asset.tags}" as="tag">
							<span class="neos-label">{tag.label}</span>
						</f:for>
					</td>
					<td class="neos-action">
						<div class="neos-dropdown" id="neos-asset-actionmenu-{asset -> f:format.identifier()}">
							<a class="dropdown-toggle neos-button neos-button-mini" href="#" data-neos-toggle="dropdown" data-target="#neos-asset-actionmenu-{asset -> f:format.identifier()}">
								<i class="icon-ellipsis-horizontal"></i>
							</a>
							<div class="neos-dropdown-menu-list neos-pull-right" role="menu">
								<ul>
									<li>
										<f:link.action action="edit" arguments="{asset: asset}" title="{neos:backend.translate(id: 'media.tooltip.editAsset', source: 'Modules', package: 'TYPO3.Neos')}">
											<i class="icon-edit icon-white"></i> {neos:backend.translate(id: 'edit', package: 'TYPO3.Neos')}
										</f:link.action>
									</li>
									<f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.Module.Media.ReplaceAssetResource">
										<li>
											<f:link.action action="replaceAssetResource" arguments="{asset: asset}" title="{replaceAssetResourceLabel}">
												<i class="icon-random icon-white"></i> {neos:backend.translate(id: 'media.replaceAssetResource', source: 'Modules', package: 'TYPO3.Neos')}
											</f:link.action>
										</li>
									</f:security.ifAccess>
									<li>
										<a href="#" class="neos-media-delete" title="{deleteAssetLabel}" data-neos-toggle="tooltip" data-modal="delete-asset-modal" data-label="{asset.label -> f:format.crop(maxCharacters: 50)}" data-object-identifier="{asset -> f:format.identifier()}">
											<i class="icon-trash icon-white"></i> {neos:backend.translate(id: 'media.delete', source: 'Modules', package: 'TYPO3.Neos')}
										</a>
									</li>
								</ul>
							</div>
						</div>
					</td>
				</tr>
			</f:for>
		</f:alias>
		</tbody>
	</table>
</f:widget.paginate>
