{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 5}">
	<ul class="neos-thumbnails asset-list">
		<f:alias map="{'deleteAssetLabel': '{neos:backend.translate(id: \'media.tooltip.deleteAsset\', source: \'Modules\', package: \'TYPO3.Neos\')}', 'replaceAssetResourceLabel': '{neos:backend.translate(id: \'media.tooltip.replaceAssetResource\', source: \'Modules\', package: \'TYPO3.Neos\')}'}">
			<f:for each="{paginatedAssets}" as="asset">
				<li class="asset">
					<f:link.action action="edit" title="{neos:backend.translate(id: 'media.tooltip.editAsset', source: 'Modules', package: 'TYPO3.Neos')}" class="neos-thumbnail" arguments="{asset: asset}">
						<div class="neos-img-container draggable-asset {f:if(condition: '{asset.tags -> f:count()} == 0', then: ' neos-media-untagged')}" data-asset-identifier="{asset -> f:format.identifier()}">
							<m:thumbnail asset="{asset}" preset="TYPO3.Neos:Thumbnail" alt="{asset.label}" async="{settings.asyncThumbnails}" />
						</div>
					</f:link.action>
					<div class="neos-img-label">
						<m:fileTypeIcon file="{asset}" height="32" />

						<div class="neos-dropdown neos-pull-right" id="neos-asset-actionmenu-{asset -> f:format.identifier()}">
							<a class="dropdown-toggle neos-button neos-button-small" href="#" data-neos-toggle="dropdown" data-target="#neos-asset-actionmenu-{asset -> f:format.identifier()}">
								<i class="icon-ellipsis-horizontal"></i>
							</a>
							<div class="neos-dropdown-menu-list" role="menu">
								<ul>
									<li>
										<f:link.action action="edit" arguments="{asset: asset}" title="{neos:backend.translate(id: 'media.tooltip.editAsset', source: 'Modules', package: 'TYPO3.Neos')}">
											<i class="icon-edit icon-white"></i> {neos:backend.translate(id: 'edit', package: 'TYPO3.Neos')}
										</f:link.action>
									</li>
									<f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.Module.Media.ReplaceAssetResource">
										<li>
											<f:link.action action="replaceAssetResource" arguments="{asset: asset}" title="{replaceAssetResourceLabel}">
												<i class="icon-random icon-white"></i> {neos:backend.translate(id: 'media.replaceAssetResource', source: 'Modules', package: 'TYPO3.Neos')}
											</f:link.action>
										</li>
									</f:security.ifAccess>
									<li>
										<a href="#" class="neos-media-delete" title="{deleteAssetLabel}" data-neos-toggle="tooltip" data-modal="delete-asset-modal" data-label="{asset.label -> f:format.crop(maxCharacters: 50)}" data-object-identifier="{asset -> f:format.identifier()}">
											<i class="icon-trash icon-white"></i> {neos:backend.translate(id: 'media.delete', source: 'Modules', package: 'TYPO3.Neos')}
										</a>
									</li>
								</ul>
							</div>
						</div>

						<span class="neos-caption asset-label" title="{asset.label}"><f:format.crop maxCharacters="100">{asset.label}</f:format.crop></span>
					</div>
				</li>
			</f:for>
		</f:alias>
	</ul>
</f:widget.paginate>
