{namespace neos=Neos\Neos\ViewHelpers}
<f:if condition="{moduleConfiguration.submodules}">
	<div class="neos-row-fluid">
		<f:for each="{moduleConfiguration.submodules}" key="submoduleIdentifier" as="submoduleConfiguration" iteration="iterator">
			<f:if condition="{submoduleConfiguration.enabled} !== false">
				<f:if condition="{submoduleConfiguration.privilegeTarget}">
					<f:then>
						<f:security.ifAccess privilegeTarget="{submoduleConfiguration.privilegeTarget}">
							<f:render section="submodule" arguments="{_all}" />
						</f:security.ifAccess>
					</f:then>
					<f:else>
						<f:render section="submodule" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:if>
		</f:for>
	</div>
</f:if>

<f:section name="submodule">
	<div class="neos-span4">
		<neos:standaloneView templatePathAndFilename="{f:if(condition: submoduleConfiguration.widgetTemplatePathAndFileName, then: submoduleConfiguration.widgetTemplatePathAndFileName, else: settings.moduleConfiguration.widgetTemplatePathAndFileName)}" arguments="{moduleConfiguration: moduleConfiguration, submoduleIdentifier: submoduleIdentifier, submoduleConfiguration: submoduleConfiguration}" />
	</div>
	<f:if condition="{iterator.cycle} % 3">
		<f:else>
			<f:if condition="{iterator.isLast}">
				<f:else>
					</div><div class="neos-row-fluid">
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>
