{namespace neos=TYPO3\Neos\ViewHelpers}
<fieldset class="neos-span5">
	<legend>{neos:backend.translate(id: 'usersettings.label', value: 'User Settings', source: 'Modules')}</legend>

	<div class="neos-control-group">
		<label class="neos-control-label">{neos:backend.translate(id: 'userName', value: 'Username')}</label>
		<div class="neos-controls">
			<span class="neos-span12 neos-uneditable-input">{account.accountIdentifier}</span>
		</div>
	</div>

	<div class="neos-control-group">
		<label class="neos-control-label" for="password[0]">{neos:backend.translate(id: 'password', value: 'Password')}</label>
		<div class="neos-controls">
			<f:form.password name="password[0]" id="password[0]" class="neos-span12" />
		</div>
	</div>

	<div class="neos-control-group">
		<label class="neos-control-label" for="password[1]">{neos:backend.translate(id: 'userSettings.repeatPassword', value: 'Repeat password')}</label>
		<div class="neos-controls">
			<f:form.password name="password[1]" id="password[1]" class="neos-span12" />
		</div>
	</div>
</fieldset>

<fieldset class="neos-span5 neos-offset1">
	<legend>{neos:backend.translate(id: 'userSettings.personalData', value: 'Personal Data')}</legend>

	<div class="neos-control-group">
		<label class="neos-control-label" for="title">{neos:backend.translate(id: 'personName.title', package: 'TYPO3.Party' value: 'Title')}</label>
		<div class="neos-controls neos-controls-row">
			<f:form.textfield property="name.title" id="title" class="neos-span12" />
		</div>
	</div>

	<div class="row">
		<div class="neos-control-group neos-span7">
			<label class="neos-control-label" for="firstName">{neos:backend.translate(id: 'personName.firstName', package: 'TYPO3.Party' value: 'First Name')}</label>
			<div class="neos-controls neos-controls-row">
				<f:form.textfield property="name.firstName" id="firstName" placeholder="{neos:backend.translate(id: 'personName.firstName', package: 'TYPO3.Party' ,value: 'First Name')}" class="neos-span12" />
			</div>
		</div>

		<div class="neos-control-group neos-span5">
			<label class="neos-control-label" for="otherName">&nbsp;</label>
			<div class="neos-controls neos-controls-row">
				<f:form.textfield property="name.middleName" id="middleName" placeholder="{neos:backend.translate(id: 'personName.middleName', package: 'TYPO3.Party' ,value: 'Middle Name')}" class="neos-span12" />
			</div>
		</div>
	</div>

	<div class="row">
		<div class="neos-control-group neos-span7">
			<label class="neos-control-label" for="lastName">{neos:backend.translate(id: 'personName.lastName', package: 'TYPO3.Party' ,value: 'Last Name')}</label>
			<div class="neos-controls neos-controls-row">
				<f:form.textfield property="name.lastName" id="lastName" placeholder="{neos:backend.translate(id: 'personName.lastName', package: 'TYPO3.Party' ,value: 'Last Name')}" class="neos-span12" />
			</div>
		</div>

		<div class="neos-control-group neos-span5">
			<label class="neos-control-label" for="lastName">&nbsp;</label>
			<div class="neos-controls neos-controls-row">
				<f:form.textfield property="name.otherName" id="otherName" placeholder="{neos:backend.translate(id: 'personName.otherName', package: 'TYPO3.Party' ,value: 'Other Name')}" class="neos-span12" />
			</div>
			</div>

	</div>

	<div class="neos-control-group">
		<label class="neos-control-label" for="alias">{neos:backend.translate(id: 'personName.alias', package: 'TYPO3.Party', value: 'Alias')}</label>
		<div class="neos-controls">
			<f:form.textfield property="name.alias" id="alias" class="neos-span12" />
		</div>
	</div>
</fieldset>
<div class="neos-row-fluid">
	<fieldset class="neos-span5">

		<legend>{neos:backend.translate(id: 'userSettings.userPrefrences', value: 'User Preferences')}</legend>
		<div class="neos-control-group">
			<label class="neos-control-label" for="interfaceLocale">{neos:backend.translate(id: 'userSettings.interfaceLanguage', value: 'Interface language')}</label>
			<div class="neos-controls">
				<f:form.select property="preferences.preferences.interfaceLocale" id="interfaceLocale" options="{settings.userInterface.availableLocales}" />
			</div>
		</div>
	</fieldset>
</div>
<div class="neos-row-fluid">
	<div class="neos-control-group neos-span11">
		<label class="neos-control-label" for="electronicAddresses">{neos:backend.translate(id: 'userSettings.electronicAddresses', value: 'Electronic addresses')}</label>
		<table class="neos-table" id="electronicAddresses">
			<thead>
				<tr>
					<th>{neos:backend.translate(id: 'electronicAddresses.type', package: 'TYPO3.Party', value: 'Type')}</th>
					<th>{neos:backend.translate(id: 'electronicAddresses.usage', package: 'TYPO3.Party', value: 'Usage')}</th>
					<th>{neos:backend.translate(id: 'electronicAddresses.identifier', package: 'TYPO3.Party', value: 'Identifier')}</th>
					<th>{neos:backend.translate(id: 'electronicAddresses.primary', package: 'TYPO3.Party', value: 'Primary')}</th>
				</tr>
			</thead>
			<tbody>
			<f:for each="{user.electronicAddresses}" as="electronicAddress">
				<tr>
					<td>
						<f:form.hidden name="user[electronicAddresses][{electronicAddress -> f:format.identifier()}][__identity]" value="{electronicAddress -> f:format.identifier()}" />
						<f:form.select name="user[electronicAddresses][{electronicAddress -> f:format.identifier()}][type]" options="{electronicAddressTypes}" value="{electronicAddress.type}" />
					</td>
					<td><f:form.select name="user[electronicAddresses][{electronicAddress -> f:format.identifier()}][usage]" options="{electronicAddressUsageTypes}" value="{electronicAddress.usage}" /></td>
					<td><f:form.textfield name="user[electronicAddresses][{electronicAddress -> f:format.identifier()}][identifier]" value="{electronicAddress.identifier}" class="neos-input-medium" /></td>
					<td>
						<f:form.radio property="primaryElectronicAddress" value="{electronicAddress}" checked="{f:if(condition: '{user.primaryElectronicAddress} == {electronicAddress}', then: 'checked')}" />
					</td>
					<td>
						<div class="neos-pull-right">
							<button class="neos-button neos-button-danger" title="Click here to delete electronic address" data-toggle="modal" href="#{electronicAddress.type}">
								<i class="icon-trash icon-white"></i>
							</button>
							<div class="neos-hide" id="{electronicAddress.type}">
								<div class="neos-modal">
									<div class="neos-modal-header">
										<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
										<div class="neos-header">{neos:backend.translate(id: 'deleteQuestion', value: 'Do you really want to delete')} "{electronicAddress.type} ({electronicAddress.identifier})"?</div>
									</div>
									<div class="neos-modal-footer">

										<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel, value: 'Cancel')}</a>
										<button form="postHelper" formaction="{f.uri.action(action: 'deleteElectronicAddress', arguments: '{account: account, electronicAddress: electronicAddress}')}" type="submit" class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'delete', value: 'Delete')}">
											{neos:backend.translate(id: 'deleteAnswer', value: 'Yes, delete electronic address')}
										</button>
									</div>
								</div>
								<div class="neos-modal-backdrop neos-in"></div>
							</div>
						</div>
					</td>
				</tr>
			</f:for>
			</tbody>
		</table>
		<div class="neos-pull-right">
			<f:link.action action="newElectronicAddress" arguments="{account: account}" class="neos-button neos-button-primary" title="{neos:backend.translate(id: 'userSettings.clickAddElectronicAddress', value: 'Click to add a new electronic address')}">
				{neos:backend.translate(id: 'userSettings.addElectronicAddress', value: 'Add electronic address')}
			</f:link.action>
		</div>
	</div>
</div>