{namespace neos=TYPO3\Neos\ViewHelpers}
<f:for each="{node.dimensions}" as="dimension">
	<f:for each="{contentDimensions}" key="contentDimensionKey" as="contentDimension">
		<f:if condition="{dimension.name} == {contentDimensionKey}">
			<f:for each="{contentDimension.presets}" key="presetKey" as="preset">
				<f:if condition="{presetKey} == {dimension.value}">
					<span class="neos-label" title="<i class='{contentDimension.icon}'></i> {neos:backend.translate(id: contentDimension.label)}: {presetKey}" data-neos-toggle="tooltip" data-html="1">{neos:backend.translate(id: preset.label)}</span>
				</f:if>
			</f:for>
		</f:if>
	</f:for>
</f:for>