.F3-TYPO3-Components-Button {
	margin: 2px 4px;
}

.F3-TYPO3-Components-Button button {
	color: #000000;
	padding: 0px 16px;
	background: #B9B9B9;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#ffffff), to(#B9B9B9));
	background: -moz-linear-gradient(center top , #FFFFFF, #B9B9B9) repeat scroll 0 0 transparent;
	-moz-box-shadow: 0 0 6px #3F3F3F;
	-webkit-box-shadow: 0 0 6px #3F3F3F;
	border: 1px solid #000000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 23px;
	font-size: 10px;

	/* Scale to the width of the button component */
	cursor: pointer;
}


.F3-TYPO3-Components-Button button:hover {
	background: -moz-linear-gradient(center top , #EEEEEE, #A9A9A9) repeat scroll 0 0 transparent;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#EEEEEE), to(#A9A9A9));
}

.F3-TYPO3-Components-Button-type-negative button {
	color: #ffffff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);

	background: -moz-linear-gradient(center top , #d30101, #881313) left top repeat;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#d30101), to(#881313)) left top repeat;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0px 1px 0px #eb7171 inset;
	-webkit-box-shadow: 0px 1px 0px #eb7171 inset;
	box-shadow: 0px 1px 0px #eb7171 inset;
}
.F3-TYPO3-Components-Button-type-negative button:hover {
	background: -moz-linear-gradient(center top , #d30101, #881313) left top repeat;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#d30101), to(#881313)) left top repeat;
	-moz-box-shadow: 0px 1px 0px #eb7171 inset, 0px 0px 4px rgba(255, 135, 0, 1);
	-webkit-box-shadow: 0px 1px 0px #eb7171 inset, 0px 0px 4px rgba(255, 135, 0, 1);
	box-shadow: 0px 1px 0px #eb7171 inset, 0px 0px 4px rgba(255, 135, 0, 1);
}

.F3-TYPO3-Components-Button-type-positive button {
	color: #ffffff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);

	background: -moz-linear-gradient(center top , #24903e, #20622f) left top repeat;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#24903e), to(#20622f)) left top repeat;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0px 1px 0px #75bd86 inset;
	-webkit-box-shadow: 0px 1px 0px #75bd86 inset;
	box-shadow: 0px 1px 0px #75bd86 inset;
}
.F3-TYPO3-Components-Button-type-positive button:hover {
	background: -moz-linear-gradient(center top , #24903e, #20622f) left top repeat;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#24903e), to(#20622f)) left top repeat;
	-moz-box-shadow: 0px 1px 0px #75bd86 inset, 0px 0px 4px rgba(255, 135, 0, 1);
	-webkit-box-shadow: 0px 1px 0px #75bd86 inset, 0px 0px 4px rgba(255, 135, 0, 1);
	box-shadow: 0px 1px 0px #75bd86 inset, 0px 0px 4px rgba(255, 135, 0, 1);
}

.F3-TYPO3-Components-Button-link button {
	color: #ffffff;
	background: none;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.F3-TYPO3-Components-Button-link button span {
	font-weight: bold;
	text-decoration: underline;
}
.F3-TYPO3-Components-Button-link button:hover {
	color: #ffffff;
	text-decoration: underline;
	background: none;
}