<div class="contentTypeSelectorTabs notInitialized">
	<ul>
		<f:for each="{groupedContentTypes}" as="contentTypeGroup" key="contentTypeKey">
			<li>
				<a href="#newContentElementSelectorGroup{contentTypeKey}">{contentTypeGroup.label}</a>
			</li>
		</f:for>
	</ul>

	<f:for each="{groupedContentTypes}" as="contentTypeGroup" key="contentTypeKey">
		<div id="newContentElementSelectorGroup{contentTypeKey}">
			<table>
		<f:for each="{contentTypeGroup.contentTypes}" as="contentType" iteration="iterator">
			<f:if condition="{iterator.isFirst}">
				<f:then>
					<tr>
				</f:then>
				<f:else>
					<f:if condition="{iterator.isOdd}">
						<tr>
					</f:if>
				</f:else>
			</f:if>
			<td>
				<f:link.action class="t3-content-new t3-ajax-link" action="create" arguments="{position: position, referenceNode: referenceNode.contextPath, type: contentType.name}"><img src="{f:uri.resource(path: contentType.icon)}" /></f:link.action>
				<f:link.action class="t3-content-new t3-ajax-link" action="create" arguments="{position: position, referenceNode: referenceNode.contextPath, type: contentType.name}">{contentType.label}</f:link.action>
			</td>
			<f:if condition="{iterator.isEven}">
				<f:then>
					</tr>
				</f:then>
				<f:else>
					<f:if condition="{iterator.isLast}">
						<td></td>
						</tr>
					</f:if>
				</f:else>
			</f:if>
		</f:for>
			</table>
		</div>
	</f:for>
</div>