&.neos-module-management-workspaces {
	td {
		white-space: nowrap;

		&.node-type {
			white-space: nowrap;
			img {
				vertical-align: baseline;
			}
		}

		label {
			padding: 0;
			margin-bottom: 0;
			font-size: inherit;
			line-height: $unit;
			@include user-select(none);
		}
	}

	th,
	td.actions {
		white-space: nowrap;
	}

	td.node-type,
	td.relpath {
		color: $textSubtle;
	}

	i[class*="icon-"],
	i.legend {
		vertical-align: baseline;
		text-align: center;
	}

	td.node-type i {
		text-align: center;
		padding-right: $tightMargin;
	}

	.fold-toggle {
		cursor: pointer;
		margin-top: -1px;
		margin-right: 11px;
	}

	td.legend,
	th.legend {
		width: 14px;
		padding: 0 10px;
	}

	td.actions {
		width: 144px;

		button {
			display: inline-block;
		}
	}

	tfoot {
		font-size: $fontSizeSmall;
		color: $textSubtle;

		.legend {
			margin-left: 15px;
			text-align: center;
			padding-right: $tightMargin;
		}
	}
}