// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.neos-hidden {
	display: none;
	visibility: hidden;
}

.neos-change {
	box-sizing: border-box;
	white-space: nowrap;
	letter-spacing: 1px;
	font-size: 16px;
}

.neos-change-new {
	color: $green;
}

.neos-change-changed {
	color: $orange;
}

.neos-change-removed {
	color: $warning;
}

.neos-change-unchanged {
	color: $grayLight;
}

&.neos-module-management-workspaces {
	.neos-footer p {
		font-size: $fontSizeSmall;
		margin-right: 8px;
	}

	td {
		white-space: nowrap;

		&.description {
			white-space: normal;
			line-height: 20px;
			padding: 10px 0 5px 0;
		}

		&.node-type {
			white-space: nowrap;
			img {
				vertical-align: baseline;
			}
		}

		label {
			padding: 0;
			margin-bottom: 0;
			font-size: inherit;
			line-height: $unit;
			@include user-select(none);
		}
	}

	th,
	td.actions {
		white-space: nowrap;
	}

	td.neos-action {
		width: 90px;
	}

	td.neos-changes {
		width: 120px;
	}

	td.node-type,
	td.relpath {
		color: $textSubtle;
	}

	i[class*="icon-"],
	i.legend {
		vertical-align: baseline;
		text-align: center;
	}

	td.node-type i {
		text-align: center;
		padding-right: $tightMargin;
	}

	.fold-toggle {
		cursor: pointer;
		margin-top: -1px;
		margin-right: 11px;
	}

	td.legend,
	th.legend {
		width: 14px;
		padding: 0 10px;
	}

	td.actions {
		width: 144px;

		button {
			display: inline-block;
		}
	}

	tfoot {
		font-size: $fontSizeSmall;
		color: $textSubtle;

		.legend {
			margin-left: 15px;
			text-align: center;
			padding-right: $tightMargin;
		}
	}
}