{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace m=TYPO3\Media\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">Edit tag</f:section>

<f:section name="Content">
	<f:form method="post" action="updateTag" object="{tag}" objectName="tag">
		<div class="neos-row-fluid">
			<div class="neos-span6 neos-image-inputs">
				<fieldset>
					<label for="label">{neos:backend.translate(id: 'media.field.label', source: 'Modules', package: 'TYPO3.Neos')}</label>
					<f:form.textfield property="label" placeholder="{neos:backend.translate(id: 'media.field.label', source: 'Modules', package: 'TYPO3.Neos')}" id="label" />
					<f:security.ifAccess privilegeTarget="TYPO3.Media:ManageAssetCollections">
						<f:if condition="{assetCollections}">
							<label>{neos:backend.translate(id: 'media.collections', source: 'Modules', package: 'TYPO3.Neos')}</label>
							<f:for each="{assetCollections}" as="assetCollection">
								<label class="neos-checkbox neos-inline">
									<m:form.checkbox property="assetCollections" multiple="TRUE" value="{assetCollection}" /><span></span> {assetCollection.title}
								</label>
							</f:for>
						</f:if>
					</f:security.ifAccess>
				</fieldset>
			</div>
		</div>
		<div class="neos-footer">
			<f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
			<a class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'media.clickToDelete', source: 'Modules', package: 'TYPO3.Neos')}" data-toggle="modal" href="#tag-{tag -> f:format.identifier()}">{neos:backend.translate(id: 'media.delete', source: 'Modules', package: 'TYPO3.Neos')}</a>
			<f:form.submit id="save" class="neos-button neos-button-primary" value="{neos:backend.translate(id: 'media.save', source: 'Modules', package: 'TYPO3.Neos')}" />
			<div class="neos-hide" id="tag-{tag -> f:format.identifier()}">
				<div class="neos-modal">
					<div class="neos-modal-content">
						<div class="neos-modal-header">
							<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
							<div class="neos-header">{neos:backend.translate(id: 'media.message.reallyDeleteAsset', arguments: {0: tag.label}, source: 'Modules', package: 'TYPO3.Neos')}</div>
							<div>
								<div class="neos-subheader">
									<p>
										{neos:backend.translate(id: 'media.message.willDeleteTag', source: 'Modules', package: 'TYPO3.Neos')}<br />
										{neos:backend.translate(id: 'media.message.operationCannotBeUndone', source: 'Modules', package: 'TYPO3.Neos')}
									</p>
								</div>
							</div>
						</div>
						<div class="neos-modal-footer">
							<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</a>
							<button type="submit" form="postHelper" formaction="{f:uri.action(action: 'deleteTag', arguments: {tag: tag})}" class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'media.deleteTag', source: 'Modules', package: 'TYPO3.Neos')}">{neos:backend.translate(id: 'media.message.confirmDeleteTag', source: 'Modules', package: 'TYPO3.Neos')}</button>
						</div>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</div>
	</f:form>
	<f:form action="index" id="postHelper" method="post"></f:form>
</f:section>