{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">Edit view</f:section>

<f:section name="Content">
	<f:form method="post" action="update" object="{asset}" objectName="asset">
		<div class="neos-row-fluid">
			<div class="neos-span6 neos-image-inputs">
				<fieldset>
					<legend>{neos:backend.translate(id: 'media.basics', source: 'Modules', package: 'TYPO3.Neos')}</legend>
					<label for="title">{neos:backend.translate(id: 'media.field.title', source: 'Modules', package: 'TYPO3.Neos')}</label>
					<f:form.textfield property="title" id="title" placeholder="{neos:backend.translate(id: 'media.field.title', source: 'Modules', package: 'TYPO3.Neos')}"/>
					<label for="caption">{neos:backend.translate(id: 'media.field.caption', source: 'Modules', package: 'TYPO3.Neos')}</label>
					<f:form.textarea property="caption" id="caption" rows="3" placeholder="{neos:backend.translate(id: 'media.field.caption', source: 'Modules', package: 'TYPO3.Neos')}"/>
					<f:if condition="{tags}">
						<label>{neos:backend.translate(id: 'media.tags', source: 'Modules', package: 'TYPO3.Neos')}</label>
						<f:for each="{tags}" as="tag">
							<label class="neos-checkbox neos-inline">
								<m:form.checkbox property="tags" multiple="TRUE" value="{tag}" /><span></span> {tag.label}
							</label>
						</f:for>
					</f:if>
					<f:if condition="{assetCollections}">
						<label>{neos:backend.translate(id: 'media.collections', source: 'Modules', package: 'TYPO3.Neos')}</label>
						<f:for each="{assetCollections}" as="assetCollection">
							<label class="neos-checkbox neos-inline">
								<m:form.checkbox property="assetCollections" multiple="TRUE" value="{assetCollection}" /><span></span> {assetCollection.title}
							</label>
						</f:for>
					</f:if>
				</fieldset>
				<fieldset>
					<legend>{neos:backend.translate(id: 'media.metadata', source: 'Modules', package: 'TYPO3.Neos')}</legend>
					<table class="neos-info-table">
						<tbody>
							<tr>
								<th>{neos:backend.translate(id: 'media.metadata.filename', source: 'Modules', package: 'TYPO3.Neos')}</th>
								<td><a href="{f:uri.resource(resource:asset.resource)}" target="_blank">{asset.resource.filename}</a></td>
							</tr>
							<tr>
								<th>{neos:backend.translate(id: 'media.metadata.lastModified', source: 'Modules', package: 'TYPO3.Neos')}</th>
								<td><span title="{asset.lastModified -> f:format.date(format: 'd-m-Y H:i')}" data-neos-toggle="tooltip">{asset.lastModified -> m:format.relativeDate()}</span></td>
							</tr>
							<tr>
								<th>{neos:backend.translate(id: 'media.metadata.fileSize', source: 'Modules', package: 'TYPO3.Neos')}</th>
								<td>{asset.resource.fileSize -> f:format.bytes()}</td>
							</tr>
							<f:if condition="{asset.width}">
								<tr>
									<th>{neos:backend.translate(id: 'media.metadata.dimensions', source: 'Modules', package: 'TYPO3.Neos')}</th>
									<td>{asset.width} x {asset.height}</td>
								</tr>
							</f:if>
							<tr>
								<th>{neos:backend.translate(id: 'media.metadata.type', source: 'Modules', package: 'TYPO3.Neos')}</th>
								<td><span class="neos-label">{asset.resource.mediatype}</span></td>
							</tr>
							<tr>
								<th>{neos:backend.translate(id: 'media.metadata.identifier', source: 'Modules', package: 'TYPO3.Neos')}</th>
								<td><span class="neos-label">{asset.identifier}</span></td>
							</tr>
						</tbody>
					</table>
					<f:if condition="{asset.inUse}">
						<f:link.action action="relatedNodes" arguments="{asset:asset}" class="neos-button">{neos:backend.translate(id: 'media.relatedNodes', quantity: '{asset.usageCount}', arguments: {0: asset.usageCount}, source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
					</f:if>
				</fieldset>
			</div>
			<div class="neos-span6 neos-image-example">
				<f:render section="ContentImage" arguments="{_all}" />
			</div>
		</div>
		<div class="neos-footer">
			<f:link.action action="index" class="neos-button neos-action-cancel">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
			<f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.Module.Media.ReplaceAssetResource">
				<f:link.action action="replaceAssetResource" arguments="{asset: asset}" class="neos-button">{neos:backend.translate(id: 'media.replaceAssetResource', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
			</f:security.ifAccess>
			<f:if condition="{asset.inUse}">
				<f:then>
					<a title="{neos:backend.translate(id: 'media.deleteRelatedNodes', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip" class="neos-button neos-button-danger neos-disabled">{neos:backend.translate(id: 'media.delete', source: 'Modules', package: 'TYPO3.Neos')}</a>
				</f:then>
				<f:else>
					<a title="{neos:backend.translate(id: 'media.clickToDelete', source: 'Modules', package: 'TYPO3.Neos')}" data-toggle="modal" href="#asset-{asset -> f:format.identifier()}" class="neos-button neos-button-danger">{neos:backend.translate(id: 'media.delete', source: 'Modules', package: 'TYPO3.Neos')}</a>
				</f:else>
			</f:if>
			<f:form.submit id="save" class="neos-button neos-button-primary" value="{neos:backend.translate(id: 'media.saveEditing', source: 'Modules', package: 'TYPO3.Neos')}" />

			<div class="neos-hide" id="asset-{asset -> f:format.identifier()}">
				<div class="neos-modal-centered">
					<div class="neos-modal-content">
						<div class="neos-modal-header">
							<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
							<div class="neos-header">
								{neos:backend.translate(id: 'media.message.reallyDeleteAsset', arguments: {0: asset.label}, source: 'Modules', package: 'TYPO3.Neos')}
							</div>
							<div>
								<div class="neos-subheader">
									<p>
										{neos:backend.translate(id: 'media.message.willBeDeleted', source: 'Modules', package: 'TYPO3.Neos')}<br />
										{neos:backend.translate(id: 'media.message.operationCannotBeUndone', source: 'Modules', package: 'TYPO3.Neos')}
									</p>
								</div>
							</div>
						</div>
						<div class="neos-modal-footer">
							<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</a>
							<button type="submit" form="postHelper" formaction="{f:uri.action(action: 'delete', arguments: {asset: asset})}" title="{neos:backend.translate(id: 'media.tooltip.deleteAsset', source: 'Modules', package: 'TYPO3.Neos')}" class="neos-button neos-button-mini neos-button-danger">
								{neos:backend.translate(id: 'media.message.confirmDelete', source: 'Modules', package: 'TYPO3.Neos')}
							</button>
						</div>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</div>
	</f:form>
	<f:form action="index" id="postHelper" method="post"></f:form>
</f:section>

<f:section name="ContentImage">
	<label>{neos:backend.translate(id: 'media.preview', source: 'Modules', package: 'TYPO3.Neos')}</label>
	<div class="neos-preview-image">
		<a href="{f:uri.resource(resource: asset.resource)}" target="_blank">
			<m:thumbnail asset="{asset}" preset="TYPO3.Neos:Preview" alt="{asset.label}" async="{settings.asyncThumbnails}" class="img-polaroid" />
		</a>
	</div>
</f:section>

<f:section name="Scripts">
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/edit.js')}"></script>
</f:section>
