{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">Edit asset collection</f:section>

<f:section name="Content">
	<f:form method="post" action="updateAssetCollection" object="{assetCollection}" objectName="assetCollection">
		<div class="neos-row-fluid">
			<div class="neos-span6 neos-image-inputs">
				<fieldset>
					<legend>{neos:backend.translate(id: 'media.basics', source: 'Modules', package: 'TYPO3.Neos')}</legend>
					<label for="title">{neos:backend.translate(id: 'media.field.title', source: 'Modules', package: 'TYPO3.Neos')}</label>
					<f:form.textfield property="title" id="title" placeholder="{neos:backend.translate(id: 'media.field.title', source: 'Modules', package: 'TYPO3.Neos')}" />
					<f:if condition="{tags}">
						<label>{neos:backend.translate(id: 'media.tags', source: 'Modules', package: 'TYPO3.Neos')}</label>
						<f:for each="{tags}" as="tag">
							<label class="neos-checkbox neos-inline">
								<m:form.checkbox property="tags" multiple="TRUE" value="{tag}" /><span></span> {tag.label}
							</label>
						</f:for>
					</f:if>
				</fieldset>
			</div>
		</div>
		<div class="neos-footer">
			<f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
			<a title="{neos:backend.translate(id: 'media.clickToDelete', source: 'Modules', package: 'TYPO3.Neos')}" data-toggle="modal" href="#collection-{assetCollection -> f:format.identifier()}" class="neos-button neos-button-danger">{neos:backend.translate(id: 'media.delete', source: 'Modules', package: 'TYPO3.Neos')}</a>
			<f:form.submit id="save" class="neos-button neos-button-primary" value="{neos:backend.translate(id: 'media.save', source: 'Modules', package: 'TYPO3.Neos')}" />
			<div class="neos-hide" id="collection-{assetCollection -> f:format.identifier()}">
				<div class="neos-modal-centered">
					<div class="neos-modal-content">
						<div class="neos-modal-header">
							<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
							<div class="neos-header">{neos:backend.translate(id: 'media.message.reallyDeleteAsset', arguments: {0: assetCollection.title}, source: 'Modules', package: 'TYPO3.Neos')}</div>
							<div>
								<div class="neos-subheader">
									<p>
										{neos:backend.translate(id: 'media.message.willDeleteCollection', source: 'Modules', package: 'TYPO3.Neos')}<br />
										{neos:backend.translate(id: 'media.message.operationCannotBeUndone', source: 'Modules', package: 'TYPO3.Neos')}
									</p>
								</div>
							</div>
						</div>
						<div class="neos-modal-footer">
							<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</a>
							<button type="submit" form="postHelper" formaction="{f:uri.action(action: 'deleteAssetCollection', arguments: {assetCollection: assetCollection})}" title="{neos:backend.translate(id: 'media.deleteCollection', source: 'Modules', package: 'TYPO3.Neos')}" class="neos-button neos-button-mini neos-button-danger">
								{neos:backend.translate(id: 'media.message.confirmDeleteCollection', source: 'Modules', package: 'TYPO3.Neos')}
							</button>
						</div>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</div>
	</f:form>
	<f:form action="index" id="postHelper" method="post"></f:form>
</f:section>
