{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">Index view of AssetController</f:section>

<f:section name="Options">
	<div class="neos-file-options">
		<span class="count">
			{neos:backend.translate(id: 'media.search.itemCount', arguments: {0: '{assets -> f:count()}'}, source: 'Modules', package: 'TYPO3.Neos')}
			<f:if condition="{searchTerm}"> {neos:backend.translate(id: 'media.search.foundMatches', arguments: {0: searchTerm}, source: 'Modules', package: 'TYPO3.Neos')}</f:if>
		</span>
		<f:link.action action="new"><i class="icon-upload"></i> {neos:backend.translate(id: 'media.upload', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
	</div>
	<div class="neos-view-options">
		<div class="neos-dropdown" id="neos-filter-menu">
			<span title="{neos:backend.translate(id: 'media.filterOptions', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip">
				<a class="dropdown-toggle{f:if(condition: '{filter} != \'All\'', then: ' neos-active')}" href="#" data-neos-toggle="dropdown" data-target="#neos-filter-menu">
					<i class="icon-filter"></i>
				</a>
			</span>
			<ul class="neos-dropdown-menu neos-pull-right" role="menu">
				<li>
					<f:link.action action="index" title="{neos:backend.translate(id: 'media.filter.title.all', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{filter: 'All'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'All\'', then: 'neos-active')}"><i class="icon-filter"></i> {neos:backend.translate(id: 'media.filter.all', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="{neos:backend.translate(id: 'media.filter.title.images', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{filter: 'Image'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Image\'', then: 'neos-active')}"><i class="icon-picture"></i> {neos:backend.translate(id: 'media.filter.images', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="{neos:backend.translate(id: 'media.filter.title.documents', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{filter: 'Document'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Document\'', then: 'neos-active')}"><i class="icon-file-text"></i> {neos:backend.translate(id: 'media.filter.documents', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="{neos:backend.translate(id: 'media.filter.title.video', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{filter: 'Video'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Video\'', then: 'neos-active')}"><i class="icon-film"></i> {neos:backend.translate(id: 'media.filter.video', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="{neos:backend.translate(id: 'media.filter.title.audio', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{filter: 'Audio'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Audio\'', then: 'neos-active')}"><i class="icon-music"></i> {neos:backend.translate(id: 'media.filter.audio', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
				</li>
			</ul>
		</div>
		<div class="neos-dropdown" id="neos-sort-menu">
			<span title="{neos:backend.translate(id: 'media.tooltip.sortOptions', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip">
				<a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#neos-sort-menu">
					<f:if condition="{sortDirection} == 'ASC'">
						<f:then>
							<i class="icon-{f:if(condition: '{sortBy} == \'Modified\'', then: 'sort-by-order', else: 'sort-by-alphabet')}"></i>
						</f:then>
						<f:else>
							<i class="icon-{f:if(condition: '{sortBy} == \'Modified\'', then: 'sort-by-order-alt', else: 'sort-by-alphabet-alt')}"></i>
						</f:else>
					</f:if>
				</a>
			</span>
			<div class="neos-dropdown-menu-list neos-pull-right" role="menu">
				<span class="neos-dropdown-menu-list-title" title="">{neos:backend.translate(id: 'media.sortby', source: 'Modules', package: 'TYPO3.Neos')}</span>
				<ul>
					<li>
						<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByLastModified', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{sortBy: 'Modified'}" addQueryString="TRUE" class="{f:if(condition: '{sortBy} == \'Modified\'', then: 'neos-active')}"><i class="icon-sort-by-order"></i> {neos:backend.translate(id: 'media.field.lastModified', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
					</li>
					<li>
						<f:link.action action="index" title="{neos:backend.translate(id: 'media.sortByName', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{sortBy: 'Name'}" addQueryString="TRUE" class="{f:if(condition: '{sortBy} == \'Name\'', then: 'neos-active')}"><i class="icon-sort-by-alphabet"></i> {neos:backend.translate(id: 'media.field.name', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
					</li>
				</ul>
				<span class="neos-dropdown-menu-list-title">{neos:backend.translate(id: 'media.sortdirection', source: 'Modules', package: 'TYPO3.Neos')}</span>
				<ul>
					<li>
						<f:link.action action="index" title="Sort direction Ascending" arguments="{sortDirection: 'ASC'}" addQueryString="TRUE" class="{f:if(condition: '{sortDirection} == \'ASC\'', then: 'neos-active')}"><i class="icon-{f:if(condition: '{sortBy} == \'Name\'', then: 'sort-by-alphabet', else: 'sort-by-order')}"></i> {neos:backend.translate(id: 'media.sortdirection.asc', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
					</li>
					<li>
						<f:link.action action="index" title="Sort direction Descending" arguments="{sortDirection: 'DESC'}" addQueryString="TRUE" class="{f:if(condition: '{sortDirection} == \'DESC\'', then: 'neos-active')}"><i class="icon-{f:if(condition: '{sortBy} == \'Name\'', then: 'sort-by-alphabet-alt', else: 'sort-by-order-alt')}"></i> {neos:backend.translate(id: 'media.sortdirection.desc', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
					</li>
				</ul>
			</div>
		</div>
		<f:if condition="{view} == 'Thumbnail'">
			<f:then>
				<f:link.action action="index" title="{neos:backend.translate(id: 'media.tooltip.listView', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{view: 'List'}" addQueryString="TRUE" data="{neos-toggle: 'tooltip'}"><i class="icon-th-list"></i></f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="index" title="{neos:backend.translate(id: 'media.tooltip.thumbnailView', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{view: 'Thumbnail'}" addQueryString="TRUE" data="{neos-toggle: 'tooltip'}"><i class="icon-th"></i></f:link.action>
			</f:else>
		</f:if>
	</div>
</f:section>

<f:section name="Sidebar">
	<form action="{f:uri.action(action: 'index')}" method="get" class="neos-search">
		<button type="submit" title="{neos:backend.translate(id: 'media.search.title', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip"><i class="icon-search"></i></button>
		<div>
			<input type="search" name="{f:if(condition: argumentNamespace, then: '{argumentNamespace}[searchTerm]', else: 'searchTerm')}" placeholder="{neos:backend.translate(id: 'media.search.placeholder', source: 'Modules', package: 'TYPO3.Neos')}" value="{searchTerm}"{f:if(condition: '{tags -> f:count()} <= 25', then: ' autofocus="autofocus"')} />
		</div>
	</form>
	<div class="neos-media-aside-group">
		<f:security.ifAccess privilegeTarget="TYPO3.Media:ManageAssetCollections">
			<f:then>
				<h2>
					{neos:backend.translate(id: 'media.collections', source: 'Modules', package: 'TYPO3.Neos')}
					<span class="neos-media-aside-list-edit-toggle neos-button" title="{neos:backend.translate(id: 'media.editCollections', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip"><i class="icon-pencil"></i></span>
				</h2>
			</f:then>
			<f:else>
				<f:if condition="{assetCollections}">
					<h2>{neos:backend.translate(id: 'media.collections', source: 'Modules', package: 'TYPO3.Neos')}</h2>
				</f:if>
			</f:else>
		</f:security.ifAccess>
		<f:if condition="{assetCollections}">
			<ul class="neos-media-aside-list">
				<li>
					<f:link.action action="index" class="{f:if(condition: activeAssetCollection, else: ' neos-active')}" title="{neos:backend.translate(id: 'media.allCollections', source: 'Modules', package: 'TYPO3.Neos')}" arguments="{view: view, collectionMode: 1}">
						{neos:backend.translate(id: 'media.filter.all', source: 'Modules', package: 'TYPO3.Neos')}
						<span class="count">{allCollectionsCount}</span>
					</f:link.action>
				</li>
				<f:for each="{assetCollections}" as="assetCollection">
					<li>
						<f:link.action action="index" title="{assetCollection.object.title}" class="droppable-assetcollection{f:if(condition: '{assetCollection.object} == {activeAssetCollection}', then: ' neos-active')}" arguments="{view: view, assetCollection: assetCollection.object}" data="{assetcollection-identifier: '{assetCollection.object -> f:format.identifier()}'}">
							{assetCollection.object.title}
							<span class="count">{assetCollection.count}</span>
						</f:link.action>
						<div class="neos-sidelist-edit-actions">
							<f:link.action class="neos-button" action="editAssetCollection" arguments="{assetCollection: assetCollection.object}" title="{neos:backend.translate(id: 'media.editCollection', source: 'Modules', package: 'TYPO3.Neos')}" data="{neos-toggle: 'tooltip'}"><i class="icon-pencil"></i></f:link.action>
							<button type="submit" class="neos-button-danger" data-modal="delete-assetcollection-modal" data-object-identifier="{assetCollection.object -> f:format.identifier()}" data-label="{assetCollection.object.title}" title="{neos:backend.translate(id: 'media.deleteCollection', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip"><i class="icon-trash"></i></button>
						</div>
					</li>
				</f:for>
			</ul>
			<div class="neos-hide" id="delete-assetcollection-modal">
				<div class="neos-modal">
					<div class="neos-modal-header">
						<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
						<div class="neos-header">{neos:backend.translate(id: 'media.message.reallyDeleteCollection', source: 'Modules', package: 'TYPO3.Neos')}</div>
						<div>
							<div class="neos-subheader">
								<p>
									{neos:backend.translate(id: 'media.message.willDeleteCollection', source: 'Modules', package: 'TYPO3.Neos')}<br />
									{neos:backend.translate(id: 'media.message.operationCannotBeUndone', source: 'Modules', package: 'TYPO3.Neos')}
								</p>
							</div>
						</div>
					</div>
					<div class="neos-modal-footer">
						<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</a>
						<f:form action="deleteAssetCollection" class="neos-inline">
							<f:form.hidden name="assetCollection" id="modal-form-object" />
							<button type="submit" class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'media.deleteCollection', source: 'Modules', package: 'TYPO3.Neos')}">
								{neos:backend.translate(id: 'media.message.confirmDeleteCollection', source: 'Modules', package: 'TYPO3.Neos')}
							</button>
						</f:form>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</f:if>
		<f:security.ifAccess privilegeTarget="TYPO3.Media:ManageAssetCollections">
			<f:form action="createAssetCollection" id="neos-assetcollections-create-form">
				<f:form.textfield name="title" placeholder="{neos:backend.translate(id: 'media.newCollection.placeholder', source: 'Modules', package: 'TYPO3.Neos')}" /><br /><br />
				<button type="submit" class="neos-button neos-button-primary">{neos:backend.translate(id: 'media.createCollection', source: 'Modules', package: 'TYPO3.Neos')}</button>
			</f:form>
		</f:security.ifAccess>
	</div>

	<div class="neos-media-aside-group">
		<h2>
			{neos:backend.translate(id: 'media.tags', source: 'Modules', package: 'TYPO3.Neos')}
			<span class="neos-media-aside-list-edit-toggle neos-button" title="{neos:backend.translate(id: 'media.editTags', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip"><i class="icon-pencil"></i></span>
		</h2>
		<ul class="neos-media-aside-list">
			<li class="neos-media-list-all">
				<f:link.action action="index" title="{neos:backend.translate(id: 'media.tags.title.all', source: 'Modules', package: 'TYPO3.Neos')}" class="{f:if(condition: '{tagMode} == 1', then: 'neos-active')}" arguments="{tagMode: 1}">
					{neos:backend.translate(id: 'media.tags.all', source: 'Modules', package: 'TYPO3.Neos')}
					<span class="count">{allCount}</span>
				</f:link.action>
			</li>
			<li class="neos-media-list-untagged">
				<f:link.action action="index" title="{neos:backend.translate(id: 'media.untaggedAssets', source: 'Modules', package: 'TYPO3.Neos')}" class="{f:if(condition: '{tagMode} == 2', then: 'neos-active')}" arguments="{tagMode: 2}">
					{neos:backend.translate(id: 'media.untagged', source: 'Modules', package: 'TYPO3.Neos')}
					<span class="count">{untaggedCount}</span>
				</f:link.action>
			</li>
			<f:for each="{tags}" as="tag">
				<li>
					<f:link.action action="index" title="{tag.object.label}" class="droppable-tag{f:if(condition: '{tag.object} == {activeTag}', then: ' neos-active')}" arguments="{tag: tag.object}" data="{tag-identifier: '{tag.object -> f:format.identifier()}'}">
						{tag.object.label}
						<span class="count">{tag.count}</span>
					</f:link.action>
					<div class="neos-sidelist-edit-actions">
						<f:link.action class="neos-button" action="editTag" arguments="{tag: tag.object}" title="{neos:backend.translate(id: 'media.editTag', source: 'Modules', package: 'TYPO3.Neos')}" data="{neos-toggle: 'tooltip'}"><i class="icon-pencil"></i></f:link.action>
						<button class="neos-button-danger" title="{neos:backend.translate(id: 'media.deleteTag', source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip" data-modal="delete-tag-modal" data-object-identifier="{tag.object -> f:format.identifier()}" data-label="{tag.object.label}"><i class="icon-trash"></i></button>
					</div>
				</li>
			</f:for>
			<div class="neos-hide" id="delete-tag-modal">
				<div class="neos-modal">
					<div class="neos-modal-header">
						<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
						<div class="neos-header">{neos:backend.translate(id: 'media.message.reallyDeleteTag', source: 'Modules', package: 'TYPO3.Neos')}</div>
						<div>
							<div class="neos-subheader">
								<p>
									{neos:backend.translate(id: 'media.message.willDeleteTag', source: 'Modules', package: 'TYPO3.Neos')}<br />
									{neos:backend.translate(id: 'media.message.operationCannotBeUndone', source: 'Modules', package: 'TYPO3.Neos')}
								</p>
							</div>
						</div>
					</div>
					<div class="neos-modal-footer">
						<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</a>
						<f:form action="deleteTag" class="neos-inline">
							<f:form.hidden name="tag" id="modal-form-object" />
							<button type="submit" class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'media.deleteTag', source: 'Modules', package: 'TYPO3.Neos')}">
								{neos:backend.translate(id: 'media.message.confirmDeleteTag', source: 'Modules', package: 'TYPO3.Neos')}
							</button>
						</f:form>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</ul>
		<f:form action="createTag" id="neos-tags-create-form">
			<f:form.textfield name="label" placeholder="{neos:backend.translate(id: 'media.placeholder.createTag', source: 'Modules', package: 'TYPO3.Neos')}" /><br /><br />
			<button type="submit" class="neos-button neos-button-primary">{neos:backend.translate(id: 'media.createTag', source: 'Modules', package: 'TYPO3.Neos')}</button>
		</f:form>
	</div>
</f:section>

<f:section name="Content">
	<div id="dropzone" class="neos-upload-area">
		<div title="{neos:backend.translate(id: 'media.maxUploadSize', arguments: {0: humanReadableMaximumFileUploadSize}, source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip">{neos:backend.translate(id: 'media.dropFiles', source: 'Modules', package: 'TYPO3.Neos')}<i class="icon-arrow-down"></i><span> {neos:backend.translate(id: 'media.clickToUpload', source: 'Modules', package: 'TYPO3.Neos')}</span></div>
		<f:form method="post" action="create" object="{asset}" objectName="asset" enctype="multipart/form-data">
			<f:form.upload id="resource" property="resource" additionalAttributes="{required: 'required'}" />
		</f:form>
	</div>
	<div id="uploader">
		<div id="filelist"></div>
	</div>
	<f:if condition="{assets}">
		<f:then>
			<f:render partial="{view}View" arguments="{assets: assets, sortBy: sortBy, sortDirection: sortDirection}" />
			<div class="neos-hide" id="delete-asset-modal">
				<div class="neos-modal">
					<div class="neos-modal-header">
						<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
						<div class="neos-header">{neos:backend.translate(id: 'media.message.reallyDeleteAsset', source: 'Modules', package: 'TYPO3.Neos')}</div>
						<div>
							<div class="neos-subheader">
								<p>
									{neos:backend.translate(id: 'media.message.willBeDeleted', source: 'Modules', package: 'TYPO3.Neos')}<br />
									{neos:backend.translate(id: 'media.message.operationCannotBeUndone', source: 'Modules', package: 'TYPO3.Neos')}
								</p>
							</div>
						</div>
					</div>
					<div class="neos-modal-footer">
						<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</a>
						<f:form action="delete" method="post" class="neos-inline">
							<f:form.hidden name="asset" id="modal-form-object" />
							<button type="submit" title="{neos:backend.translate(id: 'media.tooltip.deleteAsset', source: 'Modules', package: 'TYPO3.Neos')}" class="neos-button neos-button-mini neos-button-danger">
								{neos:backend.translate(id: 'media.message.confirmDelete', source: 'Modules', package: 'TYPO3.Neos')}
							</button>
						</f:form>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</f:then>
		<f:else>
			<p>{neos:backend.translate(id: 'media.noAssetsFound', source: 'Modules', package: 'TYPO3.Neos')}</p>
		</f:else>
	</f:if>
</f:section>

<f:section name="Scripts">
	<script type="text/javascript">
		var uploadUrl = '<f:uri.action action="upload" additionalParams="{__csrfToken: \"{f:security.csrfToken()}\"}" absolute="true" />';
		var maximumFileUploadSize = {maximumFileUploadSize};
	</script>
	<f:form action="tagAsset" id="tag-asset-form" format="json">
		<f:form.hidden name="asset[__identity]" id="tag-asset-form-asset" />
		<f:form.hidden name="tag[__identity]" id="tag-asset-form-tag" />
	</f:form>
	<f:form action="addAssetToCollection" id="link-asset-to-assetcollection-form" format="json">
		<f:form.hidden name="asset[__identity]" id="link-asset-to-assetcollection-form-asset" />
		<f:form.hidden name="assetCollection[__identity]" id="link-asset-to-assetcollection-form-assetcollection" />
	</f:form>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Libraries/plupload/plupload.full.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Libraries/jquery-ui/js/jquery-ui-1.10.3.custom.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/upload.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/collections-and-tagging.js')}"></script>
</f:section>
