{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="UploadImage" />

<f:section name="Title">Upload view</f:section>

<f:section name="Content">
	<f:form method="post" action="create" object="{asset}" objectName="asset" enctype="multipart/form-data">
		<fieldset>
			<div class="neos-span6 neos-image-inputs">
				<legend>{neos:backend.translate(id: 'media.basics', source: 'Modules', package: 'TYPO3.Neos')}</legend>
				<label class="neos-button neos-button-primary" for="resource" title="{neos:backend.translate(id: 'media.maxUploadSize', arguments: {0: humanReadableMaximumFileUploadSize}, source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip">{neos:backend.translate(id: 'media.chooseFile', source: 'Modules', package: 'TYPO3.Neos')} <i class="icon-file"></i></label>
				<f:form.upload id="resource" property="resource" additionalAttributes="{required: 'required'}" />
				<label for="title">{neos:backend.translate(id: 'media.field.title', source: 'Modules', package: 'TYPO3.Neos')}</label>
				<f:form.textfield property="title" id="title" placeholder="{neos:backend.translate(id: 'media.field.title', source: 'Modules', package: 'TYPO3.Neos')}" />
				<label for="caption">{neos:backend.translate(id: 'media.field.caption', source: 'Modules', package: 'TYPO3.Neos')}</label>
				<f:form.textarea property="caption" rows="3" id="caption" placeholder="{neos:backend.translate(id: 'media.field.caption', source: 'Modules', package: 'TYPO3.Neos')}" />
				<f:if condition="{tags}">
					<label>{neos:backend.translate(id: 'media.field.tags', source: 'Modules', package: 'TYPO3.Neos')}</label>
					<f:for each="{tags}" as="tag">
						<label class="neos-checkbox neos-inline">
							<f:form.checkbox name="asset[tags][]" value="{tag -> f:format.identifier()}" checked="{f:if(condition: '{tag} == {activeTag}', then: 'checked')}" /><span></span> {tag.label}
						</label>
					</f:for>
				</f:if>
				<f:if condition="{assetCollections}">
					<label>{neos:backend.translate(id: 'media.collections', source: 'Modules', package: 'TYPO3.Neos')}</label>
					<f:for each="{assetCollections}" as="assetCollection">
						<label class="neos-checkbox neos-inline">
							<f:form.checkbox name="asset[assetCollections][]" value="{assetCollection -> f:format.identifier()}" checked="{f:if(condition: '{assetCollection} == {activeAssetCollection}', then: 'checked')}" /><span></span> {assetCollection.title}
						</label>
					</f:for>
				</f:if>
			</div>
		</fieldset>
		<div class="neos-footer">
			<f:link.action action="index" class="neos-button">{neos:backend.translate(id: 'media.cancel', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
			<f:form.submit id="import" class="neos-button neos-button-primary" value="{neos:backend.translate(id: 'media.upload', source: 'Modules', package: 'TYPO3.Neos')}" />
		</div>
	</f:form>
</f:section>

<f:section name="Scripts">
	<script type="text/javascript">
		var maximumFileUploadSize = {maximumFileUploadSize};
	</script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/new.js')}"></script>
</f:section>
