{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">RelatedDocumentNodes view of AssetController</f:section>

<f:section name="Content">
	<legend>{asset.label}</legend>

	<table class="neos-info-table">
		<thead>
			<tr>
				<th>{neos:backend.translate(id: 'media.relatedDocumentNodes.document', source: 'Modules', package: 'TYPO3.Neos')}</th>
				<th>{neos:backend.translate(id: 'media.relatedDocumentNodes.reference', source: 'Modules', package: 'TYPO3.Neos')}</th>
				<th class="neos-aRight">{neos:backend.translate(id: 'media.field.lastModified', source: 'Modules', package: 'TYPO3.Neos')}</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{relatedDocumentNodes}" as="relatedDocumentNode">
				<tr>
					<td>
						<neos:link.node node="{relatedDocumentNode.documentNode}">
							<f:if condition="{relatedDocumentNode.documentNode.nodeType.ui.icon}">
								<i class="{relatedDocumentNode.documentNode.nodeType.ui.icon}" title="{f:if(condition: relatedDocumentNode.documentNode.nodeType.label, then: '{neos:backend.translate(id: relatedDocumentNode.documentNode.nodeType.label)}', else: relatedDocumentNode.documentNode.nodeType.name)}" data-neos-toggle="tooltip"></i>
							</f:if>
							<span title="<neos:backend.documentBreadcrumbPath node="{relatedDocumentNode.documentNode}"><f:for each="{documentNodes}" as="documentNode" iteration="{iterator}"> / {documentNode.label}</f:for></neos:backend.documentBreadcrumbPath>" data-neos-toggle="tooltip">{relatedDocumentNode.documentNode.label}</span>
						</neos:link.node>
					</td>
					<td>
						<ul>
							<f:for each="{relatedDocumentNode.node}" as="node">
								<li>
									<neos:link.node node="{relatedDocumentNode.documentNode}" title="{f:if(condition: node.nodeType.label, then: '{neos:backend.translate(id: node.nodeType.label)}', else: '{node.nodeType.name}')}" additionalAttributes="{data-neos-toggle: 'tooltip', data-placement: 'left'}">
										<f:if condition="{node.nodeType.ui.icon}">
											<i class="{node.nodeType.ui.icon}"></i>
										</f:if>
										{node.label}
									</neos:link.node>
								</li>
							</f:for>
						</ul>
					</td>
					<td class="neos-aRight">
						<span title="{relatedDocumentNode.documentNode.lastModificationDateTime -> f:format.date(format: 'Y-m-d H:i')}" data-neos-toggle="tooltip">{relatedDocumentNode.documentNode.lastModificationDateTime -> m:format.relativeDate()}</span>
				</tr>
			</f:for>
		</tbody>
	</table>

	<div class="neos-footer">
		<f:link.action action="edit" arguments="{asset:asset}" class="neos-button">{neos:backend.translate(id: 'back', source: 'Modules', package: 'TYPO3.Neos')}</f:link.action>
	</div>
</f:section>
