{namespace m=TYPO3\Media\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="UploadImage" />

<f:section name="Title">Replace view of AssetController</f:section>

<f:section name="Content">
    <f:form method="post" arguments="{asset: asset}" action="updateAssetResource" enctype="multipart/form-data">
        <div class="neos-row-fluid">
            <div class="neos-span8">
                <fieldset>
                    <legend>{neos:backend.translate(id: 'media.replaceAsset.replaceFilename', source: 'Modules', arguments: {filename: asset.resource.filename})}</legend>
                    <p class="neos-buffer-below">
                        {neos:backend.translate(id: 'media.replaceAsset.description', source: 'Modules', package: 'TYPO3.Neos')}<br/>
                        <b>{neos:backend.translate(id: 'media.replaceAsset.note', source: 'Modules', package: 'TYPO3.Neos')}: </b> {neos:backend.translate(id: 'media.replaceAsset.noteText', source: 'Modules', package: 'TYPO3.Neos')}
                    </p>
                    <span class="neos-file-input">
                        <label class="neos-button neos-button-primary" for="resource" title="{neos:backend.translate(id: 'media.maxUploadSize', arguments: {0: humanReadableMaximumFileUploadSize}, source: 'Modules', package: 'TYPO3.Neos')}" data-neos-toggle="tooltip">{neos:backend.translate(id: 'media.replaceAsset.chooseNewFile', source: 'Modules', package: 'TYPO3.Neos')} <i class="icon-file"></i></label>
                        <f:form.upload id="resource" name="resource" additionalAttributes="{required: 'required'}" />
                    </span>
                </fieldset>
                <fieldset>
                    <div>
                        <label class="neos-checkbox neos-inline">
                            <f:form.checkbox name="options[keepOriginalFilename]" value="1" /><span></span> {neos:backend.translate(id: 'media.replace.options.keepOriginalFilename', arguments: {0: asset.resource.filename}, source: 'Modules', package: 'TYPO3.Neos')}
                        </label>
                    </div>
                    <f:if condition="{redirectPackageEnabled}">
                        <div>
                            <label class="neos-checkbox neos-inline">
                                <f:form.checkbox name="options[generateRedirects]" value="1" checked="true" /><span></span> {neos:backend.translate(id: 'media.replace.options.generateRedirects', source: 'Main', package: 'TYPO3.Media')}
                            </label>
                        </div>
                    </f:if>
                </fieldset>
                <fieldset>
                    <legend>{neos:backend.translate(id: 'media.relatedNodes.referencesTo', source: 'Modules', arguments: {asset: asset.label})}</legend>
                    <f:if condition="{asset.inUse}">
                        <f:then>
                            <p class="neos-buffer-below"><i class="icon-exclamation-sign"></i> {neos:backend.translate(id: 'media.replace.usageCount', arguments: {usageCount: asset.usageCount}, source: 'Modules', package: 'TYPO3.Neos')}</p>
                            <f:link.action action="relatedNodes" arguments="{asset:asset}" class="neos-button">
                                {neos:backend.translate(id: 'media.replace.allUsages', source: 'Modules', package: 'TYPO3.Neos')}
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <p><i class="icon-ok-sign"></i> {neos:backend.translate(id: 'media.replace.notUsed', source: 'Modules', package: 'TYPO3.Neos')}</p>
                        </f:else>
                    </f:if>
                </fieldset>
            </div>

            <div class="neos-span4 neos-image-example">
                <f:render section="ContentImage" arguments="{_all}" />
            </div>
        </div>
        <div class="neos-footer">
            <!-- TODO: Find a nicer way to send the referer for a get request -->
            <a href="javascript:window.history.back(1);" class="neos-button">{neos:backend.translate(id: 'cancel', source: 'Modules')}</a>
            <f:form.submit id="replace" class="neos-button neos-button-primary" value="{neos:backend.translate(id: 'media.replaceAssetResource', source: 'Modules', package: 'TYPO3.Neos')}" />
        </div>
    </f:form>
</f:section>

<f:section name="ContentImage">
    <label>{neos:backend.translate(id: 'media.replace.previewFile', source: 'Modules', package: 'TYPO3.Neos')}</label>
    <div class="neos-preview-image">
        <a href="{f:uri.resource(resource: asset.resource)}" target="_blank">
            <m:thumbnail asset="{asset}" maximumWidth="1000" maximumHeight="1000" alt="{asset.label}" class="img-polaroid" />
        </a>
    </div>
</f:section>

<f:section name="Scripts">
    <script type="text/javascript">
        var maximumFileUploadSize = {maximumFileUploadSize};
    </script>
    <script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/new.js')}"></script>
</f:section>


