.neos-contentelement {
	z-index: 10001;

	&.neos-contentelement-hidden > * {
		@include opacity(0.2);

		&.neos-contentelement-handle-container {
			@include opacity(1);
		}
	}

	&.neos-contentelement-removed {
		display: none;
	}

	&.neos-contentelement-selected {
		.neos-aloha-block-over > .neos-handle {
			display: none;
		}
		.aloha-block-active-top > .neos-handle,
		.aloha-block-active-top:hover > .neos-handle {
			display: block;
		}
	}

	&.neos-contentelement-hover {
		outline: 3px solid rgba(0, 0, 0, .2);
		outline-offset: 3px;
	}

	&.neos-contentelement-active {
		outline: 3px solid $orange !important;
		outline-offset: 3px;

		> .neos-contentelement-handle-container {
			visibility: visible;
		}
	}

	&.neos-contentelement-hover > .neos-contentelement-overlay,
	&.neos-contentelement-active > .neos-contentelement-overlay {
		display: block;
	}

	.neos-contentelement-handle-container {
		visibility:hidden;
		// We set the height of the handle container to "0", as we do not want to consume any space for the handle container itself.
		height: 0;

		.btn-toolbar {
			text-align:right !important;
			margin-top: 0;
			position: relative;

			.btn {
				// We use a high z-index for the buttons to make them always visible
				z-index: 10000;
			}

			.btn-group {
				position: absolute;
				right: -6px;
				top: -32px;
				border: 3px solid $orange;
				border-bottom: 0px;
				background: $orange;
				.btn:last-child {
					@include border-radius(0);
				}
			}
		}
	}

	.neos-handle {
		position: absolute;
		right: -1px;
		top: -21px;
		width: 22px;
		height: 20px;
		overflow: hidden;
		font-size: 9px;
		display: none;
		border-width: 1px 1px 0 1px;
		border-style: solid solid none solid;
		border-color: $dark-grey3;
		text-indent: -9999px;
		cursor: pointer;
		background: $lightest;

		&.neos-handle-hidden {
			display: none !important;
		}

		span {
			width: 100%;
			height: 100%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: $lightest;
			overflow: hidden;
			@include opacity(1.0);
			@include transition-property(opacity);
			@include transition-duration(0.25s);

			&:hover,
			&:focus,
			&:active {
				@include opacity(0.7);
			}
		}

		.neos-add-above-handle,
		.neos-add-below-handle {
			right: 49%;
			border-width: 0;
			border-style: none;
			top: -31px;
			padding: 6px;
			background: transparent;
			span {
				background-color: $lightest;
				background-image: url(../Images/Icons/Black/plus.png);
			}
		}

		.neos-add-below-handle {
			top: auto;
			bottom: -31px;
		}

		.neos-delete-handle {
			right: -1px;
			top: -21px;
			span {
				background-image: url(../Images/Icons/Black/trash_icon-16.png);
			}
		}

		.neos-copy-handle,
		.neos-remove-from-copy-handle {
			right: 43px;
			span {
				background-image: url(../Images/Icons/Black/clipboard_copy_icon-16.png);
			}
		}

		.neos-cut-handle,
		.neos-remove-from-cut-handle {
			right: 21px;
			span {
				background-image: url(../Images/Icons/Black/clipboard_cut_icon-16.png);
			}
		}

		.neos-paste-before-handle,
		.neos-paste-after-handle {
			right: 49%;
			top: -31px;
			border-width: 0;
			border-style: none;
			padding: 6px;
			background: transparent;
			span {
				background: $lightest;
				background-image: url(../Images/Icons/Black/clipboard_past_icon-16.png);
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}
		}

		.neos-paste-after-handle {
			top: auto;
			bottom: -31px;
		}

		.neos-remove-from-cut-handle span,
		.neos-remove-from-copy-handle span {
			@include opacity(0.3);
		}
	}

	&.neos-contentelement-active .neos-inline-editable,
	.aloha-editable-active,
	.aloha-editable-active[contenteditable=true]:focus {
		outline: none !important;
	}

	.aloha-block.aloha-block-active, .aloha-block.aloha-block-active:hover {
		box-shadow: none;
	}
	.aloha-editable-active .aloha-block, .aloha-block.aloha-block-highlighted {
		box-shadow: none;
	}

	> .neos-contentelement-overlay {
		position: absolute;
		display: none;
		@include background-image(linear-gradient(top, rgba(50,50,50,0.1), rgba(50,50,50,0.2), rgba(50,50,50,0.1)));

		.neos-contentelement-overlay-icon {
			display: none;
			width: 32px;
			height: 32px;

			margin: auto;
			position: relative;
			top: 35%;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			@include user-select(none);
		}
	}

	&.typo3-neos-nodetypes-html .neos-contentelement-overlay-icon {
		background-image: url('../Images/Icons/White/brackets_icon-16.png');
	}
}

.neos-contentcollection-handle-container .btn-toolbar {
	text-align:right !important;
}

// Aloha Blocks
.aloha-block-TYPO3Block.neos-contentelement.aloha-block:hover {
	@include box-shadow(0 0 0 1px $dark-grey3);
}

.aloha-block-active-top > .neos-handle,
.neos-aloha-block-over > .neos-handle {
	display:block;
	z-index: 10000;
	span {
		display:block;
		z-index: 10000;
	}
}

.aloha-block-TYPO3Block.aloha-block.aloha-block-active,
.aloha-block-TYPO3Block.aloha-block.aloha-block-active:hover {
	@include box-shadow(0 0 0 1px rgba($dark-grey3, 0.7));
	.neos-handle {
		border-color: rgba($dark-grey3, 0.7);
	}
}

button.neos-create-new-content {
	position: relative;
	z-index: 100;
}

// Hide content element status indicators by default
.neos-status-indicator {
	display: none;
}