.neos-contentelement {

	&.neos-contentelement-hidden > * {
		@include opacity(0.2);
	}

	&.neos-contentelement-removed {
		display: none;
	}

	&.neos-contentelement-selected {
		.neos-aloha-block-over > .neos-handle {
			display: none;
		}
		.aloha-block-active-top > .neos-handle,
		.aloha-block-active-top:hover > .neos-handle {
			display: block;
		}
	}

	&.neos-contentelement-hover {
		outline: 2px solid rgba(0, 0, 0, .2);
		outline-offset: 6px;
	}

	&.neos-contentelement-active {
		outline: 2px solid $blue !important;
		outline-offset: 6px;
	}

	&.neos-contentelement-hover > .neos-contentelement-overlay,
	&.neos-contentelement-active > .neos-contentelement-overlay {
		display: block;
	}

	&.neos-contentelement-active .neos-inline-editable,
	.aloha-editable-active,
	.aloha-editable-active[contenteditable=true]:focus {
		outline: none !important;
	}

	.aloha-block.aloha-block-active, .aloha-block.aloha-block-active:hover {
		box-shadow: none;
	}
	.aloha-editable-active .aloha-block, .aloha-block.aloha-block-highlighted {
		box-shadow: none;
	}

	> .neos-contentelement-overlay {
		position: absolute;
		display: none;
		@include background-image(linear-gradient(top, rgba(50,50,50,0.1), rgba(50,50,50,0.2), rgba(50,50,50,0.1)));

		.neos-contentelement-overlay-icon {
			width: 14px;
			height: 14px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -7px;
			margin-left: -7px;
			@include user-select(none);

			i {
				@include icon-FontAwesome();
			}
		}
	}
}

.neos-contentcollection {
	&.neos-contentelement-active {
		outline: 2px solid $blue !important;
		outline-offset: 6px;
	}
}

// Aloha Blocks
.aloha-block-TYPO3Block.neos-contentelement.aloha-block:hover {
	@include box-shadow(0 0 0 1px $dark-grey3);
}

.aloha-block-active-top > .neos-handle,
.neos-aloha-block-over > .neos-handle {
	display:block;
	z-index: 10000;
	span {
		display:block;
		z-index: 10000;
	}
}

.aloha-block-TYPO3Block.aloha-block.aloha-block-active,
.aloha-block-TYPO3Block.aloha-block.aloha-block-active:hover {
	@include box-shadow(0 0 0 1px rgba($dark-grey3, 0.7));
	.neos-handle {
		border-color: rgba($dark-grey3, 0.7);
	}
}

button.neos-create-new-content {
	position: relative;
	z-index: 100;
}

// Hide content element status indicators by default
.neos-status-indicator {
	display: none;
}
