/** Inline editing handles **/
.neos-handle-container {
	position: absolute;
	.btn-toolbar {
		text-align:right !important;
		margin-top: 0;
		position: relative;

		.btn-group {
			position: absolute;
			right: -6px;
			top: -32px;
			border: 3px solid $orange;
			border-bottom: 0px;
			background: $orange;
			.btn:last-child {
				@include border-radius(0);
			}
		}
	}
}
/** End inline editing handles **/
.neos-content-new-selecttype-button {
	display: inline-block;
	margin: 5px 0px;
	width: 30%;

	a {
		display: block;
		line-height: 16px;
		vertical-align: bottom;
		&:hover,
		&:focus,
		&:active {
			color: $lightest;
			cursor: pointer;
			text-decoration: none;
		}
	}

}

.neos-empty-contentcollection-overlay {
	height: 20px;
	outline: 2px solid rgba(0, 0, 0, .2);
	inline-offset: 2px;
}