/** Inline editing handles **/
.neos-handle-container {
	position: absolute;
	z-index: 10001;

	.neos-btn-toolbar {
		text-align: right !important;
		margin-top: 0;
		position: relative;

		.neos-btn-group {
			position: absolute;
			right: -8px;
			top: -43px;
			border: 2px solid $blue;
			border-bottom: 0px;
			background-color: #eee;

			.neos-btn {
				background: none;
				background-image: none;
				width: 32px;
				height: 32px;
				@include box-sizing(border-box);
				@include box-shadow(none);
				border: none;

				&:hover {
					background-color: #e6e6e6;
				}

				&.neos-active {
					background-color: $blue;
					@include box-shadow(inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05));

					i {
						color: #fff;
					}
				}

				i {
					color: #000;
					@include text-shadow(none);
				}
			}

			.neos-btn:last-child {
				@include border-radius(0);
			}
		}
	}
}

&.neos-empty-contentcollection-overlay {
	height: 20px;
	outline: 2px solid rgba(0, 0, 0, .2);
	inline-offset: 2px;
}