// Management View

.neos-module {
	margin: 120px 0px 0px 0px;
	font-family: $default-font;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
	}
	a {
		color: $lightest;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: $light-grey;
			text-decoration: underline;
		}
	}
	.neos-content {
		font-size: 12px;
	}
	#neos-context-bar {
		left: 0px;
		right: 0px;
		padding: 0px 8px;
		a {
			line-height: 36px;
			vertical-align: middle;
		}
	}

	.neos-alert-message.Error {
		background:#C43C35;
		color: $lightest;
	}
}