//
// Default styles for basic html elements
//

// ---------- Forms ---------- //
// --------------------------- //


form {
	margin: 0px;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.neos-uneditable-input {
	padding: 2px 4px 2px 4px;
	font-size: 12px;
	border: 1px solid rgba(0, 0, 0, .5);
	@include border-radius(0);
	&:focus {
		border-color: rgba($light-orange, 0.8);
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($light-orange, 0.6));
	}
	&.neos-error {
		border-color: rgba($red, 0.8);
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($red, 0.6));
	}
}

.neos-input-append,
.neos-input-prepend {
	font-size: inherit;
}

legend {
	border-color: #999;
	color: $lightest;
	@include text-shadow(1px 1px 1px rgba($darkest, 0.5));
	margin-bottom: 0px;
	font-size: 21px;

	& + .neos-alert {
		margin-top: 20px;
		float: left;
		width: 100%;
		@include box-sizing(border-box);
	}
}

label {
	font-size: 12px;
	color: $lightest;
}

// Horizontal-specific and fluid-row specific styles
// --------------------------


.neos-form-horizontal {
	// Floated labels left
	.neos-control-label {
		padding-top: 2px;
	}
}
.neos-row-fluid [class*="span"] {
	min-height: inherit;

	input {
		@include box-sizing(content-box);
	}
}

// Form footer & modal footer
// ------------

.neos-form-footer {
	background: #666;
	border-color: $light-grey3;
	@include border-bottom-radius(4px);
	@include box-shadow(0px -1px 5px rgba($darkest, 0.2), 0px -1px 0px #666);
	margin-bottom: 0px;
	li {
		text-align:left;
	}
}

// Buttons
// -------

.neos-btn {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;

	@include border-radius(0);

	i {
		margin-top: 0;
	}

	// Middle grey button for light background
	&.neos-button {
		outline: none;
		@include buttonBackground(lighten($light-grey3, 5%), $light-grey3);
		border: 1px solid darken($light-grey3, 5%);
		border-bottom-color: darken($light-grey3, 10%);
		$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
		@include box-shadow($shadow);

		&.neos-disabled,
		&[disabled] {
			@include buttonBackground(lighten($light-grey3, 5%), $light-grey3);
			border: 1px solid darken($light-grey3, 5%);
			border-bottom-color: darken($light-grey3, 10%);
			&:hover {
				background-position: 0 0;
			}
		}

		// Orange button for active buttons
		&.pressed {
			@include buttonBackground(lighten($orange, 5%), $orange);
			border: 1px solid darken($orange, 5%);
			border-bottom-color: darken($orange, 10%);
			$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
			@include box-shadow($shadow);

			&:hover,
			&:focus,
			&:active {
				@include buttonBackground($orange, darken($orange, 2%));
				border: 1px solid darken($orange, 10%);
				border-bottom-color: darken($orange, 20%);
			}

			&.neos-disabled,
			&[disabled] {
				@include buttonBackground(lighten($orange, 5%), $orange);
			}
		}

		// Orange button for active buttons
		&.neos-btn-warning {
			@include buttonBackground(lighten($orange, 5%), $orange);
			border: 1px solid darken($orange, 5%);
			border-bottom-color: darken($orange, 10%);
			$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
			@include box-shadow($shadow);

			&:hover,
			&:focus,
			&:active {
				@include buttonBackground($orange, darken($orange, 2%));
				border: 1px solid darken($orange, 10%);
				border-bottom-color: darken($orange, 20%);
			}

			&.neos-disabled,
			&[disabled] {
				@include buttonBackground(lighten($orange, 5%), $orange);
			}
		}

		// Green button for positive actions
		&.neos-btn-primary,
		&.neos-btn-success {
			@include buttonBackground(lighten($green, 5%), $green);
			border: 1px solid darken($green, 5%);
			border-bottom-color: darken($green, 10%);
			$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
			@include box-shadow($shadow);

			&:hover,
			&:focus,
			&:active {
				@include buttonBackground($green, darken($green, 2%));
				border: 1px solid darken($green, 10%);
				border-bottom-color: darken($green, 20%);
			}

			&.neos-disabled,
			&[disabled] {
				@include buttonBackground(lighten($green, 5%), $green);
			}
		}

		&.neos-btn-danger {
			@include buttonBackground(lighten($red, 2%), $red);
			border: 1px solid darken($red, 2%);
			border-bottom-color: darken($red, 10%);
			$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
			@include box-shadow($shadow);

			&:hover,
			&:focus,
			&:active {
				@include buttonBackground($red, darken($red, 2%));
				border: 1px solid darken($red, 5%);
				border-bottom-color: darken($red, 20%);
			}

			&.neos-disabled,
			&[disabled] {
				@include buttonBackground(lighten($red, 5%), $red);
			}
		}
	}
}
a.neos-button {
	display: inline-block;
}

// Tables
table.neos-table {
	@include border-radius(6px);

	tbody {
		tr {
			&:hover,
			&:focus,
			&:active {
				background: rgba($lightest, 0.1);
			}
		}
	}

	th {
		font-weight: normal;
		font-size: 14px;
		color: $lightest;
		@include text-shadow(1px 1px 1px rgba($darkest, 0.5));
	}

	&.neos-table-striped {
		background: #aaa;
	}

	tr {
		color: $light-grey;

		&.muted {
			color: rgba($darkest, 0.5);
		}
	}

	tr:last-child {
		@include border-bottom-radius(6px);
	}

	td {
		line-height: 28px;

		&.folder {
			//@include background-image(linear-gradient(rgba($darkest, 0.1), rgba($darkest, 0.2)));
			background: rgba($darkest, 0.1);

			&:hover,
			&:active,
			&:focus {
				background: rgba($darkest, 0.2);
			}
		}
	}
}

// Dropdown menus
.neos-dropdown-menu {
	@include border-radius(0);
}
.neos-dropdown-menu li > a:hover,
.neos-dropdown-menu li > a:focus,
.neos-dropdown-submenu:hover > a,
.neos-dropdown-menu .neos-active > a,
.neos-dropdown-menu .neos-active > a:hover {
	background-color: $light-orange;
	@include gradient-vertical($light-orange, darken($light-orange, 5%));
}