// Core variables and mixins
@import "compass";
@import "Foundation/variables"; // Modify this for custom colors, font-sizes, etc
@import "Foundation/mixins";
@import "Constants";
@import "Mixins";
@import "Fonts";
@import "../../Public/Library/fontawesome/scss/font-awesome.scss";
@import "Icons";

.neos {
	// CSS Reset
	@import "Foundation/reset";

	// Grid system and page structure
	@import "Foundation/grid";
	@import "Foundation/layouts";

	// Base CSS
	@import "Foundation/forms";
	@import "Foundation/tables";

	// Components: common
	@import "Foundation/dropdowns";
	@import "Foundation/wells";
	@import "Foundation/component-animations";
	@import "Foundation/close";
	@import "Foundation/thumbnails";

	// Components: Buttons & Alerts
	@import "Foundation/buttons";
	@import "Foundation/button-groups";

	// Components: Nav
	@import "Foundation/breadcrumbs";

	// Components: Modals, Tooltips & Popovers
	@import "Foundation/modals";
	@import "Foundation/tooltip";
	@import "Foundation/popovers";

	// Components: Misc
	@import "Foundation/labels-badges";

	// Utility classes
	@import "Foundation/utilities"; // Has to be last to override when necessary

	// Large desktops
	@import "Foundation/responsive-1200px-min";

	// Tablets to regular desktops
	@import "Foundation/responsive-768px-979px";

	// Phones to portrait tablets and narrow desktops
	@import "Foundation/responsive-767px-max";

	// Neos
	@import "Reset";
	font-size: 14px;
	line-height: 1em;
	text-align: left;
	color: $textOnGray;
	@include font;

	@import "Tree";
	@import "General";
	@import "Shared/Ellipsis";
	@import "Shared/Scrollbar";
	@import "ContentProperties";
	@import "StyleWorkInProgress";
	@import "Inspector/Inspector";
	@import "Inspector/SecondaryInspector";
	@import "TopBar/TopBar";
	@import "TopBar/PublishMenu";
	@import "TopBar/UserMenu";
	@import "EditPreview/EditPreviewPanel";
	@import "ContextBar/ContextBar";
	@import "ContextBar/ContentDimensionSelector";
	@import "Menu/MenuPanel";
	@import "Navigate/NavigatePanel";
	@import "ContextBar/AlohaMenu";
	@import "InlineEditing";
	@import "Modules/Modules";
	@import "Modules/Widget";
	@import "ButtonGroups";
	@import "Content/InsertNodePanel";
	@import "Content/LoadingIndicator";
	@import "Media/Media";
	@import "Notifications";
	@import "Components/LoginDialog";
	@import "Components/PositionSelector";
	@import "Components/HelpMessage";
	@import "Widget/pagination";
	@import "ContextBar/AlohaLinkEditor";
	@import "ContextBar/AlohaAddTable";
}

@import "Content";
@import "Global";
