<f:layout name="Setup" />

<f:section name="title">TYPO3 Setup</f:section>
<f:section name="subtitle">Import content from package</f:section>
<f:section name="description">
	<f:flashMessages/>
	<p>Please select the package from which to import content below.</p>
	<f:form action="importAndCreateAdministrator">
		<label for="packageKey">Package</label>
		<f:form.select name="packageKey"  options="{packagesWithSites}"/> <br/>
		<p>Please define a username and password for the administrator.</p>
		<label for="identifier">Username</label>
		<f:form.textbox name="identifier"/> <br/>
		<label for="password">Password</label>
		<f:form.password name="password"/> <br/>

		<label for="person[name][firstName]">Firstname</label>
			<f:form.textbox name="person[name][firstName]"/> <br/>
			<label for="person[name][lastName]">Lastname</label>
			<f:form.textbox name="person[name][lastName]"/> <br/>
		<f:form.submit value="Import!"/>
	</f:form>
</f:section>