<f:layout name="Setup" />

<f:section name="title">{title}</f:section>
<f:section name="description">
	<p>Getting started with TYPO3 is easy – just select a package from below in order
		to import a site along with its content:</p>
	<f:flashMessages class="flashmessages" />
	<f:form action="importAndCreateAdministrator">
		<label for="packageKey">Package</label>
		<f:form.select name="packageKey" options="{packagesWithSites}"/> <br/>
		<p>Finally you need to create an administrator account.<br />
			Please enter the necessary
			details in the form below:</p>
		<f:render partial="ValidationResults" arguments="{property: 'identifier'}" />
		<label for="identifier">Username</label>
		<f:form.textbox name="identifier"/> <br/>
		<f:render partial="ValidationResults" arguments="{property: 'password'}" />
		<label for="password">Password</label>
		<f:form.password name="password"/> <br/>

		<f:render partial="ValidationResults" arguments="{property: 'user.name'}" />
		<label for="user[name][firstName]">Firstname</label>
			<f:form.textbox name="user[name][firstName]"/> <br/>
			<label for="user[name][lastName]">Lastname</label>
			<f:form.textbox name="user[name][lastName]"/> <br/>
			<br />
		<f:form.submit value="Create Site"/>
	</f:form>
</f:section>