@keyframes dot {
	0% { text-indent: -20px; }
	25% { text-indent: -15px; }
	50% { text-indent: -7px; }
	75% { text-indent: 0px; }
	100% { text-indent: -20px; }
}

.neos-ellipsis,
%ellipsis {
	&::after {
		display: inline-block;
		width: 12px;
		content: '...';
		overflow: hidden;
		vertical-align: top;
		animation: dot 1.3s infinite;
		animation-timing-function: step-start;
	}
}