{namespace m=TYPO3\Media\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">Edit collection</f:section>

<f:section name="Content">
	<f:form method="post" action="updateAssetCollection" object="{assetCollection}" objectName="assetCollection">
		<div class="neos-row-fluid">
			<div class="neos-span6 neos-image-inputs">
				<fieldset>
					<legend>Basics</legend>
					<label for="title">Title</label>
					<f:form.textfield property="title" placeholder="Title" />
					<f:if condition="{tags}">
						<label>Tags</label>
						<f:for each="{tags}" as="tag">
							<label class="neos-checkbox neos-inline">
								<m:form.checkbox property="tags" multiple="TRUE" value="{tag}" /><span></span> {tag.label}
							</label>
						</f:for>
					</f:if>
				</fieldset>
			</div>
		</div>
		<div class="neos-footer">
			<f:link.action action="index" title="Cancel editing" class="neos-button">Cancel</f:link.action>
			<a title="Click to delete" data-toggle="modal" href="#collection-{assetCollection -> f:format.identifier()}" class="neos-button neos-button-danger">Delete</a>
			<f:form.submit id="save" class="neos-button neos-button-primary" value="Save" />
			<div class="neos-hide" id="collection-{assetCollection -> f:format.identifier()}">
				<div class="neos-modal">
					<div class="neos-modal-content">
						<div class="neos-modal-header">
							<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
							<div class="neos-header">Do you really want to delete asset "{assetCollection.title}"?</div>
							<div>
								<div class="neos-subheader">
									<p>This will delete the collection.<br />This operation cannot be undone.</p>
								</div>
							</div>
						</div>
						<div class="neos-modal-footer">
							<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
							<button type="submit" form="postHelper" formaction="{f:uri.action(action: 'deleteAssetCollection', arguments: {assetCollection: assetCollection})}" title="Delete collection" class="neos-button neos-button-mini neos-button-danger">
								Yes, delete the collection
							</button>
						</div>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</div>
	</f:form>
	<f:form action="index" id="postHelper" method="post"></f:form>
</f:section>