{namespace m=TYPO3\Media\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">Edit view of AssetController</f:section>

<f:section name="Content">
	<f:form method="post" action="update" object="{asset}" objectName="asset">
		<div class="neos-row-fluid">
			<div class="neos-span6 neos-image-inputs">
				<fieldset>
					<legend>Basics</legend>
					<label for="title">Title</label>
					<f:form.textfield property="title" placeholder="Title"/>
					<label for="caption">Caption</label>
					<f:form.textarea property="caption" id="caption" rows="3" placeholder="Caption"/>
					<f:if condition="{tags}">
						<label>Tags</label>
						<f:for each="{tags}" as="tag">
							<label class="neos-checkbox neos-inline">
								<m:form.checkbox property="tags" multiple="TRUE" value="{tag}" /><span></span> {tag.label}
							</label>
						</f:for>
					</f:if>
					<f:if condition="{assetCollections}">
						<label>Collections</label>
						<f:for each="{assetCollections}" as="assetCollection">
							<label class="neos-checkbox neos-inline">
								<m:form.checkbox property="assetCollections" multiple="TRUE" value="{assetCollection}" /><span></span> {assetCollection.title}
							</label>
						</f:for>
					</f:if>
				</fieldset>
				<fieldset>
					<legend>Metadata</legend>
					<table class="neos-info-table">
						<tbody>
							<tr>
								<th>Filename</th>
								<td><a href="{f:uri.resource(resource:asset.resource)}" target="_blank">{asset.resource.filename}</a></td>
							</tr>
							<tr>
								<th>Last modified (resource)</th>
								<td><span title="{asset.lastModified -> f:format.date(format: 'd-m-Y H:i')}" data-neos-toggle="tooltip">{asset.lastModified -> m:format.relativeDate()}</span></td>
							</tr>
							<tr>
								<th>File size</th>
								<td>{asset.resource.fileSize -> f:format.bytes()}</td>
							</tr>
							<f:if condition="{asset.width}">
								<tr>
									<th>Dimensions</th>
									<td>{asset.width} x {asset.height}</td>
								</tr>
							</f:if>
							<tr>
								<th>Type</th>
								<td>{asset.resource.mediatype}</td>
							</tr>
							<tr>
								<th>Identifier</th>
								<td>{asset.identifier}</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>
			<div class="neos-span6 neos-image-example">
				<f:render section="ContentImage" arguments="{_all}" />
			</div>
		</div>
		<div class="neos-footer">
			<f:link.action action="index" title="Cancel editing" class="neos-button">Cancel</f:link.action>
			<a title="Click to delete" data-toggle="modal" href="#asset-{asset -> f:format.identifier()}" class="neos-button neos-button-danger">Delete</a>
			<f:form.submit id="save" class="neos-button neos-button-primary" value="Save" />
			<div class="neos-hide" id="asset-{asset -> f:format.identifier()}">
				<div class="neos-modal">
					<div class="neos-modal-content">
						<div class="neos-modal-header">
							<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
							<div class="neos-header">Do you really want to delete asset "{asset.label}"?</div>
							<div>
								<div class="neos-subheader">
									<p>This will delete the asset.<br />This operation cannot be undone.</p>
								</div>
							</div>
						</div>
						<div class="neos-modal-footer">
							<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
							<button type="submit" form="postHelper" formaction="{f:uri.action(action: 'delete', arguments: {asset: asset})}" title="Delete asset" class="neos-button neos-button-mini neos-button-danger">
								Yes, delete the asset
							</button>
						</div>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</div>
	</f:form>
	<f:form action="index" id="postHelper" method="post"></f:form>
</f:section>

<f:section name="ContentImage">
	<label>Preview</label>
	<div class="neos-preview-image">
		<a href="{f:uri.resource(resource: asset.resource)}" target="_blank">
			<m:thumbnail asset="{asset}" maximumWidth="1000" maximumHeight="1000" alt="{asset.label}" class="img-polaroid" />
		</a>
	</div>
</f:section>

<f:section name="Scripts">
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/edit.js')}"></script>
</f:section>
