{namespace m=TYPO3\Media\ViewHelpers}
<f:layout name="EditImage"/>

<f:section name="Title">Edit tag</f:section>

<f:section name="Content">
	<f:form method="post" action="updateTag" object="{tag}" objectName="tag">
		<div class="neos-row-fluid">
			<div class="neos-span6 neos-image-inputs">
				<fieldset>
					<label for="label">Label</label>
					<f:form.textfield property="label" placeholder="Label" id="label" />
					<f:security.ifAccess privilegeTarget="TYPO3.Media:ManageAssetCollections">
						<f:if condition="{assetCollections}">
							<label>Collections</label>
							<f:for each="{assetCollections}" as="assetCollection">
								<label class="neos-checkbox neos-inline">
									<m:form.checkbox property="assetCollections" multiple="TRUE" value="{assetCollection}" /><span></span> {assetCollection.title}
								</label>
							</f:for>
						</f:if>
					</f:security.ifAccess>
				</fieldset>
			</div>
		</div>
		<div class="neos-footer">
			<f:link.action action="index" title="Cancel editing" class="neos-button">Cancel</f:link.action>
			<a class="neos-button neos-button-danger" title="Click to delete" data-toggle="modal" href="#tag-{tag -> f:format.identifier()}">Delete</a>
			<f:form.submit id="save" class="neos-button neos-button-primary" value="Save" />
			<div class="neos-hide" id="tag-{tag -> f:format.identifier()}">
				<div class="neos-modal">
					<div class="neos-modal-content">
						<div class="neos-modal-header">
							<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
							<div class="neos-header">Do you really want to delete tag "{tag.label}"?</div>
							<div>
								<div class="neos-subheader">
									<p>This will delete the tag, but not the assets that has it.<br />This operation cannot be undone.</p>
								</div>
							</div>
						</div>
						<div class="neos-modal-footer">
							<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
							<button type="submit" form="postHelper" formaction="{f:uri.action(action: 'deleteTag', arguments: {tag: tag})}" class="neos-button neos-button-danger" title="Delete the tag">Yes, delete the tag</button>
						</div>
					</div>
				</div>
				<div class="neos-modal-backdrop neos-in"></div>
			</div>
		</div>
	</f:form>
	<f:form action="index" id="postHelper" method="post"></f:form>
</f:section>