<f:layout name="Default" />

<f:section name="Title">Index view of AssetController</f:section>

<f:section name="Options">
	<div class="neos-file-options">
		<span class="count">{assets -> f:count()} items<f:if condition="{searchTerm}"> found matching "{searchTerm}"</f:if></span>
		<f:link.action action="new"><i class="icon-upload"></i> Upload</f:link.action>
	</div>
	<div class="neos-view-options">
		<div class="neos-dropdown" id="neos-filter-menu">
			<span title="Filter options" data-neos-toggle="tooltip">
				<a class="dropdown-toggle{f:if(condition: '{filter} != \'All\'', then: ' neos-active')}" href="#" data-neos-toggle="dropdown" data-target="#neos-filter-menu">
					<i class="icon-filter"></i>
				</a>
			</span>
			<ul class="neos-dropdown-menu neos-pull-right" role="menu">
				<li>
					<f:link.action action="index" title="Display all asset types" arguments="{filter: 'All'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'All\'', then: 'neos-active')}"><i class="icon-filter"></i> All</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="Only display image assets" arguments="{filter: 'Image'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Image\'', then: 'neos-active')}"><i class="icon-picture"></i> Images</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="Only display document assets" arguments="{filter: 'Document'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Document\'', then: 'neos-active')}"><i class="icon-file-text"></i> Documents</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="Only display video assets" arguments="{filter: 'Video'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Video\'', then: 'neos-active')}"><i class="icon-film"></i> Video</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="Only display audio assets" arguments="{filter: 'Audio'}" addQueryString="TRUE" class="{f:if(condition: '{filter} == \'Audio\'', then: 'neos-active')}"><i class="icon-music"></i> Audio</f:link.action>
				</li>
			</ul>
		</div>
		<div class="neos-dropdown" id="neos-sort-menu">
			<span title="Sort options" data-neos-toggle="tooltip">
				<a class="dropdown-toggle" href="#" data-neos-toggle="dropdown" data-target="#neos-sort-menu">
					<i class="icon-{f:if(condition: '{sortBy} == \'Modified\'', then: 'sort-by-order', else: 'sort-by-alphabet')}"></i>
				</a>
			</span>
			<ul class="neos-dropdown-menu neos-pull-right" role="menu">
				<li>
					<f:link.action action="index" title="Sort by last modified" arguments="{sort: 'Modified'}" addQueryString="TRUE" class="{f:if(condition: '{sortBy} == \'Modified\'', then: 'neos-active')}"><i class="icon-sort-by-order"></i> Last modified</f:link.action>
				</li>
				<li>
					<f:link.action action="index" title="Sort by name" arguments="{sortBy: 'Name'}" addQueryString="TRUE" class="{f:if(condition: '{sortBy} == \'Name\'', then: 'neos-active')}"><i class="icon-sort-by-alphabet"></i> Name</f:link.action>
				</li>
			</ul>
		</div>
		<f:if condition="{view} == 'Thumbnail'">
			<f:then>
				<f:link.action action="index" title="List view" arguments="{view: 'List'}" addQueryString="TRUE" data="{neos-toggle: 'tooltip'}"><i class="icon-th-list"></i></f:link.action>
			</f:then>
			<f:else>
				<f:link.action action="index" title="Thumbnail view" arguments="{view: 'Thumbnail'}" addQueryString="TRUE" data="{neos-toggle: 'tooltip'}"><i class="icon-th"></i></f:link.action>
			</f:else>
		</f:if>
	</div>
</f:section>

<f:section name="Sidebar">
	<form action="{f:uri.action(action: 'index')}" method="get" class="neos-search">
		<button type="submit" title="Search in assets" data-neos-toggle="tooltip"><i class="icon-search"></i></button>
		<div>
			<input type="search" name="{f:if(condition: argumentNamespace, then: '{argumentNamespace}[searchTerm]', else: 'searchTerm')}" placeholder="Search" value="{searchTerm}" autofocus="autofocus" />
		</div>
	</form>
	<div class="neos-media-aside-group">
		<f:security.ifAccess privilegeTarget="TYPO3.Media:ManageAssetCollections">
			<f:then>
				<h2>
					Collections
					<span class="neos-media-aside-list-edit-toggle neos-button" title="Edit collections" data-neos-toggle="tooltip"><i class="icon-pencil"></i></span>
				</h2>
			</f:then>
			<f:else>
				<f:if condition="{assetCollections}">
					<h2>Collections</h2>
				</f:if>
			</f:else>
		</f:security.ifAccess>
		<f:if condition="{assetCollections}">
			<ul class="neos-media-aside-list">
				<li>
					<f:link.action action="index" class="{f:if(condition: activeAssetCollection, else: ' neos-active')}" title="All collections" arguments="{view: view, collectionMode: 1}">
						All
						<span class="count">{allCollectionsCount}</span>
					</f:link.action>
				</li>
				<f:for each="{assetCollections}" as="assetCollection">
					<li>
						<f:link.action action="index" title="{assetCollection.title}" class="droppable-assetcollection{f:if(condition: '{assetCollection} == {activeAssetCollection}', then: ' neos-active')}" arguments="{view: view, assetCollection: assetCollection}" data="{assetcollection-identifier: '{assetCollection -> f:format.identifier()}'}">
							{assetCollection.title}
							<span class="count">{assetCollection.assets -> f:count()}</span>
						</f:link.action>
						<div class="neos-sidelist-edit-actions">
							<f:link.action class="neos-button" action="editAssetCollection" arguments="{assetCollection: assetCollection}" title="Edit collection" data="{neos-toggle: 'tooltip'}"><i class="icon-pencil"></i></f:link.action>
							<button type="submit" class="neos-button-danger" title="Delete collection" data-neos-toggle="tooltip" data-toggle="modal" data-target="#collection-{assetCollection -> f:format.identifier()}"><i class="icon-trash"></i></button>
						</div>
						<div class="neos-hide" id="collection-{assetCollection -> f:format.identifier()}">
							<div class="neos-modal-centered">
								<div class="neos-modal-content">
									<div class="neos-modal-header">
										<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
										<div class="neos-header">Do you really want to delete collection "{assetCollection.title}"?</div>
										<div>
											<div class="neos-subheader">
												<p>This will delete the collection, but not the assets that it contains.<br />This operation cannot be undone.</p>
											</div>
										</div>
									</div>
									<div class="neos-modal-footer">
										<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
										<f:form action="deleteAssetCollection" arguments="{assetCollection: assetCollection}" class="neos-inline">
											<button type="submit" class="neos-button neos-button-danger" title="Delete the collection">
												Yes, delete the collection
											</button>
										</f:form>
									</div>
								</div>
							</div>
							<div class="neos-modal-backdrop neos-in"></div>
						</div>
					</li>
				</f:for>
			</ul>
		</f:if>
		<f:security.ifAccess privilegeTarget="TYPO3.Media:ManageAssetCollections">
			<f:form action="createAssetCollection" id="neos-assetcollections-create-form">
				<f:form.textfield name="title" placeholder="Enter collection title" /><br /><br />
				<button type="submit" class="neos-button neos-button-primary">Create collection</button>
			</f:form>
		</f:security.ifAccess>
	</div>

	<div class="neos-media-aside-group">
		<h2>
			Tags
			<span class="neos-media-aside-list-edit-toggle neos-button" title="Edit tags" data-neos-toggle="tooltip"><i class="icon-pencil"></i></span>
		</h2>
		<ul class="neos-media-aside-list">
			<li class="neos-media-list-all">
				<f:link.action action="index" title="All assets" class="{f:if(condition: '{tagMode} == 1', then: 'neos-active')}" arguments="{tagMode: 1}">
					All
					<span class="count">{allCount}</span>
				</f:link.action>
			</li>
			<li class="neos-media-list-untagged">
				<f:link.action action="index" title="Untagged assets" class="{f:if(condition: '{tagMode} == 2', then: 'neos-active')}" arguments="{tagMode: 2}">
					Untagged
					<span class="count">{untaggedCount}</span>
				</f:link.action>
			</li>
			<f:for each="{tags}" as="tag">
				<li>
					<f:link.action action="index" title="{tag.tag.label}" class="droppable-tag{f:if(condition: '{tag.tag} == {activeTag}', then: ' neos-active')}" arguments="{tag: tag.tag}" data="{tag-identifier: '{tag.tag -> f:format.identifier()}'}">
						{tag.tag.label}
						<span class="count">{tag.count}</span>
					</f:link.action>
					<div class="neos-sidelist-edit-actions">
						<f:link.action class="neos-button" action="editTag" arguments="{tag: tag.tag}" title="Edit tag" data="{neos-toggle: 'tooltip'}"><i class="icon-pencil"></i></f:link.action>
						<button class="neos-button-danger" title="Delete tag" data-neos-toggle="tooltip" data-toggle="modal" data-target="#tag-{tag.tag -> f:format.identifier()}"><i class="icon-trash"></i></button>
					</div>
					<div class="neos-hide" id="tag-{tag.tag -> f:format.identifier()}">
						<div class="neos-modal-centered">
							<div class="neos-modal-content">
								<div class="neos-modal-header">
									<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
									<div class="neos-header">Do you really want to delete tag "{tag.tag.label}"?</div>
									<div>
										<div class="neos-subheader">
											<p>This will delete the tag, but not the assets that has it.<br />This operation cannot be undone.</p>
										</div>
									</div>
								</div>
								<div class="neos-modal-footer">
									<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
									<f:form action="deleteTag" arguments="{tag: tag.tag}" class="neos-inline">
										<button type="submit" class="neos-button neos-button-danger" title="Delete the tag">
											Yes, delete the tag
										</button>
									</f:form>
								</div>
							</div>
						</div>
						<div class="neos-modal-backdrop neos-in"></div>
					</div>
				</li>
			</f:for>
		</ul>
		<f:form action="createTag" id="neos-tags-create-form">
			<f:form.textfield name="label" placeholder="Enter tag label" /><br /><br />
			<button type="submit" class="neos-button neos-button-primary">Create tag</button>
		</f:form>
	</div>
</f:section>

<f:section name="Content">
	<div id="dropzone" class="neos-upload-area">
		<div title="Max. upload size {humanReadableMaximumFileUploadSize} per file" data-neos-toggle="tooltip">Drop files here<i class="icon-arrow-down"></i><span> or click to upload</span></div>
		<f:form method="post" action="create" object="{asset}" objectName="asset" enctype="multipart/form-data">
			<f:form.upload id="resource" property="resource" additionalAttributes="{required: 'required'}" />
		</f:form>
	</div>
	<div id="uploader">
		<div id="filelist"></div>
	</div>
	<f:if condition="{assets}">
		<f:then>
			<f:render partial="{view}View" arguments="{assets: assets, sortBy: sortBy}" />
		</f:then>
		<f:else>
			<p>No Assets found.</p>
		</f:else>
	</f:if>
</f:section>

<f:section name="Scripts">
	<script type="text/javascript">
		var uploadUrl = '<f:uri.action action="upload" additionalParams="{__csrfToken: \"{f:security.csrfToken()}\"}" absolute="true" />';
		var maximumFileUploadSize = {maximumFileUploadSize};
	</script>
	<f:form action="tagAsset" id="tag-asset-form" format="json">
		<f:form.hidden name="asset[__identity]" id="tag-asset-form-asset" />
		<f:form.hidden name="tag[__identity]" id="tag-asset-form-tag" />
	</f:form>
	<f:form action="addAssetToCollection" id="link-asset-to-assetcollection-form" format="json">
		<f:form.hidden name="asset[__identity]" id="link-asset-to-assetcollection-form-asset" />
		<f:form.hidden name="assetCollection[__identity]" id="link-asset-to-assetcollection-form-assetcollection" />
	</f:form>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Libraries/plupload/plupload.full.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Libraries/jquery-ui/js/jquery-ui-1.10.3.custom.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/upload.js')}"></script>
	<script type="text/javascript" src="{f:uri.resource(package: 'TYPO3.Media', path: 'Scripts/collections-and-tagging.js')}"></script>
</f:section>
