<f:layout name="UploadImage" />

<f:section name="Title">Upload view of AssetController</f:section>

<f:section name="Content">
	<f:form method="post" action="create" object="{asset}" objectName="asset" enctype="multipart/form-data">
		<fieldset>
			<div class="neos-span6 neos-image-inputs">
				<legend>Basics</legend>
				<label class="neos-button neos-button-primary" for="resource"><i class="icon-file"></i> Choose file</label>
				<f:form.upload id="resource" property="resource" additionalAttributes="{required: 'required'}" />
				<label for="title">Title</label>
				<f:form.textfield property="title" placeholder="Title" />
				<label for="caption">Caption</label>
				<f:form.textarea property="caption" rows="3" id="caption" placeholder="Caption" />
				<f:if condition="{tags}">
					<label>Tags</label>
					<f:for each="{tags}" as="tag">
						<label class="neos-checkbox neos-inline">
							<f:form.checkbox name="asset[tags][]" value="{tag -> f:format.identifier()}" /><span></span> {tag.label}
						</label>
					</f:for>
				</f:if>
			</div>
		</fieldset>
		<div class="neos-footer">
			<f:link.action action="index" title="Cancel editing" class="neos-button">Cancel</f:link.action>
			<f:form.submit id="import" class="neos-button neos-button-primary" value="Upload" />
		</div>
	</f:form>
</f:section>