<f:layout name="Default"/>

<f:section name="Title">Upload view of AssetController</f:section>

<f:section name="Sidebar"></f:section>

<f:section name="Content">
	<f:form method="post" action="create" object="{asset}" objectName="asset" enctype="multipart/form-data">
		<fieldset>
			<legend>Basics</legend>
			<label for="resource">Resource file</label>
			<f:form.upload id="resource" property="resource" additionalAttributes="{required: 'required'}"/>
			<label for="title">Title</label>
			<f:form.textfield property="title" placeholder="Title"/>
			<label for="caption">Caption</label>
			<f:form.textarea property="caption" rows="3" placeholder="Caption"/>
			<br/>
			<f:if condition="{tags}">
				<label for="tags">Tags</label>
				<f:form.select property="tags" options="{tags}" optionLabelField="label" value="{asset.tags}" multiple="true"/>
				<br/>
			</f:if>
			<f:form.submit id="import" class="neos-btn" value="Upload"/>
			<f:link.action action="index" title="Cancel editing" class="neos-btn neos-btn-danger">Cancel</f:link.action>
		</fieldset>
	</f:form>
</f:section>
