<f:flashMessages as="flashMessages">
	<f:for each="{flashMessages}" as="flashMessage">
		<f:if condition="{flashMessage.severity} == 'OK'">
			<div class="neos-alert neos-alert-success">
		</f:if>
		<f:if condition="{flashMessage.severity} == 'Notice'">
			<div class="neos-alert neos-alert-notice">
		</f:if>
		<f:if condition="{flashMessage.severity} == 'Warning'">
			<div class="neos-alert neos-alert-warning">
		</f:if>
		<f:if condition="{flashMessage.severity} == 'Error'">
			<div class="neos-alert neos-alert-error">
		</f:if>
		<a class="neos-close" data-dismiss="alert" href="#">×</a>
		<f:if condition="{flashMessage.title}">
			<h4 class="neos-alert-heading">{flashMessage.title}</h4>
		</f:if>
		{flashMessage}
		</div>
	</f:for>
</f:flashMessages>
