{namespace m=TYPO3\Media\ViewHelpers}
<f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
	<table class="neos-table asset-list">
		<thead>
			<tr>
				<th></th>
				<th>
					<f:if condition="{sort} == 'Name'">
						<f:then>Name <i class="icon-caret-down"></i></th></f:then>
						<f:else>
							<f:link.action action="index" title="Sort by name" data="{neos-toggle: 'tooltip'}" arguments="{sort: 'Name'}" addQueryString="TRUE">Name</f:link.action>
						</f:else>
					</f:if>
				</th>
				<th>
					<f:if condition="{sort} == 'Modified'">
						<f:then>Last modified <i class="icon-caret-down"></i></th></f:then>
						<f:else>
							<f:link.action action="index" title="Sort by last modified" data="{neos-toggle: 'tooltip'}" arguments="{sort: 'Modified'}" addQueryString="TRUE">Last modified</f:link.action>
						</f:else>
					</f:if>
				</th>
				<th>File size</th>
				<th>Type</th>
				<th>Tags</th>
				<th class="neos-action"></th>
			</tr>
		</thead>
		<f:for each="{paginatedAssets}" as="asset" iteration="iterator">
			<tr class="asset draggable-asset" data-asset-identifier="{asset -> f:format.identifier()}">
				<td>
					<f:if condition="{asset.width}">
						<f:then>
							<div class="neos-list-thumbnail" data-neos-toggle="popover" data-placement="{f:if(condition: '{iterator.index} > 2', then: 'top', else: 'bottom')}" data-trigger="hover" data-title="{asset.width} x {asset.height}" data-html="true" data-content="{m:image(asset: asset, maximumWidth: 250, maximumHeight: 250, alt: '{f:if(condition: asset.title, then: asset.title, else: asset.resource.filename)}') -> f:format.htmlentities()}">
						</f:then>
						<f:else>
							<div class="neos-list-thumbnail">
						</f:else>
					</f:if>
						<m:image asset="{asset}" allowCropping="false" maximumWidth="40" maximumHeight="40" alt="{f:if(condition: asset.title, then: asset.title, else: asset.resource.filename)}"/>
					</div>
					<i class="icon-move"></i>
				</td>
				<td><f:format.crop maxCharacters="50">{f:if(condition: asset.title, then: asset.title, else: asset.resource.filename)}</f:format.crop></td>
				<td>{asset.lastModified -> m:format.relativeDate()}</td>
				<td>{asset.resource.fileSize -> f:format.bytes()}</td>
				<td>{asset.resource.mediatype}</td>
				<td class="tags">
					<f:for each="{asset.tags}" as="tag">
						<span class="neos-label">{tag.label}</span>
					</f:for>
				</td>
				<td class="neos-action">
					<f:form action="delete" method="post" object="{asset}" objectName="asset">
						<f:link.action action="edit" title="Edit asset" class="neos-button neos-button-mini" arguments="{asset: asset}"><i class="icon-pencil"></i></f:link.action>
						<button type="submit" title="Delete asset" class="neos-button neos-button-mini neos-button-danger"><i class="icon-trash icon-white"></i></button>
					</f:form>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:widget.paginate>
