{namespace m=TYPO3\Media\ViewHelpers}
<f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 7}">
	<table class="neos-table asset-list">
		<thead>
			<tr>
				<th></th>
				<th>
					<f:if condition="{sortBy} == 'Name'">
						<f:then>Name <i class="icon-caret-down"></i></f:then>
						<f:else>
							<f:link.action action="index" title="Sort by name" data="{neos-toggle: 'tooltip'}" arguments="{sortBy: 'Name'}" addQueryString="TRUE">Name</f:link.action>
						</f:else>
					</f:if>
				</th>
				<th>
					<f:if condition="{sortBy} == 'Modified'">
						<f:then>Last modified <i class="icon-caret-down"></i></f:then>
						<f:else>
							<f:link.action action="index" title="Sort by last modified" data="{neos-toggle: 'tooltip'}" arguments="{sortBy: 'Modified'}" addQueryString="TRUE">Last modified</f:link.action>
						</f:else>
					</f:if>
				</th>
				<th>File size</th>
				<th>Type</th>
				<th>Tags</th>
				<th class="neos-action"></th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{paginatedAssets}" as="asset" iteration="iterator">
			<tr class="asset draggable-asset{f:if(condition: '{asset.tags -> f:count()} == 0', then: ' neos-media-untagged')}" data-asset-identifier="{asset -> f:format.identifier()}">
				<td>
					<f:if condition="{asset.width}">
						<f:then>
							<div class="neos-list-thumbnail" data-neos-toggle="popover" data-placement="{f:if(condition: '{iterator.index} > 2', then: 'top', else: 'bottom')}" data-trigger="hover" data-title="{asset.width} x {asset.height}" data-html="true" data-content="{m:thumbnail(asset: asset, maximumWidth: 250, maximumHeight: 250, alt: asset.label) -> f:format.htmlentities()}">
								<m:thumbnail asset="{asset}" allowCropping="false" maximumWidth="40" maximumHeight="40" alt="{asset.label}" />
							</div>
						</f:then>
						<f:else>
							<div class="neos-list-thumbnail">
								<m:thumbnail asset="{asset}" allowCropping="false" maximumWidth="40" maximumHeight="40" alt="{asset.label}" />
							</div>
						</f:else>
					</f:if>
					<i class="icon-move" title="Drag and drop on tag or collection" data-neos-toggle="tooltip"></i>
				</td>
				<td><f:format.crop maxCharacters="50">{asset.label}</f:format.crop></td>
				<td><span title="{asset.lastModified -> f:format.date(format: 'd-m-Y H:i')}" data-neos-toggle="tooltip">{asset.lastModified -> m:format.relativeDate()}</span></td>
				<td>{asset.resource.fileSize -> f:format.bytes()}</td>
				<td>{asset.resource.mediatype}</td>
				<td class="tags">
					<f:for each="{asset.tags}" as="tag">
						<span class="neos-label">{tag.label}</span>
					</f:for>
				</td>
				<td class="neos-action">
					<f:link.action action="edit" title="Edit asset" class="neos-button neos-button-mini" arguments="{asset: asset}" data="{neos-toggle: 'tooltip'}"><i class="icon-pencil"></i></f:link.action>
					<button class="neos-button neos-button-mini neos-button-danger" title="Delete asset" data-neos-toggle="tooltip" data-toggle="modal" data-target="#asset-{asset -> f:format.identifier()}"><i class="icon-trash icon-white"></i></button>
					<div class="neos-hide" id="asset-{asset -> f:format.identifier()}">
						<div class="neos-modal">
							<div class="neos-modal-header">
								<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
								<div class="neos-header">Do you really want to delete asset "{asset.label}"?</div>
								<div>
									<div class="neos-subheader">
										<p>This will delete the asset.<br />This operation cannot be undone.</p>
									</div>
								</div>
							</div>
							<div class="neos-modal-footer">
								<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
								<f:form action="delete" method="post" object="{asset}" objectName="asset" class="neos-inline">
									<button type="submit" title="Delete asset" class="neos-button neos-button-mini neos-button-danger">
										Yes, delete the asset
									</button>
								</f:form>
							</div>
						</div>
						<div class="neos-modal-backdrop neos-in"></div>
					</div>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
</f:widget.paginate>
