{namespace m=TYPO3\Media\ViewHelpers}
<f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{itemsPerPage: 30, maximumNumberOfLinks: 5}">
	<ul class="neos-thumbnails asset-list">
		<f:for each="{paginatedAssets}" as="asset">
			<li class="asset">
				<f:link.action action="edit" title="Edit {asset.label}" class="neos-thumbnail" arguments="{asset: asset}">
					<div class="neos-img-container draggable-asset {f:if(condition: '{asset.tags -> f:count()} == 0', then: ' neos-media-untagged')}" data-asset-identifier="{asset -> f:format.identifier()}">
						<m:thumbnail asset="{asset}" maximumWidth="250" maximumHeight="250" alt="{asset.label}" />
						<button class="neos-button neos-media-delete" title="Delete asset" data-neos-toggle="tooltip" data-toggle="modal" data-target="#asset-{asset -> f:format.identifier()}"><i class="icon-trash icon-white"></i></button>
					</div>
					<span class="neos-caption"><f:format.crop maxCharacters="100">{asset.label}</f:format.crop></span>
				</f:link.action>
				<div class="neos-hide" id="asset-{asset -> f:format.identifier()}">
					<div class="neos-modal-centered">
						<div class="neos-modal-content">
							<div class="neos-modal-header">
								<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
								<div class="neos-header">Do you really want to delete asset "{asset.label}"?</div>
								<div>
									<div class="neos-subheader">
										<p>This will delete the asset.<br />This operation cannot be undone.</p>
									</div>
								</div>
							</div>
							<div class="neos-modal-footer">
								<a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
								<f:form action="delete" method="post" object="{asset}" objectName="asset" class="neos-inline">
									<button type="submit" title="Delete asset" class="neos-button neos-button-mini neos-button-danger">
										Yes, delete the asset
									</button>
								</f:form>
							</div>
						</div>
					</div>
					<div class="neos-modal-backdrop neos-in"></div>
				</div>
			</li>
		</f:for>
	</ul>
</f:widget.paginate>
