{namespace m=TYPO3\Media\ViewHelpers}
<f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{itemsPerPage: 25, maximumNumberOfLinks: 5}">
<ul class="neos-thumbnails asset-list">
<f:for each="{assets}" as="asset">
	<li class="asset" data-asset-identifier="{asset -> f:format.identifier()}">
		<f:link.action action="edit" title="Edit {f:if(condition: asset.title, then: asset.title, else: asset.resource.filename)}" class="neos-thumbnail" arguments="{asset: asset}">
			<m:image image="{asset}" allowCropping="true" maximumWidth="100" maximumHeight="100" alt="{f:if(condition: asset.title, then: asset.title, else: asset.resource.filename)}"/>
		</f:link.action>
	</li>
</f:for>
</ul>
</f:widget.paginate>
