TYPO3:
  TypoScript:
    rendering:
      exceptionHandler: 'TYPO3\TypoScript\Core\ExceptionHandlers\XmlCommentHandler'
    debugMode: FALSE
    enableContentCache: TRUE

    # Default context objects that are available in Eel expressions
    #
    # New variables should be added with a package key prefix. Example:
    #
    #   defaultContext:
    #     'MyPackage.String': 'MyPackage\Helper\StringHelper'
    #
    defaultContext:
      String: 'TYPO3\Eel\Helper\StringHelper'
      Array: 'TYPO3\Eel\Helper\ArrayHelper'
      Date: 'TYPO3\Eel\Helper\DateHelper'
      Configuration: 'TYPO3\Eel\Helper\ConfigurationHelper'
      Math: 'TYPO3\Eel\Helper\MathHelper'
      Json: 'TYPO3\Eel\Helper\JsonHelper'
