{namespace neos=Neos\Neos\ViewHelpers}
<div class="neos-content neos-indented neos-fluid-container">
	<f:render section="subtitle" optional="1" />

	<f:render partial="Module/FlashMessages" />

	<f:validation.results>
		<f:if condition="{validationResults.flattenedErrors}">
			<ul class="neos-error">
				<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
					<li>
						<f:for each="{errors}" as="error">{neos:backend.translate(id: error.code, source: 'ValidationErrors', arguments: error.arguments, value: error)}</f:for>
					</li>
				</f:for>
			</ul>
		</f:if>
	</f:validation.results>

	<f:render section="content" />
</div>
