<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<link href="{f:uri.resource(path: 'Public/Images/Icons/apple-touch-icon.png', package:'Neos.Neos')}" sizes="180x180" rel="apple-touch-icon" />
		<link href="{f:uri.resource(path: 'Public/Images/Icons/favicon-16x16.png', package:'Neos.Neos')}" sizes="16x16" rel="icon" type="image/png" />
		<link href="{f:uri.resource(path: 'Public/Images/Icons/favicon-32x32.png', package:'Neos.Neos')}" sizes="32x32" rel="icon" type="image/png" />
		<link href="{f:uri.resource(path: 'Public/Images/Icons/safari-pinned-tab.svg', package:'Neos.Neos')}" rel="mask-icon" color="#00adee" />

		<f:render section="head" />
	</head>
	<f:render section="body" />
</html>
