#neos-nprogress {
	background-color: $grayMedium;
	position: fixed;
	z-index: 10014;
	top: ($unit + 1) * 2;
	left: 0;
	right: 0;
	height: 2px;
	border-bottom: 1px solid $grayLight;
	/* Make clicks pass-through */
	pointer-events: none;

	.neos-edit-preview-panel-open & {
		top: ($unit + 1) * 2 + $editPreviewPanelHeight;
	}

	.neos-edit-preview-panel-open:not(.neos-inspector-panel-open) & {
		right: 0;
	}

	.neos-navigate-panel-open & {
		left: $navigatePanelWidth;
	}

	.neos-menu-panel-open.neos-menu-panel-sticky & {
		left: $menuButtonWidth;
	}

	.neos-menu-panel-open.neos-menu-panel-sticky.neos-navigate-panel-open & {
		left: $menuButtonWidth + $navigatePanelWidth - 1px;
	}

	.neos-inspector-panel-open & {
		right: $inspectorWidth;
	}

	.neos-full-screen & {
		top: 0;
		left: 0;
		right: 0;
	}

	.neos-bar {
		background-color: $orange;
		height: 100%;
		position: relative;

		.neos-peg,
		.neos-peg-end {
			position: absolute;
			top: 0;
			height: 100%;
			box-shadow: $orange 1px 0 6px 1px;
			border-radius: 100%;
		}

		.neos-peg {
			opacity: 0.6;
			width: 80px;
			right: -40px;
			clip: rect(-6px, 40px, 14px, -6px);
		}

		.neos-peg-end {
			opacity: 0.6;
			width: 10px;
			right: 0;
			clip: rect(-6px, 22px, 14px, 10px);
		}
	}
}