<div class="{settings.bodyClasses}">
    <div class="neos-media-options">
        <f:render section="Options" optional="TRUE"/>
    </div>
    <div class="neos-media-content{f:if(condition: '{tags -> f:count()} > 25', then: ' neos-media-aside-condensed')}">
        <div class="neos-media-assets">
            <div class="neos-notification-container">
                <f:render partial="FlashMessages"/>
            </div>

            <f:render section="Content"/>
        </div>
        <aside class="neos-media-aside">
            <f:render section="Sidebar"/>
        </aside>
    </div>
</div>

<f:render section="Scripts" optional="TRUE"/>
