.neos-button {
	@include font;
	color: #fff;
	background-color: $grayLight;
	background-image: none;
	width: auto;
	height: $unit;
	line-height: $unit;
	text-align: center;
	padding: 0 $defaultMargin;
	border: none;
	margin: 0;
	@include box-sizing(border-box);

	&:hover,
	&:active,
	&.neos-active,
	&.pressed {
		background-color: $blue;
	}

	&[class^="icon-"],
	&[class*=" icon-"] {
		font-family: FontAwesome;
	}
}