input[type=checkbox] {
	visibility: hidden;
	margin: 0;
	width: 22px;
	height: 22px;
	margin-right: $defaultMargin;
	@include box-sizing(border-box);

	& + span:before {
		display: block;
		width: 20px;
		height: 20px;
		background-color: $grayLight;
		border: 1px solid $textSubtleLight;
		color: #fff;
		cursor: pointer;
		content: "";
		position: absolute;
	}

	&:hover + span:before {
		border: 1px solid $blue;
	}

	&:checked + span:before {
		@include font;
		background-color: $blue;
		border: 1px solid $blue;
		content: "√";
		text-align: center;
		font-weight: bold;
	}
}