.chzn-container {
	color: #fff;
	line-height: $unit;

	.chzn-single {
		height: $unit;
		border: none;
		background-color: $grayMedium;
		background-image: none;
		padding-left: $defaultMargin;
		@include border-radius(0);
		@include box-shadow(none);
		color: inherit;
		line-height: inherit;
		text-decoration: none;

		span {
			margin-right: $unit + 1px;
		}

		div {
			width: $unit;
			border-left: 1px solid $grayDark;

			&:before,
			&:after {
				display: block;
				position: absolute;
				right: 15px;
				font-family: Arial;
				font-size: 17px;
				line-height: $unit;
				content: "▾";
			}

			&:before {
				top: -4px;
				@include rotate(180deg);
			}

			&:after {
				top: 4px;
			}

			b {
				display: none;
			}
		}

		abbr {
			background: none;
			top: 12px;
			right: $unit + $relatedMargin;
			width: 16px;
			height: 16px;

			&:hover:before {
				color: $blue;
			}

			&:before {
				display: block;
				width: 16px;
				text-align: center;
				content: "×";
				font-size: 16px;
				font-weight: bold;
				line-height: 12px;
				vertical-align: top;
			}
		}
	}

	.chzn-drop {
		border: none;
		background-color: $grayMedium;
		background-image: none;
		@include border-radius(0);
		@include box-shadow(1px 2px 5px $grayDark);
		color: inherit;

		.chzn-search {
			padding: 0;

			input {
				margin: 0;
				background: none;
				background-color: #fff;
			}

			&:after {
				display: block;
				position: absolute;
				top: 14px;
				right: 12px;
				width: 16px;
				height: 16px;
				content: "";
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABLUlEQVQ4T52T3Q2CMBSFLT/vOoEkwLOwgW6gE6gbsImOoBPoBuoE1mcg4gb6zJ/nmpK00BiRpKG9tF/vOffCBtLjeV7EGFsiFIgwr6pqm6bpXt4nzxktHMcZ2rZ9kg629/M8z2dZlj3bHz4A3/c5XpO6rh8YUVmWtB6Yphkgoy3GGEsex3HYAYi0N3S4KIqgfQtlZ1kWF5A1IDtFQnM7tC6g9ajT6rru3DCMgy4LBkBNh6BxpNMoPHLg0Z3myOAju3l6ASDzlSTJ8G8JAFwAmCqAxkQEM8gIdSYi/StVG6NrolxGglAZUY0bxeH+hMooDmt9khvpTL2gq4IU6zSU4igqssLmiEBkGJUNGewg7QgZzQUKRAF8u120ewfyM0D0A/0zCqQXQAfpDWhB+BtgQrrOTNe1UwAAAABJRU5ErkJggg==');
			}
		}

		.chzn-results {
			margin: 0;
			padding: 0;

			li {
				border-top: 1px solid $grayDark;
				line-height: inherit;
				padding: 0 $defaultMargin;

				em {
					background: none;
					font-weight: bold;
					line-height: $unit - 2px;
				}

				&.highlighted {
					background-color: $blue;
					background-image: none;
				}
			}
		}
	}
}