<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            <f:render section="Title"/>
        </title>

        <link rel="neos-media-browser-service-assetproxies" type="application/vnd.neos.media.browser.assetproxies" href="{f:uri.action(action: 'index', controller: 'AssetProxy', package: 'Neos.Media.Browser', absolute: true)}"/>
        <link rel="neos-media-browser-service-assetproxies-import" type="application/vnd.neos.media.browser.assetproxies" href="{f:uri.action(action: 'import', controller: 'AssetProxy', package: 'Neos.Media.Browser', absolute: true)}"/>

        <f:for each="{settings.styles}" as="style">
            <link rel="stylesheet" href="{f:uri.resource(path: style)}"/>
        </f:for>
    </head>
    <body class="{settings.bodyClasses} media-browser-inspector" data-csrf-token="{f:security.csrfToken()}">
        <div class="neos-media-options">
            <f:render section="Options" optional="TRUE"/>
        </div>
        <div class="neos-media-content{f:if(condition: '{tags -> f:count()} > 25', then: ' neos-media-aside-condensed')}">
            <div class="neos-media-assets">
                <div class="neos-notification-container">
                    <f:render partial="FlashMessages"/>
                </div>
                <f:render section="Content"/>
            </div>
            <aside class="neos-media-aside">
                <f:render section="Sidebar"/>
            </aside>
        </div>
        <f:for each="{settings.scripts}" as="script">
            <script src="{f:uri.resource(path: script)}"></script>
        </f:for>
        <f:render section="Scripts" optional="TRUE"/>
    </body>
</html>
