<f:layout name="Default" />

<f:section name="head">
	<title>TYPO3 Neos Login</title>
	<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Login.css')}" />
	<script src="{f:uri.resource(path: 'Library/jquery/jquery-2.0.3.js')}"></script>
	<script src="{f:uri.resource(path: 'Library/jquery-ui/js/jquery-ui-1.10.3.custom.js')}"></script>
</f:section>

<f:section name="body">
	<body class="neos">
		<div id="neos-login-box">
			<div class="neos-login-logo">
				<img src="{f:uri.resource(path: 'Images/Login/ApplicationLogo.png')}" alt="TYPO3 Neos" />
			</div>
			<div class="neos-login-body neos">
				<f:form name="login" action="authenticate">
					<f:form.hidden name="lastVisitedNode" />
					<fieldset>
							<f:if condition="{username}">
								<f:then>
									<div class="neos-controls">
										<f:form.textfield id="username" type="text" placeholder="Username" class="neos-span12" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" value="{username}" />
									</div>
									<div class="neos-controls">
										<f:form.textfield id="password" type="password" placeholder="Password" class="neos-span12" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" additionalAttributes="{autofocus: 'autofocus'}" />
									</div>
								</f:then>
								<f:else>
									<div class="neos-controls">
										<f:form.textfield id="username" type="text" placeholder="Username" class="neos-span12" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" additionalAttributes="{autofocus: 'autofocus'}" />
									</div>
									<div class="neos-controls">
										<f:form.textfield id="password" type="password" placeholder="Password" class="neos-span12" name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" />
									</div>
								</f:else>
							</f:if>
						<div class="neos-actions">
							<!-- Forgot password link will be here -->
							<f:form.button type="submit" class="neos-span5 neos-pull-right neos-button neos-button-primary neos-button-warning neos-login-btn">
								Login
							</f:form.button>
							<f:flashMessages as="flashMessages">
								<f:for each="{flashMessages}" as="flashMessage">
									<f:if condition="{flashMessage.severity} == 'OK'">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-success">
									</f:if>
									<f:if condition="{flashMessage.severity} == 'Notice'">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-notice">
									</f:if>
									<f:if condition="{flashMessage.severity} == 'Warning'">
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-warning">
									</f:if>
									<f:if condition="{flashMessage.severity} == 'Error'">
										<script>
											$(function() {
												$('fieldset').effect('shake', {times: 1}, 60);
											});
										</script>
										<div class="neos-tooltip neos-bottom neos-in neos-tooltip-error">
									</f:if>
										<div class="neos-tooltip-arrow"></div>
										<div class="neos-tooltip-inner">{flashMessage.message -> f:format.raw()}</div>
									</div>
								</f:for>
							</f:flashMessages>
						</div>
					</fieldset>
				</f:form>
			</div>
		</div>
		<div id="neos-login-footer">
			<p>
				<a href="http://neos.typo3.org" target="_blank">TYPO3 Neos</a> – © 2006-<f:format.date format="Y" date="now" />
				This is free software, licensed under GPL3 or higher, and you are welcome to redistribute it under certain conditions; <a href="http://typo3.org/licenses" target="_blank">click for details.</a>
				TYPO3 Neos comes with ABSOLUTELY NO WARRANTY; <a href="http://typo3.org/licenses" target="_blank">click for details.</a>
				See <a href="http://neos.typo3.org" target="_blank">neos.typo3.org</a> for more details.
				Obstructing the appearance of this notice is prohibited by law.
			</p>
		</div>
		<script src="{f:uri.resource(path: '2/js/bootstrap.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
		<script>
			if ($('#username').val()) {
				$('#password').focus();
			}
			try {
				$('form[name="login"] input[name="lastVisitedNode"]').val(sessionStorage.getItem('TYPO3.Neos.lastVisitedNode'));
			} catch(e) {}
		</script>
	</body>
</f:section>
