<!DOCTYPE html>
{neosViewHelper}
{typoScriptViewHelper}
<html>
<head>
	<![CDATA[<f:section name="stylesheets">
		<!-- put your stylesheet inclusions here, they will be included in your website by TypoScript -->
	</f:section>
	<f:section name="scripts">
		<!-- put your scripts inclusions here, they will be included in your website by TypoScript -->
	</f:section>]]>
</head>
<body>
<![CDATA[<f:section name="body">
	<nav class="menu">
		{parts.menu -> f:format.raw()}
	</nav>
	<nav class="breadcrumb">
		{parts.breadcrumb -> f:format.raw()}
	</nav>
	<div class="content">
		{content.main -> f:format.raw()}
	</div>
</f:section>]]>
</body>
</html>
