#neos-top-bar {
  position: fixed;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10021;
  background-color: $grayDark;
  height: $unit;
  border-bottom: 1px solid $grayLight;
  @include font;
  font-size: 0;

  transition-property: top;
  transition-duration: 0.2s;

  .neos-top-bar-left {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    .neos-branding {
      padding: $relatedMargin 1px;

      svg {
        height: $unit * 0.6;
        width: auto;
      }
    }
  }

  .neos-top-bar-right {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
}
