<ul>
	<li>
		<span>{{translate id="created" fallback="Created"}}</span>
		{{formatDate view.inspector.nodeProperties._creationDateTime}}
	</li>
	<li>
		<span>{{translate id="lastModification" fallback="Last modification"}}</span>
		{{formatDate view.inspector.nodeProperties._lastModificationDateTime}}
	</li>
	{{#if view.inspector.nodeProperties._lastPublicationDateTime}}
		<li>
			<span>{{translate id="lastPublication" fallback="Last publication"}}</span>
			{{formatDate view.inspector.nodeProperties._lastPublicationDateTime}}
		</li>
	{{/if}}
	<li>
		<span>{{translate id="identifier" fallback="Identifier"}}</span>
		{{view.inspector.nodeProperties._identifier}}
	</li>
	<li {{bind-attr title="view.inspector.nodeProperties._path"}}>
		<span>{{translate id="name" fallback="Name"}}</span>
	{{#if view.inspector.nodeProperties._name}}
		{{view.inspector.nodeProperties._name}}
	{{else}}
		/
	{{/if}}
	</li>
	<li>
		<span>{{translate id="workspace" fallback="Workspace"}}</span>
		{{view.inspector.nodeProperties.__workspaceName}}
	</li>
</ul>