<div class="widget-header">
	{{#if view.icon}}
		<i {{bindAttr class=":neos-pull-left view.icon"}}></i>
	{{/if}}
	<h3>
		{{view.label}}
		{{#if view.subtitle}}
			<span class="neos-widget-subtitle">{{view.subtitle}}</span>
		{{/if}}
	</h3>
</div>

<div class="widget-body">
	{{#if view.isLoading}}
		<span class="neos-widget-loading">{{translate id="loading" fallback="Loading"}}<span class="neos-ellipsis"></span></span>
	{{else}}
		{{#if view.error}}
			<span class="neos-widget-error"><i class="icon-warning-sign"></i> {{view.error.message}}</span>
		{{else}}
			{{yield}}
		{{/if}}
	{{/if}}
</div>
