<div class="typo3-imagethumbnailcontainer">
	<div class="typo3-imagethumbnail">
		<div class="typo3-imagethumbnail-inner">
			{{view T3.Content.UI.Image srcBinding="_previewImageUri" isVisibleBinding="_uploadPreviewNotShown"}}
		</div>

		<div {{bindAttr class="_imageBadgeClass"}}>
			Click to Crop
		</div>

	</div>

	<div class="typo3-uploadthumbnail">
		{{view T3.Content.UI.Image isVisibleBinding="_uploadPreviewShown" srcBinding="_uploadPreviewImageSource"}}
	</div>
</div>

<div class="typo3-fileupload" id="{{unbound _containerId}}">
	<button id="{{unbound _browseButtonId}}" class="t3-button btn btn-mini typo3-fileupload-pickfiles" type="button">
		{{fileChooserLabel}}
	</button>

	{{view T3.Content.UI.Button isVisibleBinding="_uploadButtonShown" target="parentView" action="upload" labelBinding="uploaderLabel" allowedFileTypesBinding="allowedFileTypes"}}
</div>

<div class="typo3-fileupload-image-size">
	<div>
		<label>Width:</label>
		{{view Ember.TextField class="typo3-fileupload-image-size-width" valueBinding="_finalImageScale.w" }}
		<span>px</span>
	</div>
	<div>
		<label>Height:</label>
		{{view Ember.TextField class="typo3-fileupload-image-size-height" valueBinding="_finalImageScale.computedHeight" }}
		<span>px</span>
	</div>
</div>