<div class="contentTypeSelectorTabs notInitialized">
	<ul>
		{{#each data}}<li><a href="#{{unbound Ember.GUID_KEY}}{{unbound name}}">{{unbound name}}</a></li>{{/each}}
	</ul>
	{{#each data}}
		<div id="{{unbound Ember.GUID_KEY}}{{unbound name}}" class="t3-content-new">
			{{#each children}}
				<div class="t3-content-new-selecttype-button">
					<a rel="typo3:{{unbound contentType}}" class="t3-content-new">
						{{#if icon}}
							<img src="/_Resources/Static/Packages/TYPO3.Neos/{{unbound icon}}" />
						{{else}}
							<img src="/_Resources/Static/Packages/TYPO3.Neos/Images/Icons/White/square_shape_icon-16.png" />
						{{/if}}
						{{unbound label}}
					</a>
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>