{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<f:if condition="{items}">
	<ul{attributes -> f:format.raw()}>
	<f:for each="{items}" as="item" reverse="TRUE">
		<li{ts:render(path: '{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
			<f:if condition="{item.state} === 'current'">
				<f:then>
					{item.label}
				</f:then>
				<f:else>
					<a href="{item.uri}" title="{item.label}">{item.label}</a>
				</f:else>
			</f:if>
		</li>
	</f:for>
	</ul>
</f:if>
