&.neos-module-administration-packages {

	.neos-button.neos-button-freeze {
		background-color: $blue;
	}

	table {
		table-layout: auto;

		label {
			padding: 0;
			margin-bottom: 0;
			line-height: $unit;
			font-size: inherit;
			@include user-select(none);
		}

		.fold-toggle {
			cursor: pointer;
			margin-top: -1px;
			margin-right: 11px;
		}

		// define widths of cols
		td {
			max-width: 20%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&.check {
				width: 22px;
			}

			&.package-name {
				width: 200px;
			}

			&.package-version {
				width: 5%;
			}

			&.package-key {
				width: 8%;
			}

			&.package-type {
				width: 15%;
			}

			&.neos-action {
				width: 20%;
				text-align: right;
			}
		}

		td > .neos-button,
		td > div.neos-pull-right > .neos-button {
			// Freeze Button
			&.neos-button-freeze {
				background-color: $grayMedium;

				&:not([disabled]),
				&:not(.neos-disabled) {
					&:hover,
					&:active,
					&.neos-active,
					&.neos-pressed {
						background-color: $blue;
					}
				}
			}
		}

		td.neos-action {
			width: auto;
		}
	}
}