{namespace neos=Neos\Neos\ViewHelpers}<html>
	<head>
		<title>{neos:backend.translate(id: 'service.nodes.title', value: 'Nodes')}</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			<h1>{neos:backend.translate(id: 'service.nodes.title', value: 'Nodes')}</h1>
			<ul class="nodes"><f:for each="{nodes}" as="node">
				<li class="node">
					<span class="node-path">{node.path}</span>
					<f:alias map="{documentNode: '{neos:node.closestDocument(node: node)}'}">
						<f:if condition="{documentNode}">
							<f:then>
								<f:alias map="{relativeUrl: '{neos:uri.node(node: documentNode, absolute: false, resolveShortcuts: false)}'}">
									<a href="{neos:uri.node(node: documentNode, absolute: true, resolveShortcuts:false)}" class="node-frontend-uri">
										{f:if(condition: relativeUrl, then: '{relativeUrl}', else: '{node.path}')}
									</a>
								</f:alias>
							</f:then>
							<f:else>
								<a class="node-frontend-uri">
									{neos:backend.translate(id: 'service.nodes.noPublicUrl', value: 'This node cannot be accessed through a public URL')}
								</a>
						</f:else>
						</f:if>
					</f:alias>
					<label class="node-label">{node.label}</label>
					(<span class="node-identifier">{node.identifier}</span>)
					[<span class="node-type">{node.nodeType.name}</span>]
					<f:link.action rel="node-show" controller="Service\Nodes" action="show" arguments="{identifier: node.identifier}" format="html">{neos:backend.translate(id: 'service.nodes.show', value: 'Show')}</f:link.action>
				</li></f:for>
			</ul>
		</div>
	</body>
</html>
