{namespace neos=Neos\Neos\ViewHelpers}<html>
	<head>
		<title>{neos:backend.translate(id: 'node', value: 'Node')}: {node.label}</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			<h1>{neos:backend.translate(id: 'node', value: 'Node')}: {node.label}</h1>
			<div class="node">
				<label class="node-label">{node.label}</label>
				<table class="node-properties">
					<caption>{neos:backend.translate(id: 'service.nodes.nodeProperties', value: 'Node Properties')}</caption>
					<tr><th>_identifier</th><td class="node-identifier">{node.identifier}</td></tr>
					<tr><th>_path</th><td class="node-path">{node.path}</td></tr>
					<tr><th>_type</th><td class="node-type">{node.nodeType.name}</td></tr>
					<f:for each="{convertedNodeProperties}" as="value" key="name">
						<tr class="node-property"><th class="node-property-name">{name}</th><td class="node-property-value">{value}</td></tr>
					</f:for>
				</table>
				<f:alias map="{documentNode: '{neos:node.closestDocument(node: node)}'}">
					<f:if condition="{documentNode}">
						<f:then>
							<neos:link.node node="{documentNode}" absolute="true" resolveShortcuts="false" class="node-frontend-uri">
								<neos:uri.node node="{documentNode}" absolute="false" resolveShortcuts="false" />
							</neos:link.node>
						</f:then>
						<f:else>
							<a class="node-frontend-uri">
								{neos:backend.translate(id: 'service.nodes.noPublicUrl', value: 'This node cannot be accessed through a public URL')}
							</a>
						</f:else>
					</f:if>
				</f:alias>
				<f:link.action rel="node-show" controller="Service\Nodes" action="show" arguments="{identifier: node.identifier}" format="html">{neos:backend.translate(id: 'service.nodes.show', value: 'Show')}</f:link.action>
			</div>
		</div>
	</body>
</html>
