{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="neos-button-group neos-user-menu">
	<button class="neos-dropdown-toggle neos-button" data-toggle="dropdown" href="#" title="User Menu">
		<i class="icon-user"></i> {user.name.fullName}
	</button>
	<ul class="neos-dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li>
			<f:form controller="Login" action="logout" title="Log out" package="TYPO3.Neos">
				<f:form.button value="logout"><i class="icon-off"></i> Log out</f:form.button>
			</f:form>
		</li>
		<li>
			<neos:link.module path="user/usersettings" title="User Settings">
				<i class="icon-wrench"></i> User Settings
			</neos:link.module>
		</li>
	</ul>
</div>
