{namespace neos=Neos\Neos\ViewHelpers}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{neos:backend.translate(id: 'rawContentMode', value: 'Raw Content Mode')}</title>
		<f:section name="headerIncludes">
			<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Styles/RawContentMode.css')}" />
		</f:section>
	</head>
	<body>
		<f:section name="body">
			<div id="neos-raw-content-container">
				{allContentCollections -> f:format.raw()}
			</div>
		</f:section>
	</body>
</html>
