{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
	<div class="neos-row-fluid">
		<table class="neos-table">
			<thead>
			<tr>
				<th>&nbsp;</th>
				<th>{neos:backend.translate(id: 'workspaces.workspace.title', source: 'Modules', package: 'Neos.Neos')}</th>
				<th>{neos:backend.translate(id: 'workspaces.workspace.baseWorkspace', source: 'Modules', package: 'Neos.Neos')}</th>
				<th>{neos:backend.translate(id: 'workspaces.workspace.owner', source: 'Modules', package: 'Neos.Neos')}</th>
				<th class="neos-changes">{neos:backend.translate(id: 'workspaces.workspace.changes', source: 'Modules', package: 'Neos.Neos')}</th>
				<th>&nbsp;</th>
			</tr>
			</thead>
			<f:for each="{workspacesAndChangeCounts}" key="workspaceName" as="workspaceAndCounts" iteration="workspacesIterator">
				<f:alias map="{workspace: workspaceAndCounts.workspace, changesCounts: workspaceAndCounts.changesCounts, canPublish: workspaceAndCounts.canPublish, canManage: workspaceAndCounts.canManage, dependentWorkspacesCount: workspaceAndCounts.dependentWorkspacesCount}">
					<tr>
						<td class="neos-workspace-type">
							<f:if condition="{userWorkspace} === {workspace}">
								<f:then>
									<i class="fas fa-user" title="{neos:backend.translate(id: 'workspaces.personalWorkspace', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"></i>
								</f:then>
								<f:else>
									<f:if condition="{canPublish}">
										<f:then>
											<f:if condition="{workspace.privateWorkspace}">
												<f:then>
													<i class="fas fa-shield" title="{neos:backend.translate(id: 'workspaces.privateWorkspace', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"></i>
												</f:then>
												<f:else>
													<i class="fas fa-group" title="{neos:backend.translate(id: 'workspaces.internalWorkspace', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"></i>
												</f:else>
											</f:if>
										</f:then>
										<f:else>
											<i class="fas fa-lock" title="{neos:backend.translate(id: 'workspaces.readonlyWorkspace', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"></i>
										</f:else>
									</f:if>
								</f:else>
							</f:if>
						</td>
						<td><span title="{workspace.workspaceName}" data-neos-toggle="tooltip">{workspace.workspaceTitle -> f:format.crop(maxCharacters: 25, append: '…')}</span></td>
						<td>
							<f:if condition="{workspace.baseWorkspaceName}">
								<f:then>
									<span title="{workspace.baseWorkspaceName}" data-neos-toggle="tooltip">{workspace.baseWorkspaceName -> f:format.crop(maxCharacters: 25, append: '…')}</span>
								</f:then>
								<f:else>
									<span>-</span>
								</f:else>
							</f:if>
						</td>
						<td>
							<f:security.ifAccess privilegeTarget="Neos.Neos:Backend.Module.Administration.Users">
								<f:then>
									<neos:link.module path="administration/users" action="show" arguments="{user: workspace.owner}">{workspace.workspaceOwner}</neos:link.module>
								</f:then>
								<f:else>
									{workspace.workspaceOwner}
								</f:else>
							</f:security.ifAccess>
						</td>
						<td class="neos-changes">
							<f:if condition="{workspace.baseWorkspaceName}">
								<span title="{neos:backend.translate(id: 'workspaces.changesCounts', source: 'Modules', package: 'Neos.Neos', arguments: changesCounts)}" data-neos-toggle="tooltip">
									<div class="neos-change-stats">
										<f:if condition="{changesCounts.total} != 0">
											<f:then>
												<neos:backend.changeStats changeCounts="{changesCounts}">
													<span class="new" style="width: {newCountRatio}%"></span><span class="changed" style="width: {changedCountRatio}%"></span><span class="removed" style="width: {removedCountRatio}%"></span>
												</neos:backend.changeStats>
											</f:then>
											<f:else>
												<span class="unchanged"></span>
											</f:else>
										</f:if>
									</div>
								</span>
								<f:if condition="{changesCounts.total} != 0">
									<f:link.action action="show" arguments="{workspace: workspace.workspaceName.name}" class="neos-button neos-button-primary">
									<i class="fas fa-review"></i>
									{neos:backend.translate(id: 'workspaces.review', source: 'Modules', package: 'Neos.Neos')}
									</f:link.action>
								</f:if>
							</f:if>
						</td>
						<td class="neos-action">
							<div class="neos-pull-right">
								<f:if condition="{canManage}">
									<f:link.action action="edit" arguments="{workspace: workspace.workspaceName.name}" class="neos-button neos-button-primary" title="{neos:backend.translate(id: 'workspaces.editWorkspace', source: 'Modules', package: 'Neos.Neos', arguments: {0: workspace.workspaceTitle})}" additionalAttributes="{data-neos-toggle: 'tooltip'}">
										<i class="fas fa-pencil-alt icon-white"></i>
									</f:link.action>
								</f:if>

								<f:if condition="{userWorkspace} === {workspace}">
									<f:then>
										<button class="neos-button neos-button-danger neos-disabled" title="{neos:backend.translate(id: 'workspaces.help.cantDeletePersonalWorkspace', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"><i class="fas fa-trash-alt icon-white"></i></button>
									</f:then>
									<f:else>
										<f:if condition="{changesCounts.total} != 0">
											<f:then>
												<button class="neos-button neos-button-danger neos-disabled" title="{neos:backend.translate(id: 'workspaces.help.workspaceContainsChanges', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"><i class="fas fa-trash-alt icon-white"></i></button>
											</f:then>
											<f:else>
												<f:if condition="{dependentWorkspacesCount} != 0">
													<f:then>
														<button class="neos-button neos-button-danger neos-disabled" title="{neos:backend.translate(id: 'workspaces.help.cantDeleteWorkspaceHasDependencies', source: 'Modules', package: 'Neos.Neos')}" data-neos-toggle="tooltip"><i class="fas fa-trash-alt icon-white"></i></button>
													</f:then>
													<f:else>
														<f:if condition="{canManage}">
															<button class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'workspaces.deleteWorkspace', source: 'Modules', package: 'Neos.Neos')}" data-toggle="modal" href="#workspace-{workspacesIterator.index}" data-neos-toggle="tooltip">
																<i class="fas fa-trash-alt icon-white"></i>
															</button>
															<div class="neos-hide" id="workspace-{workspacesIterator.index}">
																<div class="neos-modal-centered">
																	<div class="neos-modal-content">
																		<div class="neos-modal-header">
																			<button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
																			<div class="neos-header">{neos:backend.translate(id: 'workspaces.dialog.confirmWorkspaceDeletion', source: 'Modules', package: 'Neos.Neos', arguments: {0: workspace.workspaceTitle})}</div>
																			<div>
																				<div class="neos-subheader">
																					<p>{neos:backend.translate(id: 'workspaces.dialog.thisWillDeleteTheWorkspace', source: 'Modules', package: 'Neos.Neos')}</p>
																				</div>
																			</div>
																		</div>
																		<div class="neos-modal-footer">
																			<a href="#" class="neos-button" data-dismiss="modal">{neos:backend.translate(id: 'cancel', source: 'Modules', package: 'Neos.Neos')}</a>
																			<f:form action="delete" arguments="{workspace: workspace.workspaceName.name}" class="neos-inline">
																				<button type="submit" class="neos-button neos-button-danger" title="{neos:backend.translate(id: 'workspaces.deleteWorkspace', source: 'Modules', package: 'Neos.Neos')}">
																					{neos:backend.translate(id: 'workspaces.yesDeleteWorkspace', source: 'Modules', package: 'Neos.Neos')}
																				</button>
																			</f:form>
																		</div>
																	</div>
																</div>
																<div class="neos-modal-backdrop neos-in"></div>
															</div>
														</f:if>
													</f:else>
												</f:if>
											</f:else>
										</f:if>
									</f:else>
								</f:if>
							</div>
						</td>
					</tr>
				</f:alias>
			</f:for>
		</table>
	</div>
	<div class="neos-footer">
		<f:security.ifAccess privilegeTarget="Neos.Neos:Backend.CreateWorkspaces">
		<f:link.action action="new" class="neos-button neos-button-primary">{neos:backend.translate(id: 'workspaces.createNewWorkspace', source: 'Modules', package: 'Neos.Neos')}</f:link.action>
		</f:security.ifAccess>
	</div>
</f:section>
