<div class="three-columns tc-1-1-1">
	{{#boundIf T3.ContentModule.showDevelopmentFeatures}}
	<div class="c-1">
		<div class="scroll-content">
			<div class="t3-launcher-alternating-row t3-odd">
				<h2>My tools</h2>
				<ul class="t3-launcher-horizontal">
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/document_icon-24.png" alt="" /></div>
						<div class="text">New article</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/layers_1_icon-24.png" alt="" /></div>
						<div class="text">Workspaces</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/mail_2_icon-24.png" alt="" /></div>
						<div class="text">Newsletter</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/cogs_icon-24.png" alt="" /></div>
						<div class="text">Configuration</div>
					</li>
				</ul>
				<div class="t3-clear"></div>
			</div>
			<div class="t3-launcher-split"></div>
			<div class="t3-launcher-alternating-row t3-even">
				<h2>Basics</h2>
				<ul class="t3-launcher-horizontal">
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/dashboard_icon-24.png" alt="" /></div>
						<div class="text">Dashboard</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/bookmark_1_icon-24.png" alt="" /></div>
						<div class="text">Bookmarks</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/wrench_plus_2_icon-24.png" alt="" /></div>
						<div class="text">My settings</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/lightbulb_icon-24.png" alt="" /></div>
						<div class="text">Help</div>
					</li>
				</ul>
				<div class="t3-clear"></div>
			</div>
			<div class="t3-launcher-split"></div>
			<div class="t3-launcher-alternating-row t3-odd">
				<h2>Web</h2>
				<ul class="t3-launcher-horizontal">
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/dashboard_icon-24.png" alt="" /></div>
						<div class="text">Dashboard</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/bookmark_1_icon-24.png" alt="" /></div>
						<div class="text">Bookmarks</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/wrench_plus_2_icon-24.png" alt="" /></div>
						<div class="text">My settings</div>
					</li>
					<li>
						<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/lightbulb_icon-24.png" alt="" /></div>
						<div class="text">Help</div>
					</li>
				</ul>
				<div class="t3-clear"></div>
			</div>
		</div>
		<div class="t3-clear"></div>
	</div>
	<div class="c-2">
		<h2>Recently used</h2>
		<ul class="vertical t3-launcher-panel-lastactions">
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/doc_empty_icon-16.png" alt="" /></div>
				<div class="text">Community</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/twitter_2_icon-16.png" alt="" /></div>
				<div class="text">@aplusk</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/users_icon-16.png" alt="" /></div>
				<div class="text">Editors</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/youtube_icon-16.png" alt="" /></div>
				<div class="text">Latest YouTube video</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/user_icon-16.png" alt="" /></div>
				<div class="text">Admin</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/doc_empty_icon-16.png" alt="" /></div>
				<div class="text">About</div>
			</li>
		</ul>
		<div class="t3-clear"></div>
		<h2>Most used</h2>
		<ul class="vertical t3-launcher-panel-mostused">
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/lighting_icon-16.png" alt="" /></div>
				<div class="text">Clear cache</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/trash_icon-16.png" alt="" /></div>
				<div class="text">Recycler</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/clock_icon-16.png" alt="" /></div>
				<div class="text">Scheduler</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/notepad_2_icon-16.png" alt="" /></div>
				<div class="text">Log</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/db_icon-16.png" alt="" /></div>
				<div class="text">Database</div>
			</li>
			<li>
				<div class="image"><img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/Black/list_bullets_icon-16.png" alt="" /></div>
				<div class="text">Management</div>
			</li>
		</ul>
		<div class="t3-clear"></div>
	</div>
	{{/boundIf}}
	<div class="c-3">
		<h2>Search</h2>
		{{#collection contentBinding="searchItems" tagName="ul" classNames="t3-launcher-panel-search"}}
			<div class="t3-launcher-search-group-label"><span>{{content.label}}</span></div>
			{{#collection contentBinding="content.items" tagName="ul" classNames="t3-launcher-search-group-results"}}
				<a {{bindAttr href="content.action"}} {{bindAttr title="content.action"}}>
					<span class="t3-launcher-search-group-results-image"><img {{bindAttr src="content.icon"}} alt="" /></span>
					<span class="t3-launcher-search-group-results-text">{{content.label}}</span>
				</a>
			{{/collection}}
			<div class="t3-clear"></div>
		{{/collection}}
	</div>
</div>