&.media-browser {
	background-color: transparent;

	&:not(.media-module) {
		padding: $unit $menuButtonWidth;

		.neos-footer {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
		}
	}

	// Styles for Media view Options
	.neos-media-options {
		margin-bottom: $wideMargin;
		border-bottom: 1px solid $grayLight;

		a {
			display: block;
			height: $unit;
			line-height: $unit;
			min-width: 24px;
			text-align: center;
			padding: 0 $relatedMargin;
			color: $blue;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}

		.neos-file-options {
			float: left;

			.count {
				display: inline-block;
				height: $unit;
				line-height: $unit;
				padding: 0 $relatedMargin 0 0;
				border-right: 1px solid $grayLight;
			}

			a {
				display: inline-block;
			}

			i {
				margin-right: $tightMargin;
				line-height: $unit;
				vertical-align: middle;
			}
		}

		.neos-view-options {
			float: right;
			white-space: nowrap;
			font-size: 0;

			> a,
			> .neos-dropdown {
				display: inline-block;
				border-right: 1px solid $grayLight;

				&:first-child {
					border-left: 1px solid $grayLight;
				}
			}

			a {
				color: #fff;
				font-size: $generalFontSize;

				&.neos-active {
					color: $blue;
				}

				&:hover {
					background: $blue;
					color: #fff;
				}

				i {
					line-height: $unit;
					vertical-align: top;
				}
			}

			ul {
				li {
					a {
						text-align: left;
						padding: 0 $defaultMargin;

						&.neos-active {
							color: #fff;
						}
					}
				}
			}
		}
	}

	//Styles for "Sort by tag" sidebar in Media view
	.neos-sort-tags {
		margin-bottom: $wideMargin;

		.neos-search {
			@include clearfix;
			width: 100%;
			margin-bottom: $defaultMargin;

			div {
				overflow: hidden;
			}

			button[type="submit"] {
				width: auto;
				float: right;

				i {
					vertical-align: baseline;
				}
			}
		}

		> h2 {
			line-height: $unit;

			#neos-tags-list-edit-toggle {
				float: right;
				background-color: $grayDark;

				&.neos-active {
					background-color: $blue;
				}

				&:hover {
					background-color: $blue;
				}
			}
		}

		.neos-tags-list {
			background-color: $grayLight;
			border-top: 1px solid $grayLight;
			margin-bottom: $defaultMargin;

			&.neos-tags-list-editing-active {
				li button[type="submit"] {
					display: block;
				}
			}

			li {
				position: relative;
				background-color: $grayDark;

				+ li {
					margin-top: 1px;
				}

				a {
					display: block;
					color: #fff;
					padding: ($tightMargin * 2 + 1) ($unit + $tightMargin) ($tightMargin * 2 + 2) $tightMargin;
					border-radius: 0;
					text-shadow: none;
					font-weight: 400;
					font-size: $baseFontSize;
					line-height: 1.5;

					&.neos-active {
						color: $blue;

						&.neos-drag-active {
							&:hover {
								background-color: $warning;
							}
						}
					}

					&:not(.neos-active) {
						&.neos-drag-active {
							outline: 1px dashed #fff;
							outline-offset: -1px;

							span {
								display: none;
							}

							&::after {
								@include icon-FontAwesome();
								content: $arrow-down;
								position: absolute;
								right: $relatedMargin + $tightMargin;
							}

							&:hover,
							&.neos-drag-hover {
								outline: 1px solid #fff;
								outline-offset: -1px;

								background-color: $blue;
								color: #fff;
							}
						}
					}

					&:hover:not(.neos-drag-active) {
						background-color: $blue;
						color: #fff;

						span {
							background-color: #fff;
							color: $blue;

							.neos-ellipsis {
								color: $textOnWhite;
							}
						}
					}

					span {
						position: absolute;
						top: $relatedMargin + 2;
						right: $relatedMargin;
						background-color: $blue;
						color: #fff;
						padding: $tightMargin;
						line-height: 1;
					}
				}

				button {
					background-color: $grayDark;

					&:hover {
						background-color: $blue;
					}
				}

				button[type="submit"] {
					position: absolute;
					top: 0;
					right: 0;
					background-color: $grayDark;
					display: none;
					width: auto;

					&:hover {
						background-color: $warning;
					}
				}
			}
		}

		input,
		button[type="submit"] {
			width: 100%;
		}
	}

	//Styles for Media grid view
	.neos-thumbnails {
		margin-bottom: $wideMargin;
		font-size: 0;

		li {
			margin-left: 0;
			margin-right: 16px;
			@include box-sizing(border-box);
			float: none;
			display: inline-block;
			vertical-align: top;

			@media (max-width: 1023px) {
				width: calc((100% - 16px * 3) / 4);

				&:nth-child(4n) {
					margin-right: 0;
					@include clearfix;
				}
			}

			@media (min-width: 1024px) and (max-width: 1199px) {
				width: calc((100% - 16px * 4) / 5);

				&:nth-child(5n) {
					margin-right: 0;
					@include clearfix;
				}
			}

			@media (min-width: 1200px) {
				width: calc((100% - 16px * 5) / 6);

				&:nth-child(6n) {
					margin-right: 0;
					@include clearfix;
				}
			}

			.neos-img-container {
				position: relative;
				background-color: $grayDarker;
				padding-bottom: 100%;
				height: 0;
				margin-bottom: $relatedMargin * 1.5;
				@include box-sizing(border-box);

				&:hover {
					&::after {
						opacity: .9;
					}
				}

				&.ui-draggable-dragging {
					width: 250px;
					height: 250px;
				}

				&::after {
					@include icon-FontAwesome();
					content: $move;
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					width: $unit;
					height: $unit;
					background-color: $grayDark;
					opacity: .5;
					color: #fff;
					font-size: 16px;
					text-align: center;
					line-height: $unit;
					cursor: move;
				}
			}

			.neos-caption {
				padding: 0;
				display: block;
				font-size: 12px;
				line-height: 1.2;
				color: $textSubtleLight;
				word-break: break-all;
			}

			a {
				border: 0;
				border-radius: 0;
				display: block;
				box-shadow: none;
				position: relative;
				padding: 0;

				&:hover {
					box-shadow: none;
					text-decoration: none;
				}

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					@include translate(-50%, -50%);
					height: auto;
					width: auto;
					max-height: 100%;
					max-width: 100%;
				}
			}
		}
	}

	.neos-thumbnails li .neos-img-container:hover {
		cursor: pointer;
		outline: $tightMargin solid $blue;
	}

	//Styles for upload/edit image
	.neos-row-fluid .neos-image-inputs {
		float: left;
		margin-left: 0;

		legend {
			display: none;
		}

		input[type="text"],
		select,
		textarea {
			width: 100%;
			margin-bottom: $relatedMargin * 2;
			background: $grayLight;
			border: 0;
			border-radius: 0;
			padding: $relatedMargin;
			@include font();
			@include box-sizing(border-box);

			&:focus {
				background: #fff;
				outline: 0;
			}
		}

		.neos-tag-select {
			margin-bottom: $wideMargin;
		}

		.neos-button {
			margin-right: $relatedMargin;
			margin-bottom: $wideMargin;
		}
	}

	//Styles for image preview in edit mode
	.neos-row-fluid [class*="neos-span"].neos-image-example {
		label {
			text-align: right;

			@media screen and (max-width: 767px) {
				text-align: left;
			}
		}

		.neos-preview-image {
			overflow: hidden;
			height: 0;
			padding-bottom: 100%;
			background: $grayDarker;
			position: relative;

			img {
				float: none;
				position: absolute;
				top: 50%;
				left: 50%;
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				display: block;
				margin: 0 auto;
				@include translate(-50%, -50%);
			}
		}
	}

	table.neos-table {
		th {
			white-space: nowrap;

			a:hover {
				color: $blue;
			}

			i {
				vertical-align: baseline;
			}
		}

		th,
		td {
			padding: $relatedMargin;
			line-height: $unit - ($relatedMargin * 2);
		}

		tbody tr.asset td:first-child {
			padding: 0 !important;
		}

		.neos-list-thumbnail {
			background-color: $grayDarker;
			height: $unit;
			width: $unit;
			position: relative;
			display: inline-block;
			float: left;

			&[data-content] {
				cursor: zoom-in;
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%, -50%);
			}
		}

		.neos-popover {
			width: auto;
			height: auto;

			.neos-popover-content {
				width: 250px;
				height: 250px;
				position: relative;
				padding: 0;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					@include translate(-50%, -50%);
				}
			}
		}

		.icon-move {
			float: left;
			line-height: $unit;
			padding-left: $relatedMargin + $tightMargin;
		}

		.tags {
			.neos-label {
				background-color: $textSubtle;
			}
		}

		.neos-action {
			width: 10%;
			font-size: 0;

			form {
				text-align: right;
			}
		}
	}

	.draggable-asset {
		cursor: move;
	}

	&:not(.media-module) {
		table.neos-table {
			tbody tr:hover td {
				background-color: $blue;
				cursor: pointer;
			}

			.icon-move {
				cursor: move;
			}

			.neos-action {
				display: none;
			}
		}
	}

	.neos-upload-area {
		text-align: center;
		padding: $wideMargin;
		border: 1px dashed $grayLight;
		margin-bottom: $wideMargin;
		cursor: pointer;

		&.neos-upload-area-active {
			border-color: #fff;

			i {
				display: inline;
			}

			span {
				display: none;
			}
		}

		&.neos-upload-area-hover {
			border-style: solid;
			background-color: $blue;
		}

		i {
			display: none;
			vertical-align: baseline;
			padding-left: $tightMargin;
		}

		#resource {
			display: none;
		}

		&:hover {
			border-color: $blue;
		}
	}

	#filelist {
		margin-bottom: $wideMargin;

		.progress {
			background-color: $grayMedium;
			border: 1px solid $grayLight;
			width: 100%;
			height: $unit;
			margin-bottom: $relatedMargin;
			position: relative;

			.label {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				line-height: $unit;
				text-align: center;
			}

			.bar {
				background-color: $blue;
				height: $unit;
			}
		}
	}

	#uploader .plupload {
		display: none;
	}

	#resource {
		visibility: hidden;
		position: absolute;
		left: -9999px;
	}
}
