// Link editor
#aloha-ui-context {
	@import "../Shared/Scrollbar";

	.ui-menu {
		position: fixed !important;
		z-index: 10001;
		bottom: 0;
		overflow-y: auto;
		background: $grayDark;
		padding: 0;
		width: $unit * 12 !important;
		border: 1px solid $grayLight;
		@include box-sizing(border-box);
		@include font;

		.ui-menu-item {
			padding: 0;
			border-bottom: 1px solid $grayLight;
			cursor: pointer;
			@include transition(background .2s ease);

			&:hover {
				background: $grayLight;
			}

			&:last-child {
				border-bottom: 0;
			}

			> a {
				padding: $relatedMargin;

				&.ui-state-focus {
					border: 0;
					background: $grayLight;
				}

				span.neos-list-thumbnail {
					background-color: $grayDarker;
					height: $unit;
					width: $unit;
					position: relative;
					float: left;
					margin-right: $relatedMargin;
					background-image: url('../Images/ajax-preloader-222222.gif');
					background-position: center center;
					background-repeat: no-repeat;
					overflow: hidden;

					img {
						position: absolute;
						top: 50%;
						left: 50%;
						@include translate(-50%, -50%);
						width: auto;
						height: auto;
						max-width: 100%;
						max-height: 100%;
						background-color: $grayDarker;
						outline: 3px solid $grayDarker;
					}
				}

				i {
					vertical-align: baseline;
					padding-right: $tightMargin;
				}

				span:last-child {
					font-size: 12px;
					color: $textSubtleLight;

					b {
						font-size: 14px;
						font-weight: 400;
						color: white;
					}
				}
			}
		}
	}
}
