// ------------ Aloha styles for the add table wizard ------------ //
.aloha-table-createdialog {
	z-index: 99999;
	position: absolute;
	background-color: $textOnGray;
	border: 1px solid #444;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-top: 6px;

	table {
		padding: 0;
		margin: 0;

		td {
			margin: 0;
			padding: 0;
			border: 1px solid #444;
			font-size: 8px;
			width: 15px;
			height: 15px;

			&.hover {
				background-color: $blue;
			}
		}
	}

	#table-size-info {
		text-align: center;
		font-size: 0.8em;
	}
}
