{namespace neos=Neos\Neos\ViewHelpers}
<f:for each="{node.dimensions}" as="dimension">
	<f:for each="{contentDimensions}" key="contentDimensionKey" as="contentDimension">
		<f:if condition="{dimension.name} === {contentDimensionKey}">
			<f:for each="{contentDimension.presets}" key="presetKey" as="preset">
				<f:if condition="{presetKey} == {dimension.value}">
					<span class="neos-label neos-label-large" title="{neos:backend.translate(id: 'content.dimension.preset')}: {neos:backend.translate(id: contentDimension.label)}, {neos:backend.translate(id: 'value')}:  {presetKey}" data-neos-toggle="tooltip" data-html="1"><i class='{contentDimension.icon}'></i> {neos:backend.translate(id: preset.label)}</span>
				</f:if>
			</f:for>
		</f:if>
	</f:for>
</f:for>
