{namespace neos=Neos\Neos\ViewHelpers}
<f:for each="{roles}" as="role" iteration="iteration">
	<span class="neos-label" title="{f:render(section: 'tooltip', arguments: {role: role})}" data-neos-toggle="tooltip" data-placement="right" data-html="true">
		{f:if(condition: role.label, then: role.label, else: role.name)}
	</span>
</f:for>

<f:section name="tooltip">{neos:backend.translate(id: 'package', value: 'Package')}: {role.packageKey}&#13;
<f:if condition="{role.parentRoles}">{neos:backend.translate(id: 'parentRoles', value: 'Parent role(s)')}:&#13;
<f:for each="{role.parentRoles}" as="parentRole" iteration="iteration">- {parentRole.name} ({parentRole.identifier}){f:if(condition: iteration.isLast, else: '&#13;')}</f:for></f:if></f:section>
