{namespace t=TYPO3\Neos\ViewHelpers}
<div class="t3-content container well">
	<ul class="breadcrumb">
		<f:for each="{moduleBreadcrumb}" key="path" as="name" iteration="iterator">
			<li>
				<t:link.module path="{path}">{name}</t:link.module>
				<f:if condition="{iterator.isLast}"><f:else><span class="divider">&gt;</span></f:else></f:if>
			</li>
		</f:for>
	</ul>

	<h1>{moduleConfiguration.label}</h1>

	<f:render section="subtitle" optional="1" />

	<div class="row t3-module-container indented">
		<f:render partial="Module/FlashMessages" />
	</div>

	<f:form.validationResults>
		<f:if condition="{validationResults.flattenedErrors}">
			<div class="row t3-module-container indented">
				<div class="alert alert-error">
					<p><strong>The following errors occurred</strong></p>
					<ul class="error">
						<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
							<li>{propertyPath}: <f:for each="{errors}" as="error">{error}</f:for></li>
						</f:for>
					</ul>
				</div>
			</div>
		</f:if>
	</f:form.validationResults>

	<f:render section="content" />
</div>