{namespace neos=Neos\Neos\ViewHelpers}
<div class="neos-preview-image" id="neos-preview-image">
  <m:thumbnail asset="{asset}" preset="Neos.Media.Browser:Preview" alt="{asset.label}" async="{settings.asyncThumbnails}" class="img-polaroid" />
</div>
<div class="neos-preview-actions">
  <a class="neos-button pull-right" href="{f:uri.resource(resource: asset.resource)}" target="_blank">
    <i class="icon-download"></i> {neos:backend.translate(id: 'download', package: 'Neos.Media.Browser')}
  </a>
</div>
