#neos-aloha-topmenu {
	.neos-aloha-ui-component-group {
		position:relative;
	}

	// Aloha Link editor (for entering the link target URL) is displayed as some "flyout"
	#aloha-attribute-field-editLink {
		position: absolute;
		top: 24px;
		left: 0px;
		border: 5px solid $dark-grey2;
		border-top: none;
	}
}
