#neos-publish-menu.neos-button-group {
	@include font;
	float: right;

	&.neos-open {
		.neos-dropdown-toggle {
			@include opacity(1);
		}
	}

	&.neos-publish-menu-action-running {
		.neos-dropdown-toggle {
			&::before {
				display: none;
			}

			@extend %ellipsis;

			&::after {
				line-height: 1;
				font-size: $generalFontSize;
			}
		}
	}

	.neos-publish-button.neos-publish-menu-active,
	.neos-dropdown-toggle.neos-publish-menu-active {
		background-color: $orange;
		cursor: pointer;
		@include opacity(1);

		&:after {
			opacity: .25;
		}
	}

	.neos-publish-button {
		min-width: 212px;
		background-color: $green;
		font-size: $generalFontSize;
		cursor: default;
		position: relative;
		opacity: .5;
		box-shadow: none;

		&.neos-connection-status-down {
			background-color: $warning;
		}

		&.neos-disabled {
			cursor: not-allowed;
		}

		&.neos-publish-menu-active.neos-disabled {
			@include opacity(.75);
		}

		.icon-lock {
			line-height: ($unit / 2) - 1;
		}

		.neos-badge {
			background-color: $white;
			color: $orange;
			text-shadow: none;
			position: relative;
			top: 0;
			left: 5px;
			margin-right: 5px;
		}

		&:after {
			display: block;
			content: '';
			position: absolute;
			width: 1px;
			height: $relatedMargin * 3;
			top: $relatedMargin;
			right: 0;
			background-color: #fff;
			opacity: .5;
		}
	}

	.neos-dropdown-toggle {
		width: $unit;
		border: 0;
		border-radius: 0;
		padding: 0;
		background-color: $green;
		line-height: 0;
		box-sizing: content-box;
		opacity: .5;
		box-shadow: none;
		margin-left: 0;

		&::before {
			@include fa-icon();
			content: $fa-var-caret-down;
			position: relative;
			top: 0;
			line-height: $unit;
			font-size: 14px;
		}
	}

	.neos-dropdown-menu {
		.neos-publish-all-button {
			&.disabled {
				color: $textSubtle;
				cursor: not-allowed;

				&:hover {
					background-color: $grayMedium;
				}
			}
		}

		.icon-review::after {
			bottom: -5px;
			right: 5px;
		}

		.neos-checkbox {
			margin-top: $relatedMargin;
			margin-left: $defaultMargin + $tightMargin;
		}
	}
}

#neos-target-workspace-selector {
	.neos-select2-container {
		width: 100%;
	}
}

.neos-target-workspace-selector ul.neos-select2-results {
	li:not(.neos-select2-highlighted) {
		background: $grayLight;
	}

	li {
		.neos-select2-result-label {
			padding-left: $unit / 2;
		}
		.neos-select2-result-label .icon {
			margin-left: -($unit / 2);
			line-height: ($unit / 2) - 1
		}
	}

}

#neos-target-workspace-selector .neos-select2-container .neos-select2-chosen {
	.icon {
		line-height: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
}
