#neos-top-bar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 10021;
	background-color: $grayDark;
	height: $unit;
	border-bottom: 1px solid $grayLight;
	display: none;
	@include font;

	#neos-top-bar-right {
		float: right;
	}

	#neos-user-actions,
	#neos-publish-menu {
		float: left;

		i {
			margin-left: $relatedMargin;
			margin-right: $relatedMargin;
		}

		.neos-dropdown-menu {
			@import "../Shared/Checkboxes";
			border: 0;
			right: 0;
			background: none;
			padding: 0;
			margin: 0;

			li {
				height: $unit;
				background: $grayMedium;
				border-top: 1px solid $grayDark;

				&:first-child {
					border-color: $grayMedium;
				}

				a,
				button {
					height: $unit;
					color: white;
					font-size: $generalFontSize;
					line-height: $unit;
					padding: 0 $defaultMargin;
					@include box-sizing(border-box);

					&:hover {
						background: $blue;
					}

					i {
						line-height: 22px;
					}
				}

				button {
					width: 100%;
					text-align: left;
					background-color: $grayMedium;

					&:hover {
						background-color: $blue;
					}
				}

				label {
					padding-top: 9px;
				}

				button i {
					line-height: 18px;
				}
			}

			label {
				font-size: $generalFontSize;
			}
		}
	}

	.neos-button-logout {
		a.neos-dropdown-toggle {
			display: block;
			text-decoration: none;
			color: $light-grey2;
			line-height: $unit;

			.neos-caret {
				margin-top: 10px;
				border-top-color: $light-grey2;
				margin-right: 10px;
			}
		}

		ul.neos-dropdown-menu {
			right: 10px;
			left: auto;
			top: 90%;

			.neos-divider {
				background-color: #e5e5e5;
			}
		}

		.neos-dropdown-menu:before {
			position: absolute;
			top: -7px;
			right: 9px;
			display: inline-block;
			border-right: 7px solid transparent;
			border-bottom: 7px solid #ccc;
			border-left: 7px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.2);
			content: '';
		}

		.neos-dropdown-menu:after {
			position: absolute;
			top: -6px;
			right: 10px;
			display: inline-block;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #ffffff;
			border-left: 6px solid transparent;
			content: '';
		}
	}

	#neos-top-bar-modules {
		height: $unit;
		line-height: $unit;
		float: left;
		margin: 0;
		padding: 0;

		li {
			float: left;
			list-style-type: none;
			height: $unit - 1px;
			line-height: $unit - 2px;
			color: darken($light-grey2, 20%);
			margin-left: 1px;
			border-top: 1px solid $dark-grey;
			@include box-sizing(border-box);

			a {
				display: block;
				height: 100%;
				color: darken($light-grey2, 20%) !important;
				text-decoration:none !important;
				padding-left: 20px;
				padding-right: 20px;
			}

			&:first-child {
				margin-left: 4px;
			}

			&:hover,
			&:focus,
			&:active {
				background: $dark-grey3;
				border-color: $lightest;
				cursor: pointer;
			}

			&.neos-active {
				background: $dark-grey2;
				color: $lightest;
				border-top: 1px solid $light-orange;
				&:hover,
				&:focus,
				&:active {
					cursor: default;
				}
				a {
					color: $lightest !important;
				}
			}
		}
	}
}