{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<figure{f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
	<f:if condition="{image}">
		<f:then>
			<f:if condition="{link}">
				<f:then>
					<a href="{link}"><media:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}" maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}" allowUpScaling="{allowUpScaling}" /></a>
				</f:then>
				<f:else>
					<media:image asset="{image}" alt="{alternativeText}" title="{title}" width="{width}" maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}" allowUpScaling="{allowUpScaling}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{neos:rendering.inEditMode()}">
				<img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{hasCaption}">
		<figcaption>
			{neos:contentElement.editable(property: 'caption', node: node)}
		</figcaption>
	</f:if>
</figure>