/* This style sheet is loaded in the frontend, if aloha is activated. */

.f3-typo3-editing-enabled .f3-typo3-contentelement {
	-webkit-transition-property: -webkit-box-shadow;
	-webkit-transition-duration: 0.05s;

	-moz-transition-property: -moz-box-shadow;
	-moz-transition-duration: 0.05s;
}

.f3-typo3-editing-enabled .f3-typo3-contentelement:hover {
	-webkit-box-shadow: 0px 0px 1px 2px #555;
	-moz-box-shadow: 0px 0px 1px 2px #555;
	box-shadow: 0px 0px 0px 1px 2px #555;
}

/*********************************
 * SECTION UneditableAreaOverlay *
 *********************************/
.f3-typo3-notEditable-visible {
	background-image: url(../Images/UserInterface/Icons/AlohaNotEditable-Dark-24bit.png) !important;
	/* TODO: Calculate the background-position, if the position of the overlay is even or odd (horizontally and vertically) */
	/*background-image: url(../Images/UserInterface/Icons/AlohaNotEditable-Light-24bit.png) !important;*/
	cursor: not-allowed;
}
.f3-typo3-notEditable-visible:hover {
	background-color:rgba(255,0,0,0.3);
}

/*********************************
 * SECTION Aloha                 *
 *********************************/
.f3-typo3-placeholder {
	display:none;
}
.f3-typo3-editing-enabled .f3-typo3-placeholder {
	display:inline;
	opacity: 0.5;
	padding:2px;
}

/*********************************
 * SECTION Drag Drop             *
 *********************************/
.f3-typo3-editing-enabled.f3-typo3-modifier-ctrl .f3-typo3-contentelement:hover {
	cursor:move;
}

.dropzoneOver {
	background:red;
}

.ddProxy {
	background-color: #FFFF00;
}

.f3-typo3-dropzone {
	-webkit-transition-property: height;
	-webkit-transition-duration:0.3s;

	-moz-transition-property: height;
	-moz-transition-duration:0.3s;

	transition-property: height;
	transition-duration:0.3s;

	height:0px;
	display:block;
	overflow:hidden;
}

.f3-typo3-dropzone-visible {
	height:15px;
	border: 2px solid red;
}