/* This style sheet is loaded in the frontend, if aloha is activated. */

.f3-typo3-contentelement-overlay:hover {
	-moz-box-shadow: 0 0 1px 2px #FF8700;
	-webkit-box-shadow: 0 0 1px 2px #FF8700;
	box-shadow: 0 0 1px 2px #FF8700;
	cursor: crosshair;
}

.f3-typo3-notEditable-visible {
	background-image: url("'../Images/UserInterface/Icons/AlohaNotEditable-Dark-24bit.png'") !important;
	/* TODO: Calculate the background-position, if the position of the overlay is even or odd (horizontally and vertically) */
	/*background-image: url('../Images/UserInterface/Icons/aloha-notEditable-light-24bit.png') !important;*/
	cursor: not-allowed;
}
.f3-typo3-notEditable-visible:hover {
	background-color:rgba(255,0,0,0.3);
}