.F3-TYPO3-UserInterface-BreadcrumbMenu .x-panel-body {
	border: 1px solid #838383;
	border-bottom: 0;
	background-color: #4c4c4c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#4c4c4c), to(#767676));
	background: -moz-linear-gradient(top, #4b4b4b, #767676);
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-icon {
	float: left;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-ct {
	float: left;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node {
	overflow: hidden;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-ct > * {
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-el {
	float: left;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-root-node {
	background-color: #6a6a6a;
	overflow: hidden;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-anchor {
	height: 47px;
	display: none;
	float: left;
	text-decoration: none;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu-node-el-label {
	color: #ffffff !important;
	font: 11px helvetica, arial, sans-serif;
	font-style: normal !important;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-over .F3-TYPO3-UserInterface-BreadcrumbMenu-node-anchor {
/*	display: inline-block;*/
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-elbow-expanded {
	width: 35px;
	height: 45px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-root-node > .F3-TYPO3-UserInterface-BreadcrumbMenu-node-expanded {
	padding-right: 10px;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-icon {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 0;
	background: transparent;
	padding: 10px;
	width: 22px;
	height: 22px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.F3-TYPO3-UserInterface-BreadcrumbMenu-node-icon {
	opacity: 0.7;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu-Node-active .F3-TYPO3-UserInterface-BreadcrumbMenu-node-icon {
	opacity: 1.0;
}