/**
 * Icons
 */

.F3-TYPO3-Content-icon-edit {
	background-image: url('../Images/UserInterface/Icons/ContentEdit.gif') !important;
}
.F3-TYPO3-Content-icon-pageProperties {
	background-image: url('../Images/UserInterface/Icons/ContentEditPageProperties.png') !important;
}
.F3-TYPO3-Content-icon-createPage {
	background-image: url('../Images/UserInterface/Icons/ContentCreatePage.gif') !important;
}
.F3-TYPO3-Content-icon-deletePage {
	background-image: url('../Images/UserInterface/Icons/ContentDeletePage.gif') !important;
}
.F3-TYPO3-Content-icon-movePage {
	background-image: url('../Images/UserInterface/Icons/ContentMovePage.gif') !important;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu-elbow-expanded {
	background-image: url('../Images/UserInterface/Icons/BreadcrumbMenuFold.png') !important;
}