/**
 * Icons
 */

.F3-TYPO3-Content-icon-edit {
	background-image: url('../Images/UserInterface/Icons/ContentEdit.gif') !important;
}
.F3-TYPO3-Content-icon-pageProperties {
	background-image: url('../Images/UserInterface/Icons/ContentEditPageProperties.png') !important;
}
.F3-TYPO3-Content-icon-movePage {
	background-image: url('../Images/UserInterface/Icons/ContentMovePage.gif') !important;
}
.F3-TYPO3-Content-icon-createPage {
	background-image: url('../Images/UserInterface/Icons/ContentCreatePage.gif') !important;
}
.F3-TYPO3-Content-icon-deletePage {
	background-image: url('../Images/UserInterface/Icons/ContentDeletePage.gif') !important;
}
.F3-TYPO3-Content-icon-movePage {
	background-image: url('../Images/UserInterface/Icons/ContentMovePage.gif') !important;
}

.F3-TYPO3-Management-ManagementGrid-Icon {
	display: block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}
.F3-TYPO3-Icon-ContentType-TYPO3_Text {
	background-image: url('../Images/UserInterface/Icons/ContentType-TYPO3_Text.png') !important;
}
.F3-TYPO3-Icon-ContentType-TYPO3_Section {
	background-image: url('../Images/UserInterface/Icons/ContentType-TYPO3_Section.png') !important;
}