body {
	font-family: Arial, sans-serif;
}
/*
 * SectionMenu
 */
.ul.x-tab-strip > .x-tab-panel-header > .x-tab-strip-wrap > ul.x-tab-strip {
	width: auto;
	position: relative;
}
ul.x-tab-strip li.F3-TYPO3-UserInterface-SectionMenu-ContentTab {
	margin-right: 10px;
	margin-left: 12px;
}
ul.x-tab-strip li.F3-TYPO3-UserInterface-SectionMenu-DashboardTab {
	position: absolute;
	right: 20px;
}

.x-form-item {
	font: 12px helvetica, arial, sans-serif;
}

.x-tab-strip span.x-tab-strip-text {
	font: 11px helvetica, arial, sans-serif;
	color: #ffffff;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-panel-bwrap {
	-moz-box-shadow: 0px -4px 4px #1d1d1d;
	-webkit-box-shadow: 0px -4px 4px #1d1d1d;
}
.F3-TYPO3-Wallpaper {
	background: url(../Images/Backgrounds/wallpaper.jpg) 50% top repeat-x;
}
.F3-TYPO3-UserInterface-TopBar-Wallpaper {
	background: transparent;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top .x-tab-right,
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top .x-tab-left,
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top .x-tab-strip-inner {
	background: transparent;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-active span.x-tab-strip-text {
	color: #ebebeb;
}
.F3-TYPO3-UserInterface-SectionMenu ul.x-tab-strip-top {
	background: #666666;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top li {
	-webkit-border-radius: 4px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 4px 4px 0 0;
	border: 1px solid #4c4c4c;
	border-bottom: 0;
	background: #b9b9b9;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#2d2d2d), to(#111111));
	background: -moz-linear-gradient(top, #2d2d2d, #111111);
	-moz-box-shadow: -1px 0px 6px #000000;
	-webkit-box-shadow: -1px 0px 6px #000000;
	margin-right: 3px;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-webkit-transition: opacity 0.5s linear;
	text-shadow: -1px -1px 0px #000000;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top li:hover,
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top li:focus {
	opacity: 0.7;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top li.x-tab-strip-active {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border: 0;
	border-top: 1px solid #5b5b5b;
	background: -moz-linear-gradient(center top , #373737, #555555) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#373737), to(#555555));
	opacity: 1;
	filter: Alpha(opacity=100);
	margin-bottom: -1px;
	text-shadow: 1px 0 6px #FF8700, -1px -1px 0px #000000;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top .x-tab-strip-active .x-tab-right {
	margin-bottom: -1px;
	-moz-border-radius: 4px 4px 0 0;
}
/* active tab glow start */
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top li.x-tab-strip-active .x-tab-strip-inner {
	background: #5b5b5b;
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.0) 0%, #FF8700 50%, rgba(255, 255, 255, 0.0));
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0.0)), color-stop(50%,#FF8700), color-stop(100%,rgba(255, 255, 255, 0.0)));
	margin-bottom: 2px;
	margin-top: -1px;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip-top .x-tab-strip-active .x-tab-strip-text  {
	background: -moz-linear-gradient(center top , #373737, #555555) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#373737), to(#555555));
	margin-top: 1px;
	margin-bottom: 0;
}
/* active tab glow end */
.F3-TYPO3-UserInterface-SectionMenu .x-tab-right .x-tab-left .x-tab-strip-text {
	padding-right: 26px;
	padding-left: 26px;
}
.F3-TYPO3-UserInterface-SectionMenu ul.x-tab-strip-top {
	border: 0;
	padding-top: 4px;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-panel-header {
	padding-bottom: 0;
	background: transparent;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-panel-header-noborder {
	border: 0;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-strip span.x-tab-strip-text {
	font-size: 13px;
	padding: 6px 0 5px 0;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-panel-header,
.F3-TYPO3-UserInterface-SectionMenu .x-tab-panel-footer,
.F3-TYPO3-UserInterface-SectionMenu ul.x-tab-strip-top{
	background: transparent;
}
.F3-TYPO3-UserInterface-SectionMenu .x-tab-panel-header ul {
	border-bottom: 1px solid #838383;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu-disabled .x-btn-text {
	color: #999;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu {
	background: #3d3d3d url('../Images/UserInterface/content-filter-bg.gif') left 50% repeat-x;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-tl,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-tr,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-tc,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-ml,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-mr,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-mc,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-bl,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-br,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-bc {
	background-image: none;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-tl,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-tr,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-tc,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-ml,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-mr,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-mc,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-bl,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-br,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-bc {
	background-image: url('../images/btn.gif');
}
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-text {
	color: #ffffff;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu .xtb-text {
	color: #ffffff;
	font-size: 200%;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-text {
	color: #ffffff;
	text-indent: -999px;
}
.F3-TYPO3-UserInterface-BreadcrumbMenu-over .x-btn-text,
.F3-TYPO3-UserInterface-BreadcrumbMenu .x-btn-pressed .x-btn-text {
	text-indent: 0px;
}
.F3-TYPO3-UserInterface-ModuleDialog {
	color: #ffffff;
}
.F3-TYPO3-UserInterface-ModuleDialog .x-form-item-label,
.F3-TYPO3-UserInterface-ModuleDialog .x-form-field {
	font-size: 14px;
}
.F3-TYPO3-UserInterface-ModuleDialog .x-form-item-label {
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
}
.F3-TYPO3-UserInterface-ModuleDialog .x-form-text,
.F3-TYPO3-UserInterface-ModuleDialog .ext-ie .x-form-file {
	height: 24px;
}
/* TODO jensen: check if Prefix with F3-class leads to errors */
.F3-TYPO3-UserInterface-ContentDialog .x-toolbar-left {
	padding: 4px;
	width: auto;
}
.F3-TYPO3-UserInterface-ContentDialog-Panel .x-toolbar-ct {
	width: auto;
}
.F3-TYPO3-UserInterface-ContentDialog {
	background-color: #272727;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#4a4a4a), to(#272727));
	background: -moz-linear-gradient(top, #4a4a4a, #272727);
	border: 0px;
	border-bottom: 1px solid #808080;
	-moz-box-shadow: 0 2px 6px #1F1D1D;
	-webkit-box-shadow: 0 2px 6px #1F1D1D;
}
.F3-TYPO3-UserInterface-ContentDialog-Panel {
	background-color: #272727;
	-webkit-border-radius: 4px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 0 0 4px 4px;
	-moz-box-shadow: 0 2px 6px #1F1D1D;
	-webkit-box-shadow: 0 2px 6px #1F1D1D;
	border: 1px solid #808080;
	border-top: 0px;
}

.F3-TYPO3-UserInterface-ContentDialog-warning {
	background-color: #5d0f0e;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#9b201d), to(#5d0f0e));
	background: -moz-linear-gradient(top, #9b201d, #5d0f0e);
}
.F3-TYPO3-UserInterface-ContentDialog-warning .F3-TYPO3-UserInterface-ContentDialog-Panel {
	background-color: #5d0f0e;
}

.F3-TYPO3-UserInterface-ContentDialog-Panel .x-toolbar {
	background: none;
}
.F3-TYPO3-UserInterface-ContentDialog-Panel .x-panel-tbar-noborder .x-toolbar {
	border: none;
}
#F3-TYPO3-TopBar-Logo {
	background: url(../Images/UserInterface/typo3-logo.png) right top no-repeat;
}
.F3-TYPO3-Version .x-panel-body {
	background: transparent;
	border: 0;
	color: #ffffff;
	font-size: 63%;
	opacity: 0.4;
}

#F3-TYPO3-TopBar-StatusText {
	color: #ffffff;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

.F3-TYPO3-UserInterface-Form-GenericForm form {
	background:transparent;
	padding: 10px;
}

.F3-TYPO3-UserInterface-SectionMenu .F3-TYPO3-Dashboard-PublishedContentCount {
	display: none;
	position: absolute;
	top: -7px;
	left: -25px;
	width: 33px;
	height: 26px;
	background: url(../Images/UserInterface/DashboardTabBubble.png) no-repeat;
	color: #ffffff;
	padding: 6px 0 0 13px;
	font-size: 12px;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
}
.F3-Content-Node {
	border: 1px solid grey;
	min-height: 30px;
	background: #ebebeb;
}
.F3-Content-Node.x-view-over {
	background: #ffffff;
}
.F3-Content-Node.x-view-selected {
	background: lightblue;
}
