<!DOCTYPE html>
{neosViewHelper}
{fusionViewHelper}
<html>
<head>
	<![CDATA[<f:section name="stylesheets">
		<!-- Put your stylesheet inclusions here, they will be included in your website by Fusion -->
	</f:section>
	<f:section name="headScripts">
		<!-- Put your scripts inclusions for the head here, they will be included in your website by Fusion -->
	</f:section>]]>
</head>
<body>
<![CDATA[<f:section name="body">
	<nav class="menu">
		{parts.menu -> f:format.raw()}
	</nav>
	<div class="content">
		{content.main -> f:format.raw()}
	</div>
</f:section>
<f:section name="bodyScripts">
	<!-- Put your scripts inclusions for the end of the body here, they will be included in your website by Fusion -->
</f:section>]]>
</body>
</html>
