<form class="t3-inspector-form" action="#">
	<div class="header">{{view T3.Content.UI.Button label="Apply" disabledBinding="T3.Content.Controller.Inspector._unmodified" target="T3.Content.Controller.Inspector" action="onApplyButtonToggle"}}</div>

	{{#collection tagName="fieldset" classNames="t3-inspector-section" contentBinding="T3.Content.Controller.Inspector.sectionsAndViews"}}
		<h2>{{content.label}}</h2>
		{{#collection tagName="div" classNames="t3-inspector-field" contentBinding="content.properties"}}
			<label {{bindAttr for="content.elementId"}}>{{content.label}}</label>
			{{view T3.Content.UI.Inspector.PropertyEditor propertyDefinitionBinding="content"}}
		{{/collection}}
	{{/collection}}
</form>
