<div class="contentTypeSelectorTabs notInitialized">
	<ul>
		{{#each data}}<li><a href="#{{unbound Ember.GUID_KEY}}{{unbound name}}">{{unbound name}}</a></li>{{/each}}
	</ul>
	{{#each data}}
		<div id="{{unbound Ember.GUID_KEY}}{{unbound name}}" class="t3-content-new">
			{{#each children}}
				<div class="t3-content-new-selecttype-button">
					<a clickBinding="click" rel="typo3:{{unbound contentType}}" class="t3-content-new t3-ajax-link t3-content-new-icon" href="#">
						{{#if icon}}
							<img src="/_Resources/Static/Packages/TYPO3.TYPO3/{{unbound icon}}" />
						{{else}}
							<img src="/_Resources/Static/Packages/TYPO3.TYPO3/Images/Icons/White/text_letter_t_icon-16.png" />
						{{/if}}
					</a>
					<a clickBinding="click" rel="typo3:{{unbound contentType}}" class="t3-content-new">{{unbound label}}</a><br/>
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>