/** Inline editing handles **/
.neos-handle-container {
	position: absolute;
	z-index: 10001;

	.neos-button-group {
		position: absolute;
		right: -8px;
		top: -41px;
		background-color: $grayDark;
	}

	.neos-button {
		width: $unit;
		height: $unit;
		color: $textOnGray;
		background-color: transparent;
		padding: 0;
		text-align: center;
		border: 1px solid $grayLight;
		border-bottom: 0;

		&.neos-active {
			color: $blue;
			background-color: inherit;
		}

		&:hover {
			color: $blue;
			background-color: inherit;
		}
	}

	/** Reset stuff fron Neos icons **/
	[class^="icon-"],
	[class*=" icon-"] {
		width: inherit;
		height: inherit;
		line-height: inherit;
		vertical-align: inherit;
		margin: 0;
		display: block;
	}

	.neos-position-selector-position {
		top: $unit - 1px;
		box-shadow: none;
	}
}

&.neos-empty-contentcollection-overlay {
	height: 20px;
	outline: 2px solid rgba(0, 0, 0, .2);
	outline-offset: 2px;
}
