ul.neos-tree-container {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: table;

  .neos-tree-node {
    min-width: 100%;
    position: relative;
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    padding-left: 33px;

    &.neos-tree-folder {
      padding-left: 9px;
    }

    &.neos-hidden {
      span + span:after {
        @extend .fas;
        content: fa-content($fa-var-times-circle);
        position: absolute;
        left: 12px;
        top: 0px;
        font-size: 12px;
        color: $warning;
        background: #fff;
        height: 8px;
        width: 8px;
        margin-top: 11px;
        line-height: 9px;
        border-radius: 10px;
      }
    }

    &.neos-timedVisibility {
      span + span:after {
        @extend .fas;
        content: fa-content($fa-var-clock);
        font-weight: 400;
        position: absolute;
        left: 12px;
        top: 0px;
        font-size: 12px;
        color: $blue;
        background: #fff;
        height: 8px;
        width: 10px;
        margin-top: 11px;
        line-height: 9px;
        border-radius: 10px;
      }
    }

    &.neos-hiddenInIndex {
      span + span {
        opacity: 0.5;
      }
    }

    &.neos-tree-focused {
      background-color: $grayMedium;

      span + span,
      a {
        color: $textSubtleLight;
      }
    }

    &.neos-tree-active {
      background-color: $grayMedium;

      span + span,
      a {
        color: $textOnGray;
      }
    }

    &.neos-tree-dirty {
      border-left: 3px solid $orange;
    }

    .neos-tree-empty,
    .neos-tree-vline,
    .neos-tree-connector,
    .neos-tree-expander,
    .neos-tree-icon,
    .neos-tree-checkbox,
    .neos-tree-radio,
    .neos-tree-drag-helper-img,
    #neos-tree-drop-marker {
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: top;
      color: $textSubtleLight;
    }

    &.neos-tree-exp-e,
    &.neos-tree-exp-ed,
    &.neos-tree-exp-el,
    &.neos-tree-exp-edl {
      .neos-tree-expander {
        line-height: 24px;
        @extend .#{$fa-css-prefix}-caret-right;
        @extend .fas;
        rotate: 90deg;

        &:before {
          left: 11px;
        }
      }
    }

    .neos-tree-expander {
      line-height: 24px;
      @extend .#{$fa-css-prefix}-caret-right;
      @extend .fas;
      cursor: pointer;
      font-size: 16px;

      &:before {
        position: relative;
        left: 10px;
      }

      &:hover {
        color: $blue;
      }
    }

    span + span {
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 20px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      position: relative;
    }

    &.neos-tree-selected {
      a {
        color: $blue;
      }
    }

    a {
      display: inline-block;
      color: #fff;
      vertical-align: top;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: $unit * 5.5;
      padding-right: $relatedMargin;
      font-size: $generalFontSize;
      text-shadow: none;
      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }

  $selector: "ul";
  $level: 0;
  $levels: 20;
}
