// Core variables and mixins
@import "Foundation/variables";
@import "Foundation/mixins";
@import "Constants";
@import "Mixins";
@import "Fonts";
@import "FontAwesome/fontawesome.scss";
@import "FontAwesome/brands.scss";
@import "FontAwesome/regular.scss";
@import "FontAwesome/solid.scss";
@import "Icons";

// Reusable CSS variables for all backend modules
@import "CSSVariables";

// CSS Reset
@import "Foundation/reset";
@import "Reset";

.neos {
  // Essentials from Foundation for the top and bottom bar
  @import "Foundation/breadcrumbs";
  @import "Foundation/buttons";
  @import "Foundation/button-groups";
  @import "Foundation/layouts";
  @import "Foundation/dropdowns";

  // Neos font definition
  font-size: 14px;
  line-height: 1em;
  text-align: left;
  color: $textOnGray;
  @include font;

  // Essential Neos styles for the top bar and notifications
  @import "TopBar/TopBar";
  @import "TopBar/UserMenu";
  @import "Menu/MenuPanel";
  @import "Modules/Modules";
  @import "Notifications";
}

@import "Global";
