@import "Constants";

// Typeplate
@import "Typeplate/VarsTypeplate";
@import "Typeplate/Typeplate";

body {
  margin: 0;
}

.neos-raw-content-mode {
  background-color: #f5f5f5;
  font-size: 14px;
  padding: 16px;
}

#neos-raw-content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.neos-raw-content-node {
  position: relative;
  margin: 16px 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #eee;
  padding: 16px;
  background-color: white;
}

.neos-raw-content-node > header {
  position: relative;
  margin: -16px -16px 0 -16px;
  box-shadow: 0 0 5px #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0 16px;
  line-height: 40px;
  color: #222222;
  font-weight: bold;
  hyphens: auto;
}

@media screen and (-ms-high-contrast: active) {
	.neos-raw-content-node {
		border: 2px solid black;
		box-shadow: none;
	}

	.neos-raw-content-node > header {
		border-bottom: 2px solid black;
		box-shadow: none;
	}
}

@media (forced-colors: active) {
	.neos-raw-content-node {
		border: 2px solid black;
		box-shadow: none;
	}

	.neos-raw-content-node > header {
		border-bottom: 2px solid black;
		box-shadow: none;
	}
}


.neos-raw-content-node > *:last-child {
  margin-bottom: 0;
}

.neos-raw-content-properties {
  margin-bottom: 16px;
  margin-top: 16px;
}

.neos-raw-content-properties > dt {
  margin-bottom: 4px;
}

.neos-raw-content-properties > dd {
  background-color: #f8f8f8;
  border-left: 5px solid #cdcdcd;
  padding: 16px;
  margin-bottom: 16px;
}

.neos-raw-content-properties > dd:last-child {
  margin-bottom: 0;
}

.neos-raw-content-children {
	margin-bottom: 16px;
	margin-top: 16px;
}

a {
  color: $blueDark;
}
