@import "Constants";

// Typeplate
@import "Typeplate/VarsTypeplate";
@import "Typeplate/Typeplate";

body {
  margin: 0;
}

.neos-raw-content-mode {
  background-color: #f5f5f5;
}

#neos-raw-content-container {
  max-width: 1200px;
  margin: 20px auto;
}

.neos-raw-content-node {
  box-shadow: 0 0 5px #ccc;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  position: relative;
}

.neos-raw-content-node > header {
  font-family: monospace;
  color: white;
  text-transform: uppercase;
  hyphens: auto;
  background-color: lightgrey;
  display: inline-block;
  position: relative;
  padding: 3px 15px;
  left: -20px;
  top: -21px;
  color: white;

}

.neos-raw-content-properties {
}

.neos-raw-content-properties > dt {
  font-family: monospace;
  white-space: pre;
  text-transform: uppercase;
  color: lightgrey;
  border-bottom: 1px solid lightgrey;
}

.neos-raw-content-properties > dd {
  margin-inline-start: 0;
  margin: 10px 0;
}

a {
  color: $blueDark;
}
