// Core variables and mixins
@import "Foundation/variables";

.neos {
  color: $white;
}

.neos-setup-btn {
  background: $blue;
  width: 100%;
}

.neos-error-details-toggle {
  .neos-error-details-toggle__header {
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    display: block;
    &:before {
      content: "▶";
      padding-right: 0.4rem;
      font-size: $fontSizeSmall;
    }
  }
  .neos-error-details-toggle__body {
    overflow: hidden;
  }

  &.open {
    .neos-error-details-toggle__header:before {
      content: "▼";
    }
  }
}
