<div class="neos-modal-centered neos-modal-wide neos-modal-fixed neos-insert-node-panel">
	<div class="neos-modal-content">
		<div class="neos-modal-header">
			<button class="neos-close neos-button" title="{{translate id='close' fallback='Close'}}" {{action "cancel" target="view"}} data-neos-toggle></button>
			<div class="neos-header">
				{{translate id="createNew" fallback="Create new"}} "<strong>{{view._preselectedNodeType.label}}</strong>"
				{{#if view._position}}
					{{boundTranslate idBinding="view._position" fallbackBinding="view._position"}}
					<i {{bindAttr class="view._positionIconClass"}}></i>
				{{/if}}
			</div>
		</div>
		<div class="neos-modal-body">
			{{#each nodeTypeGroup in view.nodeTypeGroups}}
				{{#if nodeTypeGroup.sortedNodeTypes}}
					<div class="neos-subheader">
						{{unbound nodeTypeGroup.label}}
						{{view view.ToggleNodeTypeGroup nodeTypeGroupBinding="nodeTypeGroup"}}
					</div>
					<ul {{bindAttr class=":neos-clearfix"}}>
						{{#each nodeTypeGroup.sortedNodeTypes}}
							<li {{bindAttr class="className"}} {{action "selectNodeType" nodeType on="mouseEnter" target="view"}}>
								<button class="neos-content-new" {{bindAttr title="nodeType"}} {{action "insertNode" nodeType icon target="view"}} data-neos-tooltip>
									{{#if icon}}
										<i {{bindAttr class="icon"}}></i>
									{{else}}
										<i class="icon-sign-blank"></i>
									{{/if}}
									{{unbound label}}
								</button>
								{{#if helpMessage}}
									{{view view.HelpMessage titleBinding="label" contentBinding="helpMessage" popoverContainer=".neos-insert-node-panel"}}
								{{/if}}
							</li>
						{{/each}}
					</ul>
				{{/if}}
			{{/each}}
		</div>
		<div class="neos-modal-footer">
			<div class="neos-modal-footer-tips"> <i class="icon-info-circle"></i> {{translate id='insertnodepanel.help.tips' fallback='Tips: use left / right arrow keys to navigate and hit return to create the current node type'}}</div>
		</div>
	</div>
</div>
<div class="neos-modal-backdrop neos-in"></div>
