<div class="neos-modal neos-modal-wide neos-insert-node-panel">
	<div class="neos-modal-header">
		<button class="neos-close neos-button" title="{{translate id='close' value='Close'}}" {{action "cancel" target=view}}></button>
		<div class="neos-header">{{translate id="createNew" fallback="Create new"}}</div>
	</div>
	<div class="neos-modal-body">
		{{#each view.nodeTypeGroups as |nodeTypeGroup|}}
			<div class="neos-subheader">{{unbound nodeTypeGroup.label}}</div>
			<ul class="neos-clearfix">
				{{#each nodeTypeGroup.nodeTypes as |nodeType|}}
					<li class="neos-content-new-selecttype-button">
						<button class="neos-content-new" {{bindAttr title=nodeType.nodeType}} {{action "insertNode" nodeType.nodeType nodeType.icon target=view}}>
							{{#if nodeType.icon}}
								<i class="{{unbound nodeType.icon}}"></i>
							{{else}}
								<i class="icon-sign-blank"></i>
							{{/if}}
							{{unbound nodeType.label}}
						</button>
						{{#if nodeType.helpMessage}}
							{{view view.HelpMessage title=nodeType.label content=nodeType.helpMessage popoverContainer=".neos-insert-node-panel"}}
						{{/if}}
					</li>
				{{/each}}
			</ul>
		{{/each}}
	</div>
	<div class="neos-modal-footer">
		<button class="neos-button" title="{{translate id='cancel' value='Cancel'}}" {{action "cancel" target=view}}>{{translate id="cancel" value="Cancel"}}</button>
	</div>
</div>
<div class="neos-modal-backdrop neos-in"></div>
