<div class="neos-modal" id="dirtyWorkspaceDialog">
	<div class="neos-modal-content">
		<div class="neos-modal-header">
			<button data-dismiss="modal" class="neos-close neos-button icon-remove" title="{{translate id='close' fallback='Close'}}" {{action "okay" target="view"}}></button>
			<div class="neos-header">{{translate id="content.components.dirtyWorkspaceDialog.dirtyWorkspaceHeader" fallback='Pending changes'}}</div>
			<div class="neos-subheader">
				<p>{{translate id="content.components.dirtyWorkspaceDialog.dirtyWorkspaceContainsChanges" fallback="Please review your changes, publish or discard them, and then choose a new target workspace again."}}<br /><br />
				{{translate id="content.components.dirtyWorkspaceDialog.dirtyWorkspacePleaseReviewChanges" fallback="Please review your changes, publish or discard them, and then choose a new target workspace again."}}</p>
			</div>
		</div>
		<div class="neos-modal-footer">
			<button class="neos-button" title="{{translate id='okay' fallback='OK'}}" {{action "okay" target="view"}}>{{translate id="okay" fallback="OK"}}</button>
		</div>
	</div>
</div>
<div class="neos-modal-backdrop neos-in"></div>