<ul class="t3-toolbar-left">
	<li>
		{{#view view.ToggleButton
			pressedBinding="T3.Content.Controller.Preview.previewMode"
			icon="preview"
			title="Preview"
		}}
			<i class="icon-fullscreen"></i>
		{{/view}}
	</li>
	<li>
		{{#view view.ToggleButton
			pressedBinding="T3.Content.Controller.PageTree.pageTreeMode"
			classNames="t3-pagetree-button"
		}}
			Pages
		{{/view}}
	</li>
	<li>
		{{#view view.ToggleButton
			pressedBinding="T3.Content.Controller.Wireframe.wireframeMode"
			icon="wireframe"
		}}
			Wireframe
		{{/view}}
	</li>
</ul>

<ul class="t3-toolbar-right">
	<li>
		{{view T3.Content.UI.SaveIndicator
			saveRunningBinding="T3.Content.Controller.ServerConnection._saveRunning"
			lastSuccessfulTransferBinding="T3.Content.Controller.ServerConnection._lastSuccessfulTransfer"
		}}
	</li>

	<li>
		{{view view.PublishPageButton}}
	</li>
</ul>