<div class="neos-modal" id="publishAllDialog">
	<div class="neos-modal-header">
		<button data-dismiss="modal" class="neos-close neos-button icon-remove" title="Close" {{action "cancel" target="view"}}></button>
		<div class="neos-header">Publish all changes</div>
		<div>
			<div class="neos-subheader">Are you sure that you want to publish all changes?</div>
		</div>
	</div>
	<div class="neos-modal-footer">
		<button class="neos-button" title="Cancel" {{action "cancel" target="view"}}>Cancel</button>
		<button class="neos-button neos-button-success" title="Publish" {{action "publish" target="view"}}>Publish</button>
	</div>
</div>
<div class="neos-modal-backdrop neos-in"></div>