{{view view.PublishButton autoPublishBinding="view.autoPublish"}}
<button {{bindAttr class=":neos-button :neos-dropdown-toggle view._hasWorkspaceWideChanges:neos-publish-menu-active"}} data-neos-toggle="dropdown"></button>
<ul class="neos-dropdown-menu">
	<li>
		{{view view.PublishAllButton}}
	</li>
	<li>
		{{view view.DiscardButton}}
	</li>
	<li>
		{{view view.DiscardAllButton}}
	</li>
	<li>
		<label class="neos-checkbox">
			{{view Ember.Checkbox checkedBinding="view.autoPublish"}}<span></span>{{translate id="autoPublish" fallback="Auto-Publish"}}
		</label>
	</li>
	<li>
		<a href="{{unbound view._workspacesManagementModuleUri}}">
			<i class="icon-th-large"></i>{{translate id="workspaces" fallback="Workspaces"}}
		</a>
	</li>
</ul>