//
// Tooltips
// --------------------------------------------------


// Base class
.neos-tooltip {
  position: absolute;
  z-index: $zindexTooltip;
  display: block;
  visibility: visible;
  font-size: 11px;
  line-height: 1.4;
  @include opacity(0);
  &.neos-in     { @include opacity(.9); }
  &.neos-top    { margin-top:  -3px; padding: 5px 0; }
  &.neos-right  { margin-left:  3px; padding: 0 5px; }
  &.neos-bottom { margin-top:   3px; padding: 5px 0; }
  &.neos-left   { margin-left: -3px; padding: 0 5px; }
}

// Wrapper for the tooltip content
.neos-tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: $tooltipColor;
  text-align: center;
  text-decoration: none;
  background-color: $tooltipBackground;
  @include border-radius($baseBorderRadius);
}

// Arrows
.neos-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.neos-tooltip {
  &.neos-top .neos-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltipArrowWidth;
    border-width: $tooltipArrowWidth $tooltipArrowWidth 0;
    border-top-color: $tooltipArrowColor;
  }
  &.neos-right .neos-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltipArrowWidth;
    border-width: $tooltipArrowWidth $tooltipArrowWidth $tooltipArrowWidth 0;
    border-right-color: $tooltipArrowColor;
  }
  &.neos-left .neos-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltipArrowWidth;
    border-width: $tooltipArrowWidth 0 $tooltipArrowWidth $tooltipArrowWidth;
    border-left-color: $tooltipArrowColor;
  }
  &.neos-bottom .neos-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -$tooltipArrowWidth;
    border-width: 0 $tooltipArrowWidth $tooltipArrowWidth;
    border-bottom-color: $tooltipArrowColor;
  }
}
